<div class="card">
  <div class="card-body">
    <form autocomplete="off" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-4 mb-2">
          <custom-input-select
            [control]="form.get('typePerson')"
            formControlName="typePerson"
            label="Contrato"
            [data]="cb_type_contract"
            [horizontal]="false"
          />
        </div>

        <div class="col-sm-4 mb-2">
          <custom-input-select
            [control]="form.get('professionId')"
            formControlName="professionId"
            label="Puesto de trabajo"
            [data]="cb_profession"
            [horizontal]="false"
          />
        </div>

        <div class="col-sm-4 mb-2">
          <custom-input-select
            [control]="form.get('active')"
            formControlName="active"
            label="Estatus"
            [data]="cb_state"
            [horizontal]="false"
          />
        </div>

        <div class="col-sm-4 mb-2">
          <custom-input-select
            [control]="form.get('educationLevel')"
            formControlName="educationLevel"
            label="Nivel Educativo"
            [data]="cb_education_level"
            [horizontal]="false"
          />
        </div>
        <div class="col-sm-4 mb-2">
          <custom-input-date
            [control]="form.get('dateAdmission')"
            [horizontal]="false"
            formControlName="dateAdmission"
            label="Fecha de ingreso"
            placeholder="fecha de ingreso"
          />
        </div>
        <div class="col-sm-4 mb-2">
          <custom-input-number
            [horizontal]="false"
            [control]="form.get('salary')"
            formControlName="salary"
            label="Sueldo mensual neto"
            placeholder="sueldo mensual neto"
          />
        </div>
        @if (this.authS.onValidateRoles(['SuperUsuario','Reclutamiento'])) {
        <div class="col-sm-4 mb-2">
          <custom-input-select
            [control]="form.get('customerId')"
            formControlName="customerId"
            label="Cliente"
            [data]="cb_customer"
            [horizontal]="false"
          />
        </div>
        }
      </div>
      <btn-submit [disabled]="this.form.invalid || submitting" />
    </form>
  </div>
</div>
