<div class="auth-bg pt-md-5 p-4 d-flex">
  <div class="container-fluid p-0">
    <div class="row g-0 justify-content-center align-items-center">
      <div class="bg-overlay bg-primary"></div>
      <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <!-- Añade las clases para centrar vertical y horizontalmente -->
      <div class="col-12 col-md-6 mt-4">
        <br />
        <br />
        <br />
        <br />
        <br />
        <!-- Usa col-12 para ocupar todo el ancho en dispositivos pequeños -->
        <div class="bg-white p-5 rounded shadow">
          <!-- Aplica el fondo blanco al contenedor del formulario -->
          <!-- <div class="text-center mb-4">
            <a
              href="https://www.luxurybuildingsite.com/"
              target="_blank"
              class="d-block auth-logo"
            >
              <img src="assets/images/logo-luxury.jpg" alt="Img" height="100" />
            </a>
          </div> -->
          <div class="auth-content">
            <div class="text-center">
              <h5 class="mb-0">Recuperar cuenta</h5>
              <p class="text-muted mt-2">Cambio de contraseña</p>
            </div>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <custom-input-text
                [control]="form.get('userName')"
                [horizontal]="false"
                formControlName="userName"
                label="Usuario"
                placeholder="usuario"
              />
              <custom-input-password
                [control]="form.get('password')"
                [horizontal]="false"
                formControlName="password"
                label="Contraseña nueva"
                placeholder="contraseña nueva"
              />
              <!-- Confirmar contraseña -->
              <div class="mb-3">
                <label>Confirmar Contraseña</label>
                <div class="input-group auth-pass-inputgroup">
                  <input
                    [type]="fieldTextType ? 'text' : 'password'"
                    class="form-control"
                    formControlName="confirmPassword"
                    placeholder="Ingresa contraseña"
                    aria-label="confirmPassword"
                    aria-describedby="confirmPassword-addon"
                    [ngClass]="{
                      'is-invalid':
                        f.confirmPassword.touched && f.confirmPassword.errors
                    }"
                  />
                  <button
                    class="btn btn-light"
                    type="button"
                    id="confirmPassword-addon"
                  >
                    <i
                      class="mdi"
                      [ngClass]="{
                        'mdi-eye-off-outline': !fieldTextType,
                        'mdi-eye-outline': fieldTextType
                      }"
                      (click)="toggleFieldTextType()"
                    ></i>
                  </button>
                  @if (f.confirmPassword.touched && f.confirmPassword.errors) {
                  <div class="invalid-feedback">
                    @if (f.confirmPassword.errors.required) {
                    <span>Contraseña requerida</span>
                    } @if
                    (form.controls['confirmPassword'].errors?.passwordMatch) {
                    <div>Las contraseñas no coinciden</div>
                    }
                  </div>
                  }
                </div>
              </div>
              <!-- Confirmar contraseña -->
              <div class="mt-3 d-grid">
                <custom-button
                  customClass="btn-soft-primary w-100"
                  label="Actualizar contraseña"
                  type="submit"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
