<div class="container">
  <h4 class="h4 mt-3">Reporte de Pendientes</h4>
  <div class="row">
    @for (detalles of data; track detalles) {
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card m-1">
        <div class="card-body">
          <div class="font-size-18 text-justify">
            {{ detalles.activity }}
          </div>
          <div class="mt-1 font-size-16 text-muted">
            Solicitado el: {{ detalles.dateRequest | date : "fullDate" }}
          </div>
        </div>
        <img
          class="card-img-bottom img-fluid"
          [src]="urlImg + detalles.photoPathBefore"
        />
      </div>
    </div>
    }
  </div>
</div>
