<div class="card">
  <div class="card-body">
    <form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="form">
      <custom-input-text
        [control]="form.get('id')"
        formControlName="id"
        label="Id"
      ></custom-input-text>
      <custom-input-text
        [control]="form.get('code')"
        formControlName="code"
        label="Código"
        placeholder="código"
      ></custom-input-text>
      <custom-input-text
        [control]="form.get('shortName')"
        formControlName="shortName"
        label="Nombre"
        placeholder="Nombre"
      ></custom-input-text>
      <custom-input-text
        [control]="form.get('largeName')"
        formControlName="largeName"
        label="Razón social"
        placeholder="razón social"
      ></custom-input-text>

      <custom-button-submit
        [disabled]="this.form.invalid || submitting"
      ></custom-button-submit>
    </form>
  </div>
</div>
