<p-toast position="top-left" [baseZIndex]="99999"></p-toast>

<p-table
  #dt
  [autoLayout]="true"
  [globalFilterFields]="['nameProfession', 'area']"
  [rowHover]="true"
  [value]="data"
  currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
  styleClass="custom-table"
  rowGroupMode="subheader"
  sortField="area"
  groupRowsBy="area"
  [reorderableColumns]="true"
  (onRowReorder)="onRowReorder($event)"
>
  <ng-template pTemplate="caption">
    <app-table-header
      [title]="'Profesiones'"
      (add)="showModalAddOrEdit({ id: 0, title: 'Nuevo Registro' })"
      [dt]="dt"
    ></app-table-header>
  </ng-template>

  <ng-template pTemplate="groupheader" let-item>
    <tr pRowGroupHeader>
      <td colspan="5">
        <span class="font-size-18 fw-semibold ml-2">{{ item.area }}</span>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th pReorderableColumn scope="col" style="width: 5%">#</th>
      <th
        pReorderableColumn
        scope="col"
        style="width: 15%"
        pSortableColumn="hierarchy"
      >
        JERARQUÍA
        <p-sortIcon field="hierarchy"></p-sortIcon>
      </th>
      <th
        pReorderableColumn
        scope="col"
        style="width: 15%"
        pSortableColumn="professionkey"
      >
        FOLIO
        <p-sortIcon field="professionkey"></p-sortIcon>
      </th>
      <th
        pReorderableColumn
        scope="col"
        style="width: 75%"
        pSortableColumn="nameProfession"
      >
        PROFESION <p-sortIcon field="nameProfession"></p-sortIcon>
      </th>
      <th pReorderableColumn scope="col" style="width: 10%"></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-item let-index="rowIndex">
    <tr [pReorderableRow]="index">
      <td class="p-column-title text-center">
        <i class="fa-duotone fa-bars" pReorderableRowHandle></i>
      </td>
      <td class="p-column-title">
        {{ item.hierarchy }}
      </td>
      <td class="p-column-title">
        {{ item.professionkey }}
      </td>
      <td class="p-column-title">
        {{ item.nameProfession }}
      </td>
      <td class="p-column-title">
        <div class="d-flex justify-content-center">
          <custom-button-edit
            (edit)="
              showModalAddOrEdit({ id: item.id, title: 'Editar Registro' })
            "
          ></custom-button-edit>
          <custom-button-delete
            (OnConfirm)="onDelete(item)"
          ></custom-button-delete>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
