<div class="card">
  <p-table
    #dt
    [globalFilterFields]="['Activity', 'FullName']"
    [value]="data"
    styleClass="custom-table"
  >
    <ng-template pTemplate="header">
      <tr>
        <th scope="col">#</th>
        <th scope="col" pSortableColumn="fechaOrder">
          Fecha <p-sortIcon field="fechaOrder"></p-sortIcon>
        </th>
        <th scope="col" pSortableColumn="activity">
          Actividad
          <p-sortIcon field="activity"></p-sortIcon>
        </th>
        <th scope="col" pSortableColumn="fullName">
          Responsable<p-sortIcon field="fullName"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-i="rowIndex">
      <tr>
        <td class="p-column-title">
          {{ i + 1 }}
        </td>
        <td class="p-column-title">
          {{ item.dateRequest }}
        </td>
        <td class="p-column-title">
          {{ item.activity }}
        </td>
        <td class="p-column-title">
          {{ item.fullName }}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <div class="p-d-flex p-ai-center p-jc-between hide-print-mode">
        En total hay
        {{ data ? data.length : 0 }} registros.
      </div>
    </ng-template>
  </p-table>
</div>
