<ng-container *ngIf="horizontal">
  <div class="form-group row mb-2">
    <label class="col-sm-3">{{ label }}</label>
    <div class="col-sm-9">
      <textarea
        (blur)="onTouch()"
        (input)="onChange($event.target.value)"
        [attr.disabled]="disabled ? 'disabled' : null"
        [class.no-resize]="disableResize"
        [disabled]="disabled"
        [placeholder]="'Ingresa ' + placeholder"
        [value]="value"
        class="form-control text-justify"
        cols="30"
        rows="5"
        [ngClass]="{
          'is-invalid': control.invalid && (control.dirty || control.touched)
        }"
      ></textarea>
      <div
        class="small text-danger"
        *ngIf="control.invalid && (control.dirty || control.touched)"
      >
        <p class="mb-1" *ngIf="control.errors.required">
          El campo {{ placeholder }} es requerido.
        </p>
        <p class="mb-1" *ngIf="control.errors.minlength">
          El campo debe de tener minimo
          {{ control.errors.minlength.requiredLength }} caracteres.
        </p>
        <p class="mb-1" *ngIf="control.errors.maxlength">
          El campo debe de tener maximo
          {{ control.errors.maxlength.requiredLength }} caracteres.
        </p>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="!horizontal">
  <div class="mb-3">
    <label>{{ label }}</label>
    <textarea
      (blur)="onTouch()"
      (input)="onChange($event.target.value)"
      [attr.disabled]="disabled ? 'disabled' : null"
      [class.no-resize]="disableResize"
      [disabled]="disabled"
      [placeholder]="'Ingresa ' + placeholder"
      [value]="value"
      class="form-control text-justify"
      cols="30"
      rows="5"
      [ngClass]="{
        'is-invalid': control.invalid && (control.dirty || control.touched)
      }"
    ></textarea>
    <div
      class="small text-danger"
      *ngIf="control.invalid && (control.dirty || control.touched)"
    >
      <p class="mb-1" *ngIf="control.errors.required">
        El campo {{ placeholder }} es requerido.
      </p>
      <p class="mb-1" *ngIf="control.errors.minlength">
        El campo debe de tener minimo
        {{ control.errors.minlength.requiredLength }} caracteres.
      </p>
      <p class="mb-1" *ngIf="control.errors.maxlength">
        El campo debe de tener maximo
        {{ control.errors.maxlength.requiredLength }} caracteres.
      </p>
    </div>
  </div>
</ng-container>
