<p-toast position="top-right" [baseZIndex]="9999999"></p-toast>

@if (data) {
<div class="card">
  <p-table
    [globalFilterFields]="['customer.label', 'concepto.label', 'fecha']"
    [rowHover]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    [value]="data"
    #dt
    styleClass="custom-table"
  >
    <ng-template pTemplate="caption">
      <custom-table-caption
        [title]="'Presentaciónes Juntas de comité'"
        (add)="showModalAdd({ id: 0, titulo: 'Nuevo Registro' })"
        [dt]="dt"
      />
      <button
        class="btn btn-soft-primary me-1 mb-sm-1"
        pSortableColumn="fechaCorrespondienteFiltro"
      >
        PERIODO <p-sortIcon field="fechaCorrespondienteFiltro"></p-sortIcon>
      </button>
      <button
        class="btn btn-soft-primary me-1 mb-sm-1"
        pSortableColumn="fechaJuntaFiltro"
      >
        FECHA DE JUNTA
        <p-sortIcon field="fechaJuntaFiltro"></p-sortIcon>
      </button>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th scope="col" style="width: 20%" class="text-uppercase">PORTADA</th>
        <th scope="col" style="width: 20%" class="text-uppercase">CONTABLE</th>
        <th scope="col" style="width: 20%" class="text-uppercase">
          OPERACIONES
        </th>
        <th scope="col" style="width: 20%" class="text-uppercase">FINAL</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td colspan="5">
          <div class="row">
            <div class="col-6 d-flex align-items-center">
              @if (authS.onValidateRoles(['Administrador']) &&
              !item.archivoFinal) {

              <div class="me-2">
                <btn-edit
                  (edit)="
                    showModalAdd({ id: item.id, titulo: 'Editar Registro' })
                  "
                />
                <btn-delete (OnConfirm)="onDeleteItem(item)" />
              </div>
              }
              <div>
                PERIODO: {{ item.fechaCorrespondiente | uppercase }}, FECHA DE
                JUNTA: {{ item.fechaJunta | uppercase }}
              </div>
            </div>
            <div class="col-6">
              <p class="me-1 mb-sm-1 float-end">
                Presentación enviada a comité:
                {{ !item.enviadoComite ? "No" : "Sí" }}
                <i
                  class="fa-solid"
                  [ngClass]="{
                    'fa-check-double text-success': item.enviadoComite,
                    'fa-xmark text-danger': !item.enviadoComite
                  }"
                ></i>
              </p>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <!-- PORTADA -->
          @if ( !item.archivoPortada && authS.onValidateRoles(['Administrador'])
          ) {
          <div class="text-center">
            <custom-button
              ngbTooltip="Cargar archivo"
              customClass="btn-sm btn-info"
              icon="fa-light fa-upload me-2"
              (clicked)="
                showModalAddOrEdit({
                  id: item.id,
                  titulo: 'Portada'
                })
              "
              label="Cargar archivo"
            />
          </div>

          } @if (item.archivoPortada) {
          <div class="mt-1 d-flex justify-content-between">
            <div class="d-flex align-items-start">
              @if (item.archivoPortada) {
              <!-- <btn-download-file
                [urlFile]="url + item.id + '/' + item.archivoPortada"
              /> -->
              <btn-download-file
                [urlFile]="urlBase + item.id + '/' + item.archivoPortada"
                download="Portada.pdf"
              />
              }
            </div>
            <div class="d-flex align-items-start">
              @if ( authS.onValidateRoles(['Administrador']) &&
              !item.archivoFinal ) {
              <btn-edit
                (edit)="
                  showModalAddOrEdit({
                    id: item.id,
                    titulo: 'Portada'
                  })
                "
              />
              } @if ( authS.onValidateRoles(['Administrador']) &&
              !item.archivoFinal ) {
              <btn-delete (OnConfirm)="onDelete(item, 'Portada')" />
              }
            </div>
          </div>

          <p class="m-0">{{ item.applicationUserPortada }}</p>
          <p class="m-0">{{ item.fechaCargaPortada }}</p>
          }
          <!-- PORTADA -->
        </td>
        <td>
          <!-- CONTABLE -->
          @if ( !item.archivoContable && authS.onValidateRoles(['Contador']) ) {

          <div class="text-center">
            <custom-button
              ngbTooltip="Cargar archivo"
              customClass="btn-sm btn-info"
              icon="fa-light fa-upload me-2"
              (clicked)="
                showModalAddOrEdit({
                  id: item.id,
                  titulo: 'Contabilidad'
                })
              "
              label="Cargar archivo"
            />
          </div>

          } @if (item.archivoContable) {
          <div class="mt-1 d-flex justify-content-between">
            <div class="d-flex align-items-start">
              @if (item.archivoContable) {
              <!-- <btn-download-file
                [urlFile]="url + item.id + '/' + item.archivoContable"
              /> -->
              <btn-download-file
                [urlFile]="urlBase + item.id + '/' + item.archivoContable"
                download="Contabilidad.pdf"
              />
              }
            </div>
            <div class="d-flex align-items-start">
              @if (authS.onValidateRoles(['Contador']) && !item.archivoFinal &&
              !item.applicationUserSupervisorContable) {
              <btn-edit
                (edit)="
                  showModalAddOrEdit({ id: item.id, titulo: 'Contabilidad' })
                "
              />
              <btn-delete (OnConfirm)="onDelete(item, 'Contabilidad')" />
              }
            </div>
          </div>

          <p class="m-0">{{ item.applicationUserContable }}</p>
          <p class="m-0">
            {{ item.fechaCargaContable }}
          </p>
          }
          <!-- CONTABLE -->
        </td>

        <td>
          <!-- OPERACIONES -->
          @if ( !item.archivoJunta && authS.onValidateRoles(['Administrador']) )
          {
          <div class="text-center">
            <custom-button
              ngbTooltip="Cargar archivo"
              customClass="btn-sm btn-info"
              icon="fa-light fa-upload me-2"
              (clicked)="
                showModalAddOrEdit({
                  id: item.id,
                  titulo: 'Operaciones'
                })
              "
              label="Cargar archivo"
            />
          </div>
          } @if (item.archivoJunta) {

          <div class="mt-1 d-flex justify-content-between">
            <div class="d-flex align-items-start">
              @if (item.archivoJunta) {

              <btn-download-file
                [urlFile]="urlBase + item.id + '/' + item.archivoJunta"
                download="Operaciones.pdf"
              />
              }
            </div>
            <div class="d-flex align-items-start">
              @if ( authS.onValidateRoles(['Administrador']) &&
              !item.archivoFinal ) {
              <btn-edit
                (edit)="
                  showModalAddOrEdit({
                    id: item.id,
                    titulo: 'Operaciones'
                  })
                "
              />
              } @if ( authS.onValidateRoles(['Administrador']) &&
              !item.archivoFinal ) {
              <btn-delete (OnConfirm)="onDelete(item, 'Operaciones')" />
              }
            </div>
          </div>
          <p class="m-0">{{ item.applicationUser }}</p>
          <p class="m-0">{{ item.fechaCarga }}</p>
          }
          <!-- OPERACIONES -->
        </td>
        <td>
          <!-- FINAL -->

          @if ( !item.archivoFinal &&
          authS.onValidateRoles(['SupervisionOperativa']) && item.archivoPortada
          && item.archivoContable && item.archivoJunta ) {
          <div class="text-center">
            <btn-confirmation
              title="Confirmar"
              icon="fa-light fa-check-double me-2"
              text="Confirmo que la presentación es correcta y será enviada al comité."
              label="Validar y enviar presentacion"
              tooltipText="Validar presentacion"
              classButton="btn-sm btn-info"
              confirmButtonText="Sí, confirmar"
              (OnConfirm)="onValidarPresentacion(item.id)"
            />
          </div>
          } @if (item.archivoFinal) {

          <div class="mt-1 d-flex align-content-start">
            <btn-download-file
              ngbTooltip="Visualizar Pdf"
              [urlFile]="urlBase + item.id + '/' + item.archivoFinal"
              download="Operaciones.pdf"
            />

            <!-- @if (authS.onValidateRoles(['SupervisionOperativa'])) {
            <custom-button
              ngbTooltip="Actualizar archivo"
              customClass="btn-sm btn-soft-primary "
              icon="fa-light fa-arrows-rotate"
              (clicked)="onValidarPresentacion(item.id)"
            />
            } -->
            @if (authS.onValidateRoles(['SuperUsuario'])) {
            <btn-delete (OnConfirm)="onDelete(item, 'Final')" />
            }
            <!-- @if (authS.onValidateRoles(['Administrador'])) {
            <btn-confirmation
              tooltipText="Enviar presentación a comité"
              icon="fa-light fa-paper-plane"
              classButton="btn-outline-secondary btn-sm me-1 waves-effect waves-light"
              (OnConfirm)="enviarMailPresentacionComite(item.id)"
            />
            } -->
          </div>
          <p class="m-0">{{ item.applicationUserSupervisor }}</p>
          <p class="m-0">
            {{ item.fechaCargaSupervisor }}
          </p>
          }
          <!-- FINAL -->
        </td>
      </tr>
    </ng-template>
  </p-table>
  <!-- viewGeneralMinutas -->
</div>
}
