<p-toast position="top-left" [baseZIndex]="99999"></p-toast>

<form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="form">
  <custom-input-text
    [control]="form.get('userName')"
    formControlName="userName"
    label="Usuario"
    placeholder="Usuario"
  ></custom-input-text>

  <custom-input-text
    [control]="form.get('email')"
    formControlName="email"
    label="Correo Electrónico"
    placeholder="Correo electrónico"
  ></custom-input-text>

  <custom-input-mask
    [control]="form.get('phoneNumber')"
    formControlName="phoneNumber"
    label="Tél. Celular"
    placeholder="(00) 0000-0000"
    customMask="(00) 0000-0000"
  ></custom-input-mask>

  <custom-input-select
    [control]="form.get('professionId')"
    formControlName="professionId"
    label="Profesión"
    [data]="cb_profession"
  ></custom-input-select>

  <custom-input-select
    [control]="form.get('customerId')"
    formControlName="customerId"
    label="Cliente"
    [data]="cb_customer"
  ></custom-input-select>

  <!-- Boton Submin -->
  <custom-button-submit
    [disabled]="form.invalid || submitting"
  ></custom-button-submit>
  <!-- Boton Submin -->
</form>
