<div class="card">
  <div class="card-body">
    <p-table #dt [value]="dataExternal" styleClass="custom-table-report">
      <ng-template pTemplate="caption">
        <table-header
          title="PENDIENTES ACTIVOS DESPACHO EXTERNO"
          [showAdd]="false"
          [dt]="dt"
        ></table-header>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th scope="col" style="width: 10%">FOLIO</th>
          <th scope="col" style="width: 10%">FECHA SOLICITUD</th>
          <th scope="col" style="width: 10%">CLIENTE</th>
          <th scope="col" style="width: 55%">SOLICITUD</th>
          <th scope="col" style="width: 10%">RESPONSABLE</th>
          <th scope="col" style="width: 5%">DÍAS TRANSCURRIDOS</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-ticket>
        <tr>
          <td>{{ ticket.folio }}</td>
          <td>{{ ticket.requestDate }}</td>
          <td>{{ ticket.nombreCorto }}</td>
          <td [innerHTML]="ticket.request"></td>
          <td>{{ ticket.fullName }}</td>
          <td class="text-center">{{ ticket.diasTrasncurridos }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
          En total hay {{ dataExternal ? dataExternal.length : 0 }} pendientes.
        </div>
      </ng-template>
    </p-table>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <p-table #dt [value]="dataInternal" styleClass="custom-table-report">
      <ng-template pTemplate="caption">
        <table-header
          title="PENDIENTES ACTIVOS LEGAL INTERNO"
          [showAdd]="false"
          [dt]="dt"
        ></table-header>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th scope="col" style="width: 10%">FOLIO</th>
          <th scope="col" style="width: 10%">FECHA SOLICITUD</th>
          <th scope="col" style="width: 10%">CLIENTE</th>
          <th scope="col" style="width: 55%">SOLICITUD</th>
          <th scope="col" style="width: 10%">RESPONSABLE</th>
          <th scope="col" style="width: 5%">DÍAS TRANSCURRIDOS</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-ticket>
        <tr>
          <td>{{ ticket.folio }}</td>
          <td>{{ ticket.requestDate }}</td>
          <td>{{ ticket.nombreCorto }}</td>
          <td [innerHTML]="ticket.request"></td>
          <td>{{ ticket.fullName }}</td>
          <td class="text-center">{{ ticket.diasTrasncurridos }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
          En total hay {{ dataInternal ? dataInternal.length : 0 }} pendientes.
        </div>
      </ng-template>
    </p-table>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <p-table #dt [value]="unassignedData" styleClass="custom-table-report">
      <ng-template pTemplate="caption">
        <table-header
          title="PENDIENTES activos SIN RESPONSABLE"
          [showAdd]="false"
          [dt]="dt"
        ></table-header>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th scope="col" style="width: 10%">FOLIO</th>
          <th scope="col" style="width: 10%">FECHA SOLICITUD</th>
          <th scope="col" style="width: 10%">CLIENTE</th>
          <th scope="col" style="width: 55%">SOLICITUD</th>
          <th scope="col" style="width: 10%">RESPONSABLE</th>
          <th scope="col" style="width: 5%">DÍAS TRANSCURRIDOS</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-ticket>
        <tr>
          <td>{{ ticket.folio }}</td>
          <td>{{ ticket.requestDate }}</td>
          <td>{{ ticket.nombreCorto }}</td>
          <td [innerHTML]="ticket.request"></td>
          <td>{{ ticket.fullName }}</td>
          <td class="text-center">{{ ticket.diasTrasncurridos }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
          En total hay
          {{ unassignedData ? unassignedData.length : 0 }} pendientes.
        </div>
      </ng-template>
    </p-table>
  </div>
</div>
