<div class="card">
  <div class="card-body">
    <form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="form">
      <custom-input-text
        [control]="form.get('id')"
        formControlName="id"
        label="Id"
      ></custom-input-text>

      <custom-input-text
        [control]="form.get('codigo')"
        formControlName="codigo"
        label="Código"
        placeholder="código"
      ></custom-input-text>

      <custom-input-text
        [control]="form.get('descripcion')"
        formControlName="descripcion"
        label="Descripción"
        placeholder="descripción"
      ></custom-input-text>

      <custom-button-submit
        [disabled]="this.form.invalid || submitting"
      ></custom-button-submit>
    </form>
  </div>
</div>
