<p-toast position="top-right" [baseZIndex]="99999"></p-toast>
<div class="row">
  <div class="col-12">
    <custom-button
      ngbTooltip="Bloquear"
      [customClass]="'btn-info float-end'"
      label="Agregar Medidor"
      (clicked)="modalAddEdit({ id: 0, title: 'Agregar Registro' })"
    />
  </div>
  @for (item of data; track item) {
  <div class="col-sm-3">
    <div
      class="card"
      [ngClass]="{
        'border-primary': item.medidorCategoria.id === 3,
        'border-success': item.medidorCategoria.id === 2,
        'border-warning': item.medidorCategoria.id === 1
      }"
    >
      <div
        class="card-body text-center pointer"
        (click)="modalMedidorLecturaAddEdit(item)"
      >
        <h5 class="card-subtitle mb-2">
          {{ item.medidorCategoria.nombreMedidorCategoria }}
        </h5>
        @if (item.medidorCategoria.id === 1) {
        <i
          class="fa-solid fa-fire-burner text-warning fa-3x"
          aria-hidden="true"
        ></i>
        } @if (item.medidorCategoria.id === 3) {
        <i
          class="fa-solid fa-hand-holding-droplet text-primary fa-3x"
          aria-hidden="true"
        ></i>
        } @if (item.medidorCategoria.id === 2) {
        <i class="fa-solid fa-bolt text-success fa-3x" aria-hidden="true"></i>
        }
        <hr />
        <h6 class="card-subtitle mb-2 text-muted">
          {{ item.numeroMedidor }}
        </h6>
        <p class="card-text">
          {{ item.descripcion }}
        </p>
        <p class="card-text">
          {{ item.consumoDiarioMaximo }}
        </p>
      </div>
      @if ( authS.onValidateRoles([ 'JefeMantenimiento', 'Administrador',
      'SuperUsuario' ]) ) {
      <div class="card-footer">
        <div class="d-flex justify-content-center">
          <btn-edit (edit)="modalAddEdit({ id: item.id, title: 'Editar' })" />
          <btn-delete (OnConfirm)="onDelete(item.id)" />
          <custom-button
            customClass="btn-soft-primary waves-effect waves-light  bg-gradient me-1"
            ngbTooltip="Lecturas"
            icon="icon-database"
            [routerLink]="['/logbook/lista-medidar-lectura', item.id]"
          />

          <custom-button
            customClass="btn-soft-primary waves-effect waves-light  bg-gradient me-1"
            ngbTooltip="Grafica"
            icon="icon-chart-line"
            [routerLink]="['/logbook/grafico', item.id]"
          />

          <btn-export-excel (clicked)="exportExcel(item.id)" />
        </div>
      </div>
      }
    </div>
  </div>
  }
</div>
