<div class="card">
  <div class="card-body">
    <form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="form">
      <div class="form-group mb-2">
        <label>Cliente</label>
        <select class="form-select" formControlName="customerId">
          <option [value]="''">Seleccionar cliente</option>
          <option *ngFor="let item of cb_customer" [value]="item.value">
            {{ item.label }}
          </option>
        </select>
      </div>
      <div class="form-group mb-2">
        <label>Solicitud</label>
        <select
          class="form-select"
          formControlName="title"
          (change)="onChangeTitle($event.target.value)"
        >
          <option *ngFor="let item of list" [value]="item.label">
            {{ item.label }}
          </option>
        </select>
      </div>
      @if (tipoSolicitud === 1) {
      <custom-input-text
        [control]="form.get('provider')"
        formControlName="provider"
        label="1.3  Proveedor:"
        placeholder="1.3  Proveedor:"
        [horizontal]="false"
      />

      <div>
        <h2>Requisitos documentales:</h2>

        <h3>1. En caso de tratarse de persona moral:</h3>
        <ul>
          <li class="list-group-item">Acta Constitutiva</li>
          <li class="list-group-item">
            Poder Notarial del Representante Legal (Si ya se contiene en el Acta
            Constitutiva, con ella es suficiente)
          </li>
          <li class="list-group-item">
            Identificación Oficial del representante legal
          </li>
          <li class="list-group-item">Registro Federal de Contribuyentes</li>
          <li class="list-group-item">Comprobante de Domicilio</li>
        </ul>

        <h3>2. En caso de tratarse de persona física:</h3>
        <ul>
          <li class="list-group-item">Identificación Oficial</li>
          <li class="list-group-item">Registro Federal de Contribuyentes</li>
          <li class="list-group-item">Clave Única de Registro de Población</li>
          <li class="list-group-item">Comprobante de domicilio</li>
        </ul>

        <h3>3. En ambos casos:</h3>
        <ul>
          <li class="list-group-item">
            En caso de que el proveedor ya cuente con un formato de contrato a
            través del cuál preste regularmente sus servicios, agregarlo.
          </li>
          <li class="list-group-item">
            Los proveedores que ya cuenten con contrato firmado en el año
            anterior y que pierda vigencia en el presente año, únicamente
            firmarán Convenio Modificatorio, en el que, manteniéndose sus
            alcances de servicio, únicamente sufran cambios en cuánto a precio y
            vigencia.
          </li>
        </ul>
      </div>

      } @if (tipoSolicitud === 2) {
      <custom-input-text
        [control]="form.get('provider')"
        formControlName="provider"
        label="2.3  Proveedor:"
        placeholder="2.3  Proveedor:"
        [horizontal]="false"
      />

      } @if (tipoSolicitud === 3) {
      <custom-input-date
        [control]="form.get('fechaAsamblea')"
        formControlName="fechaAsamblea"
        label="3.2 Fecha de asamblea"
        placeholder="3.2 Fecha de asamblea"
        [horizontal]="false"
      />
      <div class="mb-2">
        <label class="form-label">3.3 Hora:</label>
        <input
          class="form-control flatpickr-input"
          formControlName="horaJunta"
          type="text"
          mwlFlatpickr
          [noCalendar]="true"
          [enableTime]="true"
          [dateFormat]="'H:i'"
        />
      </div>

      <ul class="list-group">
        <li class="list-group-item active">
          <div class="row">
            <div class="col-1">NO</div>
            <div class="col-6">ACTIVIDAD</div>
            <div class="col-5">RESPONSABLE</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-1">1</div>
            <div class="col-6">Puntos de la orden del día</div>
            <div class="col-5">ADMINISTRADOR</div>
          </div>
        </li>

        <li class="list-group-item">
          <div class="row">
            <div class="col-1">2</div>
            <div class="col-6">Formulario de preguntas</div>
            <div class="col-5">ADMINISTRADOR</div>
          </div>
        </li>

        <li class="list-group-item">
          <div class="row">
            <div class="col-1">2</div>
            <div class="col-6">Convocatoria Condóminos</div>
            <div class="col-5">EQUIPO LEGAL</div>
          </div>
        </li>

        <li class="list-group-item">
          <div class="row">
            <div class="col-1">3</div>
            <div class="col-6">Convocatoria Asociados</div>
            <div class="col-5">EQUIPO LEGAL</div>
          </div>
        </li>

        <li class="list-group-item">
          <div class="row">
            <div class="col-1">4</div>
            <div class="col-6">Lista de asistencia Condominos</div>
            <div class="col-5">EQUIPO LEGAL</div>
          </div>
        </li>

        <li class="list-group-item">
          <div class="row">
            <div class="col-1">5</div>
            <div class="col-6">Lista de asistencia Asociados</div>
            <div class="col-5">EQUIPO LEGAL</div>
          </div>
        </li>

        <li class="list-group-item">
          <div class="row">
            <div class="col-1">6</div>
            <div class="col-6">Cartas Poder Condominos y Asociados</div>
            <div class="col-5">EQUIPO LEGAL</div>
          </div>
        </li>

        <li class="list-group-item">
          <div class="row">
            <div class="col-1">7</div>
            <div class="col-6">Lista de morosidad</div>
            <div class="col-5">CONTADOR</div>
          </div>
        </li>
      </ul>

      <custom-input-text-area
        [control]="form.get('request')"
        formControlName="request"
        label="3.4 Puntos de la orden del día"
        placeholder="3.4 Puntos de la orden del día"
        [horizontal]="false"
      />

      } @if (tipoSolicitud === 4) {

      <custom-input-date
        [control]="form.get('fechaJunta')"
        formControlName="fechaJunta"
        label="4.3 Fecha de junta:"
        placeholder="4.3 Fecha de junta:"
        [horizontal]="false"
      />

      <div class="mb-2">
        <label class="form-label">4.4Hora:</label>
        <input
          class="form-control flatpickr-input"
          formControlName="horaJunta"
          type="text"
          mwlFlatpickr
          [noCalendar]="true"
          [enableTime]="true"
          [dateFormat]="'H:i'"
        />
      </div>
      <custom-input-text-area
        [control]="form.get('request')"
        formControlName="request"
        label="4.5 Tema"
        placeholder="4.5 Tema"
        [horizontal]="false"
      />
      } @if (tipoSolicitud === 5) {

      <custom-input-text
        [control]="form.get('condomino')"
        formControlName="condomino"
        label="5.3   Condomino:"
        placeholder="5.3   Condomino:"
        [horizontal]="false"
      />

      } @if (tipoSolicitud === 6) {
      <custom-input-text-area
        [control]="form.get('request')"
        formControlName="request"
        label="6.3 Asunto:"
        placeholder="6.3 Asunto:"
        [horizontal]="false"
      />

      } @if (tipoSolicitud === 8) {
      <custom-input-text-area
        [control]="form.get('request')"
        formControlName="request"
        label="8.3 Asunto:"
        placeholder="8.3 Asunto:"
        [horizontal]="false"
      />

      }
      <!-- Solamente visible para administrador -->

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group mb-2">
            <label>Información subida a LuxuryCloud</label>
            <select class="form-select" formControlName="documentEmail">
              <option [value]="true">Sí</option>
              <option [value]="false">No</option>
            </select>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group mb-2">
            <label>Información enviada por mail</label>
            <select class="form-select" formControlName="documentCloud">
              <option [value]="true">Sí</option>
              <option [value]="false">No</option>
            </select>
          </div>
        </div>
      </div>

      <custom-button-submit [disabled]="this.form.invalid || submitting" />
    </form>
  </div>
</div>
