<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-12">
        <form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="form">
          <div class="form-group mb-2">
            <label>Cliente</label>
            <select class="form-select" formControlName="customerId">
              <option [value]="null">--Seleccionar cliente--</option>
              <option *ngFor="let item of cb_customer" [value]="item.value">
                {{ item.label }}
              </option>
            </select>
          </div>
          <div class="form-group mb-2">
            <label>Solicitud</label>
            <select
              class="form-select"
              formControlName="title"
              (change)="onChangeTitle($event.target.value)"
            >
              <option [value]="null">--Seleccionar solicitud--</option>
              <option *ngFor="let item of list" [value]="item.label">
                {{ item.label }}
              </option>
            </select>
          </div>
          <!-- @if (tipoSolicitud === 10 ||tipoSolicitud ===9 ) {
          <custom-input-text
            [control]="form.get('provider')"
            formControlName="provider"
            label=" Proveedor:"
            placeholder=" Proveedor:"
            [horizontal]="false"
          />

          } @if (tipoSolicitud === 10 ||tipoSolicitud ===9 ) {
          <custom-input-text
            [control]="form.get('provider')"
            formControlName="provider"
            label="Proveedor:"
            placeholder="Proveedor:"
            [horizontal]="false"
          />

          } @if (tipoSolicitud === 2) {
          <custom-input-date
            [control]="form.get('fechaAsamblea')"
            formControlName="fechaAsamblea"
            label="Fecha de asamblea"
            placeholder="Fecha de asamblea"
            [horizontal]="false"
          />
          <div class="mb-2">
            <label class="form-label">Hora:</label>
            <input
              class="form-control flatpickr-input"
              formControlName="horaJunta"
              type="text"
              mwlFlatpickr
              [noCalendar]="true"
              [enableTime]="true"
              [dateFormat]="'H:i'"
            />
          </div>

          <custom-input-text-area
            [control]="form.get('request')"
            formControlName="request"
            label="Puntos de la orden del día"
            placeholder="Puntos de la orden del día"
            [horizontal]="false"
          />

          }


          @if (tipoSolicitud === 2 || tipoSolicitud === 9 || tipoSolicitud ===
          8) {

          <custom-input-date
            [control]="form.get('fechaJunta')"
            formControlName="fechaJunta"
            label="Fecha de junta:"
            placeholder="Fecha de junta:"
            [horizontal]="false"
          />

          <div class="mb-2">
            <label class="form-label">Hora:</label>
            <input
              class="form-control flatpickr-input"
              formControlName="horaJunta"
              type="text"
              mwlFlatpickr
              [noCalendar]="true"
              [enableTime]="true"
              [dateFormat]="'H:i'"
            />
          </div>
          <custom-input-text-area
            [control]="form.get('request')"
            formControlName="request"
            label="4.5 Tema"
            placeholder="4.5 Tema"
            [horizontal]="false"
            />


          }

          @if (tipoSolicitud === 5) {

          <custom-input-text
            [control]="form.get('condomino')"
            formControlName="condomino"
            label="5.3   Condomino:"
            placeholder="5.3   Condomino:"
            [horizontal]="false"
          />

          } @if (tipoSolicitud === 6) {
          <custom-input-text-area
            [control]="form.get('request')"
            formControlName="request"
            label="6.3 Asunto:"
            placeholder="6.3 Asunto:"
            [horizontal]="false"
          />

          } -->
          <custom-input-text-area
            [control]="form.get('request')"
            formControlName="request"
            label="Asunto:"
            placeholder="Asunto:"
            [horizontal]="false"
          />

          <btn-submit [disabled]="this.form.invalid || submitting" />
        </form>
      </div>
    </div>
  </div>
</div>
