<div class="card">
  <div class="card-body">
    <form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="form">
      <custom-input-text
        [control]="form.get('id')"
        formControlName="id"
        label="Id"
        [readonly]="true"
      />

      <custom-input-date
        [control]="form.get('fechaRegistro')"
        formControlName="fechaRegistro"
        label="Fecha de registro"
        placeholder="fecha de registro"
      />

      <custom-input-number
        [control]="form.get('lectura')"
        formControlName="lectura"
        label="Lectura"
        placeholder="lectura"
      />

      <btn-submit [disabled]="this.form.invalid || submitting" />
    </form>
  </div>
</div>
