<div class="card">
  <p-table
    #dt
    [globalFilterFields]="['shortName', 'largeName']"
    [value]="data"
    styleClass="custom-table p-datatable-sm"
  >
    <ng-template pTemplate="caption">
      <div class="row">
        <div class="col-sm-9">
          <app-table-header
            [title]="'Candidatos'"
            [showAdd]="false"
            [dt]="dt"
          ></app-table-header>
        </div>
        <div class="col-sm-3">
          <input
            class="form-control flatpickr-input"
            type="text"
            monthSelectorType="dropdown"
            mwlFlatpickr
            [altInput]="true"
            [convertModelValue]="true"
            [(ngModel)]="value"
            (change)="onLoadData()"
          />
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th scope="col" pSortableColumn="cargo">
          Cargo <p-sortIcon field="cargo"></p-sortIcon>
        </th>
        <th scope="col" pSortableColumn="cliente">
          Cliente<p-sortIcon field="cliente"></p-sortIcon>
        </th>
        <th scope="col" pSortableColumn="puesto">
          Puesto<p-sortIcon field="puesto"></p-sortIcon>
        </th>
        <th scope="col" pSortableColumn="nombre">
          Nombre
          <p-sortIcon field="nombre"></p-sortIcon>
        </th>
        <th scope="col" pSortableColumn="decision">
          Decisión
          <p-sortIcon field="decision"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td class="p-column-title">{{ item.cargo }}</td>
        <td class="p-column-title">{{ item.cliente }}</td>
        <td class="p-column-title">{{ item.puesto }}</td>
        <td class="p-column-title">{{ item.nombre }}</td>
        <td class="p-column-title">{{ item.decision }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
