<div class="card">
  <div class="card-body">
    <form autocomplete="off" (ngSubmit)="submit()" [formGroup]="form">
      <div class="col">
        @if(cb_providers.length == 0){
        <div class="text-center">
          <p>Cargando listado de proveedores</p>
          <div class="spinner-border text-info m-1" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        }@else {

        <custom-input-datalist
          (propagar)="saveProviderId($event)"
          [control]="form.get('providerName')"
          [data]="cb_providers"
          formControlName="providerName"
          label="Proveedor"
          [horizontal]="false"
          dataListId="providerNameDatalistOptions"
        />
        }
      </div>
      <div class="col">
        @if(cb_categories.length == 0){
        <div class="text-center">
          <p>Cargando listado de categorias</p>
          <div class="spinner-border text-info m-1" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        } @else {

        <custom-input-datalist
          (propagar)="saveCategoryId($event)"
          [control]="form.get('categoryName')"
          [data]="cb_categories"
          formControlName="categoryName"
          label="Servicio"
          [horizontal]="false"
          dataListId="ServicioNameDatalistOptions"
        />
        }
      </div>

      <custom-button-submit [disabled]="this.form.invalid || submitting" />
    </form>
  </div>
</div>
<!-- app.component.html -->
