<div class="form-group" style="width: 100%">
  <!-- <Label>Selecciona Estatus</Label><br /> -->
  <div class="btn-group w-100" role="group" aria-label="Estado">
    <button
      *ngFor="let item of cb_status"
      type="button"
      class="btn btn-sm"
      [ngClass]="{
        'btn-soft-primary': status === item.value,
        'btn-soft-info': status !== item.value
      }"
      (click)="onStatusChange(item.value)"
      style="flex: 1"
    >
      <small class="text-muted">
        {{ item.label }}
      </small>
    </button>
  </div>
</div>
