<p-toast position="top-left" [baseZIndex]="99999"></p-toast>

<p-table
  #dt
  styleClass="custom-table"
  [value]="data"
  [rows]="100"
  [paginator]="true"
  [rowHover]="true"
  currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[100, 200, 500]"
  [globalFilterFields]="[
    'firstName',
    'lastName',
    'phoneNumber',
    'customer',
    'phoneNumber',
    'email'
  ]"
  [autoLayout]="true"
>
  <ng-template pTemplate="caption">
    <app-table-header
      [title]="'Listado General de Personas'"
      (add)="onModalCreatePerson({ id: 0, title: 'Nuevo Registro' })"
      [dt]="dt"
    ></app-table-header>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th scope="col" style="width: 30%" pSortableColumn="fullName">
        Nombre
        <p-sortIcon field="fullName"></p-sortIcon>
      </th>
      <th scope="col" style="width: 20%" pSortableColumn="customer">
        Cliente
        <p-sortIcon field="customer"></p-sortIcon>
      </th>
      <th scope="col" style="width: 15%" pSortableColumn="phoneNumber">
        Teléfono
        <p-sortIcon field="phoneNumber"></p-sortIcon>
      </th>
      <th scope="col" style="width: 20%" pSortableColumn="email">
        Email
        <p-sortIcon field="email"></p-sortIcon>
      </th>
      <th scope="col" style="width: 5%" class="hide-print-mode">Opciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td>
        <img
          (click)="onCardEmployee(item.employeeId)"
          [src]="url + item.photoPath"
          alt=""
          class="rounded avatar-sm"
        />
        {{ item.fullName }}
      </td>
      <td>
        @if(item.customer){
        <div class="mt-1">
          @if (item.state==='Activo') {
          <span
            class="w-100 badge bg-success-subtle text-success font-size-10 p-2"
            >ACTIVO</span
          >
          }@else {
          <span
            class="w-100 badge bg-danger-subtle text-danger font-size-10 p-2"
            >INACTIVO</span
          >
          }
          <p class="mt-1 text-center">
            {{ item.customer }}
          </p>
        </div>
        }
      </td>
      <td>
        {{ item.phoneNumber }}
      </td>
      <td>
        {{ item.email }}
      </td>
      <td class="p-column-title hide-print-mode">
        <div class="d-flex justify-content-center">
          <custom-button
            ngbTooltip="Dirección"
            customClass="btn-sm btn-sm btn-outline-primary"
            icon="fa-duotone fa-location-dot text-primary"
            (clicked)="
              onModalDataAddress({
                id: item.id,
                title: 'Editar Registro'
              })
            "
          ></custom-button>
          <custom-button
            ngbTooltip="Datos Laborales"
            customClass="btn-sm btn-sm btn-outline-primary"
            icon="fa-duotone fa-briefcase text-primary"
            (clicked)="
              onModalDataLaboral({
                employeeId: item.employeeId,
                personId: item.id,
                title: 'Editar Registro'
              })
            "
          ></custom-button>
          <custom-button
            ngbTooltip="Datos Personales"
            customClass="btn-sm btn-sm btn-outline-primary"
            icon="fa-duotone fa-memo-circle-info text-primary"
            (clicked)="
              onModalDataPersonal({
                id: item.id,
                title: 'Editar Registro'
              })
            "
          ></custom-button>
          <custom-button
            ngbTooltip="Datos Principales"
            customClass="btn-sm btn-sm btn-outline-primary"
            icon="fa-duotone fa-database text-primary"
            (clicked)="
              onModalDataPrincipal({
                id: item.id,
                title: 'Editar Registro'
              })
            "
          ></custom-button>
          <custom-button
            ngbTooltip="Actualizar Foto"
            customClass="btn-sm btn-sm btn-outline-primary"
            icon="fa-duotone fa-camera text-primary"
            (clicked)="onShowModalActualizarImagen(item.id)"
          ></custom-button>

          <custom-button-delete
            (OnConfirm)="onDelete(item.id)"
          ></custom-button-delete>
        </div>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="paginatorleft">
    <div class="p-d-flex p-ai-center p-jc-between">
      En total hay
      {{ data ? data.length : 0 }} registros.
    </div>
  </ng-template>
</p-table>
