<div class="card">
  <div class="card-body">
    <form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="form">
      @if(cb_providers.length == 0){
      <div class="text-center">
        <p>Cargando listado de proveedores</p>
        <div class="spinner-border text-info m-1" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      }@else {
      <custom-input-datalist
        (propagar)="saveProviderId($event)"
        [control]="form.get('nameProvider')"
        [data]="cb_providers"
        formControlName="nameProvider"
        label="Proveedor"
        [horizontal]="false"
        dataListId="nameProviderDatalistOptions"
      ></custom-input-datalist>
      }

      <!--  -->
      @if(cb_persons.length == 0){
      <div class="text-center">
        <p>Cargando listado de personas</p>
        <div class="spinner-border text-info m-1" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      }@else {
      <custom-input-datalist
        (propagar)="savePersonId($event)"
        [control]="form.get('namePerson')"
        [data]="cb_persons"
        formControlName="namePerson"
        label="Personas"
        [horizontal]="false"
        dataListId="namePersonDatalistOptions"
      ></custom-input-datalist>
      }
      <!--  -->

      @if(cb_professions.length == 0){
      <div class="text-center">
        <p>Cargando listado de categorias</p>
        <div class="spinner-border text-info m-1" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      } @else {

      <custom-input-datalist
        (propagar)="saveProfessionsId($event)"
        [control]="form.get('nameProfession')"
        [data]="cb_professions"
        formControlName="nameProfession"
        label="Cargo"
        [horizontal]="false"
        dataListId="nameProfessionDatalistOptions"
      ></custom-input-datalist>
      }

      <!-- [disabled]="this.form.invalid || submitting" -->
      <custom-button-submit />
    </form>
  </div>
</div>
