<div class="card">
  <div class="card-body">
    <form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="form">
      @if(cb_providers.length == 0){
      <div class="text-center">
        <p>Cargando listado de proveedores</p>
        <div class="spinner-border text-info m-1" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      }@else {
      <custom-input-datalist
        (propagar)="saveProviderId($event)"
        [control]="form.get('nameProvider')"
        [data]="cb_providers"
        formControlName="nameProvider"
        label="Proveedor"
        [horizontal]="false"
        dataListId="nameProviderDatalistOptions"
      />
      }

      <!--  -->
      @if(cb_applicationUserProvider.length == 0){
      <div class="text-center">
        <p>Cargando listado de personas</p>
        <div class="spinner-border text-info m-1" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      }@else {
      <custom-input-datalist
        (propagar)="savePersonId($event)"
        [control]="form.get('applicationUser')"
        [data]="cb_applicationUserProvider"
        formControlName="applicationUser"
        label="Personas"
        [horizontal]="false"
        dataListId="applicationUserDatalistOptions"
      />
      }
      <!--  -->

      @if(cb_professions.length == 0){
      <div class="text-center">
        <p>Cargando listado de categorias</p>
        <div class="spinner-border text-info m-1" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      } @else {

      <custom-input-datalist
        (propagar)="saveProfessionsId($event)"
        [control]="form.get('nameProfession')"
        [data]="cb_professions"
        formControlName="nameProfession"
        label="Cargo"
        [horizontal]="false"
        dataListId="nameProfessionDatalistOptions"
      />
      }

      <!--  Customers-->

      @if(cb_customers.length == 0){
      <div class="text-center">
        <p>Cargando listado de clientes</p>
        <div class="spinner-border text-info m-1" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      } @else {

      <custom-input-datalist
        (propagar)="saveCustomerId($event)"
        [control]="form.get('nameCustomer')"
        [data]="cb_customers"
        formControlName="nameCustomer"
        label="Cliente"
        [horizontal]="false"
        dataListId="nameCustomerDatalistOptions"
      />
      }
      <!-- [disabled]="this.form.invalid || submitting" -->
      <custom-button-submit />
    </form>
  </div>
</div>
