/* Estilos globales para todas las tablas */
table {
  width: 100%; /* La tabla ocupará todo el ancho disponible */
  border-collapse: collapse; /* Elimina los espacios entre las celdas */
  font-size: 14px; /* Tamaño de fuente global */
  font-family: "Segoe UI Variable Static Text", sans-serif; /* Fuente Segoe UI Variable Static Text */
}

/* Estilos para las celdas del encabezado (th) */
th {
  text-align: center; /* Centra el texto */
  font-weight: normal; /* Peso de la fuente normal */
  padding: 10px; /* Espaciado interno */
  border: 1px solid #fff; /* Borde blanco */
  // background: linear-gradient(to right, #000000, #2e2e2e); /* Fondo degradado */

  background: #2e2e2e;
  color: #fff; /* Texto en blanco */
  text-transform: uppercase; /* Convierte el texto a mayúsculas */
}

/* Estilos para las celdas del cuerpo de la tabla (td) */
td {
  padding: 8px; /* Espaciado interno */
  border: 1px solid #808080; /* Borde gris oscuro */
  color: black; /* Texto negro */
  font-family: "Segoe UI Variable Static Text", sans-serif; /* Fuente Segoe UI Variable Static Text */
}
/* Estilos para subgrupos de tablas anidadas dentro de la tabla principal */
.subgroup table {
  margin-top: 8px; /* Espaciado superior */
  width: 100%; /* Ancho completo */
}

.subgroup td {
  border: none; /* Sin bordes en celdas de tablas anidadas */
  padding: 4px; /* Espaciado reducido */
}
/* Estilos para tablas pequeñas personalizadas */
.custom-small-table {
  font-size: 14px; /* Tamaño de fuente reducido */
  font-family: "Segoe UI Variable Static Text", sans-serif; /* Fuente Segoe UI Variable Static Text */
}

/* Estilos para los encabezados de la tabla pequeña */
.custom-small-table .p-datatable-thead > tr > th {
  padding: 7px; /* Espaciado reducido en encabezados */
}

/* Estilos para las celdas del cuerpo de la tabla pequeña */
.custom-small-table .p-datatable-tbody > tr > td {
  padding: 7px; /* Espaciado reducido en celdas de contenido */
}

/* Estilos para resúmenes personalizados */
.custom-summary {
  border: 1px solid rgb(60, 60, 60); /* Borde gris oscuro */
  padding: 8px; /* Espaciado interno */
}

// Tablas de TICKETS LEGAL
/* Estilos para el primer grupo de colores con degradado */
.color-gradient-1 {
  background: linear-gradient(
    to right,
    #414141,
    #548235
  ); /* Degradado de gris oscuro a verde */
  color: #fff; /* El texto será blanco */
}

/* Estilos para el segundo grupo de colores con degradado */
.color-gradient-2 {
  background: linear-gradient(
    to right,
    #0f0c29,
    #302b63
  ); /* Degradado de azul oscuro a púrpura */
  color: #fff; /* El texto será blanco */
}
