.custom-table table {
  border-collapse: collapse !important;
  width: 100% !important;
}

.custom-table td {
  border: 1px solid rgb(60, 60, 60) !important;
  color: black !important;
  font-family: "IBM Plex Sans", sans-serif !important;
  padding: 8px !important;
}

.custom-table th {
  border: 1px solid #fff !important;
  background: linear-gradient(
    to right,
    #000000,
    #2e2e2e
  ); /* Degradado de colores para el primer grupo */
  color: #fff !important; /* Color de texto */
  text-transform: uppercase;
}

.custom-table .subgroup table {
  margin-top: 8px !important;
  width: 100% !important;
}

.custom-table .subgroup td {
  border: none !important;
  padding: 4px !important;
}

.custom-summary {
  border: 1px solid rgb(60, 60, 60) !important;
  padding: 8px !important;
}

.custom-small-table {
  font-size: 14px; /* Ajusta el tamaño de letra según tus necesidades */
  font-family: "IBM Plex Sans", sans-serif !important;
}

.custom-small-table .p-datatable-thead > tr > th {
  padding: 7px; /* Ajusta el espaciado de las celdas del encabezado */
}

.custom-small-table .p-datatable-tbody > tr > td {
  padding: 7px; /* Ajusta el espaciado de las celdas de contenido */
}

table {
  font-size: 14px; /* Ajusta el tamaño de letra según tus necesidades */
  font-family: "IBM Plex Sans", sans-serif !important;
}

.color-gradient-1 {
  background: linear-gradient(
    to right,
    #414141,
    #548235
  ); /* Degradado de colores para el primer grupo */
  color: #fff; /* Color de texto */
}

.color-gradient-2 {
  background: linear-gradient(
    to right,
    #0f0c29,
    #302b63
  ); /* Degradado de colores para el segundo grupo */
  color: #fff; /* Color de texto */
}

th {
  text-align: center; /* Para centrar el texto */
  font-weight: normal; /* Para la fuente delgada, puedes usar 'normal' o 'lighter' dependiendo de la familia de fuentes */
  padding: 10px; /* Añadimos un poco de espacio alrededor del texto */
}
