// @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&display=swap');

/* // // Definición del estilo con un modificador de especificidad mayor
// #tabla-custom .custom-table tbody tr.fondo-rojo-tenue-custom {
//   background-color: rgba(255, 0, 0, 0.1) !important;
// } */

.custom-table table {
  border-collapse: collapse !important;
  width: 100% !important;
}

.custom-table th,
.custom-table td {
  border: 1px solid rgb(60, 60, 60) !important;
  color: black !important;
  font-family: "Montserrat", sans-serif !important;
  padding: 8px !important;
}

.custom-table th {
  color: #f9f9f9 !important;
  background-color: black !important;
}

.custom-table .subgroup table {
  margin-top: 8px !important;
  width: 100% !important;
}

.custom-table .subgroup td {
  border: none !important;
  padding: 4px !important;
}

.custom-summary {
  border: 1px solid rgb(60, 60, 60) !important;
  padding: 8px !important;
}

/* // .custom-table tbody tr:nth-child(even) {
//   background-color: #f9f9f9 !important;
// } */
/* styles.css o tu archivo de estilos personalizado */

.custom-small-table {
  font-size: 14px; /* Ajusta el tamaño de letra según tus necesidades */
  font-family: 'Montserrat', sans-serif !important;
}

.custom-small-table .p-datatable-thead > tr > th {
  padding: 7px; /* Ajusta el espaciado de las celdas del encabezado */
}

.custom-small-table .p-datatable-tbody > tr > td {
  padding: 7px; /* Ajusta el espaciado de las celdas de contenido */
}
