/* You can add global styles to this file, and also import other style files */

/* estilos.css */
body {
  background-color: #f8fafc !important; /* Cambia este color al que desees */
}

.uppercase-table-headers th {
  text-transform: uppercase;
}
.swal2-container {
  z-index: 20000 !important;
}

.pointer {
  cursor: pointer;
}

/* Forzar la familia de fuentes en inputs y labels */
input,
textarea,
select,
label {
  font-family: "Quicksand", sans-serif !important; /* Usa !important para asegurar que estos estilos prevalezcan */
}

@media (min-width: 320px) {
  .modal-sm {
    width: 100%;
  }

  .modal-w-100 {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 576px) {
  .modal-sm {
    width: 80%;
  }

  .modal-md {
    width: 100%;
    height: auto;
    max-width: 576px; /* Agregar max-width para mantener la responsividad */
    margin-left: auto; /* Centrar horizontalmente */
    margin-right: auto;
  }

  .modal-lg {
    width: 100%;
    max-width: 576px;
  }

  .modal-w-100 {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 768px) {
  .modal-sm {
    width: 40%;
  }

  .modal-md {
    width: 50%;
    height: auto;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }

  .modal-lg {
    width: 100%;
    max-width: 768px;
  }

  .modal-w-100 {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 992px) {
  .modal-sm {
    width: 40%;
  }

  .modal-md {
    width: 50%;
    height: auto;
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;
  }

  .modal-lg {
    width: 100%;
    max-width: 992px;
  }

  .modal-w-100 {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 1200px) {
  .modal-sm {
    width: 40%;
  }

  .modal-md {
    width: 50%;
    height: auto;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .modal-lg {
    width: 100%;
    max-width: 1200px;
  }

  .modal-w-100 {
    width: 100%;
    height: auto;
  }
}

.callout.callout-contable {
  border-left-color: #229f0d !important;
}
.callout.callout-operaciones {
  border-left-color: #0586d0 !important;
}
.callout.callout-legal {
  border-left-color: #b97a57 !important;
}
.bg-correctivos {
  background-color: #bd2130;
  color: honeydew;
}
.bg-preventivos {
  background-color: #d39e00;
  color: honeydew;
}

.border-hidden {
  border: hidden !important;
}
.text-justify {
  text-align: justify;
}
.no-resize {
  resize: none;
}
.no-scroll {
  overflow-y: hidden;
}

.bg-contable {
  background-color: #229f0d;
  color: rgba(255, 255, 255, 0.8);
}
.bg-operaciones {
  background-color: #0586d0;
  color: rgba(255, 255, 255, 0.8);
}
.bg-legal {
  background-color: #b97a57;
  color: rgba(255, 255, 255, 0.8);
}
.card-hover:hover {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2); /* Sombreado al hacer hover */
  transition: box-shadow 0.3s ease; /* Transición suave del sombreado */
}
