 /* You can add global styles to this file, and also import other style files */

.uppercase-table-headers th {
  text-transform: uppercase;
}
.swal2-container {
  z-index: 20000 !important;
}

.pointer {
  cursor: pointer;
}

 /* FUENTES */
body,
table,
label,
input,
textarea,
select {
// font-family: 'IBM Plex Sans', sans-serif !important;
font-family: 'Montserrat' !important;
}

table{
color: black !important; /* Cambia el color de texto a negro */

}

@media (min-width: 320px) {
  .modal-sm {
    width: 100%;
  }
  
  .modal-w-100 {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 576px) {
  .modal-sm {
    width: 80%;
  }
  
  .modal-md {
    width: 100%;
    height: auto;
    max-width: 576px; /* Agregar max-width para mantener la responsividad */
    margin-left: auto; /* Centrar horizontalmente */
    margin-right: auto;
  }
  
  .modal-lg {
    width: 100%;
    max-width: 576px;
  }
  
  .modal-w-100 {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 768px) {
  .modal-sm {
    width: 40%;
  }
  
  .modal-md {
    width: 50%;
    height: auto;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .modal-lg {
    width: 100%;
    max-width: 768px;
  }
  
  .modal-w-100 {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 992px) {
  .modal-sm {
    width: 40%;
  }
  
  .modal-md {
    width: 50%;
    height: auto;
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .modal-lg {
    width: 100%;
    max-width: 992px;
  }
  
  .modal-w-100 {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 1200px) {
  .modal-sm {
    width: 40%;
  }
  
  .modal-md {
    width: 50%;
    height: auto;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .modal-lg {
    width: 100%;
    max-width: 1200px;
  }
  
  .modal-w-100 {
    width: 100%;
    height: auto;
  }
}

.callout.callout-contable {
  border-left-color: #229f0d !important;
}
.callout.callout-operaciones {
  border-left-color: #0586d0 !important;
}
.callout.callout-legal {
  border-left-color: #b97a57 !important;
}
.bg-correctivos {
  background-color: #bd2130;
  color: honeydew;
}
.bg-preventivos {
  background-color: #d39e00;
  color: honeydew;
}


.border-hidden {
  border: hidden !important;
}
.text-justify {
  text-align: justify;
}
.no-resize {
  resize: none;
}
.no-scroll {
  overflow-y: hidden;
}




.bg-contable {
  background-color: #229f0d;
  color: rgba(255, 255, 255, 0.8);
}
.bg-operaciones {
  background-color: #0586d0;
  color: rgba(255, 255, 255, 0.8);
}
.bg-legal {
  background-color: #b97a57;
  color: rgba(255, 255, 255, 0.8);
}

