<p-toast position="top-right" [baseZIndex]="99999" />
<p-table
  #dt
  responsiveLayout="scroll"
  styleClass="custom-table"
  [tableStyle]="{ 'min-width': '50rem' }"
  [value]="data"
  [rows]="15"
  [paginator]="true"
  [rowHover]="true"
  currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 15, 20, 30, 40, 50, 75, 100]"
  [globalFilterFields]="['department', 'tower']"
  [autoLayout]="true"
>
  <ng-template pTemplate="caption">
    <custom-table-caption
      [title]="'Propiedades'"
      (add)="showModalAddOrEdit({ id: 0, title: 'Nuevo Registro' })"
      [dt]="dt"
      [rolAuth]="
        authS.onValidateRoles(['Asistente', 'Administrador', 'SuperUsuario'])
      "
    />
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th
        scope="col"
        style="width: 7%"
        class="text-small"
        pSortableColumn="tower"
      >
        Torre
        <p-sortIcon field="tower" />
      </th>
      <th
        scope="col"
        style="width: 10%"
        class="text-small"
        pSortableColumn="department"
      >
        Departamento
        <p-sortIcon field="department" />
      </th>
      @if ( authS.onValidateRoles([ 'Asistente', 'Administrador', 'SuperUsuario'
      ]) ) {
      <th scope="col" style="width: 5%" class="text-small">Opciones</th>
      }
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td>
        <small>
          {{ item.tower }}
        </small>
      </td>
      <td>
        <small>
          {{ item.department }}
        </small>
      </td>
      @if ( authS.onValidateRoles([ 'Asistente', 'Administrador', 'SuperUsuario'
      ]) ) {
      <td class="p-column-title">
        <div class="d-flex justify-content-center">
          <!-- Componente editar registro -->
          <btn-edit
            (edit)="showModalAddOrEdit({ id: item.id, title: 'Editar' })"
          />
          <!-- Componente editar registro -->
          <!-- Componente eliminar registro -->
          <btn-delete (OnConfirm)="onDelete(item.id)" />
          <!-- Componente eliminar registro -->
        </div>
      </td>
      }
    </tr>
  </ng-template>
  <ng-template pTemplate="paginatorleft">
    <div class="p-d-flex p-ai-center p-jc-between">
      En total hay
      {{ data ? data.length : 0 }} registros.
    </div>
  </ng-template>
</p-table>
