<p-table
  #dt
  [value]="data"
  styleClass="custom-table"
  [globalFilterFields]="['area']"
>
  <ng-template pTemplate="caption">
    <custom-table-caption
      title="INSPECCIONES"
      (add)="onModalAddOrEdit({ id: '', title: 'Nueva Inspección' })"
      [dt]="dt"
    />
  </ng-template>

  <ng-template pTemplate="body" let-item>
    <tr>
      <div class="list-group">
        <div
          class="list-group-item d-flex align-items-center justify-content-between py-1"
        >
          <div
            class="d-flex align-items-center pointer"
            (click)="onViewInspectionDetails(item.id)"
          >
            <h4 class="text-muted me-3">
              {{ item.id }}
            </h4>
            <div>
              <h5 class="mb-0">{{ item.area }}</h5>
              <p class="text-muted">
                <span
                  class="badge p-2 bg-info-subtle text-dark"
                  *ngIf="item.descripcion"
                >
                  {{ item.descripcion }}
                </span>
              </p>
            </div>
          </div>
          <div class="d-flex align-items-center">
            <div class="dropdown">
              <button
                class="btn btn-soft-primary waves-effect waves-light bg-gradient dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                title="Opciones"
              >
                <i class="fa-solid fa-ellipsis-vertical"></i>
              </button>

              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li>
                  <button
                    class="dropdown-item"
                    (click)="onModalAddOrEdit({ id: item.id, title: 'Editar' })"
                    title="Editar"
                  >
                    <i class="fa-solid fa-edit me-2 text-primary"></i>
                    Agregar insp
                  </button>
                </li>
                <li>
                  <button
                    class="dropdown-item"
                    (click)="onModalAddOrEdit({ id: item.id, title: 'Editar' })"
                    title="Editar"
                  >
                    <i class="fa-solid fa-edit me-2 text-primary"></i>
                    Editar
                  </button>
                </li>
                <li>
                  <button
                    class="dropdown-item"
                    (click)="onDeleteInspection(item.id)"
                    title="Eliminar"
                  >
                    <i class="fa-solid fa-trash me-2 text-danger"></i>
                    Eliminar
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex">
        <div
          *ngFor="let inspeccion of item.inspecciones"
          class="list-group-item w-100"
        >
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <h5>{{ inspeccion.actividad }}</h5>
            </div>
          </div>
        </div>
      </div>
    </tr>
  </ng-template>
</p-table>

<style>
  .list-group-item {
    background: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: box-shadow 0.3s;
  }

  .list-group-item:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .rounded-circle {
    object-fit: cover;
  }
</style>
