<div class="card">
  <div class="card-body">
    <form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="form">
      <!-- <div class="form-group row mb-2">
        <label class="col-sm-3">Vacante que cubre</label>
        <div class="col-sm-9">
          <select
            formControlName="positionRequestId"
            class="form-select"
            [ngClass]="{
              'is-invalid':
                f.positionRequestId.invalid &&
                (f.positionRequestId.dirty || f.positionRequestId.touched)
            }"
          >
            <option [value]="null">--Selecciona la vacante que cubre--</option>
            @for (item of cb_vacantes; track item) {
            <option [value]="item.value">
              {{ item.label }}
            </option>
            }
          </select>
          <app-validation-errors-custom-input
            [control]="f.positionRequestId"
            [placeholder]="'vacante'"
          />
        </div>
      </div> -->
      <custom-input-select
        placeholder="--Selecciona la vacante que cubre--"
        [control]="form.get('positionRequestId')"
        formControlName="positionRequestId"
        label="Vacante que cubre"
        [data]="cb_vacantes"
      />
      <custom-input-text
        [hidden]="true"
        [control]="form.get('candidateName')"
        formControlName="candidateName"
        label="Nombre"
        placeholder="Nombre"
      />
      <custom-input-text
        [control]="form.get('employeeId')"
        formControlName="employeeId"
        label="Empleado Id"
        placeholder="Empleado Id"
      />

      <custom-input-select
        [control]="form.get('typeContractRegister')"
        formControlName="typeContractRegister"
        label="Tipo de contrato"
        [data]="cb_typeContractRegister"
      />
      <custom-input-text
        [control]="form.get('boss')"
        formControlName="boss"
        label="Jefe Inmediado"
        placeholder="Jefe Inmediado"
      />
      <custom-input-text
        [control]="form.get('customerAddress')"
        formControlName="customerAddress"
        label="Dirección de trabajo"
        placeholder="dirección de trabajo"
      />
      <custom-input-text-area
        [control]="form.get('additionalInformation')"
        formControlName="additionalInformation"
        label="Comentarios adicionales"
        placeholder="comentarios adicionales"
      />
      <custom-button-send-email [disabled]="this.form.invalid || submitting" />
    </form>
  </div>
</div>
