<div class="card">
  <div class="card-body">
    <form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="form">
      <custom-input-text
        [control]="form.get('professionName')"
        formControlName="professionName"
        label="Puesto"
        placeholder="Puesto"
      ></custom-input-text>
      <custom-input-text
        [control]="form.get('candidateName')"
        formControlName="candidateName"
        label="Nombre"
        placeholder="Nombre"
      ></custom-input-text>
      <!-- <custom-input-select
        [control]="form.get('typeContractRegister')"
        formControlName="typeContractRegister"
        label="Tipo de contrato"
        [data]="cb_typeContractRegister"
      ></custom-input-select> -->
      <div class="form-group row mb-2">
        <label class="col-sm-3">Tipo de contrato</label>
        <div class="col-sm-9">
          <select formControlName="typeContractRegister" class="form-select">
            <option
              *ngFor="let item of cb_typeContractRegister"
              [value]="item.value"
            >
              {{ item.label }}
            </option>
          </select>
        </div>
      </div>
      <custom-input-text
        [control]="form.get('boss')"
        formControlName="boss"
        label="Jefe Inmediado"
        placeholder="Jefe Inmediado"
      ></custom-input-text>
      <custom-input-text
        [control]="form.get('customerAddress')"
        formControlName="customerAddress"
        label="Dirección de trabajo"
        placeholder="dirección de trabajo"
      ></custom-input-text>
      <custom-input-text-area
        [control]="form.get('additionalInformation')"
        formControlName="additionalInformation"
        label="Comentarios adicionales"
        placeholder="comentarios adicionales"
      ></custom-input-text-area>

      <custom-button-send-email
        [disabled]="this.form.invalid || submitting"
      ></custom-button-send-email>
    </form>
  </div>
</div>
