<form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="row">
    <div class="col">
      <div class="form-group row mb-2" hidden>
        <label class="font-weight-normal col-sm-3">Id</label>
        <div class="col-sm-9">
          <input class="form-control" formControlName="id" />
        </div>
      </div>

      <custom-input-date
        [control]="form.get('date')"
        formControlName="date"
        label="Fecha de entrada"
        placeholder="fecha de entrada"
      />
      <custom-input-select
        [control]="form.get('eTypeMeeting')"
        formControlName="eTypeMeeting"
        label="Unidad"
        [data]="cb_typeMeeting"
      />
    </div>
    <div class="mt-1 mb-2">
      <btn-submit [disabled]="this.form.invalid" />
    </div>
  </div>
</form>
<!-- Formulario de minuta -->
@if (id !== 0) {
<div>
  <div class="row">
    <div class="col-sm-4">
      <!-- Fomrulario comité -->
      <app-addoredit-comite [meetingId]="id" [customerId]="customerId" />
      <!-- Fomrulario comité -->
    </div>
    <div class="col-sm-4">
      <!-- Formulario Administración -->
      <app-addoredit-list-administration
        [meetingId]="id"
        [customerId]="customerId"
      />
      <!-- Formulario Administración -->
    </div>
    <div class="col-sm-4">
      <!-- Formulario Administración -->
      <app-addoredit-invited [meetingId]="id" [customerId]="customerId" />
      <!-- Formulario Administración -->
    </div>
  </div>
</div>
}
