<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        @if (loading) {
        <div class="text-center">
          <div class="spinner-grow text-primary m-1" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        }
      </div>
      <div class="col-12">
        <form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="form">
          <div class="form-floating">
            <textarea
              class="form-control"
              placeholder="Ingresa seguimiento"
              id="floatingTextarea2"
              formControlName="description"
              maxlength="200"
              minlength="10"
              style="resize: none"
              [(ngModel)]="seguimientoConst"
              [class.is-invalid]="
                f.description.invalid &&
                (f.description.dirty || f.description.touched)
              "
              (input)="validarCaracteres($event.target)"
            ></textarea>
            <label for="floatingTextarea2">Agregar Seguimiento</label>
          </div>
          <small class="text-danger"
            >Minimo 10 caracteres, maximo 200, restantes
            {{ seguimientoLenght }}</small
          >
          @if ( f.description.invalid && (f.description.dirty ||
          f.description.touched) ) {
          <div class="invalid-feedback">
            @if (f.description.errors.required) {
            <div>description requerida</div>
            }
          </div>
          }
          <div class="float-end mt-2">
            <button class="btn btn-sm btn-primary">Guardar</button>
          </div>
        </form>
      </div>
      <div class="col-12 mt-2">
        @if (description.length > 0) {
        <!-- 1 -->
        <ul class="list-unstyled activity-wid mb-0">
          @for (data of description; track data) {
          <li class="activity-list activity-border">
            <div class="activity-icon avatar-md">
              <span
                class="avatar-title bg-soft-primary text-primary rounded-circle bg-soft-info text-info"
              >
                <i class="fa-light fa-thumbtack"></i>
              </span>
            </div>
            <div class="timeline-list-item">
              <div class="d-flex">
                <div class="flex-grow-1 overflow-hidden me-4">
                  <p class="font-size-12 mb-1">
                    {{ data.applicationUser }} {{ data.createdAt }}
                  </p>
                  <p class="text-justify text-muted font-size-14">
                    {{ data.description }}
                  </p>
                </div>
              </div>
            </div>
          </li>
          }
        </ul>
        } @if (description.length == 0) {
        <em>SIN SEGUIMIENTO</em>
        }
      </div>
    </div>
  </div>
</div>
