<ngx-simplebar class="notifications-container">
  <ng-container *ngIf="messageInNotRead === 0">
    <a
      [routerLink]="['/tickets/my-tickets']"
      class="text-reset notification-item d-flex align-items-center justify-content-center"
    >
      <div class="card shadow-sm border-0 text-center p-3">
        <h6 class="mb-1 text-muted">Sin notificaciones nuevas</h6>
      </div>
    </a>
  </ng-container>

  <a
    *ngFor="let notification of notifications"
    [routerLink]="notification.url"
    class="text-reset notification-item d-flex align-items-start p-3 mb-2 border-bottom"
  >
    <div class="icon-container me-3">
      <i class="fa-solid fa-bell text-primary fa-lg"></i>
    </div>
    <div class="flex-grow-1">
      <h6 class="mb-1 fw-bold">{{ notification.title }}</h6>
      <div class="font-size-13 text-muted">
        <p class="mb-0 text-justify">{{ notification.message }}</p>
        <small class="text-muted">{{ notification.createdAt }}</small>
      </div>
    </div>
  </a>
</ngx-simplebar>

<style>
  .notifications-container {
    overflow-y: auto;
    padding-right: 10px; /* Para evitar que el contenido quede pegado al borde */
  }

  .notification-item {
    transition: background-color 0.2s ease;
    display: flex;
    align-items: flex-start;
  }

  .notification-item:hover {
    background-color: #f8f9fa;
  }

  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* Fijamos un tamaño específico para el icono */
    height: 40px; /* Fijamos un tamaño específico para el icono */
    background-color: #e9ecef;
    border-radius: 50%;
    flex-shrink: 0; /* Evita que el icono se encoja */
  }

  .notification-item .flex-grow-1 {
    flex-grow: 1;
    word-wrap: break-word; /* Asegura que el texto se ajuste y no haga overflow */
  }
</style>
