<div class="container">
  <!-- Título del cliente -->
  <ngb-alert [dismissible]="false" type="primary" class="mb-3">
    MODULOS DE {{ customerName }}
  </ngb-alert>

  <div *ngIf="data.length === 0">
    <p>No se encontraron módulos.</p>
  </div>

  <!-- Mostrar los módulos -->
  <ul class="list-group">
    <li
      *ngFor="let item of data"
      class="list-group-item pointer"
      [class.active]="item.isAssigned"
      (click)="toggleModuleActivation(item)"
    >
      <input
        class="form-check-input me-2"
        type="checkbox"
        [(ngModel)]="item.isAssigned"
        [id]="item.moduleAppId"
      />
      <label
        [for]="item.moduleAppId"
        class="form-check-label pointer"
        (click)="toggleModuleActivation(item)"
        >{{ item.moduleAppName | uppercase }}</label
      >
    </li>
  </ul>
</div>

<style>
  .pointer {
    cursor: pointer;
  }

  .list-group-item {
    margin-top: 2px; /* Reduce el margen superior */
    margin-bottom: 2px; /* Reduce el margen inferior */
    padding: 0.5rem; /* Ajusta el relleno si es necesario */
  }

  .list-group-item.active {
    background-color: #0d3b66; /* Color de fondo activo */
    color: white; /* Color del texto activo */
    font-weight: bold;
  }

  .form-check {
    margin-top: 2px; /* Reduce el margen entre los checkboxes */
    margin-bottom: 2px;
  }

  .form-check-label {
    margin-left: 5px; /* Espaciado entre el checkbox y el texto */
  }
</style>
