<header id="page-topbar">
  <div class="navbar-header">
    <div class="d-flex">
      <!-- LOGO -->
      <div class="navbar-brand-box d-none d-lg-block">
        <a routerLink="/" class="logo logo-light">
          <span class="logo-sm">
            <!-- <img src="assets/images/logo-luxury.jpg" alt="" height="22" /> -->
          </span>
          <span class="logo-lg">
            <!-- <img src="assets/images/logo-luxury.jpg" alt="" height="22" /> -->
            <span class="logo-txt">Luxury App</span>
          </span>
        </a>
      </div>

      <!-- App Search-->
      <button
        type="button"
        class="btn btn-sm px-3 font-size-16 header-item mt-2"
        id="vertical-menu-btn"
        (click)="toggleMobileMenu($event)"
      >
        <i class="fa fa-fw fa-bars"></i>
      </button>
      <button
        type="button"
        class="btn btn-sm px-3 font-size-16 header-item mt-2 d-none d-lg-block"
        ngbTooltip="Anterior"
        placement="bottom-start"
        (click)="onBack()"
      >
        <i class="fa-thin fa-angle-left"></i>
      </button>
      <button
        type="button"
        class="btn btn-sm px-3 font-size-16 header-item mt-2 d-none d-lg-block"
        ngbTooltip="Siguiente"
        placement="bottom-start"
        (click)="onNext()"
      >
        <i class="fa-thin fa-angle-right"></i>
      </button>
      <!-- App Search-->
      <div class="app-search me-1 mt-2">
        <select
          class="form-control form-control-sm"
          [(ngModel)]="customerId"
          (change)="selectCustomer($event.target['value'])"
        >
          <option [value]="item.value" *ngFor="let item of cb_customer">
            <span>
              {{ item.label }}
            </span>
          </option>
        </select>
      </div>
      <form class="app-search d-none d-lg-block mt-2">
        <div class="position-relative" (click)="onModalSearch()">
          <input type="text" class="form-control" placeholder="Buscar..." />
          <button class="btn btn-primary" type="button">
            <i class="fa-duotone fa-magnifying-glass align-middle"></i>
          </button>
        </div>
      </form>
    </div>

    <div class="btn-group d-none d-lg-block" ngbDropdown>
      <button
        type="button"
        class="btn btn-secondary dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        ngbDropdownToggle
      >
        <img class="rounded avatar-sm" [src]="imagenPerfilUrl" alt="user" />
        <span class="d-none d-xl-inline-block ms-1 fw-medium"
          >{{ dataInfo.firstName }} {{ dataInfo.lastName }}</span
        >

        <i class="ms-2 fa-solid fa-caret-down"></i>
      </button>

      <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
        <button disabled class="btn btn-light w-100 waves-effect waves-light">
          {{ dataInfo.profession }}
        </button>
        <div class="dropdown-divider"></div>

        <a
          [routerLink]="['/accounts/actualizar-perfil']"
          class="btn btn-light w-100 waves-effect waves-light dropdown-item"
        >
          <i class="fa-regular fa-key font-size-16 align-middle me-2"></i>
          Cambiar contraseña
        </a>

        <a
          class="btn btn-light w-100 waves-effect waves-light dropdown-item"
          (click)="logout()"
        >
          <i
            class="fa-regular fa-arrow-right-from-bracket font-size-16 align-middle me-2"
          ></i>
          Cerrar Sesión
        </a>
      </div>
    </div>
  </div>
</header>
