<p-toast position="top-right" [baseZIndex]="99999"></p-toast>

<header id="page-topbar">
  <div class="navbar-header">
    <div class="d-flex">
      <!-- START LOGO -->
      <div class="navbar-brand-box d-none d-lg-block">
        <a routerLink="/" class="logo logo-ligth">
          <span class="logo-sm">LA</span>
          <span class="logo-lg">
            <span class="logo-txt">Luxury App</span>
          </span>
        </a>
      </div>
      <!-- END LOGO -->

      <button
        type="button"
        class="btn btn-sm px-3 font-size-16 header-item"
        id="vertical-menu-btn"
        (click)="toggleMobileMenu($event)"
      >
        <i class="fa fa-fw fa-bars"></i>
      </button>

      <app-navigation-icon />

      <app-customer-selection />
      <!-- Start App Search-->

      <app-search />
      <!-- End App Search-->
    </div>
    <div class="d-flex">
      <app-notifications />
      <app-user-profile />
    </div>
  </div>
</header>

<style>
  .text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
