<p-toast position="top-left" [baseZIndex]="99999"></p-toast>
<p class="small text-danger text-left font-italic" *ngIf="mensajeError == true">
  Seleccione producto y unidad
</p>

<p-table
  [(selection)]="data"
  #dt
  styleClass="custom-table"
  [value]="data"
  [rows]="15"
  [paginator]="true"
  [rowHover]="true"
  currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 20, 30, 40, 50, 75, 100]"
  [globalFilterFields]="['producto']"
  [autoLayout]="true"
>
  <ng-template pTemplate="caption">
    <app-table-header
      [title]="'Productos'"
      [dt]="dt"
      (add)="showModalAddOrEdit()"
    ></app-table-header>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th scope="col" pSortableColumn="nombreProducto">
        Imagen
        <p-sortIcon field="nombreProducto"></p-sortIcon>
      </th>
      <th scope="col" pSortableColumn="nombreProducto">
        Descripción
        <p-sortIcon field="nombreProducto"></p-sortIcon>
      </th>
      <th scope="col" pSortableColumn="category">
        Cantidad
        <p-sortIcon field="category"></p-sortIcon>
      </th>
      <th scope="col" pSortableColumn="marca">
        Unidad
        <p-sortIcon field="marca"></p-sortIcon>
      </th>
      <th scope="col" style="width: 5%">Agregar</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td class="p-column-title" style="width: 10%">
        <small>
          <img
            [src]="urlImagenProducto + item.urlImagenProducto"
            alt=""
            width="50%"
          />
        </small>
      </td>
      <td class="p-column-title">
        <small>
          {{ item.producto }}
        </small>
      </td>
      <td class="p-column-title">
        <small>
          <input
            type="number"
            class="form-control form-control-sm"
            [(ngModel)]="item.cantidad"
        /></small>
      </td>
      <td class="p-column-title">
        <small>
          <select
            class="form-control form-control-sm"
            [(ngModel)]="item.unidadMedidaId"
          >
            <option>Selecciona una opción</option>
            <option [value]="item.value" *ngFor="let item of cb_unidadMedida">
              {{ item.label }}
            </option>
          </select>
        </small>
      </td>
      <!-- Opciones -->
      <td class="p-column-title">
        <div class="d-flex justify-content-center">
          <button (click)="onSubmit(item)" class="btn btn-sm btn-primary m-1">
            <span class="fa-thin fa-floppy-disk"></span>
          </button>
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="paginatorleft">
    <app-table-footer [data]="data"></app-table-footer>
  </ng-template>
</p-table>
