@media print {
  .hide-print-mode {
    display: none;
  }
  p-sortIcon,p-columnFilter {
    display: none;
  }
 
  .breakPage {
    break-inside: avoid;
  }
  .page-break {
    page-break-inside: avoid;
  }
}
