<!-- Extra Small (xs): Menos de 576px de ancho.
Small (sm): 576px o más.
Medium (md): 768px o más.
Large (lg): 992px o más.
Extra Large (xl): 1200px o más. -->

<div class="d-none d-md-block">
  <div class="row">
    <!-- Columna Bootstrap: ocupa 8 unidades en pantallas pequeñas (col-sm-8) -->
    <!-- Utiliza una directiva ngClass para aplicar una clase condicionalmente -->
    <div class="col-sm-7" [ngClass]="{ 'col-sm-9': !showAdd || !rolAuth }">
      <!-- Título dinámico utilizando interpolación de datos -->

      <div
        class="page-title-box d-sm-flex align-items-center justify-content-between"
      >
        <h4 class="mb-sm-0">
          {{ title | uppercase }}
        </h4>
      </div>
    </div>
    <!-- Columna Bootstrap: ocupa 3 unidades en pantallas pequeñas (col-sm-3) -->
    <!-- Esta columna se utiliza para el campo de búsqueda y solo se muestra en el modo no imprimible -->
    <div class="col-sm-3 no-print">
      <!-- Utiliza *ngIf para condicionalmente renderizar el input -->
      @if (showSearch || isDataView) {
      <input
        type="text"
        (input)="dt.filterGlobal($any($event.target).value, 'contains')"
        placeholder="Ingresa texto para buscar..."
        class="form-control w-100"
      />
      }
    </div>
    <!-- Columna Bootstrap: ocupa 1 unidad en pantallas pequeñas (col-sm-1) -->
    <!-- Esta columna se utiliza para un botón personalizado de agregar y solo se muestra si showAdd es verdadero y rolAuth es verdadero -->
    <div class="col-sm-2 no-print">
      @if (showAdd && rolAuth) {
      <custom-button
        ngbTooltip="Agregar"
        customClass="btn-primary bg-gradient w-100"
        icon="fa-plus me-2"
        label="Agregar"
        (clicked)="onAdd($event)"
      />
      }
    </div>
  </div>
</div>

<div class="row d-md-none">
  <div class="col-12">
    <div
      class="page-title-box d-sm-flex align-items-center justify-content-between"
    >
      <h4 class="font-size-18">
        {{ title }}
      </h4>
    </div>
  </div>
  <div class="no-print" [ngClass]="showAdd && rolAuth ? 'col-10' : 'col-12'">
    @if (showSearch || isDataView) {
    <input
      type="text"
      (input)="dt.filterGlobal($any($event.target).value, 'contains')"
      placeholder="Ingresa texto para buscar..."
      class="form-control w-100"
    />
    }
  </div>
  @if (showAdd && rolAuth) {
  <div class="col-2">
    <custom-button
      ngbTooltip="Agregar"
      customClass="btn-outline-secondary"
      icon="fa-plus"
      (clicked)="onAdd($event)"
    />
  </div>
  }
</div>
