<p-toast position="top-left" [baseZIndex]="99999"></p-toast>

<ng-container *ngIf="data">
  <div class="card">
    <p-table
      #dt
      [globalFilterFields]="[
        'fullName',
        'userName',
        'profession',
        'customer',
        'email',
        'phoneNumber'
      ]"
      [paginator]="true"
      [rows]="100"
      [rowsPerPageOptions]="[100]"
      [showCurrentPageReport]="true"
      [value]="data"
      currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
      styleClass="custom-table"
    >
      <ng-template pTemplate="caption">
        <app-table-header
          (add)="onCreateAccount()"
          [title]="'Cuentas de acceso '"
          [dt]="dt"
        ></app-table-header>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th style="width: 15%" scope="col" pSortableColumn="customer">
            CLIENTE<p-sortIcon field="customer"></p-sortIcon>
          </th>
          <th style="width: 15%" scope="col" pSortableColumn="userName">
            USUARIO <p-sortIcon field="userName"></p-sortIcon>
          </th>
          <th scope="col" style="width: 25%" pSortableColumn="email">
            CORREO
            <p-sortIcon field="email"></p-sortIcon>
          </th>
          <th scope="col" style="width: 10%">TÉLEFONO</th>
          <th scope="col" style="width: 20%" pSortableColumn="profession">
            CARGO<p-sortIcon field="profession"></p-sortIcon>
          </th>
          <th
            colspan="2"
            scope="col"
            style="width: 15%"
            pSortableColumn="fullName"
          >
            COLABORADOR
            <p-sortIcon field="fullName"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td class="p-column-title">
            {{ item.customer }}
          </td>
          <td class="p-column-title">
            {{ item.userName }}
          </td>
          <td class="p-column-title">
            {{ item.email }}
            <!-- {{ item.email | slice : 0 : 35
        }}{{ item.email.length > 35 ? "..." : "" }} -->
          </td>
          <td class="p-column-title">
            {{ item.phoneNumber | phoneFormat }}
          </td>
          <td class="p-column-title">
            {{ item.profession }}
          </td>
          <td class="p-column-title pointer text-center">
            <img
              *ngIf="item.employeeId === null"
              src="assets/images/no-user.png"
              alt="no employee"
              class="rounded avatar-md pointer"
            />
            <img
              *ngIf="item.employeeId !== null"
              [src]="urlImgApi + item.photoPath"
              alt="..."
              class="rounded avatar-md pointer"
              (click)="onCardEmployee(item.employeeId)"
            />
          </td>

          <td class="p-column-title hide-print-mode">
            <div class="d-flex justify-content-center">
              <custom-button
                ngbTooltip="Datos de correo"
                [customClass]="' btn-sm btn-outline-primary '"
                icon="fa-duotone fa-envelope text-primary"
                (clicked)="onModalEmailData(item.id)"
              ></custom-button>
              <custom-button
                (clicked)="onToBlockAccount(item.id)"
                [customClass]="' btn-sm btn-outline-success '"
                *ngIf="item.active"
                icon="fa-duotone fa-user-lock text-success"
                ngbTooltip="Bloquear"
              ></custom-button>
              <custom-button
                (clicked)="onToUnlockAccount(item.id)"
                [customClass]="' btn-sm btn-outline-danger '"
                *ngIf="!item.active"
                icon="fa-duotone fa-user-check text-danger"
                ngbTooltip="Desbloquear"
              ></custom-button>

              <custom-button-edit
                (edit)="onModalEditAccount(item.id, item.email)"
              ></custom-button-edit>
              <custom-button-delete
                (OnConfirm)="onDelete(item.id)"
              ></custom-button-delete>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft">
        <div class="p-d-flex p-ai-center p-jc-between">
          En total hay
          {{ data ? data.length : 0 }} registros.
        </div>
      </ng-template>
    </p-table>
  </div>
</ng-container>
