<hr />
<div>
  <ul class="list-group">
    <li class="list-group-item active text-center">
      <span> {{ title }}</span>
    </li>
    @for (item of optionMenu; track item) {
    <li
      class="list-group-item d-flex align-items-center justify-content-between pointer"
      *ngIf="item.visible"
      (click)="navigate(item)"
    >
      <div class="d-flex align-items-center">
        <i [class]="item.icon + ' fa-lg me-3 text-primary'"></i>
        <span>{{ item.label }}</span>
      </div>
      <i class="fa fa-chevron-right text-secondary"></i>
    </li>
    }
  </ul>
</div>
