<div class="h3">{{ titulo }}</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th style="width: 20%">Imagen</th>
      <th style="width: 20%">Descripción</th>
      <th style="width: 30%">Especificaciones</th>
      <th style="width: 30%">Observaciones</th>
    </tr>
  </thead>
  <tbody *ngFor="let item of data">
    <tr>
      <td colspan="4">
        <h6 class="card-title">{{ item.ubication }}</h6>
      </td>
    </tr>
    <tr *ngFor="let items of item.items">
      <td>
        <img [src]="base_urlImg + items.photoPath" width="80px" height="60px" />
      </td>
      <td>
        <p class="mb-0">{{ items.ubication }}</p>
        <p class="mb-0">{{ items.nameMachinery }}</p>
        <p class="mb-0">{{ items.brand }}</p>
        <p class="mb-0">{{ items.model }}</p>
      </td>
      <td>
        <p
          class="font-normal mb-0"
          [innerHTML]="items.technicalSpecifications | sanitizeHtml"
        ></p>
      </td>
      <td>{{ items.Observaciones }}</td>
    </tr>
  </tbody>
</table>
