<form autocomplete="off" (ngSubmit)="register()" [formGroup]="form">
  <p class="text-danger card-text">
    Valida con el Administrador del sistema que este
    <strong>COLABORADOR</strong> no este ya en la base de datos, si este
    <strong>COLABORADOR</strong> ha trabajado en otro edificio de GRUPO LUXURY,
    es probable que ya este registrado y solo sea necesario activar el registro
    y asignarlo al edificio de nuevo ingreso (esta tarea la realizaría el
    administrador del sistema)
  </p>

  <custom-input-text
    [control]="form.get('firstName')"
    formControlName="firstName"
    label="Nombre"
    placeholder="nombre"
    (input)="searchExistingPerson($event)"
  ></custom-input-text>

  <custom-input-text
    [control]="form.get('lastName')"
    formControlName="lastName"
    label="Apellidos"
    placeholder="apellidos"
    (input)="searchExistingPerson($event)"
  ></custom-input-text>

  <custom-input-date
    [control]="form.get('birth')"
    formControlName="birth"
    label="Fecha de nacimiento"
    placeholder="fecha de nacimiento"
  ></custom-input-date>

  <custom-input-mask
    [control]="form.get('phoneNumber')"
    formControlName="phoneNumber"
    label="Tél. Celular"
    placeholder="(00) 0000-0000"
    customMask="(00) 0000-0000"
    (input)="searchExistingPhone($event)"
  ></custom-input-mask>

  <custom-input-email
    [control]="form.get('email')"
    formControlName="email"
    label="Email personal"
    placeholder="email personal"
  ></custom-input-email>

  <custom-input-select
    [control]="form.get('professionId')"
    formControlName="professionId"
    label="Profesión"
    [data]="cb_profession"
  ></custom-input-select>

  <!-- img -->
  <div class="form-group row mb-2">
    <label class="col-sm-3 font-weight-lighter">Fotografia</label>

    <div class="col-sm-9">
      <input
        type="file"
        accept="image/png, .jpeg, .jpg"
        class="form-control"
        formControlName="photoPath"
        (change)="change($event)"
      />
      <div
        *ngIf="
          f.photoPath.invalid && (f.photoPath.dirty || f.photoPath.touched)
        "
      >
        <small *ngIf="f.photoPath.errors.required" class="p-error"
          >La foto es reqerida.</small
        >
      </div>
    </div>
  </div>
  <div class="form-group row mb-2">
    <label class="col-sm-3 font-weight-lighter"></label>

    <div class="col-sm-9">
      <img
        [src]="imgBase64"
        *ngIf="imgBase64"
        style="width: 120px; height: 160px"
        alt=""
      />
    </div>
  </div>

  <!-- img -->

  <!-- Boton Submin -->
  <custom-button-submit
    [disabled]="this.form.invalid || submitting"
  ></custom-button-submit>
  <!-- Boton Submin -->
</form>

<p class="text-danger">
  <strong>Coincidencias registradas</strong> , Si hay coincidencias, solicita el
  apoyo del administrador del sistema
</p>

<div class="row">
  <div class="col-4">
    <p class="text-danger">POR NOMBRE:</p>
    <p class="text-danger" *ngFor="let item of existingPerson">{{ item }}</p>
  </div>
  <div class="col-4">
    <p class="text-danger">POR TÉLEFONO:</p>
    <p class="text-danger" *ngFor="let item of existingPhone">{{ item }}</p>
  </div>
</div>
