<!-- <div class="app-search d-none d-lg-block mt-1" style="width: 250">
  <input
    (click)="onModalSearch()"
    type="text"
    class="form-select"
    placeholder="Click para buscar..."
  />
</div> -->

<div class="app-search me-2 mt-1" style="width: 300px">
  <div class="position-relative">
    <input type="text" class="form-select" placeholder="Buscar..." />
    <button class="btn btn-light" type="button">
      <i class="fa-duotone fa-solid fa-magnifying-glass"></i>
    </button>
  </div>
</div>
