<h3 class="h3">Cumpleaños</h3>

<div class="btn-group w-100" role="group" aria-label="Months">
  <button
    *ngFor="let month of months; let i = index"
    type="button"
    class="btn"
    [ngClass]="{
      'btn-soft-primary': selectedMonth === i,
      'btn-soft-info': selectedMonth !== i
    }"
    (click)="onMonthSelect(i)"
  >
    {{ month }}
  </button>
</div>

<div class="mt-5">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-2 mb-3" *ngFor="let item of data">
      <div class="card">
        <div class="card-body">
          <img [src]="item.photo" class="img-fluid" alt="..." />
          <h4 class="card-title text-center">{{ item.title }}</h4>
          <p class="card-text text-center">{{ item.profession }}</p>
          <p class="card-text text-center">{{ item.date }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row">
  <div class="col-12">
    <div class="card mb-lg-0">
      <div class="card-body app-calendar">
        <full-calendar [options]="calendarOptions"></full-calendar>
      </div>
    </div>
  </div>
</div>
<style>
  .slider {
    width: 80%;
    margin: 0 auto;
    position: relative;
  }

  input[type="range"] {
    width: 100%;
  }

  .month {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
  }
</style> -->
