<ng-container *ngIf="horizontal">
  <div class="form-group row mb-2">
    <label class="col-sm-3">{{ label }}</label>
    <div class="col-sm-9">
      <input
        [disabled]="disabled"
        class="form-control flatpickr-input"
        type="date"
        monthSelectorType="dropdown"
        [altInput]="true"
        [convertModelValue]="true"
        mwlFlatpickr
        [value]="value"
        [ngModel]="value"
        (ngModelChange)="onChange($event)"
        flatpickr="{
      dateFormat: 'Y-m-d',
      onChange: handleFlatpickrChange.bind(this)
    }"
        [ngClass]="{
          'is-invalid': control.invalid && (control.dirty || control.touched)
        }"
      />
      <div
        class="invalid-feedback"
        *ngIf="control.invalid && (control.dirty || control.touched)"
      >
        <p *ngIf="control.errors.required">
          El campo {{ placeholder }} es reqerido.
        </p>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="!horizontal">
  <div class="mb-2">
    <label>{{ label }}</label>
    <input
      class="form-control flatpickr-input"
      type="date"
      monthSelectorType="dropdown"
      [disabled]="disabled"
      [altInput]="true"
      [convertModelValue]="true"
      mwlFlatpickr
      [value]="value"
      [ngModel]="value"
      (ngModelChange)="onChange($event)"
      flatpickr="{
      dateFormat: 'Y-m-d',
      onChange: handleFlatpickrChange.bind(this)
    }"
      [ngClass]="{
        'is-invalid': control.invalid && (control.dirty || control.touched)
      }"
    />
    <div
      class="invalid-feedback"
      *ngIf="control.invalid && (control.dirty || control.touched)"
    >
      <p *ngIf="control.errors.required">
        El campo {{ placeholder }} es reqerido.
      </p>
    </div>
  </div>
</ng-container>
