<p-toast position="top-right" [baseZIndex]="99999"></p-toast>

@if (data) {

<div class="card">
  <p-table
    #dt
    [globalFilterFields]="['nameMachinery', 'ubication', 'equipoClasificacion']"
    [paginator]="false"
    [rowHover]="true"
    [rows]="200"
    [rowsPerPageOptions]="[200, 300]"
    [showCurrentPageReport]="true"
    [value]="data"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    dataKey="nameMachinery"
    styleClass="custom-table custom-small-table"
  >
    <ng-template pTemplate="caption">
      <div class="row">
        <div class="col-sm-10">
          <custom-table-caption
            [title]="title"
            (add)="showModalAddoredit({ id: 0, title: 'Nuevo Registro' })"
            [dt]="dt"
            [rolAuth]="
              authS.onValidateRoles([
                'JefeMantenimiento',
                'Administrador',
                'SuperUsuario'
              ])
            "
          />
        </div>
        <div class="col-sm-2">
          <btn-active-desactive
            (activo)="onSelectState(0)"
            (inactivo)="onSelectState(1)"
          />
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th scope="col" style="width: 5%" class="no-print"></th>
        <th scope="col" style="width: 5%">IMG</th>
        <th scope="col" style="width: 20%" pSortableColumn="nameMachinery">
          NOMBRE <p-sortIcon field="nameMachinery"></p-sortIcon>
        </th>
        <th
          scope="col"
          style="width: 20%"
          pSortableColumn="equipoClasificacion"
        >
          SISTEMA <p-sortIcon field="equipoClasificacion"></p-sortIcon>
        </th>
        <th scope="col" style="width: 20%" pSortableColumn="ubication">
          UBICACIÓN <p-sortIcon field="ubication"></p-sortIcon>
        </th>
        @if (this.mostrarPreventivos) { }
        <th
          scope="col"
          style="width: 10%"
          pSortableColumn="maintenanceCalendars"
        >
          SERVICIOS
          <p-sortIcon field="maintenanceCalendars"></p-sortIcon>
        </th>
        <th scope="col" style="width: 10%" class="no-print">OPCIONES</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-expanded="expanded">
      <tr>
        <td class="no-print">
          <button
            type="button"
            [pRowToggler]="item"
            class="btn btn-light btn-sm"
          >
            <i
              [class]="
                expanded
                  ? 'fa-light fa-chevron-down'
                  : 'fa-light fa-chevron-right'
              "
            ></i>
          </button>
        </td>
        <td class="p-column-title">
          <p-image
            [src]="item.photoPath"
            alt="."
            width="70"
            class="shadow-4"
            [preview]="true"
          ></p-image>
        </td>
        <td class="p-column-title">
          {{ item.nameMachinery }}
        </td>
        <td class="p-column-title">
          {{ item.equipoClasificacion }}
        </td>
        <td class="p-column-title">
          {{ item.ubication }}
        </td>
        @if (this.mostrarPreventivos) {
        <td class="p-column-title text-center">
          <span
            class="p-tag p-tag-info"
            [pRowToggler]="item"
            pTooltip="Explorar Servicios"
            >{{ item.maintenanceCalendars }}</span
          >
          <!-- (click)="showModalListOrderService(item.id)" -->
        </td>
        }
        <td class="p-column-title no-print">
          <div class="d-flex justify-content-center">
            <!-- Documentos -->
            <custom-button
              ngbTooltip="Documentos"
              customClass="btn-soft-primary waves-effect waves-light  bg-gradient me-1"
              icon="icon-file"
              (clicked)="onDocumentos(item.id)"
            />
            <!-- Documentos -->
            <!-- Bitacora -->
            <custom-button
              ngbTooltip="Historico de servicios"
              customClass="btn-soft-primary waves-effect waves-light  bg-gradient me-1"
              icon="icon-rectangle-history"
              (clicked)="onServiceHistory(item.id)"
            />
            <custom-button
              ngbTooltip="Bitacora"
              customClass="btn-soft-primary waves-effect waves-light  bg-gradient me-1"
              icon="icon-library"
              (clicked)="onBitacoraIndividual(item.id)"
            />
            <!-- Bitacora -->
            <!-- Ficha tecnica -->
            <custom-button
              ngbTooltip="Ficha técnica"
              customClass="btn-soft-primary waves-effect waves-light  bg-gradient me-1"
              icon="icon-sheet-plastic"
              (clicked)="showModalFichatecnica(item)"
            />
            <!-- Ficha Tecnica -->
            <!-- Editar Role -->
            @if ( authS.onValidateRoles([ 'JefeMantenimiento', 'Administrador',
            'SuperUsuario' ]) ) {
            <btn-edit
              (edit)="
                showModalAddoredit({
                  id: item.id,
                  title: 'Editar regitro ' + item.id
                })
              "
            />
            }
            <!-- Editar Role -->
            <!-- Borrar -->
            @if ( authS.onValidateRoles([ 'JefeMantenimiento', 'Administrador',
            'SuperUsuario' ]) ) {
            <btn-delete (OnConfirm)="onDelete(item.id)" />
            }
            <!-- Borrar -->
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-item>
      <tr>
        <td colspan="7">
          <div class="p-3">
            <p-table [value]="item.maintenanceCalendar" dataKey="id">
              <ng-template pTemplate="header">
                <tr>
                  <th colspan="7">
                    <custom-button
                      ngbTooltip="Agregar un nuevo servicio"
                      [customClass]="'btn-outline-info float-end'"
                      label="Agregar"
                      (clicked)="
                        showModalMaintenanceCalendar({
                          id: 0,
                          task: 'create',
                          machineryId: item.id
                        })
                      "
                    />
                  </th>
                </tr>
                <tr>
                  <th scope="col" pSortableColumn="activity">
                    ACTIVIDAD
                    <p-sortIcon field="activity"></p-sortIcon>
                  </th>
                  <th scope="col" pSortableColumn="nameProvider">
                    PROVEEDOR
                    <p-sortIcon field="nameProvider"></p-sortIcon>
                  </th>
                  <th scope="col" pSortableColumn="recurrence">
                    RECURRENCIA
                    <p-sortIcon field="recurrence"></p-sortIcon>
                  </th>
                  <th scope="col" pSortableColumn="month">
                    MES
                    <p-sortIcon field="month"></p-sortIcon>
                  </th>
                  <th scope="col" pSortableColumn="anio">
                    AÑO
                    <p-sortIcon field="anio"></p-sortIcon>
                  </th>
                  <th scope="col" pSortableColumn="price">
                    COSTO
                    <p-sortIcon field="price"></p-sortIcon>
                  </th>
                  @if ( authS.onValidateRoles([ 'JefeMantenimiento',
                  'Administrador', 'SuperUsuario' ]) ) {
                  <th scope="col" style="width: 10%">OPCIONES</th>
                  }
                </tr></ng-template
              >
              <ng-template pTemplate="body" let-order>
                <tr>
                  <td class="p-column-title">
                    <p
                      class="mr-2 text-justify"
                      [innerHTML]="order.activity | sanitizeHtml"
                    ></p>
                  </td>
                  <td class="p-column-title">
                    {{ order.nameProvider }}
                  </td>
                  <td class="p-column-title">
                    {{ order.recurrence }}
                  </td>
                  <td class="p-column-title">
                    {{ order.month }}
                  </td>
                  <td class="p-column-title">
                    {{ order.anio }}
                  </td>
                  <td class="p-column-title">
                    {{ order.price | CurrencyMexicoPipe }}
                  </td>
                  @if ( authS.onValidateRoles([ 'JefeMantenimiento',
                  'Administrador', 'SuperUsuario' ]) ) {
                  <td class="p-column-title">
                    <div class="d-flex justify-content-center">
                      <!-- Duplicar Servicio -->
                      <custom-button
                        [customClass]="'btn-sm btn-outline-dark'"
                        ngbTooltip="Duplicar Servicio"
                        placement="top"
                        icon="fa-light fa-copy text-dark"
                        (clicked)="
                          showModalMaintenanceCalendar({
                            id: order.id,
                            task: 'copy',
                            machineryId: order.machineryId,
                            header: 'Duplicar Actividad'
                          })
                        "
                      />
                      <!-- Duplicar Servicio -->
                      <!-- Editar  -->
                      <btn-edit
                        (edit)="
                          showModalMaintenanceCalendar({
                            id: order.id,
                            task: 'edit',
                            machineryId: order.machineryId,
                            header: 'Editar Actividad'
                          })
                        "
                      />
                      <!-- Duplicar Servicio -->
                      <!-- Borrar -->
                      <btn-delete (OnConfirm)="onDeleteOrder(order.id)" />
                      <!-- Borrar -->
                    </div>
                  </td>
                  }
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="6">Sin servicios de Mantenimiento.</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <div class="p-d-flex p-ai-center p-jc-between">
        En total hay
        {{ data ? data.length : 0 }} registros.
      </div>
    </ng-template>
  </p-table>
</div>

}
