<p-toast position="top-left" [baseZIndex]="99999"></p-toast>
<p-table
  #dt
  responsiveLayout="scroll"
  styleClass="custom-table"
  [value]="data"
  [rowHover]="true"
  currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
  [showCurrentPageReport]="true"
  [globalFilterFields]="['customer', 'year']"
>
  <ng-template pTemplate="caption">
    <app-table-header
      [title]="'Cedulas Presupuestales'"
      (add)="showModalAddOrEdit({ id: 0, title: 'Nuevo Registro' })"
      [dt]="dt"
      [rolAuth]="authService.onValidateRoles(['SuperUsuario'])"
    ></app-table-header>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th scope="col" style="width: 55%" pSortableColumn="customerId">
        Cliente
        <p-sortIcon field="customerId"></p-sortIcon>
      </th>
      <th scope="col" style="width: 20%" pSortableColumn="anio">
        Periodo Inicial
        <p-sortIcon field="desde"></p-sortIcon>
      </th>
      <th scope="col" style="width: 20%" pSortableColumn="anio">
        Periodo Final
        <p-sortIcon field="hasta"></p-sortIcon>
      </th>
      <th scope="col" style="width: 5%">Opciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td class="p-column-title">
        {{ item.customer }}
      </td>
      <td class="p-column-title">
        {{ item.desde | date }}
      </td>
      <td class="p-column-title">
        {{ item.hasta | date }}
      </td>
      <td class="p-column-title">
        <div class="text-center">
          <i
            class="fa-duotone fa-dollar-sign text-info mx-1 pointer"
            [routerLink]="[
              '/contabilidad/cedula-presupuestal-detalle',
              item.id
            ]"
          ></i>
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="paginatorleft">
    <div class="p-d-flex p-ai-center p-jc-between">
      En total hay
      {{ data ? data.length : 0 }} registros.
    </div>
  </ng-template>
</p-table>
