<p-table
  [value]="data"
  sortField="clasificacion"
  rowGroupMode="subheader"
  groupRowsBy="clasificacion"
  styleClass="custom-table"
>
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
      <app-report-header></app-report-header>
      <h5 class="m-0 h5">Inventario Equipos</h5>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th scope="col" style="width: 1%" class="small">N°</th>
      <th scope="col" style="width: 14%" class="small">Foto</th>
      <th scope="col" style="width: 15%" class="small">Nombre</th>
      <th scope="col" style="width: 15%" class="small">Sistema</th>
      <th scope="col" style="width: 15%" class="small">Ubicación</th>
      <th scope="col" style="width: 10%" class="small">Check</th>
      <th scope="col" style="width: 45%" class="small">Observaciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="groupheader" let-item>
    <tr pRowGroupHeader>
      <td colspan="7">
        <span class="font-bold ml-2">{{ item.clasificacion }}</span>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="groupfooter" let-item>
    <tr class="p-rowgroup-footer">
      <td class="small" colspan="7">
        <div style="text-align: right">
          Total:

          {{ calcularEquiposTotal(item.clasificacion) }}
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
    <tr class="page-break">
      <td class="small">{{ rowIndex + 1 }}</td>
      <td class="small">
        <img
          [src]="base_urlImg + item.foto"
          alt="img"
          width="100"
          class="shadow-4"
        />
      </td>
      <td class="small">{{ item.nombre }}</td>
      <td class="small">{{ item.sistema }}</td>
      <td class="small">{{ item.ubicacion }}</td>
      <td class="small text-center">
        <input type="checkbox" />
      </td>
      <td class="small"></td>
    </tr>
  </ng-template>
</p-table>
