<div class="card">
  <div class="card-body">
    <form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="form">
      <div class="form-group mb-2">
        <label>Solicitud</label>
        <select
          class="form-select"
          formControlName="title"
          (change)="onChangeTitle($event.target.value)"
        >
          <option *ngFor="let item of list" [value]="item.label">
            {{ item.label }}
          </option>
        </select>
      </div>
      @if (tipoSolicitud === 1) {
      <custom-input-text
        [control]="form.get('provider')"
        formControlName="provider"
        label="1.3  Proveedor:"
        placeholder="1.3  Proveedor:"
        [horizontal]="false"
      ></custom-input-text>
      <div class="form-group mb-2">
        <label>1.5   Doctos enviados por mail</label>
        <select class="form-select" formControlName="documentCloud">
          <option [value]="true">Sí</option>
          <option [value]="false">No</option>
        </select>
      </div>

      <div>
        <h2>Requisitos documentales:</h2>

        <h3>1. En caso de tratarse de persona moral:</h3>
        <ul>
          <li><input type="checkbox" checked /> Acta Constitutiva</li>
          <li>
            <input type="checkbox" /> Poder Notarial del Representante Legal (Si
            ya se contiene en el Acta Constitutiva, con ella es suficiente)
          </li>
          <li>
            <input type="checkbox" /> Identificación Oficial del representante
            legal
          </li>
          <li><input type="checkbox" /> Registro Federal de Contribuyentes</li>
          <li><input type="checkbox" /> Comprobante de Domicilio</li>
        </ul>

        <h3>2. En caso de tratarse de persona física:</h3>
        <ul>
          <li><input type="checkbox" checked /> Identificación Oficial</li>
          <li><input type="checkbox" /> Registro Federal de Contribuyentes</li>
          <li>
            <input type="checkbox" /> Clave Única de Registro de Población
          </li>
          <li><input type="checkbox" /> Comprobante de domicilio</li>
        </ul>

        <h3>3. En ambos casos:</h3>
        <ul>
          <li>
            <input type="checkbox" checked /> En caso de que el proveedor ya
            cuente con un formato de contrato a través del cuál preste
            regularmente sus servicios, agregarlo.
          </li>
          <li>
            <input type="checkbox" /> Los proveedores que ya cuenten con
            contrato firmado en el año anterior y que pierda vigencia en el
            presente año, únicamente firmarán Convenio Modificatorio, en el que,
            manteniéndose sus alcances de servicio, únicamente sufran cambios en
            cuánto a precio y vigencia.
          </li>
        </ul>
      </div>

      } @if (tipoSolicitud === 2) {
      <custom-input-text
        [control]="form.get('provider')"
        formControlName="provider"
        label="2.3  Proveedor:"
        placeholder="2.3  Proveedor:"
        [horizontal]="false"
      ></custom-input-text>

      <div class="form-group mb-2">
        <label>2.5  Contrato y doctos enviados por mail</label>
        <select class="form-select" formControlName="documentCloud">
          <option [value]="true">Sí</option>
          <option [value]="false">No</option>
        </select>
      </div>
      } @if (tipoSolicitud === 3) {
      <custom-input-date
        [control]="form.get('fechaAsamblea')"
        formControlName="fechaAsamblea"
        label="3.3 Fecha de asamblea"
        placeholder="3.3 Fecha de asamblea"
        [horizontal]="false"
      ></custom-input-date>

      <custom-input-text-area
        [control]="form.get('request')"
        formControlName="request"
        label="3.4 Puntos de la orden del día"
        placeholder="3.4 Puntos de la orden del día"
        [horizontal]="false"
      ></custom-input-text-area>

      } @if (tipoSolicitud === 4) {

      <custom-input-date
        [control]="form.get('fechaJunta')"
        formControlName="fechaJunta"
        label="4.3 Fecha de junta:"
        placeholder="4.3 Fecha de junta:"
        [horizontal]="false"
      ></custom-input-date>

      <div class="mb-2">
        <label class="form-label">4.4Hora:</label>
        <input
          class="form-control flatpickr-input"
          formControlName="horaJunta"
          type="text"
          mwlFlatpickr
          [noCalendar]="true"
          [enableTime]="true"
          [dateFormat]="'H:i'"
        />
      </div>
      <custom-input-text-area
        [control]="form.get('request')"
        formControlName="request"
        label="4.5 Tema"
        placeholder="4.5 Tema"
        [horizontal]="false"
      ></custom-input-text-area>
      } @if (tipoSolicitud === 5) {

      <custom-input-text
        [control]="form.get('condomino')"
        formControlName="condomino"
        label="5.3   Condomino:"
        placeholder="5.3   Condomino:"
        [horizontal]="false"
      ></custom-input-text>
      <div class="form-group mb-2">
        <label
          >5.4 Informacion enviada por mail: (reporte de auxiliares al mes
          corriente, nombre completo, número de depto, acciones tomadas,
          antecedentes.</label
        >
        <select class="form-select" formControlName="documentCloud">
          <option [value]="true">Sí</option>
          <option [value]="false">No</option>
        </select>
      </div>

      } @if (tipoSolicitud === 6) {
      <custom-input-text-area
        [control]="form.get('request')"
        formControlName="request"
        label="6.3 Asunto:"
        placeholder="6.3 Asunto:"
        [horizontal]="false"
      ></custom-input-text-area>

      } @if (tipoSolicitud === 7) {
      <custom-input-text-area
        [control]="form.get('request')"
        formControlName="request"
        label="7.3 Asunto:"
        placeholder="7.3 Asunto:"
        [horizontal]="false"
      ></custom-input-text-area>
      <div class="form-group mb-2">
        <label>7.4 Mail con información detallada</label>
        <select class="form-select" formControlName="documentCloud">
          <option [value]="true">Sí</option>
          <option [value]="false">No</option>
        </select>
      </div>
      }
      <!-- Solamente visible para administrador -->
      @if(auhtService.onValidateRoles(['SuperUsuario'])||professionId==44){
      <div class="form-group mb-2">
        <label>Estatus</label>
        <select class="form-select" formControlName="status">
          <option [value]="0">Pendiente</option>
          <option [value]="1">Concluido</option>
          <option [value]="3">Proceso</option>
          <option [value]="4">Cancelado</option>
        </select>
      </div>
      <div class="form-group mb-2">
        <label>Responsable</label>
        <select class="form-select" formControlName="personResponsibleId">
          <option *ngFor="let item of employee" [value]="item.value">
            {{ item.label }}
          </option>
        </select>
      </div>

      <custom-input-date
        [control]="form.get('completionDate')"
        formControlName="completionDate"
        label="Fecha Termino:"
        placeholder="Fecha Termino:"
        [horizontal]="false"
      ></custom-input-date>
      }

      <custom-button-submit [disabled]="this.form.invalid || submitting" />
    </form>
  </div>
</div>
