<p-toast position="bottom-left" [baseZIndex]="99999" />
@if (data) {
<div class="card">
  <table class="custom-table">
    <thead>
      <tr>
        <th scope="col">Folio</th>
        <th scope="col">Fecha de solicitud</th>
        <th scope="col">Puesto</th>
        <th scope="col">Fecha de baja</th>
        <th scope="col">Excolaborador</th>
        <th scope="col">Télefono</th>
        <th scope="col">Tipo de baja</th>
        <th scope="col">Motivo de baja</th>
        <th scope="col">Colaborador enterado</th>
        <th scope="col">Se solicita abogado</th>
        @if ( authS.onValidateRoles(['SuperUsuario', 'Reclutamiento']) ) {
        <th scope="col"></th>
        }
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ data.folio }}</td>
        <td>{{ data.requestDate }}</td>
        <td>{{ data.profession }}</td>
        <td>{{ data.executionDate }}</td>
        <td>
          {{ data.employee }}
        </td>
        <td>{{ data.employeePhone | phoneFormat }}</td>
        <td>{{ data.tipoBaja }}</td>
        <td>{{ data.reasonForLeaving }}</td>
        <td>
          {{ data.employeeInformed ? "Si" : "No" }}
        </td>
        <td>
          {{ data.lawyerAssistance ? "Si" : "No" }}
        </td>
        @if ( authS.onValidateRoles(['SuperUsuario', 'Reclutamiento']) ) {
        <td>
          <div class="d-flex justify-content-end">
            <btn-edit
              (edit)="onModalAddOrEdit({ id: data.id, title: 'Editar' })"
            />
            <btn-delete (OnConfirm)="onDelete(data.id)" />
          </div>
        </td>
        }
      </tr>
    </tbody>
  </table>
</div>
<div class="row">
  <div class="col-6">
    <h3>Lista de descuentos</h3>
    <ul class="list-unstyle">
      @for (item of data.discounts; track item) {
      <li class="list-group-item">
        <div class="row">
          <div class="col-9">
            <!-- <strong>ID:</strong> {{ item.id }}<br /> -->
            <strong>Descripción:</strong> {{ item.description }}<br />
            <strong>Descuento:</strong> {{ item.discount }}
          </div>
          @if ( authS.onValidateRoles(['SuperUsuario', 'Reclutamiento']) ) {
          <div class="col-3">
            <div class="d-flex justify-content-end">
              <btn-edit
                (edit)="
                  onModalAddOrEditDiscounts({
                    id: item.id,
                    title: 'Editar'
                  })
                "
              />
              <btn-delete (OnConfirm)="onDeleteDiscounts(item.id)" />
            </div>
          </div>
          }
        </div>
        <hr />
      </li>
      }
    </ul>
  </div>
</div>
}
