<!-- <p-toast position="top-left" [baseZIndex]="99999"></p-toast> -->
<div class="card p-2">
  <ngb-alert [dismissible]="false" type="primary">Permisos</ngb-alert>
  @for (item of roles; track item) {
  <div class="form-check pointer">
    <input
      class="form-check-input pointer"
      type="checkbox"
      [ngModel]="item.isSelected"
      [checked]="item.isSelected"
      [id]="item.roleId"
      (change)="item.isSelected = !item.isSelected"
      (change)="updateRole(item)"
    />
    <label class="form-check-label font-ligth pointer" [for]="item.roleId">
      {{ item.roleName | uppercase }}
    </label>
  </div>
  }
</div>
