<p-toast position="top-left" [baseZIndex]="99999"></p-toast>

<div class="card">
  <div class="card-header">
    <ngb-alert [dismissible]="false" type="primary"
      >Cambiar Contraseña!
    </ngb-alert>
  </div>
  <div class="card-body">
    <form
      class="mt-2"
      autocomplete="off"
      [formGroup]="formUpdatePassword"
      (ngSubmit)="updatePassword()"
    >
      <div class="form-group row mb-2">
        <label class="col-font-weight-lighter font-weight-lighter col-sm-4"
          >Contraseña actual</label
        >
        <div class="col-sm-8">
          <input
            type="password"
            formControlName="currentPassword"
            class="form-control"
            [class.is-invalid]="
              f.currentPassword.invalid &&
              (f.currentPassword.dirty || f.currentPassword.touched)
            "
          />
          <div
            *ngIf="
              f.currentPassword.invalid &&
              (f.currentPassword.dirty || f.currentPassword.touched)
            "
            class="text-danger"
          >
            <small *ngIf="f.currentPassword.errors.required">
              El password es requerido
            </small>
          </div>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-font-weight-lighter font-weight-lighter col-sm-4"
          >Nueva Contraseña</label
        >
        <div class="col-sm-8">
          <input
            type="password"
            formControlName="newPassword"
            class="form-control"
            [class.is-invalid]="
              f.newPassword.invalid &&
              (f.newPassword.dirty || f.newPassword.touched)
            "
          />
          <div
            *ngIf="
              f.newPassword.invalid &&
              (f.newPassword.dirty || f.newPassword.touched)
            "
            class="text-danger"
          >
            <small *ngIf="f.newPassword.errors.required">
              El password es requerido
            </small>
            <small *ngIf="f.newPassword.errors.passwordValidation">
              {{ f.newPassword.errors.passwordValidation.message }}
            </small>
          </div>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-font-weight-lighter font-weight-lighter col-sm-4"
          >Confirmar Contraseña</label
        >
        <div class="col-sm-8">
          <input
            type="password"
            formControlName="confirm"
            class="form-control"
            [class.is-invalid]="
              f.confirm.invalid && (f.confirm.dirty || f.confirm.touched)
            "
          />
          <small *ngIf="passwordNotValid()" class="text-danger"
            >La contraseña y la contraseña de confirmación no coinciden.</small
          >
        </div>
      </div>

      <custom-button-submit
        [disabled]="formUpdatePassword.invalid || submitting"
      ></custom-button-submit>
    </form>
  </div>
</div>
