<div class="text-center" *ngIf="!data || data.length === 0">
  <div class="spinner-border text-primary m-1" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<!-- Contenedor principal -->
<div class="container mt-4" *ngIf="data">
  <div class="row">
    <!-- Iterar sobre los clientes -->
    <div class="col-12" *ngFor="let item of data">
      <!-- Tarjeta para cada cliente -->
      <ul
        class="list-group shadow-sm pointer border border-success mt-1 mb-1"
        [routerLink]="[
          '/settings/module-app-rol-update',
          item.roleId,
          item.roleName
        ]"
      >
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          <div class="role-name">
            <h5 class="h5">{{ item.roleName }}</h5>
          </div>

          <!-- Botón con el contador de módulos -->
          <button
            class="btn btn-soft-primary waves-effect waves-light bg-gradient"
          >
            {{ item.modules }} Modulos
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
