<button
  ngbTooltip="Editar"
  placement="top"
  type="button"
  class="mr-1 btn btn-info"
  (click)="onModalFormUploadDoc(machineryId)"
>
  Cargar Documentos
</button>
<hr />
@if (data) {
<div>
  <div class="row">
    @for (item of data; track item) {
    <div class="col-1">
      <div class="card-body p-1 text-center border-1">
        <a [href]="url + item.document" class="p-1">
          <i class="fa-light fa-file-pdf text-danger fa-2x"></i><br />
          <span class="text-truncate">
            {{ item.document }}
          </span>
        </a>
        <custom-button-delete (OnConfirm)="onDelete(item.id)" />
      </div>
    </div>
    }
  </div>
</div>
}
