<p-toast position="top-right" [baseZIndex]="99999"></p-toast>
<!--
<div class="row">
  @for (item of dataCard; track $index) {

  <h1>{{ item.equipoClasificacion }}</h1>

  @for (machinery of item.machinery; track $index) {
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header text-center">
        <h4 class="card-title">
          {{ machinery.nameMachinery }}
        </h4>
      </div>
      <div class="card-body">
        <img
          [src]="base_urlImg + machinery.photoPath"
          alt="."
          class="shadow-4 img-fluid"
        />
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center">
          <custom-button
            ngbTooltip="Documentos"
            [customClass]="'btn-sm btn-outline-danger'"
            icon="fa-regular fa-file-pdf"
            (clicked)="onDocumentos(machinery.id)"
          />

          <custom-button
            ngbTooltip="Historico de servicios"
            [customClass]="'btn-sm btn-outline-primary'"
            icon="fa-regular fa-swatchbook"
            (clicked)="onServiceHistory(machinery.id)"
          />
          <custom-button
            ngbTooltip="Bitacora"
            [customClass]="'btn-sm btn-outline-warning'"
            icon="fa-regular fa-book-open"
            (clicked)="onBitacoraIndividual(machinery.id)"
          />

          <custom-button
            ngbTooltip="Ficha técnica"
            [customClass]="'btn-sm btn-outline-primary'"
            icon="fa-regular fa-book"
            (clicked)="showModalFichatecnica(machinery)"
          />

          @if ( authService.onValidateRoles([ 'Mantenimiento', 'Residente',
          'SuperUsuario' ]) ) {
          <custom-button-edit
            (edit)="
              showModalAddoredit({
                id: machinery.id,
                title: 'Editar regitro ' + machinery.id
              })
            "
         />
          }

          @if ( authService.onValidateRoles([ 'Mantenimiento', 'Residente',
          'SuperUsuario' ]) ) {
          <custom-button-delete
            (OnConfirm)="onDelete(machinery.id)"
          />
          }
        </div>
      </div>
    </div>
  </div>
  } }
</div> -->
<!-- equipos -->
@if (data) {

<div class="card">
  <p-table
    #dt
    [globalFilterFields]="['nameMachinery', 'ubication', 'equipoClasificacion']"
    [paginator]="false"
    [rowHover]="true"
    [rows]="200"
    [rowsPerPageOptions]="[200, 300]"
    [showCurrentPageReport]="true"
    [value]="data"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    dataKey="nameMachinery"
    styleClass="custom-table custom-small-table"
  >
    <ng-template pTemplate="caption">
      <div class="row">
        <div class="col-sm-10">
          <app-table-header
            [title]="title"
            (add)="showModalAddoredit({ id: 0, title: 'Nuevo Registro' })"
            [dt]="dt"
            [rolAuth]="
              authService.onValidateRoles([
                'Mantenimiento',
                'Residente',
                'SuperUsuario'
              ])
            "
          />
        </div>
        <div class="col-sm-2">
          <custom-button-active-desactive
            (activo)="onSelectState(0)"
            (inactivo)="onSelectState(1)"
          ></custom-button-active-desactive>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th scope="col" style="width: 5%" class="hide-print-mode"></th>
        <th scope="col" style="width: 5%">IMG</th>
        <th scope="col" style="width: 20%" pSortableColumn="nameMachinery">
          NOMBRE <p-sortIcon field="nameMachinery"></p-sortIcon>
        </th>
        <th
          scope="col"
          style="width: 20%"
          pSortableColumn="equipoClasificacion"
        >
          SISTEMA <p-sortIcon field="equipoClasificacion"></p-sortIcon>
        </th>
        <th scope="col" style="width: 20%" pSortableColumn="ubication">
          UBICACIÓN <p-sortIcon field="ubication"></p-sortIcon>
        </th>
        @if (this.mostrarPreventivos) { }
        <th
          scope="col"
          style="width: 10%"
          pSortableColumn="maintenanceCalendars"
        >
          SERVICIOS
          <p-sortIcon field="maintenanceCalendars"></p-sortIcon>
        </th>
        <th scope="col" style="width: 10%" class="hide-print-mode">OPCIONES</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-expanded="expanded">
      <tr>
        <td class="hide-print-mode">
          <button
            type="button"
            [pRowToggler]="item"
            class="btn btn-light btn-sm"
          >
            <i
              [class]="
                expanded
                  ? 'fa-regular fa-chevron-down'
                  : 'fa-regular fa-chevron-right'
              "
            ></i>
          </button>
        </td>
        <td class="p-column-title">
          <p-image
            [src]="base_urlImg + item.photoPath"
            alt="."
            width="70"
            class="shadow-4"
            [preview]="true"
          ></p-image>
        </td>
        <td class="p-column-title">
          {{ item.nameMachinery }}
        </td>
        <td class="p-column-title">
          {{ item.equipoClasificacion }}
        </td>
        <td class="p-column-title">
          {{ item.ubication }}
        </td>
        @if (this.mostrarPreventivos) {
        <td class="p-column-title text-center">
          <span
            class="p-tag p-tag-info"
            [pRowToggler]="item"
            pTooltip="Explorar Servicios"
            >{{ item.maintenanceCalendars }}</span
          >
          <!-- (click)="showModalListOrderService(item.id)" -->
        </td>
        }
        <td class="p-column-title hide-print-mode">
          <div class="d-flex justify-content-center">
            <!-- Documentos -->
            <custom-button
              ngbTooltip="Documentos"
              [customClass]="'btn-sm btn-outline-danger'"
              icon="fa-regular fa-file-pdf"
              (clicked)="onDocumentos(item.id)"
            />
            <!-- Documentos -->
            <!-- Bitacora -->
            <custom-button
              ngbTooltip="Historico de servicios"
              [customClass]="'btn-sm btn-outline-primary'"
              icon="fa-regular fa-swatchbook"
              (clicked)="onServiceHistory(item.id)"
            />
            <custom-button
              ngbTooltip="Bitacora"
              [customClass]="'btn-sm btn-outline-warning'"
              icon="fa-regular fa-book-open"
              (clicked)="onBitacoraIndividual(item.id)"
            />
            <!-- Bitacora -->
            <!-- Ficha tecnica -->
            <custom-button
              ngbTooltip="Ficha técnica"
              [customClass]="'btn-sm btn-outline-primary'"
              icon="fa-regular fa-book"
              (clicked)="showModalFichatecnica(item)"
            />
            <!-- Ficha Tecnica -->
            <!-- Editar Role -->
            @if ( authService.onValidateRoles([ 'Mantenimiento', 'Residente',
            'SuperUsuario' ]) ) {
            <custom-button-edit
              (edit)="
                showModalAddoredit({
                  id: item.id,
                  title: 'Editar regitro ' + item.id
                })
              "
            />
            }
            <!-- Editar Role -->
            <!-- Borrar -->
            @if ( authService.onValidateRoles([ 'Mantenimiento', 'Residente',
            'SuperUsuario' ]) ) {
            <custom-button-delete (OnConfirm)="onDelete(item.id)" />
            }
            <!-- Borrar -->
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-item>
      <tr>
        <td colspan="7">
          <div class="p-3">
            <p-table [value]="item.maintenanceCalendar" dataKey="id">
              <ng-template pTemplate="header">
                <tr>
                  <th colspan="7">
                    <custom-button
                      ngbTooltip="Agregar un nuevo servicio"
                      [customClass]="'btn-outline-info float-end'"
                      label="Agregar"
                      (clicked)="
                        showModalMaintenanceCalendar({
                          id: 0,
                          task: 'create',
                          machineryId: item.id
                        })
                      "
                    />
                  </th>
                </tr>
                <tr>
                  <th scope="col" pSortableColumn="activity">
                    ACTIVIDAD
                    <p-sortIcon field="activity"></p-sortIcon>
                  </th>
                  <th scope="col" pSortableColumn="nameProvider">
                    PROVEEDOR
                    <p-sortIcon field="nameProvider"></p-sortIcon>
                  </th>
                  <th scope="col" pSortableColumn="recurrence">
                    RECURRENCIA
                    <p-sortIcon field="recurrence"></p-sortIcon>
                  </th>
                  <th scope="col" pSortableColumn="month">
                    MES
                    <p-sortIcon field="month"></p-sortIcon>
                  </th>
                  <th scope="col" pSortableColumn="anio">
                    AÑO
                    <p-sortIcon field="anio"></p-sortIcon>
                  </th>
                  <th scope="col" pSortableColumn="price">
                    COSTO
                    <p-sortIcon field="price"></p-sortIcon>
                  </th>
                  @if ( authService.onValidateRoles([ 'Mantenimiento',
                  'Residente', 'SuperUsuario' ]) ) {
                  <th scope="col" style="width: 10%">OPCIONES</th>
                  }
                </tr></ng-template
              >
              <ng-template pTemplate="body" let-order>
                <tr>
                  <td class="p-column-title">
                    <p
                      class="mr-2 text-justify"
                      [innerHTML]="order.activity | sanitizeHtml"
                    ></p>
                  </td>
                  <td class="p-column-title">
                    {{ order.nameProvider }}
                  </td>
                  <td class="p-column-title">
                    {{ order.recurrence }}
                  </td>
                  <td class="p-column-title">
                    {{ order.month }}
                  </td>
                  <td class="p-column-title">
                    {{ order.anio }}
                  </td>
                  <td class="p-column-title">
                    {{ order.price | CurrencyMexicoPipe }}
                  </td>
                  @if ( authService.onValidateRoles([ 'Mantenimiento',
                  'Residente', 'SuperUsuario' ]) ) {
                  <td class="p-column-title">
                    <div class="d-flex justify-content-center">
                      <!-- Duplicar Servicio -->
                      <custom-button
                        [customClass]="'btn-sm btn-outline-dark'"
                        ngbTooltip="Duplicar Servicio"
                        placement="top"
                        icon="fa-regular fa-copy text-dark"
                        (clicked)="
                          showModalMaintenanceCalendar({
                            id: order.id,
                            task: 'copy',
                            machineryId: order.machineryId,
                            header: 'Duplicar Actividad'
                          })
                        "
                      />
                      <!-- Duplicar Servicio -->
                      <!-- Editar  -->
                      <custom-button-edit
                        (edit)="
                          showModalMaintenanceCalendar({
                            id: order.id,
                            task: 'edit',
                            machineryId: order.machineryId,
                            header: 'Editar Actividad'
                          })
                        "
                      />
                      <!-- Duplicar Servicio -->
                      <!-- Borrar -->
                      <custom-button-delete
                        (OnConfirm)="onDeleteOrder(order.id)"
                      />
                      <!-- Borrar -->
                    </div>
                  </td>
                  }
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="6">Sin servicios de Mantenimiento.</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <div class="p-d-flex p-ai-center p-jc-between">
        En total hay
        {{ data ? data.length : 0 }} registros.
      </div>
    </ng-template>
  </p-table>
</div>

}
