<div class="main-content container g-3">
  <div class="row mt-1">
    <div class="col-6 col-md-4 col-lg-3">
      <div class="card shadow text-center custom-tab mb-1">
        <div class="card-body">
          <i class="fa-duotone text-primary fa-calendar-alt fa-3x mb-3"></i>
          <h6 class="card-title">Reservas</h6>
        </div>
      </div>
    </div>

    <div class="col-6 col-md-4 col-lg-3">
      <div class="card shadow text-center custom-tab mb-1">
        <div class="card-body">
          <i class="fa-duotone text-primary fa-box fa-3x mb-3"></i>
          <h6 class="card-title">Paquetería</h6>
        </div>
      </div>
    </div>

    <div class="col-6 col-md-4 col-lg-3">
      <div class="card shadow text-center custom-tab mb-1">
        <div class="card-body">
          <i class="fa-duotone text-primary fa-envelope fa-3x mb-3"></i>
          <h6 class="card-title">Solicitudes</h6>
        </div>
      </div>
    </div>

    <div class="col-6 col-md-4 col-lg-3">
      <div class="card shadow text-center custom-tab mb-1">
        <div class="card-body">
          <i class="fa-duotone text-primary fa-books fa-3x mb-3"></i>
          <h6 class="card-title">Biblioteca</h6>
        </div>
      </div>
    </div>

    <div class="col-6 col-md-4 col-lg-3">
      <div class="card shadow text-center custom-tab mb-1">
        <div class="card-body">
          <i class="fa-duotone text-primary fa-calendar fa-3x mb-3"></i>
          <h6 class="card-title">Calendarios</h6>
        </div>
      </div>
    </div>

    <div class="col-6 col-md-4 col-lg-3">
      <div class="card shadow text-center custom-tab mb-1">
        <div class="card-body">
          <i class="fa-duotone text-primary fa-qrcode fa-3x mb-3"></i>
          <h6 class="card-title">QR</h6>
        </div>
      </div>
    </div>

    <div class="col-6 col-md-4 col-lg-3">
      <div class="card shadow text-center custom-tab mb-1">
        <div class="card-body">
          <i class="fa-duotone text-primary fa-bullhorn fa-3x mb-3"></i>
          <h6 class="card-title">Comunicados</h6>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
      <div class="card shadow text-center custom-tab mb-1">
        <div class="card-body">
          <i class="fa-duotone text-primary fa-dollar-sign fa-3x mb-3"></i>
          <h6 class="card-title">Informe Financiero</h6>
        </div>
      </div>
    </div>
  </div>
</div>

<footer
  class="footer bg-light fixed-bottom text-center py-3 border-top shadow-sm"
>
  <div class="row row-cols-3">
    <div class="col">
      <i class="fa-thin fa-home fa-2x text-primary mb-2"></i>
      <p class="small mb-0 text-dark">Inicio</p>
    </div>
    <div class="col">
      <i class="fa-thin fa-address-book fa-2x text-primary mb-2"></i>
      <p class="small mb-0 text-dark">Directorios</p>
    </div>
    <div class="col">
      <i class="fa-thin fa-bell fa-2x text-primary mb-2"></i>
      <p class="small mb-0 text-dark">Notificaciones</p>
    </div>
    <!-- Agrega más columnas si es necesario -->
  </div>
</footer>
<style>
  .notification-icon {
    display: inline-block;
  }

  .notification-icon .badge {
    font-size: 0.8rem;
    width: 1.2rem;
    height: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; /* Hace el contador redondo */
  }

  /* Estilos de body */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  /* Contenido principal con espacio para footer */
  .main-content {
    flex: 1;
    overflow-y: auto;
    padding-top: 3.5rem; /* Ajusta según la altura del header */
    padding-bottom: 3.5rem; /* Ajusta según la altura del footer */
  }

  /* Footer fijo */
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    height: auto;
  }

  .custom-tab {
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .custom-tab:hover {
    transform: scale(1.1);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
  }

  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    color: #343a40; /* Cambia a otro color si es necesario */
  }

  .card-body i {
    font-size: 3rem; /* Aumenta el tamaño de los íconos */
  }
</style>
