<p-toast position="top-right" [baseZIndex]="99999"></p-toast>

<div class="auth-bg pt-md-5 p-4 d-flex">
  <div class="container-fluid p-0">
    <div class="row g-0 justify-content-center align-items-center">
      <div class="bg-overlay bg-primary"></div>
      <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <!-- Añade las clases para centrar vertical y horizontalmente -->
      <div class="col-12 col-md-6 mt-4">
        <br />
        <br />
        <br />
        <br />
        <br />
        <!-- Usa col-12 para ocupar todo el ancho en dispositivos pequeños -->
        <div class="bg-white p-5 rounded shadow">
          <div class="auth-content">
            <div class="text-center">
              <h2 class="h2 mb-0">Recuparar Contraseña</h2>
            </div>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <custom-input-text
                [control]="form.get('email')"
                [horizontal]="false"
                formControlName="email"
                label="Correo Electrónico"
                placeholder="Correo Electrónico"
              />

              <div class="mt-0 d-grid">
                <custom-button
                  customClass="btn-primary  w-100"
                  label="Enviar"
                  type="submit"
                />
              </div>
            </form>
            <br />
            @if (errorMessage) {

            <ngb-alert [dismissible]="false" type="danger">
              {{ errorMessage }}
            </ngb-alert>
            } @if (successMessage) {

            <ngb-alert [dismissible]="false" type="success">
              {{ successMessage }}
            </ngb-alert>
            }
            <br />
            <a [routerLink]="['/auth/login']"> Iniciar Sesión </a>
            <!-- Este es tu contenido de inicio de sesión -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
