<p-toast position="top-right" [baseZIndex]="99999" />

<div class="auth-page">
  <div class="container-fluid p-0">
    <div class="row g-0">
      <div class="col-xxl-3 col-lg-4 col-md-5">
        <div class="auth-full-page-content d-flex p-sm-5 p-4">
          <div class="w-100">
            <div class="d-flex flex-column h-100">
              <div class="mb-4 mb-md-5 text-center logo-container">
                <a routerLink="/" class="d-block auth-logo">
                  <!-- <span class="logo-txt">LuxuryApp</span> -->
                </a>
              </div>
              <img src="assets/images/logo-sm.svg" alt="" height="120" />

              <div class="auth-content">
                <div class="text-center">
                  <h5 class="mb-0">Recuperar contraseña</h5>
                </div>
                <br />
                <br />
                <br />
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                  <custom-input-text
                    [control]="form.get('email')"
                    [horizontal]="false"
                    formControlName="email"
                    label="Ingresar tu correo Electrónico"
                    placeholder="Correo Electrónico"
                  />

                  <div class="mt-0 d-grid">
                    <custom-button
                      customClass="btn-outline-primary border-primary btn-lg w-100"
                      label="Enviar"
                      type="submit"
                    />
                  </div>
                </form>
                <br />

                @if (errorMessage) {
                <ngb-alert [dismissible]="false" type="danger">
                  {{ errorMessage }}
                </ngb-alert>
                } @if (successMessage) {
                <ngb-alert [dismissible]="false" type="success">
                  {{ successMessage }}
                </ngb-alert>
                }
                <br />
                <a [routerLink]="['/auth/login']"> Iniciar Sesión </a>
              </div>
            </div>
          </div>
        </div>
        <!-- end auth full page content -->
      </div>
      <!-- end col -->
      <div class="col-xxl-9 col-lg-8 col-md-7">
        <div class="auth-bg pt-md-5 p-4 d-flex">
          <div class="bg-overlay bg-primary"></div>
          <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <!-- end bubble effect -->
          <div class="row justify-content-center align-items-center">
            <div class="col-xl-7">
              <div class="p-0 p-sm-4 px-xl-0">
                <div
                  id="reviewcarouselIndicators"
                  class="carousel slide"
                  data-bs-ride="carousel"
                >
                  <div class="carousel-inner"></div>
                  <!-- end carousel-inner -->
                </div>
                <!-- end review carousel -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container fluid -->
</div>
