<div class="card">
  <div class="card-body">
    <form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="form">
      <!-- Campo Nombre -->

      <custom-input-text
        [control]="form.get('name')"
        formControlName="name"
        label="Nombre de la Inspección"
        placeholder="Nombre de la Inspección"
      />

      <custom-input-select
        [control]="form.get('departament')"
        formControlName="departament"
        label="Departamento"
        [selectDefaulOption]="false"
        [data]="cb_departament"
      />
      <!-- Campo Área Responsable -->

      <!-- Selector de Frecuencia -->
      <div class="form-group mb-3 row">
        <label for="frequency" class="col-sm-3">Frecuencia</label>
        <div class="col-sm-9">
          <select
            id="frequency"
            class="form-select"
            (change)="onFrequencyChange($event)"
            formControlName="frequency"
            required
          >
            <option value="" disabled selected>
              Seleccione una frecuencia
            </option>
            <option value="daily">Diaria</option>
            <option value="weekly">Semanal</option>
            <option value="monthly">Mensual</option>
          </select>
        </div>
      </div>

      <!-- Opciones de Frecuencia -->
      <div *ngIf="selectedFrequency === 'weekly'" class="form-group row">
        <label class="col-sm-3">Días de la semana:</label>
        <div class="col-sm-9">
          <div *ngFor="let day of weekDays">
            <input
              type="checkbox"
              [value]="day.value"
              [checked]="weeklyDays.value.includes(day.value)"
              (change)="onCheckboxChange($event)"
            />
            {{ day.label }}
          </div>
        </div>
      </div>

      <div *ngIf="selectedFrequency === 'monthly'" class="form-group mb-3">
        <label for="dayOfMonth">Día del Mes</label>
        <input
          type="number"
          id="dayOfMonth"
          class="form-control"
          formControlName="dayOfMonth"
          placeholder="Ingrese el día (1-31)"
          min="1"
          max="31"
          [(ngModel)]="selectedDayOfMonth"
        />
      </div>
      <!-- Selector de Frecuencia -->
      <div class="form-group mb-3 row">
        <label for="frequency" class="col-sm-3">Activa</label>

        <div class="col-sm-9">
          <select
            id="isActive"
            class="form-select"
            formControlName="isActive"
            required
          >
            <option [value]="true">Activa</option>
            <option [value]="false">Inactiva</option>
          </select>
        </div>
      </div>

      <btn-submit [disabled]="this.form.invalid || submitting" />
    </form>
  </div>
</div>

<style>
  .form-group {
    margin-bottom: 1rem;
  }
  .form-check {
    margin-right: 1rem;
  }
</style>
