<ng-container *ngIf="horizontal">
  <div class="form-group row mb-2" [hidden]="hidden">
    <label class="col-sm-3">{{ label }}</label>
    <div class="col-sm-9">
      <input
        [mask]="customMask"
        type="text"
        class="form-control"
        [disabled]="disabled"
        [readonly]="readonly"
        [placeholder]="'Ingresa ' + placeholder"
        [value]="value"
        (input)="onChange($event.target.value)"
        (blur)="onTouch()"
        [ngClass]="{
          'is-invalid': control.invalid && (control.dirty || control.touched)
        }"
      />
      <div
        class="small text-danger"
        *ngIf="control.invalid && (control.dirty || control.touched)"
      >
        <p class="mb-1" *ngIf="control.errors.required">
          El campo {{ placeholder }} es requerido.
        </p>

        <p class="mb-1" *ngIf="control.errors.maxlength">
          El campo debe de tener maximo
          {{ control.errors.maxlength.requiredLength }} caracteres.
        </p>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="!horizontal">
  <div class="mb-3" [hidden]="hidden">
    <label>{{ label }}</label>
    <input
      [mask]="customMask"
      type="text"
      class="form-control"
      [disabled]="disabled"
      [readonly]="readonly"
      [placeholder]="'Ingresa ' + placeholder"
      [value]="value"
      (input)="onChange($event.target.value)"
      (blur)="onTouch()"
      [ngClass]="{
        'is-invalid': control.invalid && (control.dirty || control.touched)
      }"
    />
    <div
      class="small text-danger"
      *ngIf="control.invalid && (control.dirty || control.touched)"
    >
      <p class="mb-1" *ngIf="control.errors.required">
        El campo {{ placeholder }} es requerido.
      </p>

      <p class="mb-1" *ngIf="control.errors.maxlength">
        El campo debe de tener maximo
        {{ control.errors.maxlength.requiredLength }} caracteres.
      </p>
    </div>
  </div>
</ng-container>
