<div class="card">
  <div class="card-body">
    <form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="form">
      <custom-input-text
        [control]="form.get('id')"
        formControlName="id"
        label="Id"
        [readonly]="true"
      />
      <custom-input-select
        [control]="form.get('departament')"
        formControlName="departament"
        label="Departamento"
        [selectDefaulOption]="false"
        [data]="cb_departament"
      />

      <custom-input-text
        [control]="form.get('nameProfession')"
        formControlName="nameProfession"
        label="Nombre"
        placeholder="nombre"
      />

      <custom-input-text
        [control]="form.get('professionIdIndex')"
        formControlName="professionIdIndex"
        label="Id Profesión"
        placeholder="Id profesión"
      />

      <custom-input-text-area
        [control]="form.get('description')"
        formControlName="description"
        label="Descripción"
        placeholder="descripción"
      />

      <custom-input-text-area
        [control]="form.get('requirements')"
        formControlName="requirements"
        label="Requisitos"
        placeholder="requisitos"
      />

      <custom-input-text-area
        [control]="form.get('responsibilities')"
        formControlName="responsibilities"
        label="Responsabilidades"
        placeholder="responsabilidades"
      />

      <btn-submit [disabled]="this.form.invalid || submitting" />
    </form>
  </div>
</div>
