<p-toast position="top-right" [baseZIndex]="99999" />

<div class="card">
  <p-table
    #dt
    [globalFilterFields]="['departamentName', 'nameProfession']"
    [value]="data"
    styleClass="custom-table"
    rowGroupMode="subheader"
    sortField="departamentName"
    groupRowsBy="departamentName"
  >
    <ng-template pTemplate="caption">
      <custom-table-caption
        [title]="'Profesiones'"
        (add)="showModalAddOrEdit({ id: 0, title: 'Nuevo Registro' })"
        [dt]="dt"
      />
    </ng-template>

    <ng-template pTemplate="groupheader" let-item>
      <tr pRowGroupHeader>
        <td colspan="5">
          <span class="font-size-18 fw-semibold ml-2">{{
            item.departamentName
          }}</span>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th scope="col" style="width: 15%" pSortableColumn="professionIdIndex">
          PROFESSION-ID
          <p-sortIcon field="professionIdIndex" />
        </th>
        <th scope="col" style="width: 75%" pSortableColumn="nameProfession">
          PROFESION <p-sortIcon field="nameProfession" />
        </th>
        <th scope="col" style="width: 10%"></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-item>
      <tr>
        <td class="p-column-title">
          {{ item.professionIdIndex }}
        </td>
        <td class="p-column-title">
          {{ item.nameProfession }}
        </td>
        <td class="p-column-title">
          <div class="d-flex justify-content-center">
            <btn-edit
              (edit)="showModalAddOrEdit({ id: item.id, title: 'Editar' })"
            />

            <btn-delete (OnConfirm)="onDelete(item.id)" />
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
