<p-toast position="bottom-left" [baseZIndex]="99999" />

<p-table
  #dt
  [(selection)]="data"
  [autoLayout]="true"
  [globalFilterFields]="['nameCotegory']"
  [paginator]="true"
  [rowHover]="true"
  [rows]="30"
  [rowsPerPageOptions]="[30, 40, 50, 75, 100, 200]"
  [showCurrentPageReport]="true"
  [value]="data"
  currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
  styleClass="custom-table"
  [tableStyle]="{ 'min-width': '50rem' }"
>
  <ng-template pTemplate="caption">
    <custom-table-caption
      [title]="'Categorias'"
      (add)="onModalAddOrEdit({ id: 0, title: 'Nuevo Registro' })"
      [dt]="dt"
    />
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th
        scope="col"
        style="width: 7%"
        class="text-small"
        pSortableColumn="nameCotegory"
      >
        NOMBRE DE CATEGORIA
        <p-sortIcon field="nameCotegory" />
      </th>

      <th scope="col" style="width: 5%" class="text-small">.</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td>
        {{ item.nameCotegory }}
      </td>

      <td class="p-column-title">
        <div class="d-flex justify-content-center">
          <btn-edit
            (edit)="onModalAddOrEdit({ id: item.id, title: 'Editar' })"
          />
          <btn-delete (OnConfirm)="onDelete(item.id)" />
        </div>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="paginatorleft">
    <table-footer [data]="data" />
  </ng-template>
</p-table>
