<form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="form">
  <p class="text-danger card-text">
    Valida con el Administrador del sistema que esta
    <strong>PERSONA</strong> no este ya en la base de datos, si esta
    <strong>PERSONA</strong> ha trabajado en otro edificio de LUXURY BUILDING
    GROUP, es probable que ya este registrado y solo sea necesario activar el
    registro y asignarlo al edificio de nuevo ingreso (esta tarea la realizaría
    el administrador del sistema)
  </p>
  <custom-input-text
    [control]="form.get('firstName')"
    formControlName="firstName"
    label="Nombre"
    placeholder="nombre"
    (input)="searchExistingPerson($event)"
  />
  <custom-input-text
    [control]="form.get('lastName')"
    formControlName="lastName"
    label="Apellidos"
    placeholder="apellidos"
    (input)="searchExistingPerson($event)"
  />
  <custom-input-mask
    [control]="form.get('phoneNumber')"
    formControlName="phoneNumber"
    label="Tél. Celular"
    placeholder="(00) 0000-0000"
    customMask="(00) 0000-0000"
    (input)="searchExistingPhone($event)"
  />

  <custom-input-text
    [control]="form.get('email')"
    formControlName="email"
    label="Email personal"
    placeholder="email personal"
  />

  <!-- img -->

  <!-- Si personId !== 0 que no se muestre este campo, la foto se actualiza independiente -->

  @if (personId === 0) {
  <div class="form-group row mb-2">
    <label class="col-sm-3 font-weight-lighter">Fotografia</label>
    <div class="col-sm-9">
      <input
        type="file"
        accept="image/png, .jpeg, .jpg"
        class="form-control"
        formControlName="photoPath"
        (change)="change($event)"
      />
      @if ( f.photoPath.invalid && (f.photoPath.dirty || f.photoPath.touched) )
      {
      <div>
        @if (f.photoPath.errors.required) {
        <small class="p-error">La foto es reqerida.</small>
        }
      </div>
      }
    </div>
  </div>
  }
  <div class="form-group row mb-2">
    <label class="col-sm-3 font-weight-lighter"></label>
    <div class="col-sm-9">
      @if (imgBase64) {
      <img [src]="imgBase64" style="width: 120px; height: 160px" alt="" />
      }
    </div>
  </div>
  <!-- img -->
  <!-- Boton Submin -->
  <custom-button-submit [disabled]="this.form.invalid || submitting" />
  <!-- Boton Submin -->
</form>
<p class="text-danger">
  <strong>Coincidencias encontradas</strong> , Si hay coincidencias, solicita el
  apoyo del administrador del sistema, es posible que esta persona ya este
  registrada.
</p>
<div class="row">
  <div class="col-4">
    <p class="text-danger">POR NOMBRE:</p>
    @for (item of existingPerson; track item) {
    <p class="text-danger">{{ item }}</p>
    }
  </div>
  <div class="col-4">
    <p class="text-danger">POR TÉLEFONO:</p>
    @for (item of existingPhone; track item) {
    <p class="text-danger">{{ item }}</p>
    }
  </div>
</div>
