<div class="dropdown me-2" ngbDropdown>
  <button
    type="button"
    class="btn header-item noti-icon position-relative border"
    id="page-header-notifications-dropdown"
    data-bs-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
    ngbDropdownToggle
  >
    <i
      *ngIf="messageInNotRead === 0"
      class="text-success fa-solid fa-bell fa-lg"
    ></i>
    <i
      *ngIf="messageInNotRead !== 0"
      class="text-danger fa-solid fa-bell-ring fa-lg"
    ></i>
    <span class="badge bg-light rounded-pill font-size-12">{{
      messageInNotRead
    }}</span>
  </button>
  <div
    class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
    aria-labelledby="page-header-notifications-dropdown"
    ngbDropdownMenu
  >
    <ngx-simplebar style="max-height: 230px" *ngIf="messageInNotRead === 0">
      <a
        [routerLink]="['/tickets/my-tickets']"
        class="text-reset notification-item"
      >
        <div class="d-flex card">
          <div class="flex-grow-1">
            <h6 class="mb-1">Sin notificaciones nuevas</h6>
          </div>
        </div>
      </a>
    </ngx-simplebar>
    <ngx-simplebar style="max-height: 500px" *ngIf="messageInNotRead !== 0">
      <a
        *ngFor="let notification of notifications"
        [routerLink]="notification.url"
        class="text-reset notification-item"
      >
        <div class="d-flex">
          <div class="flex-grow-1">
            <h6 class="mb-1">{{ notification.title }}</h6>
            <div class="font-size-13 text-muted">
              <p class="mb-0">
                <span>{{ getTruncatedMessage(notification.message, 45) }}</span>
              </p>
              <p class="mb-0">
                <small>{{ notification.createdAt }}</small>
              </p>
            </div>
          </div>
        </div>
      </a>
    </ngx-simplebar>
  </div>
</div>
