<p-toast position="top-right" [baseZIndex]="99999"></p-toast>

<!-- PrimeNG DataTable -->
<p-table #dt [value]="dataSignal()" styleClass="custom-table">
  <!-- styleClass="p-datatable-sm" -->
  <ng-template pTemplate="caption">
    <custom-table-caption
      title="GRUPOS"
      (add)="onModalAddOrEdit({ id: '', title: 'Nuevo Registro' })"
      [dt]="dt"
    />
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th scope="col" pSortableColumn="isPublic">
        Acceso
        <p-sortIcon field="isPublic"></p-sortIcon>
      </th>
      <th scope="col" pSortableColumn="nameGroup">
        Nombre
        <p-sortIcon field="nameGroup"></p-sortIcon>
      </th>
      <th scope="col" pSortableColumn="open">
        Pendientes
        <p-sortIcon field="open"></p-sortIcon>
      </th>
      <th scope="col" pSortableColumn="inProgress">
        En proceso
        <p-sortIcon field="inProgress"></p-sortIcon>
      </th>
      <th scope="col" pSortableColumn="reopened">
        Reabierto
        <p-sortIcon field="reopened"></p-sortIcon>
      </th>
      <th scope="col" pSortableColumn="closed">
        Cerrado
        <p-sortIcon field="closed"></p-sortIcon>
      </th>
      <th scope="col">Opciones</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-item>
    <tr>
      <td>
        <span
          class="badge p-2 bg-success-subtle text-dark"
          *ngIf="item.visibility === 'Public'"
        >
          Público
        </span>
        <span
          class="badge p-2 bg-secondary-subtle text-dark"
          *ngIf="item.visibility === 'Internal'"
        >
          Interno
        </span>
        <span
          class="badge p-2 bg-secondary-subtle text-dark"
          *ngIf="item.visibility === 'Condominiums'"
        >
          Cliente
        </span>
      </td>
      <td>
        {{ item.nameGroup }}
      </td>

      <td class="text-center">
        <btn-bagges
          icon="fa-solid  fa-clock"
          ngbTooltipCustom="Pendientes"
          customClass="btn-soft-danger waves-effect waves-light gb-gradient me-1"
          (clicked)="onNavigateMessage(item.id, 0, item.nameGroup)"
          [count]="item.open"
        />
      </td>
      <td class="text-center">
        <btn-bagges
          icon="fa-solid fa-spinner fa-spin"
          ngbTooltipCustom="En Proceso"
          customClass="btn-soft-warning waves-effect waves-light gb-gradient me-1"
          (clicked)="onNavigateMessage(item.id, 1, item.nameGroup)"
          [count]="item.inProgress"
        />
      </td>
      <td class="text-center">
        <btn-bagges
          icon="fa-solid fa-folder-open"
          ngbTooltipCustom="Reabierto"
          customClass="btn-soft-secondary waves-effect waves-light gb-gradient me-1"
          (clicked)="onNavigateMessage(item.id, 3, item.nameGroup)"
          [count]="item.reopened"
        />
      </td>
      <td class="text-center">
        <btn-bagges
          icon="fa-solid fa-check-circle"
          ngbTooltipCustom="Cerrado"
          customClass="btn-soft-success waves-effect waves-light gb-gradient me-1"
          (clicked)="onNavigateMessage(item.id, 2, item.nameGroup)"
          [count]="item.closed"
        />
      </td>
      <td>
        <div class="d-flex justify-content-center">
          <btn-bagges
            icon="fa-solid fa-users"
            ngbTooltipCustom="Participantes"
            customClass="btn-soft-success waves-effect waves-light gb-gradient me-1"
            (clicked)="onModalParticipants(item)"
            [count]="item.ticketGroupParticipant"
          />

          <btn-edit
            *ngIf="item.active"
            (edit)="onModalAddOrEdit({ id: item.id, title: 'Editar' })"
          />
          <btn-delete (OnConfirm)="onDelete(item.id)" />
          <custom-button
            *ngIf="item.active"
            ngbTooltip="Bloquear"
            customClass="btn-soft-success waves-effect waves-light  bg-gradient me-1"
            icon="fa-solid fa-unlock"
            (clicked)="onToggleStatus(item.id)"
          />
          <custom-button
            *ngIf="!item.active"
            ngbTooltip="Activar"
            customClass="btn-soft-danger waves-effect waves-light  bg-gradient me-1"
            icon="fa-solid fa-lock"
            (clicked)="onToggleStatus(item.id)"
          />
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
