<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <custom-input-text
    [control]="form.get('firstName')"
    formControlName="firstName"
    label="Nombre"
    placeholder="nombre"
  ></custom-input-text>
  <custom-input-text
    [control]="form.get('lastName')"
    formControlName="lastName"
    label="Apellidos"
    placeholder="apellidos"
  ></custom-input-text>
  <custom-input-text
    [control]="form.get('email')"
    formControlName="email"
    label="Email"
    placeholder="email"
  ></custom-input-text>

  <custom-input-date
    [control]="form.get('birthDate')"
    formControlName="birthDate"
    label="Nacimiento"
    placeholder="nacimiento"
  ></custom-input-date>

  <custom-input-select
    [control]="form.get('fuente')"
    formControlName="fuente"
    label="Fuente"
    [data]="cb_fuentesReclutamiento"
  ></custom-input-select>

  <custom-input-mask
    [control]="form.get('phone')"
    formControlName="phone"
    label="Tél. Celular"
    placeholder="(00) 0000-0000"
    customMask="(00) 0000-0000"
  ></custom-input-mask>

  <div class="form-group row mb-2">
    <label class="col-sm-3">Curriculim:</label>
    <div class="col-sm-9">
      <input
        type="file"
        accept="application/pdf"
        (change)="uploadFile($event)"
        class="form-control"
      />
    </div>
  </div>

  <custom-input-date
    [control]="form.get('date')"
    formControlName="date"
    label="Fecha de cita"
    placeholder="fecha de cita"
  ></custom-input-date>

  <custom-input-time
    [control]="form.get('hour')"
    formControlName="hour"
    label="Hora de cita"
    placeholder="hora de cita"
  ></custom-input-time>

  <div class="form-group row mb-2">
    <label class="col-sm-3">Decisión</label>
    <div class="col-sm-9">
      <select class="form-select" formControlName="decision">
        <option value="">Selecciona una opción</option>
        <option *ngFor="let item of cb_decision" [value]="item.value">
          {{ item.label }}
        </option>
      </select>
    </div>
  </div>

  <custom-input-text-area
    [control]="form.get('comments')"
    formControlName="comments"
    label="Comentarios"
    placeholder="comentarios"
  ></custom-input-text-area>
  <custom-button-submit
    [disabled]="this.form.invalid || submitting"
  ></custom-button-submit>
</form>
