<p-toast position="top-left" [baseZIndex]="99999"></p-toast>

<div class="card" *ngIf="data !== undefined && data.candidates !== undefined">
  <p-table
    #dt
    [autoLayout]="true"
    [globalFilterFields]="['candidate', 'phone', 'fuente']"
    [rowHover]="true"
    [value]="data.candidates"
    styleClass="custom-table"
  >
    <ng-template pTemplate="caption">
      <div class="row">
        <div class="col-11">
          <app-table-header
            [title]="
              'Candidatos ' +
              data.customerName +
              ' - Folio: ' +
              data.positionRequestFolio +
              ' -' +
              data.professionName
            "
            (add)="onModalAddOrEdit({ id: 0, title: 'Nuevo Registro' })"
            [dt]="dt"
          ></app-table-header>
        </div>
        <div class="col-1">
          <button
            [disabled]="noCandidates || submitting"
            class="btn btn-info w-100"
            (click)="onSendEmail()"
          >
            Enviar
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th style="width: 5%" scope="col" class="small">SELECT</th>
        <th style="width: 10%" scope="col" class="small">ENVIADO</th>
        <th
          style="width: 15%"
          scope="col"
          class="small"
          pSortableColumn="candidate"
        >
          CANDIDADATO <p-sortIcon field="candidate"></p-sortIcon>
        </th>
        <th
          style="width: 10%"
          scope="col"
          class="small"
          pSortableColumn="fuente"
        >
          FUENTE
          <p-sortIcon field="fuente"></p-sortIcon>
        </th>
        <th
          style="width: 10%"
          scope="col"
          class="small"
          pSortableColumn="phone"
        >
          TELÉFONO<p-sortIcon field="phone"></p-sortIcon>
        </th>
        <th style="width: 10%" scope="col" class="small">CV</th>
        <th style="width: 5%" scope="col" class="small">CITA</th>
        <th style="width: 10%" scope="col" class="small">DECISIÓN</th>
        <th style="width: 15%" scope="col" class="small">COMENTARIOS</th>
        <th style="width: 5%" scope="col" class="small"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td class="p-column-title" class="text-center">
          <input
            type="checkbox"
            class="form-check-input"
            [(ngModel)]="item.sendCandidate"
            (change)="onValueCandidates()"
          />
        </td>
        <td class="p-column-title" class="text-center">
          <i
            *ngIf="item.sendMail"
            class="fa-duotone fa-check-double text-success"
          ></i>
          <i *ngIf="!item.sendMail" class="fa-duotone fa-xmark text-danger"></i>
        </td>
        <td class="p-column-title">
          {{ item.candidate }}
        </td>
        <td class="p-column-title">
          {{ item.fuente }}
        </td>
        <td class="p-column-title">
          {{ item.phone }}
        </td>
        <td class="p-column-title text-center">
          <p class="text-danger" *ngIf="!item.curriculumn">Sin cv</p>
          <a
            *ngIf="item.curriculumn"
            [href]="pathPdf + item.curriculumn"
            _blank
            download
            ngbTooltip="Descargar C.V."
            placement="top"
            class="btn btn-soft-danger btn-sm w-xs waves-effect btn-label waves-light me-1 hide-print-mode"
          >
            <i class="fa-duotone fa-download label-icon fa-2x pointer"></i>
            Pdf
          </a>
        </td>
        <td class="p-column-title">
          {{ item.date }}
        </td>

        <td class="p-column-title">
          {{ item.decision }}
        </td>
        <td class="p-column-title">
          {{ item.comments }}
        </td>
        <!-- Opciones -->
        <td class="p-column-title">
          <div class="d-flex justify-content-center">
            <custom-button-edit
              (edit)="
                onModalAddOrEdit({
                  id: item.id,
                  title: 'Editar Registro',
                  workPositionRequestId: item.workPositionRequestId
                })
              "
            ></custom-button-edit>
            <custom-button-delete
              (OnConfirm)="onDelete(item)"
            ></custom-button-delete>
          </div>
        </td>
        <!-- Opciones -->
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <div class="p-d-flex p-ai-center p-jc-between">
        En total hay
        {{ data ? data.candidates.length : 0 }} registros.
      </div>
    </ng-template>
  </p-table>
</div>
