<div class="card">
  <div class="card-body">
    <form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="form">
      <custom-input-text-area
        [control]="form.get('request')"
        formControlName="request"
        label="3.4 Puntos de la orden del día"
        placeholder="3.4 Puntos de la orden del día"
        [horizontal]="false"
      ></custom-input-text-area>

      <div class="form-group mb-2">
        <label>Responsable</label>
        <select
          class="form-select"
          formControlName="applicationUserResponsibleId"
        >
          <option
            *ngFor="let item of applicationUserResponsible_cb"
            [value]="item.value"
          >
            {{ item.label }}
          </option>
        </select>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group mb-2">
            <label>Información subida a LuxuryCloud</label>
            <select class="form-select" formControlName="documentEmail">
              <option [value]="true">Sí</option>
              <option [value]="false">No</option>
            </select>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group mb-2">
            <label>Información enviada por mail</label>
            <select class="form-select" formControlName="documentCloud">
              <option [value]="true">Sí</option>
              <option [value]="false">No</option>
            </select>
          </div>
        </div>
      </div>

      <custom-button-submit [disabled]="this.form.invalid || submitting" />
    </form>
  </div>
</div>
