<div class="card">
  <div class="card-body">
    <form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="form">
      <custom-input-text
        [control]="form.get('id')"
        formControlName="id"
        label="Id"
        [hidden]="false"
      />

      <custom-input-select
        [control]="form.get('machineryId')"
        formControlName="machineryId"
        label="Elevador"
        [data]="cb_elevators"
      />
      <custom-input-text
        [control]="form.get('folio')"
        formControlName="folio"
        label="Folio del reporte"
        placeholder="folio del reporte"
      />
      <custom-input-date
        [control]="form.get('requestDate')"
        formControlName="requestDate"
        label="Fecha"
        placeholder="fecha"
      />

      <custom-input-text-area
        [control]="form.get('report')"
        formControlName="report"
        label="Reporte"
        placeholder="reporte"
      ></custom-input-text-area>
      <custom-input-text-area
        [control]="form.get('request')"
        formControlName="request"
        label="Respuesta"
        placeholder="respuesta"
      ></custom-input-text-area>
      <custom-input-text
        [control]="form.get('personWhoReports')"
        formControlName="personWhoReports"
        label="Quien Reporto"
        placeholder="quien reporte"
      />

      <custom-input-text
        [control]="form.get('technicianWhoAttended')"
        formControlName="technicianWhoAttended"
        label="Técnico"
        placeholder="técnico"
      />

      <custom-button-submit [disabled]="this.form.invalid || submitting" />
    </form>
  </div>
</div>
