<div class="row">
  <div class="col-sm-6 p-fluid">
    @if (mostrartextDesde) {
      <label>Desde</label>
    }
    <input
      class="form-control flatpickr-input"
      type="text"
      monthSelectorType="dropdown"
      mwlFlatpickr
      [altInput]="true"
      [convertModelValue]="true"
      [(ngModel)]="fechaInicioDate"
      (change)="onSendDateRange($event.target['defaultValue'], fechaFinalDate)"
      />
    </div>
    <div class="col-sm-6">
      @if (mostrartextHasta) {
        <label>Hasta</label>
      }
      <input
        class="form-control flatpickr-input"
        type="text"
        monthSelectorType="dropdown"
        mwlFlatpickr
        [altInput]="true"
        [convertModelValue]="true"
        [(ngModel)]="fechaFinalDate"
        (change)="onSendDateRange(fechaInicioDate, $event.target['defaultValue'])"
        />
      </div>
    </div>
    