<div class="row">
  <div class="col-sm-6 p-fluid">
    <label *ngIf="mostrartextDesde">Desde</label>
    <input
      class="form-control flatpickr-input"
      type="text"
      monthSelectorType="dropdown"
      mwlFlatpickr
      [altInput]="true"
      [convertModelValue]="true"
      [(ngModel)]="fechaInicioDate"
      (change)="onSendDateRange($event.target['defaultValue'], fechaFinalDate)"
    />
  </div>
  <div class="col-sm-6">
    <label *ngIf="mostrartextHasta">Hasta</label>
    <input
      class="form-control flatpickr-input"
      type="text"
      monthSelectorType="dropdown"
      mwlFlatpickr
      [altInput]="true"
      [convertModelValue]="true"
      [(ngModel)]="fechaFinalDate"
      (change)="onSendDateRange(fechaInicioDate, $event.target['defaultValue'])"
    />
  </div>
</div>
