<custom-button
  (clicked)="MigrateAmenities('MigrateAmenities')"
  customClass="btn-soft-primary me-1 mb-1"
  label="MigrateAmenities"
/>
<custom-button
  (clicked)="MigrateEquipos('MigrateEquipos')"
  customClass="btn-soft-primary me-1 mb-1"
  label="MigrateEquipos"
/>
<custom-button
  (clicked)="DeleteDuplicateModuleAppRol('DeleteDuplicateModuleAppRol')"
  customClass="btn-soft-primary me-1 mb-1"
  label="DeleteDuplicateModuleAppRol"
/>
<custom-button
  (clicked)="MyModuleApp('MyModuleApp')"
  customClass="btn-soft-primary me-1 mb-1"
  label="MyModuleApp"
/>
