<p-toast position="top-right" [baseZIndex]="99999" />
<p-table
  [(selection)]="data"
  #dt
  styleClass="custom-table"
  [tableStyle]="{ 'min-width': '50rem' }"
  [value]="data"
  [rows]="15"
  [paginator]="true"
  [rowHover]="true"
  currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 20, 30, 40, 50, 75, 100]"
  [globalFilterFields]="['cedulaPresupuestalDetalle.cuenta.descripcion']"
  [autoLayout]="true"
>
  <ng-template pTemplate="caption">
    <custom-table-caption
      [title]="'Cedula Presupuestal'"
      [showAdd]="false"
      [dt]="dt"
    />
    <div class="form-group row">
      <label class="col-sm-2">Selecciona presupuesto</label>
      @if (cedulaId !== 0) {
      <div class="col-sm-3">
        <select
          class="form-control"
          (change)="onLoadData()"
          [(ngModel)]="cedulaId"
        >
          @for (item of cb_cedulas; track item) {
          <option [value]="item.value">
            {{ item.label }}
          </option>
          }
        </select>
        <p class="text-danger">
          Valida estar seleccionando una partida del presupuesto correcto
        </p>
      </div>
      }
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th
        style="width: 35%"
        scope="col"
        pSortableColumn="cedulaPresupuestalDetalle.cuenta.descripcion"
      >
        Descripción
        <p-sortIcon field="cedulaPresupuestalDetalle.cuenta.descripcion" />
      </th>
      <th
        style="width: 10%"
        scope="col"
        pSortableColumn="cedulaPresupuestalDetalle.presupuestoMensual"
      >
        Pres. Mensual
        <p-sortIcon field="cedulaPresupuestalDetalle.presupuestoMensual" />
      </th>
      <th
        style="width: 10%"
        scope="col"
        pSortableColumn="cedulaPresupuestalDetalle.presupuestoEjercido"
      >
        Ejercido<p-sortIcon
          field="cedulaPresupuestalDetalle.presupuestoEjercido"
        />
      </th>
      <th
        style="width: 10%"
        scope="col"
        pSortableColumn="cedulaPresupuestalDetalle.presupuestoDisponible"
      >
        Disponible<p-sortIcon
          field="cedulaPresupuestalDetalle.presupuestoDisponible"
        />
      </th>
      <th style="width: 10%" scope="col">Gasto a realizar</th>
      <th style="width: 10%" scope="col">Monto a Afectar</th>
      <th style="width: 5%" scope="col" style="width: 5%">Guardar</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td class="p-column-title p-fluid">
        {{ item.cedulaPresupuestalDetalle.cuenta.numeroCuenta }}-
        {{ item.cedulaPresupuestalDetalle.cuenta.descripcion }}
        <small hidden>
          <input
            type="text"
            [(ngModel)]="item.cedulaPresupuestalDetalle.cuenta.descripcion"
            readonly
            class="form-control"
          />
        </small>
      </td>
      <td class="p-column-title p-fluid">
        <small>
          <input
            readonly
            [(ngModel)]="item.cedulaPresupuestalDetalle.presupuestoMensual"
            class="form-control"
          />
        </small>
      </td>
      <td class="p-column-title p-fluid">
        <small>
          <input
            readonly
            [(ngModel)]="item.cedulaPresupuestalDetalle.presupuestoEjercido"
            class="form-control"
          />
        </small>
      </td>
      <td class="p-column-title p-fluid">
        <small>
          <input
            readonly
            [(ngModel)]="item.cedulaPresupuestalDetalle.presupuestoDisponible"
            mode="currency"
            class="form-control"
          />
        </small>
      </td>
      <td class="p-column-title p-fluid">
        @if ( item.cedulaPresupuestalDetalle.presupuestoDisponible >=
        item.dineroUsado ) {
        <div class="w3-container">
          <div class="w3-tag w3-round w3-green" style="padding: 3px">
            <div class="w3-tag w3-round w3-green w3-border w3-border-white">
              {{ item.cedulaPresupuestalDetalle.presupuestoDisponible }}
            </div>
          </div>
        </div>
        } @if ( item.cedulaPresupuestalDetalle.presupuestoDisponible <
        item.dineroUsado ) {
        <div class="w3-container">
          <div class="w3-tag w3-round w3-red" style="padding: 3px">
            <div class="w3-tag w3-round w3-red w3-border w3-border-white">
              {{ item.cedulaPresupuestalDetalle.presupuestoDisponible }}
            </div>
          </div>
        </div>
        }
      </td>
      <td class="p-fluid">
        <input
          [(ngModel)]="item.dineroUsado"
          mode="currency"
          class="form-control"
        />
      </td>
      <!-- Opciones -->
      <td class="p-column-title text-center">
        <button icon="" (click)="onSubmit(item)" class="btn btn-info">
          <i class="fa-thin fa-floppy-disk"></i>
        </button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="paginatorleft">
    <table-footer [data]="data" />
  </ng-template>
</p-table>
