<p-toast position="top-right" [baseZIndex]="99999"></p-toast>
<div class="row">
  <div class="col-sm-4">
    <input
      type="text"
      class="form-control mb-2"
      [(ngModel)]="filtro"
      placeholder="Escribe para buscar proveedor... "
      (input)="buscar()"
    />
  </div>
  <div class="col-sm-7">
    <div class="form-check form-switch ms-3 mt-1" dir="ltr">
      <input
        type="checkbox"
        class="form-check-input"
        id="incluirInactivos"
        [(ngModel)]="incluirInactivos"
        (click)="onSelectForState()"
        checked
      />
      <label class="form-check-label" for="incluirInactivos"
        >Incluir proveedores vetados</label
      >
    </div>
  </div>
  @if (authService.onValidateRoles(['SuperUsuario'])) {

  <div class="col-sm-1">
    <custom-button
      ngbTooltip="Agregar  proveedor"
      [customClass]="'btn btn-sm btn-info w-100'"
      label="Agregar"
      (clicked)="showModalAddOrEdit({ id: 0, title: 'Nuevo Registro' })"
    />
  </div>
  }
</div>
<div class="row">
  @for (item of resultados; track item) {
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header">
        @if (item.calificacionProveedor.length > 0) {
        <div class="row">
          <div class="col-sm-4">
            <small>Servicio</small>
            <ngb-rating
              [rate]="
                calificacionPromedio(item.calificacionProveedor, 'servicio')
              "
              [readonly]="true"
              [max]="5"
            ></ngb-rating>
          </div>
          <div class="col-sm-4">
            <small>Precio</small>
            <ngb-rating
              [rate]="
                calificacionPromedio(item.calificacionProveedor, 'precio')
              "
              [readonly]="true"
              [max]="5"
            ></ngb-rating>
          </div>
          <div class="col-sm-4">
            <small>Entrega</small>
            <ngb-rating
              [rate]="
                calificacionPromedio(item.calificacionProveedor, 'entrega')
              "
              [readonly]="true"
              [max]="5"
            ></ngb-rating>
          </div>
        </div>
        }
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3 text-center">
            <img [src]="url_img + item.pathPhoto" class="img-fluid" alt="" />
          </div>
          <div class="col-sm-9">
            <div class="text-muted small">
              {{ item.providerId }}
            </div>
            <div class="card-title text-truncate">
              {{ item.nameProvider }}
            </div>
            <div class="card-title text-truncate">
              {{ item.nameComercial }}
            </div>
          </div>
        </div>
        <div class="mt-1">
          <a
            class="btn btn-primary btn-sm float-start"
            (click)="showModalCardProveedor(item)"
            >Ver mas datos <i class="mdi mdi-arrow-right ms-1"></i
          ></a>
        </div>
      </div>
      <div class="card-footer">
        @for (categoria of item.categorias; track categoria) {
        <span class="badge bg-info p-2 me-1 mb-1">{{
          categoria.nombreCategoria
        }}</span>
        }
        <hr />
        <div class="d-flex bd-highlight">
          <!-- Constancia Fiscal -->
          <custom-button-download-pdf
            ngbTooltip="Constancia fiscal"
            [urlFile]="item.constanciaFiscalPath"
          />
          <!-- Constancia Fiscal -->
          @if ( item.activo && validateRole([ 'Asistente', 'Mantenimiento',
          'Residente', 'SuperUsuario', 'SupervisionOperativa' ]) ) {
          <custom-button-edit
            (edit)="
              showModalAddOrEdit({
                id: item.providerId,
                title: 'Editar Registro'
              })
            "
          />
          }
          <!-- Editar -->
          <!-- Borrar -->
          @if (item.activo) {
          <custom-button-delete
            class="bd-highlight"
            (OnConfirm)="onDelete(item.id)"
          />
          }
          <!-- Borrar -->
          @if (item.activo) {
          <button
            type="button"
            ngbTooltip="Calificar proveedor"
            placement="top"
            class="btn btn-sm btn-outline-primary me-1 pointer bd-highlight"
            (click)="
              showModalCalificarProveedor({
                providerId: item.providerId,
                nameProvider: item.nameComercial
              })
            "
          >
            <i class="fa-light fa-star-half-stroke"> </i>
          </button>
          }
          <!-- Categorias -->
          <!-- Activar  Proveedor -->
          @if (!item.activo && validateRole(['SuperUsuario'])) {
          <button
            type="button"
            ngbTooltip="Activar"
            placement="top"
            class="btn btn-sm me-1 btn-outline-danger pointer bd-highlight"
            (click)="
              onActivateProvider({
                providerId: item.providerId,
                state: !item.activo
              })
            "
          >
            <i class="fa-light fa-lock"> </i>
          </button>
          }
          <!-- Activar  Proveedor -->
          <!-- Desctivar  Proveedor -->
          @if (item.activo && validateRole(['SuperUsuario'])) {
          <button
            type="button"
            ngbTooltip="Desactivar"
            placement="top"
            class="btn btn-sm me-1 btn-outline-success pointer bd-highlight"
            (click)="
              onActivateProvider({
                providerId: item.providerId,
                state: !item.activo
              })
            "
          >
            <i class="fa-light fa-lock-open"> </i>
          </button>
          }
          <button
            type="button"
            [ngbTooltip]="item.activo ? 'Activo' : 'Betado'"
            placement="top"
            class="btn btn-sm me-1 btn-outline-success ms-auto bd-highlight"
            [ngClass]="{
              'btn-outline-danger': item.inactivo,
              'btn-outline-success': item.activo
            }"
          >
            <i
              class="fas"
              [ngClass]="{
                'fa-ban': item.inactivo,
                'fa-check-double': item.activo
              }"
            >
            </i>
          </button>
          <!-- Desctivar  Proveedor -->
        </div>
      </div>
    </div>
  </div>
  }
</div>
@if (loading) {
<div class="row">
  <div class="col-12 text-center">
    <div class="spinner-border text-info m-1" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
} @if (resultados.length === 0 && !loading) {
<ngb-alert [dismissible]="false" type="danger">
  <h6 class="h5">Sin resultados...</h6>
</ngb-alert>
}
