<p-toast position="top-right" [baseZIndex]="99999"></p-toast>
@if (data !== undefined) {
<div class="card">
  <p-table
    [value]="data"
    #dt
    styleClass="custom-table"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rows]="50"
    [paginator]="true"
    [rowHover]="true"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30, 40, 50, 75, 100, 500]"
    [globalFilterFields]="[
      'categorias.nombreCategoria',
      'providerId',
      'nameProvider',
      'nameComercial',
      'pathPhoto',
      'activo',
      'user',
      'rfc'
    ]"
  >
    <ng-template pTemplate="caption">
      <table-header
        (add)="showModalAddOrEdit({ id: 0, title: 'Nuevo Registro' })"
        [dt]="dt"
        [showAdd]="false"
        [rolAuth]="
          validateRole([
            'Asistente',
            'Mantenimiento',
            'Residente',
            'SuperUsuario'
          ])
        "
      />
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th scope="col" style="width: 5%" pSortableColumn="providerId">
          <small>ID</small> <p-sortIcon field="providerId"></p-sortIcon>
        </th>
        <th scope="col" style="width: 10%">
          <small>LOGO</small>
        </th>
        <th scope="col" style="width: 30%" pSortableColumn="nameProvider">
          <small>PROVEEDOR</small>
          <p-sortIcon field="nameProvider"></p-sortIcon>
        </th>
        <th scope="col" style="width: 15%" pSortableColumn="rfc">
          <small>RFC</small> <p-sortIcon field="rfc"></p-sortIcon>
        </th>
        <th scope="col" style="width: 15%" pSortableColumn="user">
          <small>USUARIO</small> <p-sortIcon field="user"></p-sortIcon>
        </th>
        <th scope="col" style="width: 10%" pSortableColumn="categorias">
          <small>CATEGORIAS</small><p-sortIcon field="categorias"></p-sortIcon>
        </th>
        <th scope="col" style="width: 10%" pSortableColumn="autorizado">
          <small>APROBADO</small><p-sortIcon field="autorizado"></p-sortIcon>
        </th>
        <th scope="col" style="width: 20%" pSortableColumn="activo">
          <small></small><p-sortIcon field="activo"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
      <tr>
        <td>
          <small>{{ item.providerId }}</small>
        </td>
        <td>
          <img
            [src]="url_img + item.pathPhoto"
            alt="noImg"
            class="rounded avatar-lg"
          />
        </td>
        <td>
          <small>
            {{ item.nameProvider }}
          </small>
          <br />
          <small>
            {{ item.nameComercial }}
          </small>
        </td>
        <td>
          <small>
            {{ item.rfc }}
          </small>
        </td>
        <td>
          <small>
            {{ item.user }}
          </small>
        </td>
        <td>
          @for (categoria of item.categorias; track categoria) {
          <span class="badge bg-info p-2 me-1 mb-1">{{
            categoria.nombreCategoria
          }}</span>
          }
        </td>
        <td>
          @if (authService.onValidateRoles(['SuperUsuario'])) {
          <div class="form-check form-switch mb-3" dir="ltr">
            <input
              type="checkbox"
              class="form-check-input"
              id="customSwitch1"
              checked
              [(ngModel)]="item.autorizado"
              (change)="onAutorizarProvider(item.providerId)"
            />
          </div>
          } @if (item.autorizado) {
          <i
            class="bx-md fa-light fa-check-double text-success font-size-16"
          ></i>
          } @if (!item.autorizado) {
          <i class="bx-md fa-light fa-x text-danger font-size-16"></i>
          }
        </td>
        <td>
          <div class="d-flex bd-highlight">
            <btn-download-file
              ngbTooltip="Visualizar Pdf"
              [urlFile]="item.constanciaFiscalPath"
            />
            @if ( validateRole([ 'Asistente', 'Mantenimiento', 'Residente',
            'SuperUsuario', 'SupervisionOperativa' ]) && item.id != 109 ) {
            <btn-edit
              class="bd-highlight"
              (edit)="
                showModalAddOrEdit({
                  id: item.providerId,
                  title: 'Editar'
                })
              "
            />
            } @if (validateRole(['SuperUsuario'])) {
            <btn-delete
              class="bd-highlight"
              (OnConfirm)="onDelete(item.providerId)"
            />
            } @if (!item.activo && validateRole(['SuperUsuario'])) {
            <custom-button
              ngbTooltip="Activar"
              [customClass]="'btn-sm btn-outline-danger'"
              icon="fa-light fa-lock text-danger"
              (clicked)="
                onActivateProvider({
                  providerId: item.providerId,
                  state: !item.activo
                })
              "
            />
            } @if (item.activo && validateRole(['SuperUsuario'])) {
            <custom-button
              ngbTooltip="Desactivar"
              [customClass]="'btn-sm btn-outline-success'"
              icon="fa-light fa-lock-open text-success"
              (clicked)="
                onActivateProvider({
                  providerId: item.providerId,
                  state: !item.activo
                })
              "
            />
            } @if (item.activo && validateRole(['SuperUsuario'])) {
            <custom-button
              ngbTooltip="Uso"
              [customClass]="'btn-sm btn-outline-success'"
              icon="fa-light fa-list text-success"
              (clicked)="
                onConicidencias({
                  providerId: item.providerId,
                  state: !item.activo
                })
              "
            />
            }
          </div>
        </td>
      </tr>
      @if (item.activo && validateRole(['SuperUsuario'])) {
      <tr>
        <td colspan="8">
          <div class="">
            <p class="small m-0">
              OrdenesCompra- {{ item.countOrdenesCompra }}
            </p>
            <p class="small m-0">
              CalendarioMaestroProvider-
              {{ item.countCalendarioMaestroProvider }}
            </p>
            <p class="small m-0">ServiceOrder- {{ item.countServiceOrder }}</p>
            <p class="small m-0">
              MaintenanceCalendar- {{ item.countMaintenanceCalendar }}
            </p>
            <p class="small m-0">
              PersonProviderSupport- {{ item.countPersonProviderSupport }}
            </p>
            <p class="small m-0">
              CustomerProvider- {{ item.countCustomerProvider }}
            </p>
          </div>
        </td>
      </tr>
      }
    </ng-template>
  </p-table>
</div>
}

<!-- @if (data.length !== undefined || data.length === 0) {
<div class="alert alert-default-danger">
  <h4 class="h4">Sin resultados</h4>
</div>
} -->
