<div class="card p-3">
  <div class="row">
    <div class="col">
      <ul class="list-group">
        <li class="list-group-item pointer">
          <p>1. ALTA DE PROVEEDOR</p>
        </li>
        <li class="list-group-item pointer">
          <p>2. RENOVACION DE CONTRATO PROVEEDORES</p>
        </li>
        <li class="list-group-item pointer">
          <p>3. ASAMBLEAS</p>
        </li>
        <li class="list-group-item pointer">
          <p>4. JUNTAS DE COMITÉ, TEMAS LEGALES</p>
        </li>
        <li class="list-group-item pointer">
          <p>5. CONVENIOS MOROSOS</p>
        </li>
        <li class="list-group-item pointer">
          <p>6. BAJAS COLABORADORES</p>
        </li>
        <li class="list-group-item pointer">
          <p>7. OTROS</p>
        </li>
      </ul>
    </div>
  </div>
</div>
