<p-toast position="top-left" [baseZIndex]="99999"></p-toast>

Nueo
<div class="card p-3">
  <div class="row">
    <div class="col-4">
      <div class="card-title">Empleado</div>

      <ul class="list-group">
        <!-- Editar datos -->
        <li
          class="list-group-item pointer"
          (click)="onShowModalDatosPrincipales()"
        >
          <i class="fa-duotone fa-database me-3"></i>
          Datos principales
        </li>
        <li
          class="list-group-item pointer"
          (click)="onShowModalDatosPersonales()"
        >
          <i class="fa-duotone fa-memo-circle-info me-3"></i>
          Datos personales
        </li>

        <li class="list-group-item pointer" (click)="onModalDataAddress()">
          <i class="fa-duotone fa-location-dot me-3"></i>
          Dirección
        </li>
        <!-- Inicio contactos de emergencia -->
        <li
          class="list-group-item pointer"
          (click)="onShowModalEmergencyContact()"
        >
          <i class="fa-duotone fa-family-pants me-3"></i>
          Contactos de Emergencia
        </li>
        <!-- Final contactos de emergencia -->
        <!-- Inicio cambiar foto de perfil -->
        <li
          class="list-group-item pointer"
          (click)="onShowModalActualizarImagen()"
        >
          <i class="fa-duotone fa-camera me-3"></i>
          Cambiar foto
        </li>
        <!-- Final cambiar foto de perfil -->
      </ul>
    </div>
    <div class="col-4">
      <div class="card-title">Laborales</div>
      <ul class="list-group">
        <!-- Inicio restablecer contraseña -->
        <li class="list-group-item pointer" (click)="onModalUpdatePassword()">
          <i class="fa-duotone fa-key me-3"></i>
          Restablecer contraseña
        </li>
        <!-- Final restablecer contraseña  -->
        <li
          class="list-group-item pointer"
          (click)="onModalAccountToEmployee()"
        >
          <i class="fa-duotone fa-image-user me-3"></i>
          Asignar cuenta de usuario
        </li>
        @if (!active) {
        <li class="list-group-item pointer" (click)="onBlockEmployee()">
          <i class="fa-duotone fa-user-xmark me-3"></i>
          Activar empleado
        </li>
        } @if (active) {
        <li class="list-group-item pointer" (click)="onBlockEmployee()">
          <i class="fa-duotone fa-user-xmark me-3"></i>
          Desactivar empleado
        </li>
        }
        <li class="list-group-item pointer" (click)="onShowModalDatosLaboral()">
          <i class="fa-duotone fa-briefcase me-3"></i>
          Datos laborales
        </li>

        <li class="list-group-item pointer" (click)="onDelete()">
          <i class="fa-duotone fa-trash me-3"></i>
          Eliminar
        </li>
      </ul>
    </div>

    <div class="col-4">
      <div class="card-title">Reclutamiento</div>
      <ul class="list-group">
        @if (!workPosition) {
        <li class="list-group-item text-danger">
          <em>
            Para solicitar baja o modificación de salario, este empleado debe
            estar cubriendo una vacante.
          </em>
        </li>
        }
        <!--  -->
        @if (!solicitudBajaStatus && workPosition) {
        <li class="list-group-item pointer" (click)="onModalSolicitudBaja()">
          <i class="fa-duotone fa-user-minus me-3"></i>
          Solicitar Baja
        </li>
        }
        <!--  -->
        @if(solicitudAltaStatus){
        <li class="list-group-item pointer">
          <i class="fa-duotone fa-user-plus me-3 text-danger"></i>
          <span class="text-danger"> Solicitud de alta en proceso </span>
        </li>
        }@else{
        <li class="list-group-item pointer" (click)="onModalSolicitudALta()">
          <i class="fa-duotone fa-user-plus me-3"></i>
          Solicitar Alta
        </li>
        }
        <!--  -->
        @if (solicitudBajaStatus) {
        <li class="list-group-item">
          <i class="fa-duotone fa-user-minus me-3 text-danger"></i>
          <span class="text-danger">Solicitar Baja en proceso</span>
        </li>
        }
        <!--  -->
        @if (!solicitudModificacionSalarioStatus && workPosition) {
        <li
          class="list-group-item pointer"
          (click)="onModalSolicitudModificacionSalarion()"
        >
          <i class="fa-duotone fa-money-bill-1 me-3"></i>
          Solicitar modificación de salario
        </li>
        }
        <!--  -->
        @if (solicitudModificacionSalarioStatus) {
        <li class="list-group-item text-danger">
          <i class="fa-duotone fa-money-bill-1 me-3"></i>
          <span class="text-danger"
            >Solicitar modificación de salario en proceso</span
          >
        </li>
        }
      </ul>
    </div>
  </div>
</div>
