<p-toast position="top-right" [baseZIndex]="99999" />

<div class="card">
  <p-table
    #dt
    [value]="data"
    [autoLayout]="true"
    [globalFilterFields]="['nameModule']"
    styleClass="custom-table"
  >
    <!-- [reorderableColumns]="true" -->
    <!-- (onRowReorder)="onRowReorder($event)" -->
    <!-- styleClass="p-datatable-sm" -->
    <ng-template pTemplate="caption">
      <custom-table-caption
        title="MODULOS"
        (add)="onModalAddOrEdit({ id: '', title: 'Nuevo Registro' })"
        [dt]="dt"
      />
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <!-- <th scope="col">Index</th> -->
        <th scope="col" pSortableColumn="nameModule">
          Nombre
          <p-sortIcon field="nameModule" />
        </th>
        <th scope="col" pSortableColumn="label">
          Label
          <p-sortIcon field="label" />
        </th>
        <th scope="col" pSortableColumn="icon">
          Icon
          <p-sortIcon field="icon" />
        </th>
        <th scope="col" pSortableColumn="routerLink">
          RouterLink
          <p-sortIcon field="routerLink" />
        </th>
        <th scope="col" pSortableColumn="pathParent">
          PathParent
          <p-sortIcon field="pathParent" />
        </th>
        <th scope="col" pSortableColumn="viewMobil">
          Modulo celular
          <p-sortIcon field="viewMobil" />
        </th>
        <th scope="col" pSortableColumn="rolLevel">
          Nivel
          <p-sortIcon field="rolLevel" />
        </th>

        <th scope="col" style="width: 5%" class="no-print">Opciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-index="rowIndex">
      <!-- <tr [pReorderableRow]="index"> -->
      <tr>
        <!-- <i class="fa-light fa-bars" pReorderableRowHandle></i> -->

        <td class="p-column-title">
          {{ item.nameModule }}
        </td>
        <td class="p-column-title">
          {{ item.label }}
        </td>
        <td class="p-column-title">
          {{ item.icon }}
        </td>
        <td class="p-column-title">
          {{ item.routerLink }}
        </td>
        <td class="p-column-title">
          {{ item.pathParent }}
        </td>
        <td class="p-column-title">
          {{ item.rolLevel }}
        </td>
        <td class="p-column-title text-center">
          <span
            class="badge p-2"
            [ngClass]="{
              'bg-success': item.viewMobil,
              'bg-danger': !item.viewMobil
            }"
          >
            {{ item.viewMobil ? "Sí" : "No" }}
          </span>
        </td>

        <td class="p-column-title" class="no-print">
          <div class="d-flex justify-content-center">
            <btn-edit
              (edit)="onModalAddOrEdit({ id: item.id, title: 'Editar' })"
            />
            <btn-delete (OnConfirm)="onDelete(item.id)" />
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
