<h3 class="h3">Inventario de Herramientas</h3>
@if (data) {
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th style="width: 30%">
        <p class="font-normal">Imagen</p>
      </th>
      <th style="width: 35%">Descripción</th>
      <th style="width: 35%">Observaciones</th>
    </tr>
  </thead>
  <tbody>
    @for (item of data; track item) {
    <tr>
      <td>
        <img [src]="item.photoPath" alt="" width="100px" height="80px" />
      </td>
      <td>
        <p class="mb-0">{{ item.nameTool }}</p>
        <p class="mb-0">{{ item.brand }}</p>
        <p class="mb-0">{{ item.model }}</p>
        <p
          class="font-normal mb-0"
          [innerHTML]="item.technicalSpecifications | sanitizeHtml"
        ></p>
        <p
          class="font-normal mb-0"
          [innerHTML]="item.observations | sanitizeHtml"
        ></p>
      </td>
    </tr>
    }
  </tbody>
</table>
}
