<p-toast position="top-right" [baseZIndex]="99999"></p-toast>
<div class="h6">DEPTO : {{ depto }}</div>
<div class="h6">NOMBRE : {{ nombre }}</div>
<div class="h6">SEMANA : {{ semana }}</div>
<div class="card">
  <p-table
    #dt
    dataKey="id"
    [autoLayout]="true"
    [globalFilterFields]="[
      'applicationUserId',
      'customer.label',
      'duracion',
      'estatus',
      'fechaConclusion',
      'fechaSolicitud',
      'id',
      'name.label',
      'photoPath',
      'problema',
      'solucion'
    ]"
    [paginator]="true"
    [rowHover]="true"
    [rows]="30"
    [value]="data"
    styleClass="custom-table"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[30, 40, 50, 75, 100, 150, 200]"
  >
    <ng-template pTemplate="caption">
      <custom-table-caption
        class="ocultar"
        [title]="'Bitacora Supervisión'"
        (add)="showModalAddOrEdit({ id: 0, title: 'Nuevo Registro' })"
        [dt]="dt"
      />
      <div class="row">
        <div class="col-sm-5">
          <app-rango-calendario-yyyymmdd></app-rango-calendario-yyyymmdd>
        </div>
        <div class="col text-right">
          <custom-button
            ngbTooltip="Actualizar Información"
            [customClass]="'btn-outline-info btn-sm'"
            icon="fa-arrows-rotate  text-primary"
            (clicked)="onLoadData()"
          />
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th [width]="'15%'" class="ocultar center" pSortableColumn="name.label">
          SUPERVISOR
          <p-sortIcon field="name.label"></p-sortIcon>
          <p-columnFilter
            field="name"
            matchMode="in"
            display="menu"
            [showMatchModes]="false"
            [showOperator]="false"
            [showAddButton]="false"
          >
            <ng-template pTemplate="header">
              <div class="px-3 pt-3 pb-0">
                <span class="font-bold">Supervisor</span>
              </div>
            </ng-template>
            <ng-template
              pTemplate="filter"
              let-value
              let-filter="filterCallback"
            >
              <p-multiSelect
                [ngModel]="value"
                [options]="cb_user"
                placeholder="Ninguno"
                (onChange)="filter($event.value)"
                optionLabel="label"
              >
                <ng-template let-option pTemplate="item">
                  <div class="p-multiselect-representative-option">
                    <span class="ml-1">{{ option.label }}</span>
                  </div>
                </ng-template>
              </p-multiSelect>
            </ng-template>
          </p-columnFilter>
        </th>
        <th [width]="'7%'" pSortableColumn="fechaSolicitud">
          SOLICITUD
          <p-sortIcon field="fechaSolicitud"></p-sortIcon>
        </th>
        <th [width]="'9%'" pSortableColumn="numeroCliente">
          CLIENTE
          <p-sortIcon field="numeroCliente"></p-sortIcon>
          <p-columnFilter
            field="customer"
            matchMode="in"
            display="menu"
            [showMatchModes]="false"
            [showOperator]="false"
            [showAddButton]="false"
          >
            <ng-template pTemplate="header">
              <div class="px-3 pt-3 pb-0">
                <span class="font-bold">Cliente</span>
              </div>
            </ng-template>
            <ng-template
              pTemplate="filter"
              let-value
              let-filter="filterCallback"
            >
              <p-multiSelect
                [ngModel]="value"
                [options]="cb_customers"
                placeholder="Ninguno"
                (onChange)="filter($event.value)"
                optionLabel="label"
              >
                <ng-template let-option pTemplate="item">
                  <div class="p-multiselect-representative-option">
                    <span class="ml-1">{{ option.label }}</span>
                  </div>
                </ng-template>
              </p-multiSelect>
            </ng-template>
          </p-columnFilter>
        </th>
        <th [width]="'20%'" pSortableColumn="problema">
          PROBLEMA/TEMA
          <p-sortIcon field="problema"></p-sortIcon>
        </th>
        <th [width]="'20%'" pSortableColumn="solucion">
          SOLUCION/SEGUIMIENTO
          <p-sortIcon field="solucion"></p-sortIcon>
        </th>
        <th [width]="'9%'" pSortableColumn="fechaConclusion">
          CONCLUSION
          <p-sortIcon field="fechaConclusion"></p-sortIcon>
        </th>
        <th pSortableColumn="duracion">
          DIAS
          <p-sortIcon field="duracion"></p-sortIcon>
        </th>
        <th pSortableColumn="estatus">
          ESTATUS
          <p-sortIcon field="estatus"></p-sortIcon>
          <p-columnFilter
            type="boolean"
            field="estatus"
            display="menu"
          ></p-columnFilter>
        </th>
        <th class="ocultar">OPCIONES</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr class="breakPage">
        <td class="ocultar">
          <img
            [alt]="item.photoPath"
            [src]="base_url + item.photoPath"
            width="32"
            style="vertical-align: middle"
          />
          <span class="image-text">
            {{ item.name.label }}
          </span>
        </td>
        <td>
          {{ item.fechaSolicitud | date }}
        </td>
        <td>
          {{ item.customer.label }}
        </td>
        <td class="text-justify">
          {{ item.problema }}
        </td>
        <td class="text-justify">
          {{ item.solucion }}
        </td>
        <td>
          {{ item.fechaConclusion | date }}
        </td>
        <td class="text-center">
          @if (item.duracion > 0) {
          <small> {{ item.duracion }}</small>
          }
        </td>
        <td class="text-center">
          <span
            class="fa-thin"
            [ngClass]="{
              'fa-check text-success': item.estatus,
              'fa-circle-xmark text-danger': !item.estatus
            }"
          ></span>
        </td>
        <td class="p-column-title">
          <btn-edit
            (edit)="showModalAddOrEdit({ id: item.id, title: 'Editar' })"
          />
          @if (applicationUserId == item.applicationUserId) {
          <div class="d-flex justify-content-center">
            <!-- Componente editar registro -->
            <btn-edit
              (edit)="showModalAddOrEdit({ id: item.id, title: 'Editar' })"
            />
            <!-- Componente editar registro -->
            <!-- Componente eliminar registro -->
            <btn-delete (OnConfirm)="onDelete(item.id)" />
            <!-- /> -->
            <!-- Componente eliminar registro -->
          </div>
          }
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="9">No Hay Registros.</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <div class="p-d-flex p-ai-center p-jc-between no-print">
        En total hay
        {{ data ? data.length : 0 }} registros.
      </div>
    </ng-template>
  </p-table>
</div>
