<div class="row">
  <div class="col-sm-12">
    <ngb-alert [dismissible]="false" type="primary">
      <div class="row">
        <div class="col-6">
          <h4 class="mb-sm-0 font-size-18">Directorio de Proveedores</h4>
        </div>
        <div class="col-6">
          <custom-button
            ngbTooltip="Bloquear"
            customClass="float-end btn-soft-primary"
            [label]="!mostrarBuscador ? 'Buscador' : 'Ver Listado'"
            (clicked)="mostrarBuscador = !mostrarBuscador"
          />
          <!-- href="assets/documents/glb-altaproveedor.docx" -->
        </div>
      </div>
    </ngb-alert>
  </div>
</div>
@if (mostrarBuscador) {
<app-buscador-proveedor />
} @if (!mostrarBuscador) {
<app-list-provider />
}
