<p-toast position="top-left" [baseZIndex]="99999"></p-toast>
@if (solicitudCompra) {
<div class="row">
  <div class="col-sm-8">
    <h5 class="font-size-14">Folio de cotización {{ folio }}</h5>
    <p class="mb-1">{{ solicitudCompra.equipoOInstalacion }}</p>
    <p class="mb-1">{{ solicitudCompra.justificacionGasto }}</p>
  </div>
  <div class="col-sm-4">
    @if (cotizacionProveedor.length > 1) {
    <custom-button
      ngbTooltip="Evaluar precio de manera individual"
      placement="left"
      [customNgClass]="{ active: evaluarPrecioIndependiente }"
      customClass="btn-warning float-end me-1"
      (clicked)="evaluarPrecioIndependiente = !evaluarPrecioIndependiente"
      label="Evaluar"
    >
    </custom-button>
    } @if (cotizacionProveedor.length !== 3) {
    <custom-button
      ngbTooltip="Agregar Cotización"
      placement="left"
      customClass="btn-info float-end me-2"
      (clicked)="onModalAddProveedor()"
      [disabled]="cotizacionProveedor.length === 3"
      icon="fa-regular fa-plus me-1"
      label="Agregar cotización"
    >
    </custom-button>
    }
  </div>
</div>
}
<hr class="bg-dark" style="height: 4px" />
<div class="row">
  <div class="col-sm-12">
    <p-table
      [value]="solicitudCompraDetalle"
      styleClass="custom-table"
      [tableStyle]="{ 'min-width': '50rem' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 30%" scope="col" class="font-size-14">
            DESCRIPCIÓN
          </th>
          <th style="width: 10%" scope="col" class="font-size-14">CANTIDAD</th>
          <th style="width: 10%" scope="col" class="font-size-14">UNIDAD</th>
          @if (provider1 !== undefined) {
          <th
            scope="col"
            [class.one]="cotizacionProveedor.length === 1"
            [class.two]="cotizacionProveedor.length === 2"
            [class.three]="cotizacionProveedor.length === 3"
            class="text-center font-size-14 pointer"
            (click)="onEditCotizacion(1, cotizacionProveedorId1)"
          >
            {{ provider1 | uppercase }}
          </th>
          } @if (provider2 !== undefined) {
          <th
            [class.two]="cotizacionProveedor.length === 2"
            [class.three]="cotizacionProveedor.length === 3"
            scope="col"
            class="text-center pointer font-size-14"
            (click)="onEditCotizacion(2, cotizacionProveedorId2)"
          >
            {{ provider2 | uppercase }}
          </th>
          } @if (provider3 !== undefined) {
          <th
            [class.three]="cotizacionProveedor.length === 3"
            scope="col"
            class="text-center pointer font-size-14"
            (click)="onEditCotizacion(3, cotizacionProveedorId3)"
          >
            {{ provider3 | uppercase }}
          </th>
          }
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td class="font-size-14">
            {{ item.producto | uppercase }}
          </td>
          <td class="font-size-14">{{ item.cantidad }}</td>
          <td class="font-size-14">
            {{ item.unidadMedida }}
          </td>
          <!-- Total 1 -->
          @if (provider1 != undefined) {
          <td
            class="font-size-14"
            [ngClass]="{
              'bg-warning':
                item.total < item.total2 &&
                cotizacionProveedor.length === 2 &&
                evaluarPrecioIndependiente
            }"
            [ngClass]="{
              'bg-warning':
                item.total < item.total2 &&
                item.total < item.total3 &&
                cotizacionProveedor.length === 3 &&
                evaluarPrecioIndependiente
            }"
          >
            {{ item.total | currency : "MXN" : "symbol" : "1.0-0" }}
          </td>
          }
          <!-- Total 1 -->
          <!-- Total 2 -->
          @if (provider2 != undefined) {
          <td
            class="font-size-14"
            [ngClass]="{
              'bg-warning':
                item.total2 < item.total &&
                cotizacionProveedor.length === 2 &&
                evaluarPrecioIndependiente
            }"
            [ngClass]="{
              'bg-warning':
                item.total2 < item.total &&
                item.total2 < item.total3 &&
                cotizacionProveedor.length === 3 &&
                evaluarPrecioIndependiente
            }"
          >
            {{ item.total2 | currency : "MXN" : "symbol" : "1.0-0" }}
          </td>
          }
          <!-- Total 2 -->
          <!-- Total 3 -->
          @if (provider3 != undefined) {
          <td
            class="font-size-14"
            [ngClass]="{
              'bg-warning':
                item.total3 < item.total &&
                item.total3 < item.total2 &&
                evaluarPrecioIndependiente
            }"
          >
            {{ item.total3 | currency : "MXN" : "symbol" : "1.0-0" }}
          </td>
          }
          <!-- Total 3 -->
        </tr>
      </ng-template>
      <ng-template pTemplate="footer">
        <tr>
          <td class="font-size-14" colspan="3"></td>
          @if (provider1 !== undefined) {
          <td
            class="font-size-14"
            (change)="onEvaluationPriceTotal()"
            [ngClass]="{
              'bg-warning': amarilloTotal1
            }"
          >
            {{ total1 | currency : "MXN" : "symbol" : "1.0-0" }}
          </td>
          } @if (provider2 !== undefined) {
          <td
            class="font-size-14"
            (change)="onEvaluationPriceTotal()"
            [ngClass]="{
              'bg-warning': amarilloTotal2
            }"
          >
            {{ total2 | currency : "MXN" : "symbol" : "1.0-0" }}
          </td>
          } @if (provider3 !== undefined) {
          <td
            class="font-size-14"
            (change)="onEvaluationPriceTotal()"
            [ngClass]="{
              'bg-warning': amarilloTotal3
            }"
          >
            {{ total3 | currency : "MXN" : "symbol" : "1.0-0" }}
          </td>
          }
        </tr>
        <!-- Totales: -->
        <br />
        <!-- Totales Mejor Opcion: -->
        @if (evaluarPrecioIndependiente) {
        <tr>
          <td class="font-size-14" colspan="3"></td>
          @if (provider1 !== undefined) {
          <td class="font-size-14" (change)="onEvaluationPriceTotal()">
            {{ mejorPrecioTotal1 | currency : "MXN" : "symbol" : "1.0-0" }}
          </td>
          } @if (provider2 !== undefined) {
          <td class="font-size-14" (change)="onEvaluationPriceTotal()">
            {{ mejorPrecioTotal2 | currency : "MXN" : "symbol" : "1.0-0" }}
          </td>
          } @if (provider3 !== undefined) {
          <td class="font-size-14" (change)="onEvaluationPriceTotal()">
            {{ mejorPrecioTotal3 | currency : "MXN" : "symbol" : "1.0-0" }}
          </td>
          }
        </tr>
        } @if (evaluarPrecioIndependiente) {
        <tr>
          <td class="font-size-14" colspan="3"></td>
          <td class="font-size-14" colspan="3" class="text-center">
            <p class="font-size-14">
              TOTAL A GASTAR COMPRANDO LO MAS BARATO A CADA PROVEEDOR:
            </p>
            {{ totalMejorPrecioTotal | currency : "MXN" : "symbol" : "1.0-0" }}
          </td>
        </tr>
        }
      </ng-template>
    </p-table>
  </div>
</div>
@if (cotizacionProveedor) {
<table class="custom-table w-100">
  <tr>
    <td
      colspan="3"
      style="width: 50%; border: none !important; text-align: end !important"
    >
      TIEMPO DE ENTREGA
    </td>
    @if (provider1 !== undefined) {
    <td
      [class.one]="cotizacionProveedor.length === 1"
      [class.two]="cotizacionProveedor.length === 2"
      [class.three]="cotizacionProveedor.length === 3"
    >
      {{ cotizacionProveedor[0]?.entrega }}
    </td>
    } @if (provider2 !== undefined) {
    <td
      [class.two]="cotizacionProveedor.length === 2"
      [class.three]="cotizacionProveedor.length === 3"
    >
      {{ cotizacionProveedor[1]?.entrega }}
    </td>
    } @if (provider3 !== undefined) {
    <td [class.three]="cotizacionProveedor.length === 3">
      {{ cotizacionProveedor[2]?.entrega }}
    </td>
    }
  </tr>
  <tr>
    <td
      colspan="3"
      style="width: 50%; border: none !important; text-align: end !important"
    >
      GARANTIA
    </td>
    @if (provider1 !== undefined) {
    <td
      [class.one]="cotizacionProveedor.length === 1"
      [class.two]="cotizacionProveedor.length === 2"
      [class.three]="cotizacionProveedor.length === 3"
    >
      {{ cotizacionProveedor[0]?.garantia }}
    </td>
    } @if (provider2 !== undefined) {
    <td
      [class.two]="cotizacionProveedor.length === 2"
      [class.three]="cotizacionProveedor.length === 3"
    >
      {{ cotizacionProveedor[1]?.garantia }}
    </td>
    } @if (provider3 !== undefined) {
    <td [class.three]="cotizacionProveedor.length === 3">
      {{ cotizacionProveedor[2]?.garantia }}
    </td>
    }
  </tr>
  <tr>
    <td
      colspan="3"
      style="width: 50%; border: none !important; text-align: end !important"
    >
      POLITICAS DE PAGO
    </td>
    @if (provider1 !== undefined) {
    <td
      [class.one]="cotizacionProveedor.length === 1"
      [class.two]="cotizacionProveedor.length === 2"
      [class.three]="cotizacionProveedor.length === 3"
    >
      {{ cotizacionProveedor[0]?.politicaPago }}
    </td>
    } @if (provider2 !== undefined) {
    <td
      [class.two]="cotizacionProveedor.length === 2"
      [class.three]="cotizacionProveedor.length === 3"
    >
      {{ cotizacionProveedor[1]?.politicaPago }}
    </td>
    } @if (provider3 !== undefined) {
    <td [class.three]="cotizacionProveedor.length === 3">
      {{ cotizacionProveedor[2]?.politicaPago }}
    </td>
    }
  </tr>
</table>
}
<style>
  .one {
    width: 50%;
  }
  .two {
    width: 25%;
  }
  .three {
    width: 16.66%;
  }
  /* th {
background: #000 !important;
color: white !important;
}
td {
color: #000 !important;
border-color: #000 !important;
} */
</style>
