<p-toast position="top-right" [baseZIndex]="99999"></p-toast>
@if(data){
<div class="card">
  <p-table
    #dt
    [value]="data"
    [globalFilterFields]="[
      'folio',
      'requestDate',
      'customer',
      'requestPerson',
      'title',
      'statusFilter',
      'requestDate'
    ]"
    [paginator]="true"
    [rowHover]="true"
    [rows]="50"
    [rowsPerPageOptions]="[50, 75, 100, 200]"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    styleClass="custom-table"
  >
    <ng-template pTemplate="caption">
      <div class="row">
        <div class="col-sm-10">
          <app-table-header
            title="TICKETS LEGAL"
            (add)="onModalAddOrEdit({ id: '', title: 'AGREGAR TICKET LEGAL' })"
            [dt]="dt"
          />
        </div>
        <div class="col-sm-2 d-flex align-items-center">
          <input
            class="form-control w-75 me-2"
            type="month"
            [(ngModel)]="inputValue"
            (change)="onFilter(inputValue)"
          />
          <!-- Ajusta el espacio con "me-2" según sea necesario -->
          <button ngbTooltip="Restaurar fecha" class="btn btn-primary">
            <i
              class="fa-duotone fa-window-restore pointer"
              (click)="clearInput()"
            ></i>
          </button>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th scope="col" class="color-gradient-1">FOLIO</th>
        <th scope="col" class="color-gradient-1">FECHA SOLICITUD</th>
        <th scope="col" class="color-gradient-1" pSortableColumn="customer">
          CLIENTE<p-sortIcon field="customer"></p-sortIcon>
        </th>
        <th scope="col" class="color-gradient-1">SOLICITA</th>
        <th scope="col" class="color-gradient-1">ASUNTO</th>
        <th scope="col" class="color-gradient-1">DESCRIPCIÓN</th>
        <th scope="col" class="color-gradient-2">DOCTOS ENVIADOS</th>
        <th scope="col" class="color-gradient-2">ESTATUS</th>
        <th scope="col" class="color-gradient-2">FECHA DE CONCLUSIÓN</th>
        <th scope="col" class="color-gradient-2">DÍAS</th>
        <th scope="col" class="color-gradient-2">RESPONSABLE</th>
        <th colspan="2" scope="col" class="color-gradient-2">SEGUIMIENTO</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td class="p-column-title">{{ item.folio }}</td>
        <td class="p-column-title">{{ item.requestDate }}</td>
        <td class="p-column-title">{{ item.customer }}</td>
        <td class="p-column-title">
          <p class="small">
            {{ item.requestProfession }}
          </p>
          <p class="small">
            {{ item.requestPerson }}
          </p>
        </td>
        <td class="p-column-title">{{ item.title }}</td>
        <td class="p-column-title text-center">
          @if (item.request.length > 0) {
          <i
            (click)="onModalViewDetail({ id: item.id })"
            ngbTooltip="Ver detalles"
            class="fa-duotone fa-book fa-xl pointer"
          ></i>
          }
        </td>
        <td class="p-column-title">
          <div class="text-center">
            @if(item.documentCloud){
            <i
              class="fa-duotone fa-cloud-arrow-up fa-xl me-3"
              ngbTooltip="Subida a LuxuryCloud"
            ></i>
            } @if(item.documentEmail){
            <i
              class="fa-duotone fa-envelope fa-xl"
              ngbTooltip="Enviada por email"
            ></i>
            }
          </div>
        </td>
        <td class="p-column-title">
          <p
            (click)="onModalUpdateStatus({ id: item.id })"
            class="badge border-0 p-2 pointer"
            ngbTooltip="Actualizar de estatus"
            [ngClass]="{
              'bg-danger': item.status === 0,
              'bg-success': item.status === 1,
              'bg-warning': item.status === 3,
              'bg-secondary': item.status === 4,
            }"
          >
            @if (item.status === 0) {
            <span> PENDIENTE </span>
            } @if (item.status === 1) {
            <span> CONCLUIDO </span>
            } @if (item.status === 3) {
            <span> PROCESO </span>
            } @if (item.status === 4) {
            <span> CANCELADO </span>
            }
          </p>
        </td>
        <td class="p-column-title">{{ item.completionDate }}</td>
        <td class="p-column-title text-center">{{ item.diferenciaDias }}</td>
        <td class="p-column-title">{{ item.personResponsible }}</td>
        <td class="p-column-title">
          <div class="d-flex justify-content-center">
            <button
              type="button"
              class="btn btn-sm btn-outline-warning position-relative me-1 pointer"
              ngbTooltip="Seguimiento"
              placement="top"
              (click)="
                onModalComentarios({ ticketId: item.id, title: 'Seguimiento' })
              "
            >
              <i class="fa-regular fa-list text-warning"></i>
              <span
                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success"
                >{{ item.tracking }}
                <span class="visually-hidden">unread messages</span></span
              >
            </button>
          </div>
        </td>

        <td class="p-column-title" class="hide-print-mode">
          <div class="d-flex justify-content-center">
            <custom-button-edit
              (edit)="
                onModalEdit({ id: item.id, title: 'EDITAR TICKET LEGAL' })
              "
            />
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <div class="p-d-flex p-ai-center p-jc-between hide-print-mode">
        En total hay
        {{ data ? data.length : 0 }} registros.
      </div>
    </ng-template>
  </p-table>
</div>

}
<style>
  .color-gradient-1 {
    background: linear-gradient(
      to right,
      #414141,
      #548235
    ); /* Degradado de colores para el primer grupo */
    color: #fff; /* Color de texto */
  }

  .color-gradient-2 {
    background: linear-gradient(
      to right,
      #0f0c29,
      #302b63
    ); /* Degradado de colores para el segundo grupo */
    color: #fff; /* Color de texto */
  }

  th {
    text-align: center; /* Para centrar el texto */
    font-weight: normal; /* Para la fuente delgada, puedes usar 'normal' o 'lighter' dependiendo de la familia de fuentes */
    padding: 10px; /* Añadimos un poco de espacio alrededor del texto */
  }
</style>
