<p-toast position="top-left" [baseZIndex]="99999"></p-toast>
<div class="p-card p-mb-5">
  <p-table
    #dt
    [(selection)]="data"
    [autoLayout]="true"
    [globalFilterFields]="['eExtintor', 'ubicacion']"
    [paginator]="true"
    [rowHover]="true"
    [rows]="15"
    [rowsPerPageOptions]="[10, 20, 30, 40, 50, 75, 100, 200]"
    [showCurrentPageReport]="true"
    [value]="data"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    styleClass="custom-table"
  >
    <ng-template pTemplate="caption">
      <app-table-header
        [title]="'Inventario de Extintores'"
        (add)="onModalAddOrEdit({ id: 0, title: 'Nuevo Registro' })"
        [dt]="dt"
      ></app-table-header>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th scope="col" style="width: 5%">Foto</th>
        <th scope="col" style="width: 30%" pSortableColumn="eExtintor">
          Extintor <p-sortIcon field="eExtintor"></p-sortIcon>
        </th>
        <th scope="col" style="width: 30%" pSortableColumn="ubicacion">
          Ubicación
          <p-sortIcon field="ubicacion"></p-sortIcon>
        </th>

        <th scope="col" style="width: 5%">Opciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td class="p-column-title">
          <p-image
            [src]="url + item.customerId + '/extintor/' + item.photo"
            alt="."
            width="100"
            class="p-shadow-4"
            [preview]="true"
          ></p-image>
        </td>
        <td class="p-column-title">
          <small>
            {{ item.eExtintor }}
          </small>
        </td>
        <td class="p-column-title">
          <small>
            {{ item.ubicacion }}
          </small>
        </td>

        <!-- Opciones -->
        <td class="p-column-title">
          <div class="d-flex justify-content-center">
            <custom-button-edit
              (edit)="
                onModalAddOrEdit({ id: item.id, title: 'Editar Registro' })
              "
            ></custom-button-edit>
            <custom-button-delete
              (OnConfirm)="onDelete(item)"
            ></custom-button-delete>
          </div>
        </td>
        <!-- Opciones -->
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <div class="p-d-flex p-ai-center p-jc-between hide-print-mode">
        En total hay
        {{ data ? data.length : 0 }} registros.
      </div>
    </ng-template>
  </p-table>
</div>
