<div class="row">
  <div class="col-sm-4">
    <a
      class="btn btn-group me-1"
      *ngFor="let item of menu"
      [routerLink]="['/reclutamiento/solicitudes/', item.path]"
      [ngClass]="{
        'btn-primary': isActive(item.path),
        'btn-outline-primary': !isActive(item.path)
      }"
      >{{ item.label }}</a
    >
  </div>
  <div class="col-sm-3">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Mostrar desde</span>
      </div>
      <input
        class="form-control"
        type="month"
        [(ngModel)]="fechaFormateada"
        pTooltip="Selecciona desde que mes mostrar"
        tooltipPosition="top"
        (change)="onLoadData()"
      />
    </div>
  </div>
  <div class="col-sm-3">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Estatus</span>
      </div>
      <select
        [(ngModel)]="statusRequestValue"
        class="form-select"
        (change)="onLoadData()"
      >
        <option *ngFor="let item of cb_status_request" [value]="item.value">
          {{ item.label }}
        </option>
        <option [value]="''">Mostrar todos</option>
      </select>
    </div>
  </div>

  <div class="col-sm-2">
    <!-- Agrega el botón de exportación -->
    <div class="d-flex justify-content-end">
      <custom-button-confirmation
        [disabled]="noCandidates"
        title="Confirmar"
        text="Enviar reporte de pendientes a dirección!"
        tooltipText="Enviar reporte de pendientes a dirección!"
        confirmButtonText="Sí, enviar"
        (OnConfirm)="onSendReportVacants()"
        classButton="w-100 btn-info "
        label="Énviar reporte"
        icon="fa-duotone fa-paper-plane me-3"
      ></custom-button-confirmation>
      <custom-button
        customClass="btn-success ms-1"
        ngbTooltip="Exportar a excel"
        icon="fa-duotone fa-file-excel"
        (clicked)="exportToExcel()"
      ></custom-button>
    </div>
  </div>
</div>
<br />
