<p-toast position="top-left" [baseZIndex]="99999"></p-toast>

<p-table
  #dt
  styleClass="custom-table"
  [value]="data"
  [globalFilterFields]="[
    'cellPhone',
    'directoryCondominium',
    'extencion',
    'fixedPhone',
    'habitant',
    'mail',
    'nameDirectoryCondominium'
  ]"
  [autoLayout]="true"
>
  <ng-template pTemplate="caption">
    <app-table-header
      [title]="'Condominos...'"
      (add)="showModalAddOrEdit({ id: 0, title: 'Nuevo Registro' })"
      [dt]="dt"
      [rolAuth]="
        authService.onValidateRoles(['Asistente', 'Residente', 'SuperUsuario'])
      "
    ></app-table-header>
    <div class="row">
      <div class="col-sm-4"></div>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th scope="col" style="width: 10%" pSortableColumn="directoryCondominium">
        Depto.
        <p-sortIcon field="directoryCondominium"></p-sortIcon>
      </th>
      <th scope="col" style="width: 10%" pSortableColumn="habitant">
        Habitante
        <p-sortIcon field="habitant"></p-sortIcon>
      </th>
      <th
        scope="col"
        style="width: 10%"
        pSortableColumn="nameDirectoryCondominium"
      >
        Nombre
        <p-sortIcon field="nameDirectoryCondominium"></p-sortIcon>
      </th>
      <th scope="col" style="width: 10%" pSortableColumn="extencion">
        Extensión
        <p-sortIcon field="extencion"></p-sortIcon>
      </th>
      <th scope="col" style="width: 10%" pSortableColumn="fixedPhone">
        Télefono fijo
        <p-sortIcon field="fixedPhone"></p-sortIcon>
      </th>
      <th scope="col" style="width: 10%" pSortableColumn="cellPhone">
        Télefonos
        <p-sortIcon field="cellPhone"></p-sortIcon>
      </th>
      <th scope="col" style="width: 10%" pSortableColumn="mail">
        Email
        <p-sortIcon field="mail"></p-sortIcon>
      </th>
      <th
        scope="col"
        style="width: 10%"
        pSortableColumn="mail"
        class="hide-print-mode"
      >
        Enviar Info
        <p-sortIcon field="mail"></p-sortIcon>
      </th>
      <th
        *ngIf="
          authService.onValidateRoles([
            'Asistente',
            'Residente',
            'SuperUsuario'
          ])
        "
        scope="col"
        style="width: 5%"
        class="hide-print-mode"
      >
        Opciones
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td>
        {{ item.directoryCondominium }}
      </td>
      <td>
        {{ item.habitant }}
      </td>
      <td>
        {{ item.nameDirectoryCondominium }}
      </td>
      <td>
        {{ item.extencion }}
      </td>
      <td>
        {{ item.fixedPhone }}
      </td>
      <td>
        {{ item.cellPhone }}
      </td>
      <td>
        {{ item.mail }}
      </td>
      <td class="hide-print-mode">
        <i
          *ngIf="item.enviarMails"
          class="text-success fa-duotone fa-check-double"
        ></i>
        <i *ngIf="!item.enviarMails" class="text-danger fa-duotone fa-x"></i>
      </td>

      <td
        class="p-column-title hide-print-mode"
        *ngIf="
          authService.onValidateRoles([
            'Asistente',
            'Residente',
            'SuperUsuario'
          ])
        "
      >
        <div class="d-flex justify-content-center">
          <!-- Componente editar registro -->
          <custom-button-edit
            (edit)="
              showModalAddOrEdit({ id: item.id, title: 'Editar Registro' })
            "
          ></custom-button-edit>
          <!-- Componente editar registro -->
          <!-- Componente eliminar registro -->
          <custom-button-delete
            (OnConfirm)="onDelete(item)"
          ></custom-button-delete>
          <!-- Componente eliminar registro -->
        </div>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="paginatorleft">
    <div class="p-d-flex p-ai-center p-jc-between">
      En total hay
      {{ data ? data.length : 0 }} registros.
    </div>
  </ng-template>
</p-table>
