<div
  *ngIf="user !== undefined"
  class="card card-outline card-info card-widget widget-user-2 shadow-sm"
  [ngClass]="{ 'card-danger': !user.active, 'card-success': user.active }"
>
  <div class="row">
    <div class="col-sm-4">
      <img class="w-100 h-100 rounded" [src]="urlImage" alt="no-img" />
    </div>
    <div class="col-sm-8">
      <div class="p-1">
        <h3 class="h4">{{ user.firstName }} {{ user.lastName }}</h3>
        <h5 class="card-title">{{ user.profession }}</h5>
        <h5 class="card-title">{{ user.customer }}</h5>
        <hr />
        <h5 class="card-title">{{ user.email }}</h5>
        <h5 class="card-title">
          {{ user.birth | date : "longDate" }}
        </h5>
        <h5 class="card-title">{{ user.phoneNumber | phoneFormat }}</h5>
        <h5 class="card-title">{{ user.celularPersonal | phoneFormat }}</h5>
        <h5 class="card-title">{{ user.correoPersonal }}</h5>
      </div>
    </div>
  </div>
</div>
