@if(data) {
<div class="card p-3 mb-4 shadow-sm">
  <div class="row mb-2">
    <div class="col-12 col-md-4 font-weight-bold">Titulo:</div>
    <div class="col-12 col-md-8">
      {{ data.title }}
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-12 col-md-4 font-weight-bold">Cliente:</div>
    <div class="col-12 col-md-8">
      {{ data.customer }}
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-12 col-md-4 font-weight-bold">Fecha de Solicitud:</div>
    <div class="col-12 col-md-8">
      {{ data.requestDate }}
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-12 col-md-4 font-weight-bold">Solicita:</div>
    <div class="col-12 col-md-8">
      {{ data.applicationUserRequest }}
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-12 col-md-4 font-weight-bold">Asunto:</div>
    <div class="col-12 col-md-8">
      {{ data.request }}
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-12 col-md-4 font-weight-bold">Documentos en Cloud:</div>
    <div class="col-12 col-md-8">
      {{ data.documentCloud }}
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-12 col-md-4 font-weight-bold">
      Documentos enviados por mail:
    </div>
    <div class="col-12 col-md-8">
      {{ data.documentEmail }}
    </div>
  </div>
</div>
}
