<custom-button
  *ngIf="authService.onValidateRoles(['SuperUsuario'])"
  (clicked)="SetFolios()"
  customClass="btn-outline-primary me-1 mb-1"
  label="SetFolios"
>
</custom-button>

<div class="row">
  <div class="col hide-print-mode">
    <button
      class="btn btn-outline-secondary w-sm me-1 mb-1"
      type="button"
      (click)="onModalFiltro()"
      ngbTooltip="Filtrar"
    >
      <i class="fa-duotone fa-filter"></i>
      Filtrar
    </button>
    <button
      class="btn btn-outline-info w-sm me-1 mb-1"
      type="button"
      (click)="onModalWorkPlan()"
      ngbTooltip="Filtrar"
    >
      <i class="fa-duotone fa-list-check"></i>
      Plan de trabajo
    </button>
    <button
      class="btn btn-outline-success w-sm me-1 mb-1"
      type="button"
      ngbTooltip="Agregar tarea terminada"
      (click)="
        showModalAddOrEdit({
          id: 0,
          title: 'Nuevo Registro',
          status: 1
        })
      "
    >
      <i class="fa-duotone fa-check-double"></i> Concluido
    </button>
    <button
      class="btn btn-outline-secondary w-sm me-1 mb-1"
      type="button"
      ngbTooltip="Agregar pendiente"
      (click)="
        showModalAddOrEdit({
          id: 0,
          title: 'Nuevo Registro',
          status: 0
        })
      "
    >
      <i class="fa-duotone fa-x"></i> Pendiente
    </button>
    <button
      class="btn btn-outline-danger w-sm me-1 mb-1"
      type="button"
      ngbTooltip="Generar Reporte"
      [routerLink]="['/operaciones/reporte/reporte-concluidos']"
    >
      <i class="fa-duotone fa-file-pdf"></i> Reporte
    </button>
    <button
      class="btn btn-outline-danger w-sm me-1 mb-1"
      type="button"
      ngbTooltip="Reporte de pendientes"
      [routerLink]="['/operaciones/reporte/reporte-pendientes']"
    >
      <i class="fa-duotone fa-file-pdf"></i>
      Pendientes
    </button>

    <a
      *ngIf="
        ligaReporte &&
        authService.onValidateRoles(['Asistente', 'Residente', 'SuperUsuario'])
      "
      class="btn btn-outline-info w-sm me-1 mb-1"
      ngbTooltip="Envar Reporte por Mail"
      (click)="showModalEnviarEmail()"
    >
      <i class="fa-duotone fa-paper-plane"></i>
      Enviar Reporte
    </a>
    <button
      class="btn btn-outline-info w-sm me-1 mb-1"
      ngbTooltip="Ver mis tickets asignados"
      (click)="onLoadMisTickets()"
    >
      Mis Tickets
    </button>
    <button
      class="btn btn-outline-info w-sm me-1 mb-1"
      ngbTooltip="Ver mis tickets asignados"
      (click)="onLoadTicketsAll()"
    >
      Todos los Tickets
    </button>
  </div>
</div>

<div *ngIf="ligaReporte" class="hide-print-mode">
  {{ ligaReporte }}
</div>

<div class="card">
  <p-toast position="top-left" [baseZIndex]="99999"></p-toast>

  <p-table
    #dt
    [value]="data"
    styleClass="custom-table"
    [rows]="100"
    [paginator]="true"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[100]"
    [globalFilterFields]="[
      'activity',
      'observations',
      'request',
      'responsibleArea',
      'priority',
      'status',
      'responsableNombre',
      'employeeCargoReporteNombre'
    ]"
    [autoLayout]="true"
  >
    <ng-template pTemplate="caption">
      <app-table-header
        [title]="'Tickets areas comunes'"
        [dt]="dt"
        [showAdd]="false"
      ></app-table-header>
    </ng-template>
    <ng-template pTemplate="header">
      <tr scope="col">
        <th
          scope="col"
          colspan="2"
          class="font-size-12"
          pSortableColumn="employeeCargoReporteNombre"
        >
          REPORTO
          <p-sortIcon field="employeeCargoReporteNombre"></p-sortIcon>
        </th>
        <th scope="col" class="font-size-12" style="width: 10%">ESTATUS</th>
        <th scope="col" class="font-size-12">IMAGEN</th>
        <th
          scope="col"
          class="font-size-12"
          style="width: 30%"
          pSortableColumn="responsibleArea"
        >
          SOLICITUD
          <p-sortIcon field="responsibleArea"></p-sortIcon>
        </th>
        <th
          scope="col"
          class="font-size-12"
          style="width: 10%"
          pSortableColumn="fechaProgamacionFiltro"
        >
          INICIO
          <p-sortIcon field="fechaProgamacionFiltro"></p-sortIcon>
        </th>
        <th
          scope="col"
          class="font-size-12"
          style="width: 10%"
          pSortableColumn="responsableNombre"
        >
          RESPONSABLE
          <p-sortIcon field="responsableNombre"></p-sortIcon>
        </th>
        <th
          scope="col"
          class="font-size-12"
          style="width: 10%"
          pSortableColumn="fechaLimiteFiltro"
        >
          LIMITE
          <p-sortIcon field="fechaLimiteFiltro"></p-sortIcon>
        </th>
        <th scope="col" class="font-size-12 hide-print-mode" style="width: 5%">
          RELEVANTE
        </th>
        <th scope="col" class="hide-print-mode" style="width: 5%"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <!-- <tr>
        <td colspan="10">
          <p class="mb-1">
            <i
              class="fa-duotone fa-bookmark"
              [ngClass]="{
                'text-danger': item.priority == 0,
                'text-warning': item.priority == 1
              }"
            ></i>
            <em>
              {{ item.folio }}
            </em>
          </p>
        </td>
      </tr> -->
      <tr>
        <td class="center">
          <p class="mb-1 font-size-10">
            <i
              class="fa-duotone fa-bookmark"
              [ngClass]="{
                'text-danger': item.priority == 0,
                'text-warning': item.priority == 1
              }"
            ></i>
            <em>
              {{ item.folio }}
            </em>
          </p>
          <img
            (click)="onCardEmployee(item.employeeCargoReporteId)"
            [src]="url + item.employeeCargoReporteImg"
            alt="."
            width="32"
            class="rounded avatar-md"
            style="cursor: pointer"
          />
        </td>
        <td>
          <p>
            {{ item.dateRequest }}
          </p>
        </td>
        <td>
          <p
            class="badge border-0 p-2"
            [ngClass]="{
              'bg-danger': item.status === 0,
              'bg-success': item.status === 1,
              'bg-secondary': item.status === 2
            }"
          >
            <span *ngIf="item.status === 0"> PENDIENTE </span>
            <span *ngIf="item.status === 1"> TERMINADO </span>
            <span *ngIf="item.status === 2"> DENEGADO </span>
          </p>
        </td>
        <td class="text-center">
          <div class="d-flex">
            <p-image
              [src]="this.base_urlImg + item.photoPathBefore"
              alt="."
              width="50"
              class="me-2"
              [preview]="true"
            ></p-image>

            <p-image
              *ngIf="item.photoPathAfter"
              [src]="this.base_urlImg + item.photoPathAfter"
              alt="."
              width="50"
              class="me-2"
              [preview]="true"
            ></p-image>
            <img
              *ngIf="!item.photoPathAfter"
              src="assets/images/no-image.jpg"
              alt=""
              width="50"
            />
          </div>
        </td>
        <td>
          <h5 class="font-size-14 mb-2">
            {{ item.responsibleArea }}
          </h5>
          <p>
            {{ item.activity }}
          </p>
        </td>
        <td>
          {{ item.fechaProgamacion }}
        </td>

        <td>
          <img
            *ngIf="item.responsableId"
            (click)="onCardEmployee(item.responsableId)"
            [src]="url + item.responsablePhoto"
            alt="."
            width="32"
            style="cursor: pointer"
            class="rounded avatar-md"
          />
        </td>

        <td>
          <div
            [ngClass]="{
              'text-danger card-title': item.folioAtrasado === true
            }"
          >
            {{ item.fechaLimite }}
          </div>
        </td>
        <!-- Opciones -->
        <td
          *ngIf="
            authService.onValidateRoles([
              'Asistente',
              'Residente',
              'SuperUsuario',
              'SupervisionOperativa',
              'Mantenimiento'
            ])
          "
          class="text-center hide-print-mode"
        >
          <input
            type="checkbox"
            [(ngModel)]="item.folioReporte"
            [checked]="item.folioReporte"
            (change)="onUpdateStateTicket(item)"
          />
        </td>
        <td class="hide-print-mode">
          <div class="d-flex justify-content-center">
            <custom-button-edit
              (edit)="
                showModalAddOrEdit({
                  id: item.id,
                  title: 'Editar Registro'
                })
              "
            ></custom-button-edit>
            <custom-button-delete
              *ngIf="authService.onValidateRoles(['SupervisionOperativa'])"
            >
              (OnConfirm)="onDelete(item)" ></custom-button-delete
            >

            <button
              type="button"
              class="btn btn-sm btn-outline-warning position-relative me-1 pointer"
              ngbTooltip="Seguimiento"
              placement="top"
              (click)="onModalComentarios(item.id)"
            >
              <i class="fa-duotone fa-list text-warning"></i>
              <span
                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success"
                >{{ item.seguimientos }}
                <span class="visually-hidden">unread messages</span></span
              >
            </button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
