<p-toast position="top-left" [baseZIndex]="99999"></p-toast>
<div class="p-card p-mb-5">
  <p-table
    #dt
    [(selection)]="data"
    [autoLayout]="true"
    [globalFilterFields]="[
      'ePosicionComite',
      'departamento',
      'email',
      'condomino',
      'nameDirectoryCondominium'
    ]"
    [paginator]="true"
    [rowHover]="true"
    [rows]="15"
    [rowsPerPageOptions]="[10, 20, 30, 40, 50, 75, 100, 200]"
    [showCurrentPageReport]="true"
    [value]="data"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    styleClass="custom-table"
  >
    <ng-template pTemplate="caption">
      <app-table-header
        [title]="'Comité de Vigilancia'"
        (add)="onModalAddOrEdit({ id: 0, title: 'Nuevo Registro' })"
        [dt]="dt"
      ></app-table-header>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th scope="col" pSortableColumn="ePosicionComite">
          <p class="card-title">Posición</p>
          <p-sortIcon field="ePosicionComite"></p-sortIcon>
        </th>
        <th scope="col" pSortableColumn="nameDirectoryCondominium">
          <p class="card-title">Nombre</p>
          <p-sortIcon field="nameDirectoryCondominium"></p-sortIcon>
        </th>
        <th scope="col" pSortableColumn="departamento">
          <p class="card-title">Departamento</p>
          <p-sortIcon field="departamento"></p-sortIcon>
        </th>
        <th scope="col" pSortableColumn="listCondomino.mail">
          <p class="card-title">Correo</p>
          <p-sortIcon field="listCondomino.mail"></p-sortIcon>
        </th>
        <th scope="col">
          <p class="card-title">Celular</p>
        </th>

        <th scope="col" style="width: 5%">
          <p class="card-title">Opciones</p>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td class="p-column-title">
          <p class="card-title">
            {{ item.ePosicionComite }}
          </p>
        </td>
        <td class="p-column-title">
          <p class="card-title">
            {{ item.nameDirectoryCondominium }}
          </p>
        </td>
        <td class="p-column-title">
          <p class="card-title">
            {{ item.departamento }}
          </p>
        </td>
        <td class="p-column-title">
          <p class="card-title">
            {{ item.email }}
          </p>
        </td>
        <td class="p-column-title">
          <p class="card-title">
            {{ item.celular }}
          </p>
        </td>
        <!-- Opciones -->
        <td class="p-column-title">
          <div class="d-flex justify-content-center">
            <custom-button-edit
              (edit)="
                onModalAddOrEdit({ id: item.id, title: 'Editar Registro' })
              "
            ></custom-button-edit>
            <custom-button-delete
              (OnConfirm)="onDelete(item)"
            ></custom-button-delete>
          </div>
        </td>
        <!-- Opciones -->
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <div class="p-d-flex p-ai-center p-jc-between hide-print-mode">
        En total hay
        {{ data ? data.length : 0 }} registros.
      </div>
    </ng-template>
  </p-table>
</div>
