<div class="card">
  <div class="card-body">
    <form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="form">
      <custom-input-text
        [control]="form.get('id')"
        formControlName="id"
        [readonly]="true"
        label="Id"
        [hidden]="false"
      />
      <custom-input-select
        [control]="form.get('ticketGroupId')"
        formControlName="ticketGroupId"
        label="Grupo"
        [data]="cb_ticket_group"
        [selectDefaulOption]="false"
      />
      <custom-input-text
        [control]="form.get('title')"
        formControlName="title"
        label="Area"
        placeholder="area"
      />

      <custom-input-text-area
        [control]="form.get('description')"
        formControlName="description"
        label="Descripcción"
        placeholder="descripcción"
      />
      <custom-input-select
        [control]="form.get('priority')"
        formControlName="priority"
        label="Prioridad"
        [data]="cb_priority"
        [selectDefaulOption]="false"
      />

      <!-- programar -->
      <custom-input-date
        [control]="form.get('scheduledDate')"
        formControlName="scheduledDate"
        label="Fecha de programación"
        placeholder="fecha"
      />

      <!-- Responsable -->
      <custom-input-datalist
        (propagar)="saveUserId($event)"
        [control]="form.get('assignee')"
        [data]="cb_user"
        formControlName="assignee"
        label="Asignar"
        placeholder="Asignar"
        dataListId="assigneeDatalistOptions"
      />

      <!-- Este es por si es ticket concluido -->
      <custom-input-date
        [control]="form.get('closedDate')"
        formControlName="closedDate"
        label="Fecha de término"
        placeholder="fecha de término"
      />

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="beforeWork">Foto de antes</label>
            <input
              type="file"
              accept=".jpg,.jpeg,.png"
              class="form-control"
              (change)="onFileChange($event, 'beforeWork')"
            />
            <div *ngIf="form.get('beforeWorkPreview')?.value" class="mt-3">
              <img
                [src]="form.get('beforeWorkPreview')?.value"
                class="img-thumbnail"
                alt="Before Work Image Preview"
                style="max-width: 200px"
              />
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="afterWork">Foto de después</label>
            <input
              type="file"
              accept=".jpg,.jpeg,.png"
              class="form-control"
              (change)="onFileChange($event, 'afterWork')"
            />
            <div *ngIf="form.get('afterWorkPreview')?.value" class="mt-3">
              <img
                [src]="form.get('afterWorkPreview')?.value"
                class="img-thumbnail"
                alt="After Work Image Preview"
                style="max-width: 200px"
              />
            </div>
          </div>
        </div>
      </div>

      <btn-submit [disabled]="this.form.invalid || submitting" />
    </form>
  </div>
</div>
