<div class="card">
  <div class="card-body">
    <form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="form">
      <custom-input-text
        [control]="form.get('id')"
        formControlName="id"
        label="Id"
        [readonly]="true"
      />

      <custom-input-date
        [control]="form.get('desde')"
        formControlName="desde"
        label="Desde"
        placeholder="desde"
      />
      <custom-input-date
        [control]="form.get('hasta')"
        formControlName="hasta"
        label="Hasta"
        placeholder="hasta"
      />

      <btn-submit [disabled]="this.form.invalid || submitting" />
    </form>
  </div>
</div>
