<form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="form-group">
    <label class="font-weight-light">Equipo o Instalación</label>
    <input
      formControlName="machinery"
      class="form-control"
      list="DatalistOptions"
      placeholder="Escribir para buscar..."
      [ngClass]="{
        'is-invalid':
          f.machinery.errors && (f.machinery.dirty || f.machinery.touched)
      }"
      (change)="saveMaquinariaId($event)"
    />
    <datalist id="DatalistOptions">
      @for (item of maquinarias; track item) {
      <option [value]="item.label">
        {{ item.label }}
      </option>
      }
    </datalist>
  </div>
  <custom-input-text-area
    [control]="form.get('descripcion')"
    formControlName="descripcion"
    label="Descripción"
    placeholder="descripción"
    [horizontal]="false"
  />
  <div class="form-group">
    <label class="font-weight-light"
      >Activar Si nota nota alguna emergencia
    </label>
    <!-- TODO: ELIMINAR CHECK BOX -->
    <custom-input-check
      [control]="form.get('emergencia')"
      formControlName="emergencia"
      label="Emergencia"
    />
  </div>
  <custom-button-submit [disabled]="form.invalid || submitting" />
</form>
