<div class="card">
  <div class="card-body">
    <form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="form">
      <custom-input-text
        [control]="form.get('id')"
        formControlName="id"
        label="Id"
        placeholder="Id"
        [readonly]="true"
      />
      <custom-input-select
        [control]="form.get('ticketGroupCategoryId')"
        formControlName="ticketGroupCategoryId"
        label="Categoria"
        [selectDefaulOption]="true"
        [data]="cb_ticketGroupCategory"
      />

      <custom-input-select
        [control]="form.get('visibility')"
        formControlName="visibility"
        label="Privacidad"
        [selectDefaulOption]="false"
        [data]="cb_visibility"
      />

      <btn-submit [disabled]="this.form.invalid || submitting" />
    </form>
  </div>
</div>
