<p-table
  #dt
  *ngIf="data"
  [globalFilterFields]="[
    'areaEmpresa',
    'title',
    'requestService',
    'seguimiento.seguimiento'
  ]"
  [value]="data"
  styleClass="p-datatable-striped p-tag-success"
>
  <ng-template pTemplate="caption">
    <app-table-header [showAdd]="false" [dt]="dt"></app-table-header>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th scope="col" style="width: 2%" class="small">#</th>
      <th
        scope="col"
        style="width: 7%"
        class="small"
        pSortableColumn="customer"
      >
        Cliente
        <p-sortIcon field="customer"></p-sortIcon>
      </th>
      <th scope="col" style="width: 13%" class="small" pSortableColumn="title">
        Titulo
        <p-sortIcon field="title"></p-sortIcon>
      </th>
      <th
        scope="col"
        style="width: 20%"
        class="small"
        pSortableColumn="requestService"
      >
        Asunto
        <p-sortIcon field="requestService"></p-sortIcon>
      </th>
      <th scope="col" style="width: 7%" class="small" pSortableColumn="status">
        Estatus
        <p-sortIcon field="status"></p-sortIcon>
      </th>
      <th
        scope="col"
        style="width: 7%"
        class="small"
        pSortableColumn="deliveryDate"
      >
        Entrega
        <p-sortIcon field="deliveryDate"></p-sortIcon>
      </th>
      <th scope="col" style="width: 30%" class="small">Seguimiento</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowIndex="rowIndex" let-detalle>
    <tr>
      <td class="small">{{ rowIndex + 1 }}</td>
      <td class="small">
        {{ detalle.customer | uppercase }}
      </td>
      <td class="small">{{ detalle.title }}</td>
      <td class="small">
        <p
          class="mr-2 text-justify"
          [innerHTML]="detalle.requestService | sanitizeHtml"
        ></p>
      </td>
      <td class="small text-center">
        <span
          class="badge p-2"
          [ngClass]="{
            'badge-danger': detalle.status == 0,
            'badge-success': detalle.status == 1,
            'badge-secondary ': detalle.status == 2
          }"
        >
          {{ detalle.status | eStatus | uppercase }}</span
        >
      </td>
      <td class="small">{{ detalle.deliveryDate }}</td>
      <td class="small">
        <ol [start]="detalle.seguimientos.length" reversed>
          <li *ngFor="let item of detalle.seguimientos">
            {{ item.fecha }}, {{ item.seguimiento }}
          </li>
        </ol>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="6">Sin registros.</td>
    </tr>
  </ng-template>
</p-table>
