<div class="row hide-print-mode">
  <div class="col-12">
    <div
      class="btn-group w-100"
      role="group"
      aria-label="Basic checkbox toggle button group"
    >
      <input
        type="checkbox"
        class="btn-check"
        id="btncheck1"
        autocomplete="off"
        (click)="onPropagarActivo()"
        [disabled]="state == true"
      />
      <label class="btn btn-success bg-gradient w-50" for="btncheck1">{{
        activas
      }}</label>

      <input
        type="checkbox"
        class="btn-check"
        id="btncheck2"
        autocomplete="off"
        [disabled]="state == false"
        (click)="onPropagarInactivo()"
      />
      <label class="btn btn-danger bg-gradient w-50" for="btncheck2">{{
        inactivas
      }}</label>
    </div>
  </div>
</div>
