<!-- <div class="m-0">
  <ul class="list-group">
    @for (item of menu; track item) {
    <li
      class="list-group-item d-flex align-items-center justify-content-between pointer"
      *ngIf="item.visible"
      (click)="navigate(item)"
    >
      <div class="d-flex align-items-center">
        <i [class]="item.icon + ' fa-lg me-3 text-primary'"></i>
        <span>{{ item.label }}</span>
      </div>
      <i class="fa fa-chevron-right text-secondary"></i>
    </li>
    }
  </ul>
</div> -->
<div class="row m-1 mt-2">
  <ng-container *ngFor="let item of menu">
    <div class="col-6 col-md-4 mb-4" *ngIf="item.visible">
      <div
        class="card shadow-sm pointer h-100 d-flex flex-column"
        (click)="navigate(item)"
      >
        <div
          class="card-body text-center d-flex flex-column justify-content-between"
        >
          <i [class]="item.icon + ' fa-2xl text-primary my-0'"></i>
          <p class="small label-text mb-0">{{ item.label }}</p>
        </div>
      </div>
    </div>
  </ng-container>
</div>
<br />
<br />
<br />
