@if(hidden){
<div class="mb-2" [ngClass]="{ 'form-group row ': horizontal }">
  @if (horizontal) {
  <label class="col-sm-3">{{ label }}</label>
  <div class="col-sm-9">
    <div class="input-group auth-pass-inputgroup">
      <input
        [type]="fieldTextType ? 'text' : 'password'"
        type="password"
        class="form-control"
        [disabled]="disabled"
        [placeholder]="'Ingresa ' + placeholder"
        [value]="value"
        (input)="onChange($event.target.value)"
        (blur)="onTouch()"
        [class]="customClass"
        [ngClass]="{
          'is-invalid': control.invalid && (control.dirty || control.touched)
        }"
        aria-label="Password"
        aria-describedby="password-addon"
      />
      <button
        class="btn btn-light"
        (click)="toggleFieldTextType()"
        type="button"
        id="password-addon"
      >
        <i
          class="fa-duotone fa-solid"
          [ngClass]="{
            'fa-eye': !fieldTextType,
            'fa-eye-slash': fieldTextType
          }"
          (click)="toggleFieldTextType(); $event.stopPropagation()"
        ></i>
      </button>
    </div>
    <app-validation-errors-custom-input
      [control]="control"
      [placeholder]="placeholder"
    />
  </div>
  } @if (!horizontal) {
  <label>{{ label }}</label>
  <div class="input-group auth-pass-inputgroup">
    <input
      [type]="fieldTextType ? 'text' : 'password'"
      type="password"
      class="form-control"
      [class]="customClass"
      [disabled]="disabled"
      [placeholder]="'Ingresa ' + placeholder"
      [value]="value"
      (input)="onChange($event.target.value)"
      (blur)="onTouch()"
      [ngClass]="{
        'is-invalid': control.invalid && (control.dirty || control.touched)
      }"
      aria-label="Password"
      aria-describedby="password-addon"
    />
    <button
      class="btn btn-light"
      type="button"
      id="password-addon"
      (click)="toggleFieldTextType()"
    >
      <i
        class="fa-duotone fa-solid"
        [ngClass]="{
          'fa-eye': !fieldTextType,
          'fa-eye-slash': fieldTextType
        }"
        (click)="toggleFieldTextType(); $event.stopPropagation()"
      ></i>
    </button>
  </div>
  <app-validation-errors-custom-input
    [control]="control"
    [placeholder]="placeholder"
  />
  }
</div>
}
