<div class="card">
  <div class="card-body">
    <form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="form">
      <custom-input-text
        [control]="form.get('id')"
        formControlName="id"
        label="Id"
        [hidden]="false"
      />

      <custom-input-select
        [control]="form.get('machineryId')"
        formControlName="machineryId"
        label="Elevador"
        [data]="cb_elevators"
      />
      <custom-input-date
        [control]="form.get('changeDate')"
        formControlName="changeDate"
        label="Fecha"
        placeholder="fecha"
      />

      <custom-input-text-area
        [control]="form.get('failure')"
        formControlName="failure"
        label="Falla"
        placeholder="falla"
      />
      <custom-input-text
        [control]="form.get('partName')"
        formControlName="partName"
        label="Nombre de pieza"
        placeholder="nombre de pieza"
      />
      <custom-input-text
        [control]="form.get('partKey')"
        formControlName="partKey"
        label="Clave de pieza"
        placeholder="clave de pieza"
      />
      <custom-input-number
        [control]="form.get('price')"
        formControlName="price"
        label="Precio"
        placeholder="precio"
      />
      <custom-input-text
        [control]="form.get('supervised')"
        formControlName="supervised"
        label="Superviso"
        placeholder="superviso"
      />

      <btn-submit [disabled]="this.form.invalid || submitting" />
    </form>
  </div>
</div>
