<!-- temp -->

<!-- temp -->
<div class="text-right">
  <button
    class="mb-1 btn bg-gradient-primary btn-flat"
    type="button"
    (click)="
      showModalMaintenanceCalendar({
        id: 0,
        task: 'create',
        idMachinery: idMachinery
      })
    "
  >
    <span class="fa-duotone fa-plus"></span>
    Nuevo Servicio
  </button>
</div>
<div class="alert alert-danger" *ngIf="maintenanceCalendars.length === 0">
  Sin servicios de Mantenimiento
</div>
<table
  class="table table-striped table-inverse table-responsive"
  *ngIf="maintenanceCalendars.length > 0"
>
  <thead class="thead-inverse">
    <tr>
      <th scope="col">Actividad</th>
      <th scope="col">Recurrencia</th>
      <th scope="col">Mes</th>
      <th scope="col">Día</th>
      <th scope="col">Precio</th>
      <th scope="col" style="width: 10%">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of maintenanceCalendars">
      <td>
        <ckeditor
          [config]="{ toolbar: ['heading', '|', 'bold', 'italic'] }"
          [editor]="Editor"
          [(ngModel)]="item.activity"
          [readonly]="true"
        ></ckeditor>
      </td>
      <td>
        <small>{{ item.recurrence }} </small>
      </td>
      <td>
        <small>{{ item.month }} </small>
      </td>
      <td>
        //TODO: REVISAR
        <small>{{ item.day }} </small>
        <!-- <small>{{ item.day | eDay }} </small> -->
      </td>
      <td>
        <small>{{ item.price | currency : "MXN" }} </small>
      </td>
      <td>
        <div class="d-flex justify-content-center">
          <!-- Duplicar Servicio -->
          <button
            (click)="
              showModalMaintenanceCalendar({
                id: item.id,
                task: 'copy',
                idMachinery: item.machineryId,
                header: 'Duplicar Actividad'
              })
            "
            class="btn btn-sm btn-default m-1"
            pTooltip="Duplicar Servicio"
            tooltipPosition="top"
          >
            <i class="fa-duotone fa-copy text-dark" aria-hidden="true"></i>
          </button>

          <!-- Duplicar Servicio -->
          <!-- Editar  -->
          <custom-button-edit
            (edit)="
              showModalMaintenanceCalendar({
                id: item.id,
                task: 'edit',
                idMachinery: item.machineryId,
                header: 'Editar Actividad'
              })
            "
          ></custom-button-edit>
          <!-- Borrar -->
          <button
            pTooltip="Eliminar"
            tooltipPosition="top"
            class="btn btn-sm btn-danger m-1"
            (click)="confirm($event, item.id)"
          >
            <span class="fa-duotone fa-trash-can text-white-50"></span>
          </button>
          <!-- Borrar -->
        </div>
      </td>
    </tr>
  </tbody>
</table>
