<p-toast position="top-left" [baseZIndex]="99999"></p-toast>
<div class="card">
  <p-table
    #dt
    [value]="data"
    [showCurrentPageReport]="true"
    [globalFilterFields]="['machinery', 'typeMaintanceFilter']"
    styleClass="custom-table"
  >
    <ng-template pTemplate="caption">
      <app-table-header
        [title]="
          'Ordenes de Servicio de Mantenimiento ' + filtroEquiposValue
            | titlecase
        "
        (add)="
          onEdit({
            id: 0,
            title: 'Nuevo Registro',
            machineryId: 0,
            providerId: 0
          })
        "
        [dt]="dt"
      ></app-table-header>
      <div class="row mt-1">
        <div class="col-sm-12 mb-2 d-flex">
          <input
            [(ngModel)]="fecha"
            type="month"
            class="form-control w-25 me-3"
            (change)="onReloadOrdenes(filtroId, filtroEquiposValue)"
            ngbTooltip="Seleccionar Mes y Año"
            placement="top"
          />

          <custom-button
            *ngFor="let item of filtroEquipos"
            [ngbTooltip]="'Ver ' + item.nombre"
            [customClass]="'btn-outline-info '"
            icon="fas  {{ item.icon }}"
            [customNgClassIcon]="
              filtroEquiposValue == item.nombre ? 'text-warning' : ''
            "
            (clicked)="onReloadOrdenes(item.id, item.nombre)"
          ></custom-button>
        </div>
      </div>
      <div class="flex align-items-center justify-content-between">
        Servicios Totales {{ data ? data.length : 0 }} .
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th
          style="width: 10%"
          scope="col"
          pSortableColumn="maintenanceCalendarId"
        >
          CL-ID
          <p-sortIcon
            field="maintenanceCalendarId"
            class="hide-print-mode"
          ></p-sortIcon>
        </th>
        <th style="width: 20%" scope="col" pSortableColumn="machinery">
          Equipo
          <p-sortIcon field="machinery" class="hide-print-mode"></p-sortIcon>
        </th>
        <th style="width: 10%" scope="col" pSortableColumn="typeMaintance">
          Servicio
          <p-sortIcon
            field="typeMaintance"
            class="hide-print-mode"
          ></p-sortIcon>
        </th>
        <th
          style="width: 15%"
          class="text-truncate"
          scope="col"
          pSortableColumn="provider"
        >
          Proveedor
          <p-sortIcon field="provider" class="hide-print-mode"></p-sortIcon>
        </th>
        <th style="width: 10%" scope="col" pSortableColumn="status">
          Estatus
          <p-sortIcon field="status" class="hide-print-mode"></p-sortIcon>
        </th>
        <th
          style="width: 10%"
          scope="col"
          pSortableColumn="serviceOrderImg.length"
        >
          Fotos
          <p-sortIcon
            field="serviceOrderImg.length"
            class="hide-print-mode"
          ></p-sortIcon>
        </th>
        <th
          style="width: 10%"
          scope="col"
          pSortableColumn="serviceOrderDocument.length"
        >
          Reporte
          <p-sortIcon
            field="serviceOrderDocument.length"
            class="hide-print-mode"
          ></p-sortIcon>
        </th>
        <th
          style="width: 15%"
          scope="col"
          *ngIf="
            authService.onValidateRoles([
              'Mantenimiento',
              'SuperUsuario',
              'Residente'
            ])
          "
          class="hide-print-mode"
        >
          Opciones
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td>{{ item.maintenanceCalendarId }}</td>
        <td>{{ item.machineryId }}- {{ item.machinery }}</td>
        <td>
          <span>
            <i
              class="fa-duotone fa-thumbtack me-1"
              [ngClass]="{
                'text-success': item.typeMaintance == 'Preventivo',
                'text-danger': item.typeMaintance == 'Correctivo',
                'text-info': item.typeMaintance == 'Predictivo',
                'text-primary': item.typeMaintance == 'Pintura'
              }"
            ></i>
            {{ item.typeMaintance }}</span
          >
        </td>
        <td>{{ item.provider }}</td>
        <td>
          <span
            class="badge me-2 p-2"
            [ngClass]="{
              'bg-danger': item.status === 0,
              'bg-success': item.status === 1,
              'bg-secondary': item.status === 2
            }"
          >
            <span *ngIf="item.status === 0"> Pendiente </span>
            <span *ngIf="item.status === 1"> Términado </span>
            <span *ngIf="item.status === 2"> No Autorizado </span>
          </span>
        </td>
        <td class="text-center">
          <span
            class="badge p-2 pointer"
            (click)="onModalFotos(item.id)"
            [ngClass]="{
              'bg-danger': item.serviceOrderImg.length == 0,
              'bg-success': item.serviceOrderImg.length > 0
            }"
          >
            {{ item.serviceOrderImg.length }}
          </span>
        </td>
        <td class="text-center">
          <span
            class="badge p-2 pointer"
            (click)="onModalRpeorteProveedor(item.id)"
            [ngClass]="{
              'bg-danger': item.serviceOrderDocument.length == 0,
              'bg-success': item.serviceOrderDocument.length > 0
            }"
          >
            {{ item.serviceOrderDocument.length }}
          </span>
        </td>
        <td
          *ngIf="
            authService.onValidateRoles([
              'Mantenimiento',
              'SuperUsuario',
              'Residente'
            ])
          "
          class="hide-print-mode"
        >
          <div class="d-flex justify-content-end">
            <a
              ngbTooltip="Imprimir hoja de soporte"
              placement="left"
              type="button"
              class="btn btn-sm btn-outline-danger me-1"
              [routerLink]="['/reporte/soporte-orden-servicio', item.id]"
            >
              <span class="fa-duotone fa-file-pdf"></span>
            </a>
            <custom-button
              ngbTooltip="Cargar Imagen"
              [customClass]="'btn-sm btn-outline-info'"
              icon="fa-duotone fa-camera text-info"
              (clicked)="onModalFormUploadImg(item.id)"
            ></custom-button>
            <custom-button
              ngbTooltip="Cargar documentos"
              [customClass]="'btn-sm btn-outline-secondary'"
              icon="fa-duotone fa-file-alt text-secondary"
              (clicked)="onModalFormUploadDoc(item.id)"
            ></custom-button>

            <custom-button-edit
              (edit)="
                onEdit({
                  id: item.id,
                  title: 'Editar Registro',
                  machineryId: item.machineryId,
                  providerId: item.providerId
                })
              "
            ></custom-button-edit>

            <custom-button-delete
              (OnConfirm)="onDelete(item)"
            ></custom-button-delete>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
