<div class="card">
  <div class="card-body">
    <form autocomplete="off" (ngSubmit)="submit()" [formGroup]="form">
      <div class="row">
        <div class="col-sm-6">
          <custom-input-text
            [hidden]="true"
            [control]="form.get('id')"
            formControlName="id"
            label="Id"
            [horizontal]="false"
          />
        </div>
        <div class="col-sm-6"></div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <custom-input-datalist
            (propagar)="saveMachineryId($event)"
            [control]="form.get('machineryName')"
            [data]="cb_machinery"
            [horizontal]="false"
            formControlName="machineryName"
            label="Equipo o Instalación"
            dataListId="machineryNameDatalistOptions"
          ></custom-input-datalist>
        </div>
        <div class="col-sm-3">
          <custom-input-select
            [horizontal]="false"
            [control]="form.get('recurrence')"
            formControlName="recurrence"
            label="Recurrencia"
            [data]="cb_recurrencia"
          />
        </div>
        <div class="col-sm-3">
          <custom-input-month
            [control]="form.get('fechaServicio')"
            [horizontal]="false"
            formControlName="fechaServicio"
            label="Fecha Servicio"
          ></custom-input-month>
        </div>
        <div class="col-sm-6">
          <custom-input-select
            [horizontal]="false"
            [control]="form.get('typeMaintance')"
            formControlName="typeMaintance"
            label="Tipo de Mantenimiento"
            [data]="cb_TypeMaintance"
          />
        </div>
        <div class="col-sm-6">
          <custom-input-number
            [horizontal]="false"
            [control]="form.get('price')"
            formControlName="price"
            label="Precio"
          ></custom-input-number>
        </div>
        <div class="col-sm-6">
          <custom-input-datalist
            (propagar)="saveProviderId($event)"
            [control]="form.get('providerName')"
            [data]="cb_providers"
            formControlName="providerName"
            label="Proveedor"
            [horizontal]="false"
            dataListId="providerNameDatalistOptions"
          ></custom-input-datalist>
        </div>
        <div class="col-sm-6">
          <custom-input-datalist
            (propagar)="saveSubCuentaId($event)"
            [control]="form.get('cuentaName')"
            [data]="cb_subCuentaId"
            formControlName="cuentaName"
            label="Cuenta Afectada"
            [horizontal]="false"
            dataListId="cuentaNameDatalistOptions"
          ></custom-input-datalist>
        </div>
        <div class="col-sm-6">
          @if ( f.activity.errors && (f.activity.dirty || f.activity.touched) )
          {
          <div class="text-danger animate__fadeIn">
            @if (f.activity.errors.required) {
            <small>Campo Requerido</small>
            } @if (f.activity.errors.maxLength) {
            <small>Maximo 200 caracteres</small>
            }
          </div>
          }
          <custom-input-text-area
            [control]="form.get('activity')"
            formControlName="activity"
            label="Actividad"
            placeholder="Actividad"
            [horizontal]="false"
            rows="10"
          ></custom-input-text-area>
        </div>
        <div class="col-sm-6">
          <custom-input-text-area
            [control]="form.get('observation')"
            formControlName="observation"
            label="Observaciones"
            placeholder="Observaciones"
            [horizontal]="false"
            rows="10"
          ></custom-input-text-area>
        </div>
      </div>
      <div class="mb-1"></div>
      <custom-button-submit [disabled]="this.form.invalid || submitting" />
    </form>
  </div>
</div>
<!-- app.component.html -->
