<div class="card" *ngIf="cronogramaAnual">
  <p-table
    [autoLayout]="true"
    [globalFilterFields]="['sistema', 'nameMachinery']"
    [value]="cronogramaAnual"
    #dt
    groupRowsBy="sistema"
    rowGroupMode="subheader"
    sortMode="single"
    styleClass="custom-table"
  >
    <ng-template pTemplate="header">
      <tr>
        <th scope="col" style="width: 40%" pSortableColumn="nameMachinery">
          Descripción
          <p-sortIcon field="nameMachinery"></p-sortIcon>
        </th>
        <th scope="col" style="width: 5%">Ene</th>
        <th scope="col" style="width: 5%">Feb</th>
        <th scope="col" style="width: 5%">Mar</th>
        <th scope="col" style="width: 5%">Abr</th>
        <th scope="col" style="width: 5%">May</th>
        <th scope="col" style="width: 5%">Jun</th>
        <th scope="col" style="width: 5%">Jul</th>
        <th scope="col" style="width: 5%">Ago</th>
        <th scope="col" style="width: 5%">Sep</th>
        <th scope="col" style="width: 5%">Oct</th>
        <th scope="col" style="width: 5%">Nov</th>
        <th scope="col" style="width: 5%">Dic</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="caption">
      <div class="row mt-1 hide-print-mode">
        <div class="col d-flex">
          <div class="d-flex">
            <custom-button
              [customClass]="'btn-soft-success waves-effect waves-light '"
              ngbTooltip="Descargar hoja de datos"
              placement="top"
              icon="fa-duotone fa-file-excel font-size-16 align-middle"
              (clicked)="exportExcel()"
            ></custom-button>

            <custom-button
              *ngFor="let item of filtroEquipos"
              [customClass]="'btn-soft-secondary waves-effect waves-light '"
              [ngbTooltip]="'Ver ' + item.nombre | titlecase"
              [customNgClassIcon]="{
                'text-warning': filtroEquiposValue == item.nombre
              }"
              placement="top"
              icon="fas {{ item.icon }}"
              (clicked)="clickButton(item)"
            ></custom-button>
          </div>

          <input
            class="form-control ms-auto w-25"
            type="text"
            (input)="dt.filterGlobal($event.target['value'], 'contains')"
            placeholder="Escribe para buscar..."
          />
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="groupheader" let-customer>
      <tr pRowGroupHeader>
        <td colspan="13">
          <span class="font-size-16">
            <strong>
              {{ customer.sistema }}
            </strong>
          </span>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex">
      <tr>
        <td>
          <p class="text-left">
            {{ customer.nameMachinery }}
          </p>
        </td>
        <td *ngFor="let item of meses" class="text-center">
          <div *ngFor="let servicio of customer.maintenanceCalendars">
            <span
              (click)="onModalItem(servicio.id)"
              *ngIf="item == servicio.month"
              class="fa-duotone fa-circle text-secondary pointer"
            ></span>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
