@if(hidden){
<div class="mb-2" [ngClass]="{ 'form-group row ': horizontal }">
  @if (horizontal) {
  <label class="col-sm-3">{{ label }}</label>
  <div class="col-sm-9">
    <select
      [formControl]="control"
      class="form-select"
      [disabled]="disabled"
      (blur)="onTouch()"
      [ngClass]="{
        'is-invalid': control.invalid && (control.dirty || control.touched)
      }"
    >
      <option *ngIf="selectDefaulOption" [value]="valueDefault">
        {{ placeholder }}
      </option>
      <option
        *ngFor="let item of data; trackBy: trackByFn"
        [ngValue]="parseValue(item.value)"
      >
        {{ item.label }}
      </option>
    </select>
    <app-validation-errors-custom-input
      [control]="control"
      [placeholder]="placeholder"
    />
  </div>
  } @if (!horizontal) {
  <label>{{ label }}</label>
  <select
    [formControl]="control"
    class="form-select"
    [disabled]="disabled"
    (blur)="onTouch()"
    [ngClass]="{
      'is-invalid': control.invalid && (control.dirty || control.touched)
    }"
  >
    <option *ngIf="selectDefaulOption" [value]="valueDefault">
      {{ placeholder }}
    </option>
    <option
      *ngFor="let item of data; trackBy: trackByFn"
      [ngValue]="parseValue(item.value)"
    >
      {{ item.label }}
    </option>
  </select>
  <app-validation-errors-custom-input
    [control]="control"
    [placeholder]="placeholder"
  />
  }
</div>
}
