<div class="card">
  <div class="card-body">
    <form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="form">
      <custom-input-text
        [control]="form.get('id')"
        formControlName="id"
        label="Id"
      />

      <div class="form-group row mb-1">
        <label class="col-sm-3">Imagen</label>
        <div class="col-sm-9">
          <app-input-img
            (fileSelected)="uploadFile($event)"
            [urlImgCurrent]="urlBaseImg + model?.photoPath"
            [contentHeight]="'50px'"
            [contentWidth]="'50px'"
          />
        </div>
      </div>

      <custom-input-text
        [control]="form.get('nameCustomer')"
        formControlName="nameCustomer"
        label="Nombre"
        placeholder="nombre"
      />

      <custom-input-text
        [control]="form.get('nombreCorto')"
        formControlName="nombreCorto"
        label="Nombre Corto"
        placeholder="nombre Corto"
      />

      <custom-input-text
        [control]="form.get('rfc')"
        formControlName="rfc"
        label="RFC"
        placeholder="rfc"
      />
      <custom-input-text
        [control]="form.get('folioPrefix')"
        formControlName="folioPrefix"
        label="Folio Prefijo"
        placeholder="folio prefijo"
      />
      <div class="row">
        <div class="col-sm-6">
          <custom-input-mask
            [control]="form.get('phoneOne')"
            formControlName="phoneOne"
            label="Tél. 1"
            placeholder="teléfono"
            customMask="(00) 0000-0000"
          />
        </div>
        <div class="col-sm-6">
          <custom-input-mask
            [control]="form.get('phoneTwo')"
            formControlName="phoneTwo"
            label="Tél. 2"
            placeholder="teléfono"
            customMask="(00) 0000-0000"
          />
        </div>
      </div>

      <custom-input-date
        [control]="form.get('register')"
        formControlName="register"
        label="Fecha de registro"
        placeholder="fecha de registro"
      />

      <custom-input-number
        [control]="form.get('numeroCliente')"
        formControlName="numeroCliente"
        label="Numero de Cliente"
        placeholder="numero de Cliente"
      />
      <custom-input-select
        [control]="form.get('active')"
        formControlName="active"
        label="Activo"
        [data]="optionActive"
      />

      <btn-submit [disabled]="this.form.invalid || submitting" />
    </form>
  </div>
</div>
