<div class="card">
  <div class="card-body">
    <form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="form">
      <!-- Id -->
      <div class="form-group row mb-2" hidden>
        <label class="col-sm-3">Id</label>
        <div class="col-sm-9">
          <input class="form-control" formControlName="id" />
        </div>
      </div>
      <!-- Id -->
      <div class="form-group row mb-2">
        <label class="col-sm-3">Lectura anterior </label>
        <div class="col-sm-9">
          <input
            readonly
            class="form-control bg-secondary"
            mode="decimal"
            [value]="ultimaLectura"
          />
        </div>
      </div>
      <!-- Lectura -->
      <div class="form-group row mb-2">
        <label class="col-sm-3">Lectura</label>
        <div class="col-sm-9">
          @if (!seRegistroEsteDia) {
          <input
            (keyup)="evaluarLectura($event)"
            formControlName="lectura"
            class="form-control"
            placeholder="Ingrese la Lectura"
            [ngClass]="{ 'ng-invalid': laLecturaEsMenor }"
            [class.is-invalid]="
              f.lectura.invalid && (f.lectura.dirty || f.lectura.touched)
            "
            type="number"
          />
          } @if (seRegistroEsteDia) {
          <span class="text-danger">{{ seRegistroEsteDiaMensaje }}</span>
          } @if (f.lectura.invalid && (f.lectura.dirty || f.lectura.touched)) {
          <div>
            @if (f.lectura.errors.required) {
            <span class="text-danger">Campo reqerido.</span>
            }
          </div>
          } @if (laLecturaEsMenor) {
          <div>
            <span class="text-danger">La lectura no puede ser menor.</span>
          </div>
          }
        </div>
      </div>
      <!-- Lectura -->
      <btn-submit
        [disabled]="this.form.invalid || laLecturaEsMenor || submitting"
      />
    </form>
  </div>
</div>
