<div class="container-fluid mt-2">
  <div class="row g-4 ms-5 me-5">
    <ng-container *ngFor="let group of objectKeys(menuItemsGrouped)">
      <div *ngIf="menuItemsGrouped[group]?.length > 0">
        <!-- Título del grupo -->
        <h4 class="text-center my-3">{{ group }}</h4>
        <div class="row">
          <ng-container *ngFor="let item of menuItemsGrouped[group]">
            <div
              *ngIf="item.visible"
              class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-4"
            >
              <div
                class="card text-center shadow-lg border-0 h-100 border-primary custom-card"
                (click)="handleCardClick(item)"
              >
                <div class="card-body p-4">
                  <i
                    class="fa-solid fa-4x text-primary mb-1"
                    [class]="item.icon"
                  ></i>
                  <h5 class="card-title fw-bold text-uppercase text-dark">
                    {{ item.label }}
                  </h5>
                  <ng-container *ngIf="!item.items">
                    <a
                      class="stretched-link"
                      [routerLink]="item.routerLink"
                    ></a>
                  </ng-container>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<style>
  .custom-card {
    position: relative;
    overflow: hidden;
  }

  .custom-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px; /* Ajusta el ancho según lo necesites */
    height: 100%;
    background-color: #0d3b66;
  }
  .list-group-item.disabled {
    pointer-events: none;
    background-color: #f8f9fa;
    color: #6c757d;
  }
  /* Puedes agregar algunos estilos si lo necesitas */
  .custom-card {
    cursor: pointer;
  }
</style>
