@if (data !== null || data !== undefined) {
<div class="card">
  <div class="card-body">
    <form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="form">
      <table class="mb-2">
        @if (data && data.professionkey) {
        <tr>
          <td style="width: 20%">Id Profesión:</td>
          <td style="width: 80%">{{ data.professionkey }}</td>
        </tr>
        } @if (data && data.professionName) {
        <tr>
          <td style="width: 20%">Nombre de la vacante:</td>
          <td style="width: 80%">{{ data.professionName }}</td>
        </tr>
        } @if (data && data.professionName) {
        <tr>
          <td style="width: 20%">Actividades que estara realizando:</td>
          <td style="width: 80%">Revisar descripción de puesto en LuxuryApp</td>
        </tr>
        } @if (data && data.professionName) {
        <tr>
          <td style="width: 20%">Especificar restricciones de edad o sexo:</td>
          <td style="width: 80%">Revisar descripción de puesto en LuxuryApp</td>
        </tr>
        } @if (data) {
        <tr>
          <td style="width: 20%">Sueldo mensual neto:</td>
          <td style="width: 80%">{{ data.sueldoBase }}</td>
        </tr>
        }
        <!-- <tr *ngIf="data && data.sueldo">
          <td style="width: 20%">Sueldo mensual neto:</td>
          <td style="width: 80%">{{ data.sueldo }}</td>
        </tr> -->
        @if (data && data.turnoTrabajo != undefined) {
        <tr>
          <td style="width: 20%">Turno de trabajo:</td>
          <td style="width: 80%">{{ data.turnoTrabajo }}</td>
        </tr>
        }
        <tr>
          <td colspan="2">
            <table class="custom-table mb-2">
              <thead>
                <tr>
                  <th scope="col">EVENTO</th>
                  <th scope="col">LUNES</th>
                  <th scope="col">MARTES</th>
                  <th scope="col">MIERCOLES</th>
                  <th scope="col">JUEVES</th>
                  <th scope="col">VIERNES</th>
                  <th scope="col">SABADO</th>
                  <th scope="col">DOMINGO</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>ENTRADA</td>
                  <td>
                    @if (data && data.lunesEntrada) {
                    <p>
                      {{ data.lunesEntrada }}
                    </p>
                    }
                  </td>
                  <td>
                    @if (data && data.martesEntrada) {
                    <p>
                      {{ data.martesEntrada }}
                    </p>
                    }
                  </td>
                  <td>
                    @if (data && data.miercolesEntrada) {
                    <p>
                      {{ data.miercolesEntrada }}
                    </p>
                    }
                  </td>
                  <td>
                    @if (data && data.juevesEntrada) {
                    <p>
                      {{ data.juevesEntrada }}
                    </p>
                    }
                  </td>
                  <td>
                    @if (data && data.viernesEntrada) {
                    <p>
                      {{ data.viernesEntrada }}
                    </p>
                    }
                  </td>
                  <td>
                    @if (data && data.sabadoEntrada) {
                    <p>
                      {{ data.sabadoEntrada }}
                    </p>
                    }
                  </td>
                  <td>
                    @if (data && data.domingoEntrada) {
                    <p>
                      {{ data.domingoEntrada }}
                    </p>
                    }
                  </td>
                </tr>
                <tr>
                  <td>SALIDA</td>
                  <td>
                    @if (data && data.lunesSalida) {
                    <p>
                      {{ data.lunesSalida }}
                    </p>
                    }
                  </td>
                  <td>
                    @if (data && data.martesSalida) {
                    <p>
                      {{ data.martesSalida }}
                    </p>
                    }
                  </td>
                  <td>
                    @if (data && data.miercolesSalida) {
                    <p>
                      {{ data.miercolesSalida }}
                    </p>
                    }
                  </td>
                  <td>
                    @if (data && data.juevesSalida) {
                    <p>
                      {{ data.juevesSalida }}
                    </p>
                    }
                  </td>
                  <td>
                    @if (data && data.viernesSalida) {
                    <p>
                      {{ data.viernesSalida }}
                    </p>
                    }
                  </td>
                  <td>
                    @if (data && data.sabadoSalida) {
                    <p>
                      {{ data.sabadoSalida }}
                    </p>
                    }
                  </td>
                  <td>
                    @if (data && data.domingoSalida) {
                    <p>
                      {{ data.domingoSalida }}
                    </p>
                    }
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        @if (data && data.observationsWorkShift != undefined) {
        <tr>
          <td style="width: 20%">Obs. referentes al horario:</td>
          <td style="width: 80%">{{ data.observationsWorkShift }}</td>
        </tr>
        }
        <tr>
          <td style="width: 20%">Comentarios adicionales:</td>
          <td style="width: 80%">
            <textarea
              rows="3"
              class="form-control"
              formControlName="additionalInformation"
            ></textarea>
          </td>
        </tr>
      </table>
      <btn-send-email [disabled]="this.form.invalid || submitting" />
    </form>
  </div>
</div>
}
<style>
  table {
    width: 100%;
    border-collapse: collapse;
  }
  table td {
    padding: 0.5em;
    border: none;
  }
  table td:first-child {
    width: 30%; /* Ajusta el ancho
según tus necesidades */
  }
  table td strong {
    display: inline-block;
    width: 100px; /* Ajusta el ancho según tus necesidades */
  }
</style>
