<nav
  class="navbar navbar-expand-lg navbar-thin bg-white border-bottom shadow-sm fixed-top"
>
  <div class="container-fluid d-flex align-items-center py-2 position-relative">
    <div class="d-flex align-items-center me-3">
      <i class="fa-regular fa-angle-left fa-2x" (click)="onBack()"></i>
    </div>

    <div
      class="d-flex align-items-center position-absolute logo-centered"
      style="left: 50%; transform: translateX(-50%); z-index: 1"
    >
      <img
        src="assets/images/full-logo-transp.jpg"
        alt=""
        style="height: 20px; width: auto"
      />
    </div>

    <div class="d-flex align-items-center">
      <div class="dropdown d-inline-block">
        <i
          id="page-header-notifications-dropdown"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          class="fa-regular fa-ellipsis-vertical fa-2x text-dark"
        ></i>

        <div
          class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-2"
          aria-labelledby="page-header-notifications-dropdown"
        >
          <!-- Información del usuario -->
          <div class="text-center">
            <img class="rounded avatar-md" [src]="profileImageUrl" alt="Img" />
          </div>
          <div class="text-center mt-2">
            <span class="text-dark">
              {{ infoAccountAuthDto.firstName }}
              {{ infoAccountAuthDto.lastName }}
            </span>
            <br />
            <span class="text-muted">
              {{ infoAccountAuthDto.position }}
            </span>
          </div>
          <hr />

          <!-- Select de Condominios -->
          <div
            *ngIf="cb_customer.length > 1"
            class="mb-3"
            style="cursor: default; width: 240px"
          >
            <label for="user-options" class="form-label text-muted">
              Condominios
            </label>
            <select
              [(ngModel)]="customerId"
              (change)="selectCustomer($event.target.value)"
              id="user-options"
              class="form-select"
            >
              <option *ngFor="let item of cb_customer" [value]="item.value">
                {{ item.label }}
              </option>
            </select>
          </div>
          <div *ngIf="cb_customer.length === 1" class="mb-3">
            <div
              class="d-flex align-items-center bg-light-subtle border rounded h-100 me-2"
              style="cursor: default; width: 240px"
            >
              <img
                class="ms-2 rounded avatar-md"
                [src]="cb_customer[0].image"
                alt="Customer Image"
                style="width: 50px; height: 50px; object-fit: cover"
              />
              <span class="ms-2 fw-medium text-dark" style="flex-grow: 1">
                {{ cb_customer[0].label }}
              </span>
            </div>
          </div>

          <!-- Opciones del usuario -->
          <a
            [routerLink]="['/update-user-profile']"
            class="dropdown-item d-flex align-items-center"
          >
            <i class="fa-thin fa-key me-2 text-primary"></i>
            Cambiar contraseña
          </a>
          <a (click)="logout()" class="dropdown-item d-flex align-items-center">
            <i class="fa-thin fa-sign-out-alt me-2 text-primary"></i>
            Cerrar Sesión
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
