<div class="row">
  <div class="col-xl-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">AREAS RESPONSABLES</h4>
      </div>

      <div class="card-body">
        <div class="table-responsive">
          <table class="table mb-0">
            <thead>
              <tr>
                <th>COD</th>
                <th>DESCRIPCIÓN</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>TM</td>
                <td>TÉCNICO MTTO</td>
              </tr>
              <tr>
                <td>JF</td>
                <td>JEFE DE MTTO</td>
              </tr>
              <tr>
                <td>RO</td>
                <td>ADMINISTRADOR</td>
              </tr>
              <tr>
                <td>AA</td>
                <td>ASISTENTE ADMINISTRATIVO</td>
              </tr>
              <tr>
                <td>MC</td>
                <td>MASTER CONCIERGE</td>
              </tr>
              <tr>
                <td>CG</td>
                <td>CONCIERGE</td>
              </tr>
              <tr>
                <td>ST</td>
                <td>STAFF</td>
              </tr>
              <tr>
                <td>AC</td>
                <td>COBRANZA</td>
              </tr>
              <tr>
                <td>CP</td>
                <td>CONTADOR</td>
              </tr>
              <tr>
                <td>GM</td>
                <td>GERENTE DE MTTO</td>
              </tr>
              <tr>
                <td>DO</td>
                <td>DIRECCIÓN OPERATIVA</td>
              </tr>
              <tr>
                <td>RH</td>
                <td>RECURSOS HUMANOS</td>
              </tr>
              <tr>
                <td>DA</td>
                <td>DIRECCIÓN ADMINISTRATIVA</td>
              </tr>
              <tr>
                <td>DG</td>
                <td>DIRECCIÓN GENERAL</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- end card body -->
    </div>
    <!-- end card -->
  </div>
  <!-- end col -->
  <div class="col-xl-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Basic example</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table mb-0">
            <thead>
              <tr>
                <th>Last Name</th>
                <th>Username</th>
                <th>Username</th>
                <th>Username</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>the Bird</td>
                <td>&#64;twitter</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- end card body -->
    </div>
    <!-- end card -->
  </div>
  <!-- end col -->
  <!-- end col -->
</div>
