<div class="row">
  <div class="col-4">
    <app-calendar-range></app-calendar-range>
  </div>
</div>

<p-table
  [value]="data"
  dataKey="employeeId"
  styleClass="p-datatable-striped  p-datatable-sm"
>
  <ng-template pTemplate="caption">
    <app-table-header
      [title]="'Historial de Acceso'"
      (showAdd)="(false)"
      (showSearch)="(false)"
    ></app-table-header>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th scope="col" style="width: 5rem"></th>
      <th scope="col" pSortableColumn="fullName">
        COLABORADOR <p-sortIcon field="fullName"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item let-expanded="expanded">
    <tr>
      <td>
        <button
          type="button"
          pButton
          pRipple
          [pRowToggler]="item"
          class="p-button-text p-button-rounded p-button-plain"
          [icon]="
            expanded
              ? 'fa-duotone fa-chevron-down'
              : 'fa-duotone fa-chevron-right'
          "
        ></button>
      </td>
      <td>
        <img
          [src]="urlImgApi + item.photoPath"
          alt=""
          class="rounded avatar-sm"
        />
      </td>
      <td>{{ item.fullName }}</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </ng-template>
  <ng-template pTemplate="rowexpansion" let-item>
    <tr>
      <td colspan="2">
        <div class="p-3">
          <p-table [value]="item.historial" dataKey="employeeId">
            <ng-template pTemplate="header">
              <tr>
                <th scope="col">EVENTO</th>
                <th scope="col">FECHA</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-registro>
              <tr>
                <td>
                  <span
                    class="badge"
                    [ngClass]="{
                      'bg-danger': registro.evento == 'Salida',
                      'bg-success': registro.evento == 'Ingreso'
                    }"
                    >{{ registro.evento }}</span
                  >
                </td>
                <td>{{ registro.fechaRegistro }}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="2">Sin ingresos al sistema.</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
