@if(!submitting){ @if (userName) {
<div class="card p-2">
  <div class="card-header">
    <div class="h3">Usuario: {{ userName }}</div>
    <div>
      @if (applicationUserState) {
      <custom-button
        (clicked)="onToBlockAccount()"
        [customClass]="'btn-outline-success '"
        icon="fa-light fa-user-lock text-success me-3"
        label="Desactivar Usuario"
      />
      } @if (!applicationUserState) {
      <custom-button
        (clicked)="onToUnlockAccount()"
        [customClass]="'btn-outline-danger '"
        icon="fa-light fa-user-check text-danger me-3"
        label="Activar Usuario"
      />
      }
    </div>
  </div>
  @if (email !== '') {

  <div class="card p-2">
    <custom-button
      (clicked)="sendOnlyPasswordEmail()"
      customClass="btn-soft-primary w-100"
      [label]="'Enviar una nueva contraseña por correo electrónico ' + email"
    />
  </div>
  <div class="card p-2">
    <custom-button
      (clicked)="onGenerateUserNameAndPassword()"
      customClass="btn-soft-primary w-100"
      [label]="
        'Generar y enviar nuevo usuario y contraseña por correo electrónico ' +
        email
      "
    />
  </div>
  }
</div>

} @else{

<div class="h5">
  Este usuario no cuenta con Usuario para ingresar a la plataforma.
</div>

@if (email !== '') {
<div class="card p-2">
  <custom-button
    (clicked)="onGenerateUserNameAndPassword()"
    customClass="btn-soft-primary w-100"
    [label]="'Generar y enviar datos de acceso por correo electrónico ' + email"
  />
</div>
} } @if (userName) {
<div class="card p-2">
  <ngb-alert [dismissible]="false" type="primary">Asignar Permisos</ngb-alert>

  <div *ngIf="this.authS.onValidateRoles(['SuperUsuario']); else adminRoles">
    <ng-container *ngFor="let item of rolesSuperUser; trackBy: trackByRoleId">
      <div class="form-check pointer">
        <input
          class="form-check-input pointer"
          type="checkbox"
          [(ngModel)]="item.isSelected"
          [id]="item.roleId"
          (change)="updateRole(item)"
        />
        <label class="form-check-label font-light pointer" [for]="item.roleId">
          {{ item.roleName | uppercase }}
        </label>
      </div>
    </ng-container>
  </div>
  <ng-template #adminRoles>
    <ng-container *ngFor="let item of rolesAdmin; trackBy: trackByRoleId">
      <div class="form-check pointer">
        <input
          class="form-check-input pointer"
          type="checkbox"
          [(ngModel)]="item.isSelected"
          [id]="item.roleId"
          (change)="updateRole(item)"
        />
        <label class="form-check-label font-light pointer" [for]="item.roleId">
          {{ item.roleName | uppercase }}
        </label>
      </div>
    </ng-container>
  </ng-template>
</div>
} } @if(submitting) {

<div class="card">
  <div class="card-body text-center">
    <div>
      <div class="spinner-border text-primary m-1" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
  <!-- end card-body -->
</div>
<!-- end card -->

}
