<p-toast position="top-right" [baseZIndex]="99999"></p-toast>
@if (data) {
<p-table
  [(selection)]="data"
  #dt
  styleClass="custom-table"
  [tableStyle]="{ 'min-width': '50rem' }"
  [value]="data"
  [rows]="15"
  [paginator]="true"
  [rowHover]="true"
  currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 20, 30, 40, 50, 75, 100]"
  [globalFilterFields]="['fechaSalida', 'tool', 'person', 'fechaEntrega']"
  [autoLayout]="true"
>
  <ng-template pTemplate="caption">
    <app-table-header
      [title]="'Control Prestamo de Herramienta'"
      (add)="onModalAddOrEdit({ id: 0, title: 'Nuevo Registro' })"
      [dt]="dt"
      [rolAuth]="authService.onValidateRoles(['SuperUsuario', 'Mantenimiento'])"
    />
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th scope="col" pSortableColumn="fechaSalida">
        Fecha de Salida <p-sortIcon field="fechaSalida"></p-sortIcon>
      </th>
      <th scope="col" pSortableColumn="tool">
        Herramienta
        <p-sortIcon field="tool"></p-sortIcon>
      </th>
      <th scope="col" pSortableColumn="person">
        Colaborador<p-sortIcon field="person"></p-sortIcon>
      </th>
      <th scope="col" pSortableColumn="fechaEntrega">
        Fecha de Entrega<p-sortIcon field="fechaEntrega"></p-sortIcon>
      </th>
      <th scope="col" pSortableColumn="observaciones">
        Observaciones<p-sortIcon field="observaciones"></p-sortIcon>
      </th>
      @if (authService.onValidateRoles(['SuperUsuario', 'Mantenimiento'])) {
      <th scope="col" style="width: 5%">Opciones</th>
      }
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td class="p-column-title">
        <small>
          {{ item.fechaSalida | date : "medium" }}
        </small>
      </td>
      <td class="p-column-title">
        <small>
          {{ item.tool }}
        </small>
      </td>
      <td class="p-column-title">
        <small>
          {{ item.person }}
        </small>
      </td>
      <td class="p-column-title">
        <small>
          {{ item.fechaRegreso | date : "medium" }}
        </small>
      </td>
      <td class="p-column-title">
        <small>
          {{ item.observaciones }}
        </small>
      </td>
      <!-- Opciones -->
      @if (authService.onValidateRoles(['SuperUsuario', 'Mantenimiento'])) {
      <td class="p-column-title">
        <div class="d-flex justify-content-center">
          <custom-button-edit
            (edit)="onModalAddOrEdit({ id: item.id, title: 'Editar Registro' })"
          />
          <custom-button-delete (OnConfirm)="onDelete(item.id)" />
        </div>
      </td>
      }
      <!-- Opciones -->
    </tr>
  </ng-template>
  <ng-template pTemplate="paginatorleft">
    <div class="p-d-flex p-ai-center p-jc-between">
      En total hay
      {{ data ? data.length : 0 }} registros.
    </div>
  </ng-template>
</p-table>
}
