<div class="card">
  <div class="card-body">
    <form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="form">
      <div class="row">
        <div class="col-12" hidden>
          <input formControlName="id" />
          <input formControlName="routeId" />
        </div>
        <div class="col-12">
          <custom-input-text
            [control]="form.get('task')"
            formControlName="task"
            label="Tarea"
            placeholder="tarea"
            [horizontal]="false"
          />
        </div>

        <div class="col-12 text-left mt-2">
          <btn-submit [disabled]="this.form.invalid || submitting" />
        </div>
      </div>
    </form>
  </div>
</div>
