<div class="row align-items-center">
  <!-- Información del Cliente -->
  <div class="col-md-4 text-start">
    <img
      *ngIf="photoPath"
      [src]="photoPath"
      alt="Logo del cliente"
      class="img-fluid border mb-2"
      style="max-width: 80px"
    />
  </div>

  <!-- Título del Reporte -->
  <div class="col-md-4 text-center" *ngIf="nameCustomer">
    <h3 class="h3">{{ nameCustomer }}</h3>
  </div>
</div>
<div class="card" *ngIf="minutas">
  <!-- Tabla de solicitudes pendientes -->
  <table *ngIf="minutas" class="custom-table-report">
    <tr>
      <th scope="col" colspan="6" class="text-center">
        <div class="row align-items-center">
          <!-- Título del Reporte -->
          <div class="col-12 text-center h2">
            SOLICITUDES PENDIENTES MINUTAS
          </div>
        </div>
      </th>
    </tr>
    <tr>
      <th scope="col" class="text-center card-title" style="width: 5%">N°</th>
      <th scope="col" class="text-center card-title" style="width: 10%">
        FECHA SOL.
      </th>
      <th scope="col" class="text-center card-title" style="width: 45%">
        SOLICITUD
      </th>
      <th scope="col" class="text-center card-title" style="width: 10%">
        FECHA DE TERMINO
      </th>
      <th scope="col" class="text-center card-title" style="width: 40%">
        SEGUIMIENTO
      </th>
    </tr>

    <tr *ngFor="let ticket of minutas; let rowIndex = index">
      <td class="text-center fs-5">{{ rowIndex + 1 }}</td>
      <td class="text-center fs-5">{{ ticket.date }}</td>
      <td>
        <span class="badge bg-light p-2 fs-5">
          {{ ticket.title }}
        </span>
        <div class="fs-5">
          {{ ticket.requestService }}
        </div>
      </td>
      <td>
        <div class="fs-5">
          {{ ticket.deliveryDate }}
        </div>
      </td>
      <td>
        <div class="fs-5">
          {{ ticket.fechaUltimoSeguimiento }} - {{ ticket.seguimiento }}
        </div>
      </td>
    </tr>
  </table>
</div>
<div class="card" *ngIf="tickets">
  <!-- Tabla de solicitudes pendientes -->
  @for (item of tickets; track $index) {
  <div class="table-container">
    <table *ngIf="tickets" class="custom-table-report">
      <tr>
        <th scope="col" colspan="6" class="text-center">
          <div class="row align-items-center">
            <div class="col-12 text-center h2">
              SOLICITUDES PENDIENTES {{ item.category }}
            </div>
          </div>
        </th>
      </tr>
      <tr>
        <th scope="col" class="text-center card-title" style="width: 5%">N°</th>
        <th scope="col" class="text-center card-title" style="width: 10%">
          FECHA SOL.
        </th>
        <th scope="col" class="text-center card-title" style="width: 45%">
          SOLICITUD
        </th>
        <th scope="col" class="text-center card-title" style="width: 10%">
          FECHA DE TERMINO
        </th>
        <th scope="col" class="text-center card-title" style="width: 40%">
          SEGUIMIENTO
        </th>
      </tr>

      <tr *ngFor="let ticket of item.tickets; let rowIndex = index">
        <td class="text-center fs-5">{{ rowIndex + 1 }}</td>
        <td class="text-center fs-5">{{ ticket.date }}</td>
        <td>
          <span class="badge bg-light p-2 fs-5">
            {{ ticket.title }}
          </span>
          <div class="fs-5">
            {{ ticket.description }}
          </div>
        </td>
        <td>
          <div class="fs-5">
            {{ ticket.scheduledDate }}
          </div>
        </td>
        <!-- <td class="text-center">{{ ticket.dias }}</td> -->
        <td>
          <div class="fs-5">
            {{ ticket.fechaUltimoSeguimiento }} - {{ ticket.seguimiento }}
          </div>
        </td>
      </tr>
    </table>
  </div>
  }
</div>

<div class="card" *ngIf="pendingLegal">
  <!-- Tabla de solicitudes pendientes -->
  <table *ngIf="pendingLegal" class="custom-table-report">
    <tr>
      <th scope="col" colspan="6" class="text-center">
        <div class="row align-items-center">
          <div class="col-12 text-center h2">SOLICITUDES PENDIENTES LEGAL</div>
        </div>
      </th>
    </tr>
    <tr>
      <th scope="col" class="text-center card-title" style="width: 5%">N°</th>
      <th scope="col" class="text-center card-title" style="width: 10%">
        FECHA SOL.
      </th>
      <th scope="col" class="text-center card-title" style="width: 40%">
        SOLICITUD
      </th>
      <th scope="col" class="text-center card-title" style="width: 40%">
        SEGUIMIENTO
      </th>
    </tr>

    <tr *ngFor="let ticket of pendingLegal; let rowIndex = index">
      <td class="text-center fs-5">{{ rowIndex + 1 }}</td>
      <td class="text-center fs-5">{{ ticket.date }}</td>
      <td>
        <span class="badge bg-light p-2 fs-5">
          {{ ticket.title }}
        </span>
        <div class="fs-5">
          {{ ticket.description }}
        </div>
      </td>
      <td>
        <div class="fs-5">
          {{ ticket.fechaUltimoSeguimiento }} - {{ ticket.ultimoSeguimiento }}
        </div>
      </td>
    </tr>
  </table>
</div>
<div class="card">
  <table class="custom-table-report">
    <tr>
      <th scope="col" colspan="6" class="text-center">
        <div class="row align-items-center">
          <div class="col-12 text-center h2">ENVIO DE ESTADOS FINANCIEROS</div>
        </div>
      </th>
    </tr>
    <tr>
      <th scope="col" class="text-center card-title" style="width: 10%">N°</th>
      <th scope="col" class="text-center card-title" style="width: 10%">
        PERIODO
      </th>
      <th scope="col" class="text-center card-title" style="width: 40%">
        CONTADOR
      </th>
      <th scope="col" class="text-center card-title" style="width: 40%">
        FECHA DE ENVIO
      </th>
    </tr>

    <tr *ngFor="let ticket of envioFinancieros; let rowIndex = index">
      <td class="text-center fs-5">{{ rowIndex + 1 }}</td>
      <td class="text-center fs-5">
        <span
          *ngIf="!ticket.fullName"
          class="badge bg-danger-subtle text-danger p-2 fs-5 w-100"
        >
          {{ ticket.period | uppercase }}
        </span>
        <span
          *ngIf="ticket.fullName"
          class="badge bg-success-subtle text-success p-2 fs-5 w-100"
        >
          {{ ticket.period | uppercase }}
        </span>
      </td>
      <td class="text-center fs-5">{{ ticket.fullName | uppercase }}</td>
      <td class="text-center fs-5">{{ ticket.sendDate | uppercase }}</td>
    </tr>
  </table>
</div>
