<form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="form">
  <input type="text" hidden formControlName="id" />
  <div class="mb-2">
    <custom-input-date
      [control]="form.get('fechaCorrespondiente')"
      formControlName="fechaCorrespondiente"
      label="Periodo"
      placeholder="Periodo"
    />
  </div>
  <div class="mb-2">
    <custom-input-date
      [control]="form.get('fechaJunta')"
      formControlName="fechaJunta"
      label="Fecha de Junta"
      placeholder="Fecha de Junta"
    />
  </div>

  <!-- Boton submit -->
  <custom-button-submit [disabled]="this.form.invalid || submitting" />
  <!-- Boton submit -->
  <hr />
</form>
