<div class="card">
  <div class="card-body">
    <form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="form">
      <custom-input-text
        [control]="form.get('id')"
        formControlName="id"
        label="Id"
      />
      <custom-input-text
        [control]="form.get('nameCotegory')"
        formControlName="nameCotegory"
        label="Nombre de categoria"
        placeholder="nombre de categoria"
      />

      <btn-submit [disabled]="this.form.invalid || submitting" />
    </form>
  </div>
</div>
