<p-toast position="top-left" [baseZIndex]="99999"></p-toast>
<div class="card">
  <p-table
    #dt
    [value]="data"
    [globalFilterFields]="['professionName', 'departament', 'person']"
    styleClass="custom-table"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <!-- styleClass="p-datatable-sm p-datatable-gridlines" -->
    <ng-template pTemplate="caption">
      <div class="row">
        <div class="col-sm-10">
          <app-table-header
            [title]="'Puestos de trabajo'"
            (add)="onModalAddOrEdit({ id: 0, title: 'Nuevo Registro' })"
            [dt]="dt"
            [showAdd]="authService.onValidateRoles(['SuperUsuario'])"
          ></app-table-header>
        </div>
        <div class="col-sm-2">
          <custom-button-active-desactive
            (activo)="onSelectActive($event)"
            (inactivo)="onSelectActive($event)"
          ></custom-button-active-desactive>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 19%" colspan="2" scope="col" pSortableColumn="folio">
          CODIGO <p-sortIcon field="folio"></p-sortIcon>
        </th>
        <th
          style="width: 18%"
          scope="col"
          pSortableColumn="professionHierarchy"
        >
          PUESTO <p-sortIcon field="professionHierarchy"></p-sortIcon>
        </th>
        <th style="width: 10%" scope="col" pSortableColumn="turnoTrabajo">
          TURNO
          <p-sortIcon field="turnoTrabajo"></p-sortIcon>
        </th>
        @if ( authService.onValidateRoles([ 'Asistente', 'Reclutamiento',
        'Residente', 'SuperUsuario', 'SupervisionOperativa' ]) ) {
        <th style="width: 10%" scope="col" pSortableColumn="sueldoBaseFiltro">
          SUELDO PRESUPUESTADO<p-sortIcon field="sueldoBaseFiltro"></p-sortIcon>
        </th>
        } @if ( authService.onValidateRoles([ 'Asistente', 'Reclutamiento',
        'Residente', 'SuperUsuario', 'SupervisionOperativa' ]) ) {
        <th style="width: 10%" scope="col" pSortableColumn="sueldoFiltro">
          SUELDO ACTUAL<p-sortIcon field="sueldoFiltro"></p-sortIcon>
        </th>
        }
        <th style="width: 35%" scope="col" pSortableColumn="person">
          COLABORADOR
          <p-sortIcon field="person"></p-sortIcon>
        </th>
        @if ( authService.onValidateRoles([ 'Asistente', 'Reclutamiento',
        'Residente', 'SuperUsuario', 'SupervisionOperativa' ]) ) {
        <th style="width: 10%" scope="col">SOLICITUD</th>
        }
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <!-- Si no hay empleado, entonces la vacangte no esta cubierta y se pone en rojo -->
      @if (onValidateCustomerId(item.professionId)) {
      <tr>
        <td class="text-center">
          <div ngbDropdown container="body" class="d-inline-block">
            <i
              id="options"
              ngbDropdownToggle
              class="fa-regular fa-ellipsis-vertical pointer"
            ></i>
            <div ngbDropdownMenu aria-labelledby="options">
              <!-- Solicitar vacante para puesto de trabajo -->
              @if ( item.positionRequest.status !== 0 &&
              onValidateRole(item.professionId) && item.state == 0 ) {
              <custom-button
                (clicked)="onModalSolicitudVacante(item.id)"
                customClass="btn-outline-secondary  w-100 mt-1 text-start"
                icon="fa-regular fa-user-magnifying-glass me-2"
                label="Solicitar vacante"
              ></custom-button>
              }
              <br />

              @if (authService.onValidateRoles(['SuperUsuario'])) {
              <custom-button
                (clicked)="onModalAddEmployeeToWorkPosition(item.id)"
                customClass="btn-outline-dark w-100 mt-1 text-start"
                icon="fa-regular fa-user-plus me-2"
                label="Editar colaborador"
              ></custom-button>
              }
              <!-- Asignar empleado -->
              <br />
              <!-- visualizar descripcion de puesto-->
              <custom-button
                customClass="btn-outline-primary   w-100 mt-1 text-start"
                icon="fa-regular fa-book me-2"
                label="Descripción de puesto"
                (clicked)="onModalJobDescription(item.professionId)"
              ></custom-button>
              <!-- visualizar descripcion de puesto-->
              <br />
              <!-- visualizar horarios de puesto de trabajo -->
              <custom-button
                customClass="btn-outline-primary   w-100 mt-1 text-start"
                icon="fa-regular fa-clock me-2"
                label="Horarios"
                (clicked)="onModalHoursWorkPosition(item.id)"
              ></custom-button>
              <!-- visualizar horarios de puesto de trabajo -->
              <br />
              <!-- Editar puesto de trabajo -->
              <custom-button
                customClass="btn-outline-info   w-100 mt-1 text-start"
                icon="fa-regular fa-clock me-2"
                label="Editar"
                (clicked)="
                  onModalAddOrEdit({
                    id: item.id,
                    title: 'Editar Registro'
                  })
                "
              ></custom-button>
              <!-- Editar puesto de trabajo -->
              <br />
              <!-- Eliminar puesto de trabajo -->
              @if (authService.onValidateRoles(['SuperUsuario'])) {
              <custom-button-confirmation
                title="Confirmar"
                text="Se va a eliminar el registro"
                classButton="btn-outline-danger   w-100 mt-1 text-start"
                label="Eliminar"
                icon="fa-regular fa-clock me-2"
                tooltipText="Se va a eliminar el registro"
                confirmButtonText="Sí, eliminar"
                (OnConfirm)="onDelete(item.id)"
              ></custom-button-confirmation>
              }
              <!-- Eliminar puesto de trabajo -->
              <br />
            </div>
          </div>
        </td>
        <td>
          {{ item.folio }}
        </td>
        <td>
          {{ item.professionName }}
        </td>
        <td>
          {{ item.turno }}
        </td>
        @if ( authService.onValidateRoles([ 'Asistente', 'Reclutamiento',
        'Residente', 'SuperUsuario', 'SupervisionOperativa' ]) ) {
        <td>
          {{ item.sueldoBase }}
        </td>
        } @if ( authService.onValidateRoles([ 'Asistente', 'Reclutamiento',
        'Residente', 'SuperUsuario', 'SupervisionOperativa' ]) ) {
        <td>
          {{ item.sueldo }}
        </td>
        }
        <td>
          @if (item.personPhoto) {
          <img
            (click)="onCardEmployee(item.employeeId)"
            [src]="pahtBaseImg + item.personPhoto"
            class="rounded avatar-sm pointer me-3"
            alt="img"
          />
          } @if (!item.personPhoto) {
          <i class="fa-regular fa-user-xmark fa-2x"></i>
          }
          {{ item.person }}
        </td>
        @if ( authService.onValidateRoles([ 'Asistente', 'Reclutamiento',
        'Residente', 'SuperUsuario', 'SupervisionOperativa' ]) ) {
        <td>
          <!-- Si hay una ultima solicitud en estatus de pendiente -->
          @if (onValidateShowTIcket(item.professionId)) {
          <div class="d-flex justify-content-center">
            <!-- Solicitud de vacante -->
            @if ( item.positionRequest.status === 0 ||
            item.positionRequest.status === 3 ) {
            <custom-button
              ngbTooltip="Solicitud de vacante vigente"
              placement="top"
              customClass="btn-sm btn-outline-secondary"
              icon="fa-regular fa-tags fa-2x"
            ></custom-button>
            }
            <!-- (clicked)="onRouteEstatusSolicitud(item.positionRequest.id)" -->
            <!-- Solicitud de vacante -->
          </div>
          }
        </td>
        }
      </tr>
      }
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-end">
        Total {{ data ? data.length : 0 }} puestos de trabajo.
      </div>
    </ng-template>
  </p-table>
</div>
@if (authService.onValidateRoles(['SuperUsuario'])) {
<button class="btn btn-outline-info" (click)="SendMailTest()">
  Enviar mail de prueba
</button>
}
