<!-- <div class="card p-2">
  <ngb-alert [dismissible]="false" type="primary">Datos principales </ngb-alert>
  <form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="form">
    <custom-input-text
      [control]="form.get('userName')"
      [readonly]="!this.authService.onValidateRoles(['SuperUsuario'])"
      formControlName="userName"
      label="Usuario"
      placeholder="Usuario"
    />

    <custom-input-text
      [control]="form.get('email')"
      [readonly]="!this.authService.onValidateRoles(['SuperUsuario'])"
      formControlName="email"
      label="Ingrese email"
      placeholder="email"
    />

    @if(this.authService.onValidateRoles(['SuperUsuario'])){
    <custom-input-select
      [control]="form.get('customerId')"
      formControlName="customerId"
      label="Cliente"
      [data]="cb_customer"
    />
    } @if(this.authService.onValidateRoles(['SuperUsuario'])){
    <custom-input-select
      [control]="form.get('professionId')"
      formControlName="professionId"
      label="Cargo"
      [data]="cb_profession"
    />
    }
    <custom-input-mask
      [control]="form.get('phoneNumber')"
      formControlName="phoneNumber"
      label="Tél. Celular"
      placeholder="(00) 0000-0000"
      customMask="(00) 0000-0000"
    />
    <custom-input-datalist
      (propagar)="onSaveEmployeeToAccount($event)"
      [control]="form.get('applicationUserName')"
      [data]="cb_employee"
      dataListId="applicationUserCondominiumDatalistOptions"
      formControlName="applicationUser"
      label="Colaborador"
    />

    <div class="d-flex justify-content-end">
      <btn-submit [disabled]="this.form.invalid || submitting" />
    </div>
  </form>
</div> -->
