<p-toast position="top-left" [baseZIndex]="99999"></p-toast>

<div class="card">
  <p-table
    *ngIf="data"
    [(selection)]="data"
    #dt
    styleClass="custom-table"
    [value]="data"
    [rows]="15"
    [paginator]="true"
    [rowHover]="true"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30, 40, 50, 75, 100]"
    [globalFilterFields]="[
      'producto',
      'unidadDeMedida',
      'existencia',
      'stockMin',
      'stockMax',
      'compraRequerida'
    ]"
    [autoLayout]="true"
    [value]="data"
    sortField="category"
    sortMode="single"
    (onSort)="onSort()"
  >
    <ng-template pTemplate="caption">
      <app-table-header
        [title]="'Inventario'"
        (add)="addProductos({ id: 0, title: 'Editar Registro' })"
        [dt]="dt"
        [rolAuth]="
          authService.onValidateRoles([
            'Asistente',
            'Mantenimiento',
            'Residente',
            'SuperUsuario'
          ])
        "
      ></app-table-header>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th scope="col" pSortableColumn="producto.nombreProducto">
          Producto
          <p-sortIcon field="producto.nombreProducto"></p-sortIcon>
        </th>
        <th scope="col" pSortableColumn="existencia">
          Existencia
          <p-sortIcon field="existencia"></p-sortIcon>
        </th>
        <th scope="col" pSortableColumn="unidadDeMedida.descripcion">
          Unidad
          <p-sortIcon field="unidadDeMedida.descripcion"></p-sortIcon>
        </th>
        <th scope="col" pSortableColumn="stockMin">
          Stock Min
          <p-sortIcon field="stockMin"></p-sortIcon>
        </th>
        <th scope="col" pSortableColumn="stockMax">
          Stock Max
          <p-sortIcon field="stockMax"></p-sortIcon>
        </th>
        <th scope="col" pSortableColumn="compraRequerida">
          Compra Sugerida
          <p-sortIcon field="compraRequerida"></p-sortIcon>
        </th>
        <th
          *ngIf="
            authService.onValidateRoles([
              'Asistente',
              'Mantenimiento',
              'Residente',
              'SuperUsuario'
            ])
          "
          scope="col"
        >
          Opciones
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
      <tr *ngIf="rowGroupMetadata[item.category].index === rowIndex">
        <td colspan="7">
          <span class="p-text-bold p-ml-2"> {{ item.category }}</span>
        </td>
      </tr>
      <tr>
        <td>
          <small
            (click)="onModalTarjetaProducto(item.productoId)"
            class="pointer"
          >
            <img
              [src]="urlImgBase + item.urlImagen"
              alt="..."
              class="rounded avatar-lg"
            />

            {{ item.producto }}</small
          >
        </td>
        <td class="text-center">
          <span
            class="p-2 badge ms-1"
            [ngClass]="{
              'bg-success': item.existencia > item.stockMin,
              'bg-danger': item.stockMin >= item.existencia
            }"
            >{{ item.existencia }}</span
          >
        </td>
        <td>
          {{ item.unidadDeMedida }}
        </td>
        <td class="text-center">
          {{ item.stockMin }}
        </td>
        <td class="text-center">
          {{ item.stockMax }}
        </td>
        <td class="text-center">
          {{ item.compraRequerida }}
        </td>
        <td
          *ngIf="
            authService.onValidateRoles([
              'Asistente',
              'Mantenimiento',
              'Residente',
              'SuperUsuario'
            ])
          "
        >
          <div class="d-flex justify-content-center">
            <custom-button
              *ngIf="
                authService.onValidateRoles([
                  'Asistente',
                  'Mantenimiento',
                  'Residente',
                  'SuperUsuario'
                ])
              "
              ngbTooltip="Registrar Entrada"
              [customClass]="'btn-sm btn-outline-danger'"
              icon="fa-duotone fa-plus text-danger"
              (clicked)="
                onAddEntrada({
                  id: 0,
                  idProducto: item.productoId,
                  nombreProducto: item.producto
                })
              "
            ></custom-button>
            <custom-button
              *ngIf="
                authService.onValidateRoles([
                  'Asistente',
                  'Mantenimiento',
                  'Residente',
                  'SuperUsuario'
                ])
              "
              ngbTooltip="Registrar Salida"
              [customClass]="'btn-sm btn-outline-success'"
              icon="fa-duotone fa-minus text-success"
              (clicked)="
                onAddSalida({
                  id: 0,
                  idInventarioProducto: item.id,
                  idProducto: item.productoId,
                  nombreProducto: item.producto
                })
              "
            ></custom-button>

            <custom-button-edit
              *ngIf="
                authService.onValidateRoles([
                  'Asistente',
                  'Mantenimiento',
                  'Residente',
                  'SuperUsuario'
                ])
              "
              (edit)="editProductos({ id: item.id, title: 'Editar Registro' })"
            ></custom-button-edit>
            <custom-button-delete
              *ngIf="authService.onValidateRoles(['Mantenimiento'])"
              (OnConfirm)="onDelete(item)"
            ></custom-button-delete>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
