<!-- Contenido para pantallas pequeñas (sm y menores) -->
<div class="container-fluid py-3">
  <div class="d-flex justify-content-between align-items-center mb-1">
    <h4 class="page-title-box">Reporte de Inspecciones</h4>
  </div>

  <!-- Filtros de Inspección -->
  <div class="d-flex align-items-end gap-3">
    <div class="form-group w-100">
      <label for="inspection" class="form-label">Inspección:</label>
      <select
        class="form-select f"
        id="inspection"
        [(ngModel)]="inspectionResultId"
        (change)="onReload()"
      >
        <option [value]="item.value" *ngFor="let item of inspectionResult">
          {{ item.label }}
        </option>
      </select>
    </div>
  </div>
  <div class="d-flex align-items-end gap-3">
    <!-- Listado de Resultados -->
    <div class="form-group w-50">
      <label for="date" class="form-label">Fecha a revisar:</label>
      <input
        class="form-control flatpickr-input"
        monthSelectorType="dropdown"
        mwlFlatpickr
        type="date"
        flatpickr="{
        dateFormat: 'Y-m-d',
        defaultDate: date
      }"
        [(ngModel)]="date"
        (change)="onDateChange($event.target.value)"
      />
    </div>

    <!-- Botón con Icono de PDF -->
    <button
      *ngIf="inspectionResultId !== '' && data"
      (click)="onExportPDF()"
      class="btn btn-danger d-flex align-items-center gap-2"
    >
      <span>PDF</span>
      <i class="fas fa-file-pdf"></i>
      <!-- Ícono de FontAwesome -->
    </button>
  </div>

  <hr />

  <ng-container *ngIf="!data">
    <div class="d-flex justify-content-center align-items-center p-4">
      <p class="text-muted">No hay datos para mostrar</p>
    </div>
  </ng-container>

  <ng-container *ngIf="data">
    <div class="mt-4">
      <h4 class="fw-bold text-primary">{{ data.name }}</h4>
      <p class="text-muted mb-0">
        <strong>Departamento:</strong> {{ data.departament }}
      </p>
      <p class="text-muted mb-0">
        <strong>Frecuencia:</strong> {{ data.frequency }}
      </p>
      <p class="text-muted mb-0"><strong>Realizo:</strong> {{ data.user }}</p>

      <div class="mt-3">
        <div class="card shadow-sm p-3 mb-4" *ngFor="let item of data.results">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="fw-bold">{{ item.inspectionDescription }}</h5>
            <i
              *ngIf="item.state"
              class="fa-solid fa-check text-success fa-2x"
            ></i>
            <i
              *ngIf="!item.state"
              class="fa-solid fa-xmark text-danger fa-2x"
            ></i>
          </div>

          <div class="mt-2">
            <p class="fw-bold">Observaciones:</p>
            <p class="text-muted">{{ item.observations }}</p>
          </div>

          <div class="mt-3">
            <h5 class="fw-bold">Reporte Fotográfico</h5>
            <div class="row g-2">
              <div class="col-3" *ngFor="let image of item.images">
                <img
                  [src]="image.photoPath"
                  alt="photo"
                  class="rounded shadow border img-fluid w-100"
                  style="max-width: 200px; height: auto"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <style>
    .list-group-item {
      background: #f9f9f9;
      border: 1px solid #e0e0e0;
      border-radius: 3px;
      margin-bottom: 5px;
      transition: box-shadow 0.3s;
    }

    .list-group-item:hover {
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .rounded-circle {
      object-fit: cover;
    }
    /* Estilo para el icono */
    .fa-book {
      font-size: 1.2rem; /* Ajusta el tamaño del icono */
      height: 30px; /* Establece la altura del icono (igual a los selectores) */
      width: auto; /* Mantiene la proporción del ancho del icono */
      display: flex; /* Hace que el icono sea un elemento de tipo flex */
      align-items: center; /* Alinea el icono verticalmente */
      margin-left: 10px; /* Espacio entre los selectores y el icono */
      cursor: pointer; /* Pone el cursor como puntero */
    }
  </style>
</div>
