<div class="card mt-5">
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <input
          type="text"
          class="form-control form-control-lg w-100"
          placeholder="Ingresa texto para buscar"
          (keyup)="onSearch($event.target.value)"
        />
      </div>
      <br />
    </div>
    <br />
    <button
      *ngFor="let item of menuFilter; let i = index"
      (click)="onNavigate(item.link)"
      type="button"
      class="btn btn-light waves-effect waves-light w-100 mb-1"
    >
      <div class="row">
        <div class="col-10">
          <p class="float-start">
            {{ item.name }}
          </p>
        </div>
        <div class="col-2">
          <i
            class="fa-regular fa-arrow-right-to-bracket font-size-16 float-end me-2"
          ></i>
        </div>
      </div>
    </button>
    <cite clas="font-size-8">presiona la tecla esc para salir</cite>
  </div>
</div>
