<div class="card">
  <div class="card-body">
    <form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="form">
      <!-- <custom-input-text
        [control]="form.get('title')"
        formControlName="title"
        label="Título"
        placeholder="Título del evento"
      /> -->
      <custom-input-select
        [control]="form.get('title')"
        formControlName="title"
        label="Título"
        [data]="titleOption"
      />

      <custom-input-text
        [control]="form.get('description')"
        formControlName="description"
        label="Descripción"
        placeholder="Descripción del evento"
      />
      <custom-input-date-time
        [control]="form.get('startTime')"
        formControlName="startTime"
        label="Fecha y Hora de Inicio"
      />
      <custom-input-date-time
        [control]="form.get('endTime')"
        formControlName="endTime"
        label="Fecha y Hora de Fin"
      />
      <custom-input-check
        [control]="form.get('isAllDay')"
        formControlName="isAllDay"
        label="Todo el día"
      />
      <custom-input-text
        [control]="form.get('location')"
        formControlName="location"
        label="Ubicación"
        placeholder="Ubicación del evento"
      />
      <custom-input-check
        [control]="form.get('isRecurring')"
        formControlName="isRecurring"
        label="Evento recurrente"
      />
      <custom-input-text
        [control]="form.get('recurringPattern')"
        formControlName="recurringPattern"
        label="Patrón de recurrencia"
        placeholder="Patrón de recurrencia (opcional)"
      />

      <btn-submit [disabled]="this.form.invalid || submitting" />
    </form>
  </div>
</div>
