<form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="form">
  <!-- Hidden -->
  <!-- Fecha de Solicitud -->

  <input
    hidden
    class="form-control"
    type="date"
    formControlName="dateRequest"
  />

  <!-- Fecha de Solicitud -->

  <!-- Fecha de término -->

  <input
    hidden
    class="form-control"
    type="datetime-local"
    formControlName="dateFinished"
  />

  <!-- Fecha de término -->

  <!-- Comentario -->
  <!-- Hidden -->

  <div class="row">
    <!-- Fotos -->
    <div class="col-12 col-md-3 text-center">
      <!-- Img -->

      <app-input-img
        [title]="'Foto del Antes'"
        (fileSelected)="uploadFileBefore($event)"
        [urlImgCurrent]="validarImagen(model?.photoPathBefore)"
        [contentHeight]="'150'"
        [contentWidth]="'250'"
      ></app-input-img>
      <br />
      <!-- Img -->
      <!-- Img -->
      <!-- <label class="form-label">Foto del después</label> -->

      <app-input-img
        [title]="'Foto del después'"
        (fileSelected)="uploadFileAfter($event)"
        [urlImgCurrent]="validarImagen(model?.photoPathAfter)"
        [contentHeight]="'150'"
        [contentWidth]="'250'"
      ></app-input-img>
      <!-- Img -->
    </div>
    <!-- Fotos -->

    <div class="col-12 col-md-9">
      <div class="row">
        <div class="col-12" *ngIf="id > 0">
          <div class="btn-group btn-group-example mb-3" role="group">
            <button
              type="button"
              class="btn w-sm"
              [disabled]="status === 0"
              (click)="onCerrarFolio(0)"
              ngbTooltip="Colocar como pendiente"
              placement="top"
              [ngClass]="{
                'btn-danger': status === 0,
                'btn-outline-danger': status !== 0
              }"
            >
              Pendiente
            </button>
            <button
              ngbTooltip="Cerra tiket"
              placement="top"
              type="button"
              class="btn w-sm"
              [disabled]="status === 1 || form.invalid"
              (click)="onCerrarFolio(1)"
              [ngClass]="{
                'btn-success': status === 1,
                'btn-outline-success': status !== 1
              }"
            >
              Cerrar
            </button>
            <button
              ngbTooltip="No Autorizado"
              placement="top"
              type="button"
              class="btn w-sm"
              [disabled]="status === 1"
              (click)="onCerrarFolio(2)"
              [ngClass]="{
                'btn-dark': status === 2,
                'btn-outline-dark': status !== 2
              }"
            >
              No Autorizado
            </button>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <!-- Actividad -->

          <div class="mb-3">
            <label class="form-label">Actividad</label>
            <textarea
              class="form-control text-justify"
              formControlName="activity"
              cols="30"
              rows="5"
              style="resize: none"
              [class.is-invalid]="
                f.activity.invalid && (f.activity.dirty || f.activity.touched)
              "
            ></textarea>
            <div
              *ngIf="
                f.activity.invalid && (f.activity.dirty || f.activity.touched)
              "
              class="text-danger"
            >
              <small *ngIf="f.activity.errors.required">
                Campo requerido
              </small>
            </div>
          </div>
          <!-- Actividad -->
          <!-- Area Responsable -->
          <div class="mb-3">
            <label class="form-label">Area Responsable</label>
            <select
              class="form-select"
              formControlName="responsibleAreaId"
              [class.is-invalid]="
                f.responsibleAreaId.invalid &&
                (f.responsibleAreaId.dirty || f.responsibleAreaId.touched)
              "
            >
              <option value="">Selecciona una opción</option>
              <option
                *ngFor="let item of cb_area_responsable"
                [value]="item.value"
              >
                {{ item.label }}
              </option>
            </select>
            <div
              *ngIf="
                f.responsibleAreaId.invalid &&
                (f.responsibleAreaId.dirty || f.responsibleAreaId.touched)
              "
              class="text-danger"
            >
              <small *ngIf="f.responsibleAreaId.errors.required">
                Campo requerido
              </small>
            </div>
          </div>
          <!-- Area Responsable -->
          <!-- Responsable -->
          <div class="mb-3">
            <label class="form-label">Colaborador Responsable</label>
            <input
              formControlName="employeeResponsable"
              class="form-control"
              list="responsableOptions"
              placeholder="Escribir para buscar..."
              [ngClass]="{
                'is-invalid':
                  f.employeeResponsable.errors &&
                  (f.employeeResponsable.dirty || f.employeeResponsable.touched)
              }"
              (change)="saveResponsableId($event)"
              autocomplete="off"
            />

            <datalist id="responsableOptions">
              <option
                [value]="item.label"
                *ngFor="let item of cb_user_customers"
              ></option>
            </datalist>

            <div
              *ngIf="
                f.employeeResponsableId.invalid &&
                (f.employeeResponsableId.dirty ||
                  f.employeeResponsableId.touched)
              "
              class="text-danger"
            >
              <small *ngIf="f.employeeResponsableId.errors.required">
                Campo requerido
              </small>
            </div>
          </div>
          <!-- Responsable -->
        </div>
        <!-- tercera columna  columna -->
        <div class="col-12 col-md-6">
          <!-- Fecha de Programación -->
          <div class="row">
            <!-- Status -->
            <div class="col-sm-6" hidden>
              <div class="mb-3">
                <label class="form-label">Estatus</label>
                <select class="form-select" formControlName="status">
                  <option *ngFor="let item of cb_status" [value]="item.value">
                    {{ item.label }}
                  </option>
                </select>
              </div>
            </div>
            <!-- Status -->
            <div class="col-sm-6">
              <!-- Prioridad -->
              <div class="mb-3">
                <label class="form-label">Prioridad</label>

                <select class="form-select" formControlName="priority">
                  <option *ngFor="let item of cb_priority" [value]="item.value">
                    {{ item.label }}
                  </option>
                </select>
              </div>
              <!-- Prioridad -->
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="mb-3">
                <label class="form-label">Fecha de Inicio</label>
                <div class="input-group date">
                  <!-- [(ngModel)]="fechaProgramacion" -->
                  <input
                    class="form-control flatpickr-input"
                    mwlFlatpickr
                    [altInput]="true"
                    [convertModelValue]="true"
                    monthSelectorType="dropdown"
                    type="text"
                    formControlName="fechaProgamacion"
                    [class.is-invalid]="
                      f.fechaProgamacion.invalid &&
                      (f.fechaProgamacion.dirty || f.fechaProgamacion.touched)
                    "
                  />
                </div>
                <!-- Fecha de Programación -->
              </div>
            </div>
            <div class="col-sm-6">
              <!-- Fecha de limite -->
              <div class="mb-3">
                <label class="form-label">Fecha Límite</label>
                <!-- [(ngModel)]="fechaLimite" -->
                <input
                  class="form-control flatpickr-input"
                  mwlFlatpickr
                  [altInput]="true"
                  [convertModelValue]="true"
                  monthSelectorType="dropdown"
                  type="text"
                  formControlName="fechaLimite"
                  [class.is-invalid]="
                    f.fechaLimite.invalid &&
                    (f.fechaLimite.dirty || f.fechaLimite.touched)
                  "
                />
              </div>
              <!-- Fecha de limite -->
            </div>
          </div>

          <!-- Solicita -->

          <!-- Solicita -->
          <!-- Observaciones -->
          <div class="mb-3">
            <label class="form-label">Observaciones</label>
            <textarea
              formControlName="observations"
              class="form-control text-justify"
              cols="30"
              rows="5"
              style="resize: none"
            ></textarea>
          </div>
          <!-- Observaciones -->
        </div>
      </div>
    </div>
  </div>
  <button
    [disabled]="this.form.invalid || submitting"
    type="submit"
    class="btn btn-info float-end me-1 mt-2"
    (onClick)="tipoDePut = 0"
  >
    <i class="fa-duotone fa-paper-plane me-2"></i>
    Guardar
  </button>
</form>
