<p-toast position="bottom-left" [baseZIndex]="99999" />
<div class="card">
  <p-table
    #dt
    [(selection)]="data"
    [autoLayout]="true"
    [globalFilterFields]="['descripcion', 'folioo', 'pathFormato']"
    [rowHover]="true"
    [showCurrentPageReport]="true"
    [value]="data"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    styleClass="custom-table"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="caption">
      <custom-table-caption
        title="Manuales y Procesos"
        (add)="onModalAddOrEdit({ id: 0, title: 'Nuevo Registro' })"
        [dt]="dt"
        [showAdd]="authS.onValidateRoles(['SuperUsuario'])"
      />
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th scope="col" style="width: 30%" pSortableColumn="descripcion">
          Descripción <p-sortIcon field="descripcion" />
        </th>
        <th scope="col" style="width: 30%" pSortableColumn="pathFormato">
          Archivo
          <p-sortIcon field="pathFormato" />
        </th>
        @if (authS.onValidateRoles(['SuperUsuario'])) {
        <th scope="col" style="width: 10%">Opciones</th>
        }
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td class="p-column-title">
          {{ item.descripcion | uppercase }}
        </td>
        <td class="p-column-title">
          <btn-download-file
            ngbTooltip="Descargar"
            [urlFile]="item.pathFormato"
          />
        </td>
        <!-- Opciones -->
        @if (authS.onValidateRoles(['SuperUsuario'])) {
        <td class="p-column-title">
          <div class="d-flex justify-content-center">
            <btn-edit
              (edit)="onModalAddOrEdit({ id: item.id, title: 'Editar' })"
            />
            <btn-delete (OnConfirm)="onDelete(item.id)" />
          </div>
        </td>
        }
        <!-- Opciones -->
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <div class="p-d-flex p-ai-center p-jc-between no-print">
        En total hay
        {{ data ? data.length : 0 }} registros.
      </div>
    </ng-template>
  </p-table>
</div>
