<nav class="navbar bg-dark fixed-top">
  <div
    class="container-fluid d-flex justify-content-between align-items-center py-2"
  >
    <!-- Icono de flecha a la izquierda -->
    <div class="d-flex align-items-center">
      <div class="dropdown me-3">
        <small
          class="text-light"
          id="dropdownBuilding"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          role="button"
        >
          {{
            nameCustomer.length > 25
              ? (nameCustomer | slice : 0 : 25) + ""
              : nameCustomer
          }}
        </small>
        <ul
          class="dropdown-menu dropdown-menu-start"
          aria-labelledby="dropdownBuilding"
        >
          <li *ngFor="let item of cb_customer">
            <a class="dropdown-item" (click)="selectCustomer(item.value)">
              {{ item.label }}
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Contenedor centrado para el nombre de usuario -->

    <!-- Contenedor para íconos de la derecha -->
    <div class="d-flex align-items-center">
      <!-- Icono de notificaciones -->
      <div class="dropdown me-2" ngbDropdown>
        <i
          *ngIf="messageInNotRead === 0"
          class="text-success fa-solid fa-bell"
          id="page-header-notifications-dropdown"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          ngbDropdownToggle
          role="button"
        ></i>
        <i
          *ngIf="messageInNotRead !== 0"
          class="text-danger fa-solid fa-bell-ring fa-xl"
          id="page-header-notifications-dropdown"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          ngbDropdownToggle
          role="button"
        ></i>
        <span class="badge bg-light rounded-pill">{{ messageInNotRead }}</span>
        <div
          class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0 full-width-dropdown"
          aria-labelledby="page-header-notifications-dropdown"
          ngbDropdownMenu
        >
          <ngx-simplebar [options]="options" *ngIf="messageInNotRead === 0">
            <a
              [routerLink]="['/tickets/my-tickets']"
              class="text-reset notification-item"
            >
              <div class="d-flex card">
                <div class="flex-grow-1">
                  <h6 class="mb-1">Sin notificaciones nuevas</h6>
                </div>
              </div>
            </a>
          </ngx-simplebar>
          <ngx-simplebar
            style="width: 100% !important; max-height: 230px"
            *ngIf="messageInNotRead !== 0"
          >
            <a
              *ngFor="let notification of notifications"
              [routerLink]="notification.url"
              class="text-reset notification-item"
            >
              <div class="d-flex">
                <div class="flex-grow-1">
                  <h6 class="mb-1">{{ notification.title }}</h6>
                  <div class="font-size-13 text-muted">
                    <p class="mb-0">
                      <span>{{
                        getTruncatedMessage(notification.message, 45)
                      }}</span>
                    </p>
                    <p class="mb-0">
                      <small>{{ notification.createdAt }}</small>
                    </p>
                  </div>
                </div>
              </div>
            </a>
          </ngx-simplebar>
        </div>
      </div>

      <div class="dropdown">
        <i
          class="fa-solid fa-list text-light fa-xl"
          id="dropdownMenuButton"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          role="button"
        ></i>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="dropdownMenuButton"
        >
          <li>
            <a
              class="dropdown-item my-1 mb-1"
              [routerLink]="['/update-user-profile']"
              >Mi perfil</a
            >
          </li>
          <li>
            <a class="dropdown-item my-1 mb-1" (click)="logout()"
              >Cerrar sesión</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<!-- Contenedor principal ajustable -->
<div class="main-content">
  <router-outlet></router-outlet>
</div>

<footer
  class="footer bg-light fixed-bottom text-center text-white py-2 shadow-sm"
>
  <div class="row row-cols-6 gx-0 py-2">
    <!-- Iconos del footer -->
    <div class="col">
      <i
        [routerLink]="['/tickets/my-tickets']"
        class="fa-duotone fa-solid fa-ticket fa-xl text-primary"
      ></i>
    </div>
    <div class="col">
      <i
        [routerLink]="['/logbook/recorrido']"
        class="fa-duotone fa-solid fa-book fa-xl text-primary"
      ></i>
    </div>
    <div class="col">
      <i
        [routerLink]="['/logbook/lista-medidor']"
        class="fa-duotone fa-solid fa-file-invoice fa-xl text-primary"
      ></i>
    </div>
    <div class="col">
      <i
        [routerLink]="['/mantenimiento/calendario-anual']"
        class="fa-duotone fa-solid fa-calendar fa-xl text-primary"
      ></i>
    </div>

    <div class="col" *ngIf="isSuperUser">
      <i
        [routerLink]="['/accounts']"
        class="fa-duotone fa-solid fa-users fa-xl text-primary"
      ></i>
    </div>
    <div class="col">
      <i
        [routerLink]="['/movil-options']"
        class="fa-duotone fa-solid fa-home fa-xl text-primary"
      ></i>
    </div>
  </div>
</footer>

<style>
  /* Estilos de body */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  /* Contenido principal con espacio para footer */
  .main-content {
    flex: 1;
    overflow-y: auto;
    padding-top: 3.5rem; /* Ajusta según la altura del header */
    padding-bottom: 3.5rem; /* Ajusta según la altura del footer */
  }

  /* Header fijo */
  .navbar {
    width: 100%;
    z-index: 10;
  }

  /* Footer fijo */
  .footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 10;
  }
  ngx-simplebar {
    height: 100%;
  }
</style>
