<p-toast position="top-left" [baseZIndex]="99999"></p-toast>

<div class="card p-2">
  <ngb-alert [dismissible]="false" type="primary">Contraseña </ngb-alert>
  <form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="form">
    <!-- Id -->
    <div class="form-group row mb-1" hidden>
      <label class="col-sm-3">Id</label>
      <div class="col-sm-9">
        <input class="form-control" formControlName="id" />
      </div>
    </div>
    <!-- Id -->

    <div class="form-group row mb-1">
      <label class="col-sm-3">Password</label>
      <div class="col-sm-9">
        <input class="form-control" formControlName="password" />
        <div *ngIf="password.invalid && (password.dirty || password.touched)">
          <div *ngIf="password.errors.required">
            <p class="small text-danger">El campo es requerido.</p>
          </div>
          <div *ngIf="password.errors.minlength">
            <p class="small text-danger">
              El campo debe tener al menos 6 caracteres.
            </p>
          </div>
          <div *ngIf="password.errors.pattern">
            <p class="small text-danger">
              El campo debe incluir al menos una minúscula, una mayúscula, un
              número y un caracter especial (*, -, /).
            </p>
          </div>
        </div>
      </div>
    </div>

    <custom-button-submit [disabled]="this.form.invalid"></custom-button-submit>
    <span class="text-danger">
      <ul>
        <li>El campo es requerido</li>
        <li>Se deben incluir mayusculas</li>
        <li>Se deben incluir minusculas</li>
        <li>Se deben incluir numeros</li>
        <li>Se deben incluir caracter especial (* - /)</li>
      </ul>
    </span>
  </form>
</div>
<div class="card p-2" *ngIf="correoPersonal !== ''">
  <button class="btn btn-primary" (click)="SendPasswordNewEmail()">
    Enviar una nueva contraseña por correo electrónico {{ correoPersonal }}
  </button>
</div>

<!--  TODO: Validar TWILO -->
<!-- <div class="card p-2" *ngIf="celularPersonal !== ''">
  <button class="btn btn-primary" (click)="SendPasswordWhatsApp()">
    Enviar una nueva contraseña por correo teléfono {{ celularPersonal }}
  </button>
</div> -->
