<!-- <div class="float-end">
  <custom-button
    type="submit"
    customClass="bg-gradient btn-soft-primary mt-1"
    icon="font-size-16 align-middle me-2 "
    [customNgClassIcon]="icon"
    label="Guardar"
    [disabled]="disabled"
  />
</div> -->
<div class="float-end">
  <custom-button
    type="submit"
    customClass="btn-soft-primary waves-effect waves-light mt-1"
    icon="font-size-16 align-middle me-2 "
    [customNgClassIcon]="icon"
    label="Guardar"
    [disabled]="disabled"
  />
</div>
