<div class="card">
  <div class="card-body">
    <form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="form">
      <div class="row">
        <div class="col-6">
          <div inert>
            <!-- Este div y sus descendientes no serán interactuables -->
            <custom-input-text
              [control]="form.get('id')"
              formControlName="id"
              label="Id"
              [readonly]="true"
              [horizontal]="false"
            />
          </div>
          <custom-input-text
            [control]="form.get('name')"
            formControlName="name"
            label="Nombre de calendario"
            placeholder="Nombre de calendario"
            [horizontal]="false"
          />
          <custom-input-text-area
            [control]="form.get('description')"
            formControlName="description"
            label="Descripción"
            placeholder="Descripción"
            [horizontal]="false"
          />
        </div>
        <div class="col-6">
          <!-- Lista de checkboxes para seleccionar clientes -->
          <label>Compartir calendario con</label>
          <hr />
          <div *ngFor="let item of cb_customers" class="form-check pointer">
            <input
              class="form-check-input pointer"
              type="checkbox"
              [checked]="customersArray.value.includes(item.value)"
              [id]="item.value"
              (change)="onCustomerChange(item.value, $event.target.checked)"
            />
            <label class="form-check-label pointer" [for]="item.value">
              {{ item.label }}
            </label>
          </div>
        </div>
      </div>

      <btn-submit [disabled]="this.form.invalid || submitting" />
    </form>
  </div>
</div>
