<div class="card">
  <div class="card-body">
    <form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="form">
      <custom-input-text
        [control]="form.get('nameChat')"
        formControlName="nameChat"
        label="Nombre de grupo"
        placeholder="nombre de grupo"
      />
      <custom-input-select
        [control]="form.get('isPublic')"
        formControlName="isPublic"
        label="Privacidad"
        [selectDefaulOption]="false"
        [data]="cb_isPublic"
      />
      <custom-input-text-area
        [control]="form.get('description')"
        formControlName="description"
        label="Descripción"
        placeholder="Descripción"
        rows="3"
      />
      <custom-button-submit [disabled]="this.form.invalid || submitting" />
    </form>
  </div>
</div>
