<div class="card">
  <div class="card-body">
    <form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="form">
      <custom-input-text
        [control]="form.get('id')"
        formControlName="id"
        label="Id"
        placeholder="id"
      />

      <custom-input-text
        [control]="form.get('folio')"
        formControlName="folio"
        label="Folio"
        placeholder="folio"
      />

      <custom-input-date
        [control]="form.get('requestDate')"
        formControlName="requestDate"
        label="Fecha de solicitud"
        placeholder="fecha de solicitud"
      />

      <custom-input-select
        [control]="form.get('status')"
        formControlName="status"
        label="Estatus"
        [data]="cb_status"
      />
      <div class="mb-2 form-group row">
        <label class="col-sm-3">Fuente</label>
        <div class="col-sm-9">
          <select formControlName="fuente" class="form-select">
            <option value="">--Selecciona una opción--</option>
            @for (item of cb_fuente; track item) {
            <option [value]="item.value">
              {{ item.label }}
            </option>
            }
          </select>
        </div>
      </div>

      <custom-input-date
        [control]="form.get('selectionDate')"
        formControlName="selectionDate"
        label="Fecha de selección"
        placeholder="fecha de selección"
      />

      <custom-input-date
        [control]="form.get('entryDate')"
        formControlName="entryDate"
        label="Fecha de ingreso"
        placeholder="fecha de ingreso"
      />

      <custom-input-text-area
        [control]="form.get('observations')"
        formControlName="observations"
        label="Observaciones"
        placeholder="observaciones"
      />

      <btn-submit [disabled]="this.form.invalid || submitting" />
    </form>
  </div>
</div>
