<div class="card">
  <div class="card-header p-1">
    <div class="card-title text-center">Foto de perfil</div>
  </div>

  <div class="card-body">
    <div (click)="inputImg.click()">
      <div class="flex-shrink-0 me-3">
        <img
          *ngIf="!imgUpload"
          class="avatar-lg h-auto d-block rounded pointer"
          [src]="base_urlImg + photoPath"
          data-holder-rendered="true"
        />
        <img
          *ngIf="imgUpload"
          class="avatar-lg h-auto d-block rounded pointer"
          [src]="imgTemp"
          data-holder-rendered="true"
        />
      </div>
      <div class="input-group mb-3 d-none">
        <div class="custom-file">
          <input
            class="custom-file-input"
            type="file"
            id="file"
            #inputImg
            aria-describedby="file"
            (change)="changeImg($event.target['files'][0])"
            accept="image/png, .jpeg, .jpg"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .avatar-lg {
    width: 160px !important;
    height: 160px !important;
    object-fit: cover;
  }
</style>
