<div class="row">
  @for (item of ticketPanelMenuItems; track $index) {

  <div class="col-sm-12 col-md-3 col-lg-2 m-1 p-1">
    <div class="card border-primary pointer" [routerLink]="item.routerLink">
      <div class="card-body text-center">
        <i class="custom-icon" [class]="item.icon"></i>
        <p class="font-size-18 mt-2">{{ item.title }}</p>
      </div>
    </div>
  </div>
  }
</div>
<style>
  .custom-icon {
    font-size: 3em; /* Puedes ajustar el tamaño según tus necesidades */
    margin-bottom: 5px; /* Puedes ajustar el margen según tus necesidades */
  }
</style>
