<div class="d-flex justify-content-center">
  <custom-button
    ngbTooltip="Datos de correo"
    [customClass]="'btn-outline-primary '"
    icon="fa-duotone fa-envelope text-primary"
    (clicked)="onModalEmailData(item.id)"
  ></custom-button>
  <custom-button
    *ngIf="item.active"
    ngbTooltip="Desbloquear"
    [customClass]="'btn-outline-danger '"
    icon="fa-duotone fa-user-lock text-danger"
    (clicked)="onToUnlockAccount(item.id)"
  ></custom-button>
  <custom-button
    *ngIf="!item.active"
    ngbTooltip="Bloquear"
    [customClass]="'btn-outline-success '"
    icon="fa-duotone fa-user-check text-success"
    (clicked)="onToBlockAccount(item.id)"
  ></custom-button>
  <custom-button-edit
    (edit)="onModalEditAccount(item.id, item.email)"
  ></custom-button-edit>
  <custom-button-delete (OnConfirm)="onDelete(item.id)"></custom-button-delete>
</div>
