<ng-container *ngIf="horizontal">
  <div class="form-group row mb-2" [hidden]="hidden">
    <label class="col-sm-3">{{ label }}</label>
    <div class="col-sm-9">
      <input
        (blur)="onTouch()"
        (input)="onChange($event.target.value)"
        [attr.disabled]="disabled ? 'disabled' : null"
        [placeholder]="'Ingresa ' + placeholder"
        [readonly]="readonly"
        [value]="value"
        class="form-control"
        type="text"
        [ngClass]="{
          'is-invalid': control.invalid && (control.dirty || control.touched)
        }"
      />
      <div
        class="invalid-feedback"
        *ngIf="control.invalid && (control.dirty || control.touched)"
      >
        <p *ngIf="control.errors.required">
          El campo {{ placeholder }} es reqerido.
        </p>
        <p *ngIf="control.errors.minlength">
          El campo debe de tener minimo
          {{ control.errors.minlength.requiredLength }} caracteres.
        </p>
        <p *ngIf="control.errors.maxlength">
          El campo debe de tener maximo
          {{ control.errors.maxlength.requiredLength }} caracteres.
        </p>
        <p *ngIf="control.errors.email">El email no es válido.</p>
        <p *ngIf="control.errors.min">
          La edad debe ser mayor o igual a {{ control.errors.min.min }}.
        </p>
        <p *ngIf="control.errors.max">
          La edad debe ser menor o igual a {{ control.errors.max.max }}.
        </p>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="!horizontal">
  <div class="mb-2">
    <label>{{ label }}</label>
    <input
      type="text"
      class="form-control"
      [placeholder]="'Ingresa ' + placeholder"
      [value]="value"
      [attr.disabled]="disabled ? 'disabled' : null"
      (input)="onChange($event.target.value)"
      [readonly]="readonly"
      (blur)="onTouch()"
      [ngClass]="{
        'is-invalid': control.invalid && (control.dirty || control.touched)
      }"
    />
    <div
      class="invalid-feedback"
      *ngIf="control.invalid && (control.dirty || control.touched)"
    >
      <p *ngIf="control.errors.required">
        El campo {{ placeholder }} es reqerido.
      </p>
      <p *ngIf="control.errors.minlength">
        El campo debe de tener minimo
        {{ control.errors.minlength.requiredLength }} caracteres.
      </p>
      <p *ngIf="control.errors.maxlength">
        El campo debe de tener maximo
        {{ control.errors.maxlength.requiredLength }} caracteres.
      </p>
      <p *ngIf="control.errors.email">El email no es válido.</p>
      <p *ngIf="control.errors.min">
        La edad debe ser mayor o igual a {{ control.errors.min.min }}.
      </p>
      <p *ngIf="control.errors.max">
        La edad debe ser menor o igual a {{ control.errors.max.max }}.
      </p>
    </div>
  </div>
</ng-container>
