<p-toast position="top-left" [baseZIndex]="99999"></p-toast>

<p-table
  [(selection)]="data"
  #dt
  styleClass="custom-table"
  [value]="data"
  [rows]="15"
  [paginator]="true"
  [rowHover]="true"
  currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 20, 30, 40, 50, 75, 100]"
  [globalFilterFields]="['descripcion']"
  [autoLayout]="true"
>
  <ng-template pTemplate="caption">
    <app-table-header
      [title]="'Unidades de medida'"
      (add)="showModalAddOrEdit({ id: 0, title: 'Nuevo Registro' })"
      [dt]="dt"
    ></app-table-header>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th
        scope="col"
        style="width: 7%"
        class="text-small"
        pSortableColumn="descripcion"
      >
        DESCRIPCIÓN
        <p-sortIcon field="descripcion"></p-sortIcon>
      </th>

      <th scope="col" style="width: 5%" class="text-small">.</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td>
        {{ item.descripcion }}
      </td>

      <td class="p-column-title">
        <div class="d-flex justify-content-center">
          <custom-button-edit
            (edit)="
              showModalAddOrEdit({ id: item.id, title: 'Editar Registro' })
            "
          ></custom-button-edit>
          <custom-button-delete
            (OnConfirm)="onDelete(item)"
          ></custom-button-delete>
        </div>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="paginatorleft">
    <div class="p-d-flex p-ai-center p-jc-between">
      En total hay
      {{ data ? data.length : 0 }} registros.
    </div>
  </ng-template>
</p-table>
