<p-toast position="top-right" [baseZIndex]="99999" />

@if (presupuestoAgregados) {
<p-table
  [(selection)]="presupuestoAgregados"
  #dtt
  styleClass="custom-table"
  [tableStyle]="{ 'min-width': '50rem' }"
  [value]="presupuestoAgregados"
  [rows]="15"
  [paginator]="true"
  [rowHover]="true"
  currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 20, 30, 40, 50, 75, 100]"
  [globalFilterFields]="['cedulaPresupuestalDetalle.cuenta.descripcion']"
  [autoLayout]="true"
>
  <ng-template pTemplate="caption">
    <custom-table-caption
      [title]="'Partidas agregadas'"
      [showAdd]="false"
      [dt]="dtt"
    />
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 35%">Periodo</th>
      <th
        style="width: 35%"
        scope="col"
        pSortableColumn="cedulaPresupuestalDetalle.cuenta.descripcion"
      >
        Descripción
        <p-sortIcon field="cedulaPresupuestalDetalle.cuenta.descripcion" />
      </th>
      <th
        style="width: 15%"
        scope="col"
        pSortableColumn="cedulaPresupuestalDetalle.presupuestoMensual"
      >
        Pres. Mensual
        <p-sortIcon field="cedulaPresupuestalDetalle.presupuestoMensual" />
      </th>
      <th style="width: 15%" scope="col">Gasto a realizar</th>
      <th style="width: 5%" scope="col" style="width: 5%">Guardar</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td class="p-column-title">
        @for (cedulaId of cb_cedulas; track cedulaId) {
        <p>
          @if ( item.cedulaPresupuestalDetalle.cedulaPresupuestalId ==
          cedulaId.value ) {
          <small>
            {{ cedulaId.label }}
          </small>
          }
        </p>
        }
      </td>
      <td class="p-column-title">
        <small>
          <input
            type="text"
            [(ngModel)]="item.cedulaPresupuestalDetalle.cuenta.descripcion"
            mode="currency"
            readonly
            class="form-control form-control-sm"
          />
        </small>
      </td>
      <td class="p-column-title">
        <input
          type="number"
          [(ngModel)]="item.cedulaPresupuestalDetalle.presupuestoMensual"
          class="form-control form-control-sm"
        />
      </td>
      <td class="">
        <input
          type="number"
          [(ngModel)]="item.dineroUsado"
          class="form-control form-control-sm"
        />
      </td>
      <td class="p-column-title">
        <div class="d-flex justify-content-center">
          <button
            ngbTooltip="Guardar"
            placement="top"
            (click)="onUpdatePresupuestoAgregado(item)"
            class="btn btn-sm btn-outline-info me-1"
          >
            <i class="fa-thin fa-floppy-disk"></i>
          </button>
          <btn-delete (OnConfirm)="deletePresupuestoAgregado(item.id)" />
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
} @if (data) {
<p-table
  [(selection)]="data"
  #dt
  styleClass="custom-table"
  [tableStyle]="{ 'min-width': '50rem' }"
  [value]="data"
  [rows]="15"
  [paginator]="true"
  [rowHover]="true"
  currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 20, 30, 40, 50, 75, 100]"
  [globalFilterFields]="['cedulaPresupuestalDetalle.cuenta.descripcion']"
  [autoLayout]="true"
>
  <ng-template pTemplate="caption">
    <custom-table-caption
      [title]="'Cedula Presupuestal'"
      [showAdd]="false"
      [dt]="dt"
    />
    <div class="col-sm-12">
      <div class="form-group row">
        <label class="col-sm-3 font-weight-light">Selecciona presupuesto</label>
        @if (cedulaId !== 0) {
        <div class="col-sm-5">
          <select
            class="form-control form-con"
            (change)="onLoadPresupuesto()"
            [(ngModel)]="cedulaId"
          >
            @for (item of cb_cedulas; track item) {
            <option [value]="item.value">
              {{ item.label }}
            </option>
            }
          </select>
        </div>
        }
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th
        style="width: 35%"
        scope="col"
        pSortableColumn="cedulaPresupuestalDetalle.cuenta.descripcion"
      >
        Descripción
        <p-sortIcon field="cedulaPresupuestalDetalle.cuenta.descripcion" />
      </th>
      <th
        style="width: 15%"
        scope="col"
        pSortableColumn="cedulaPresupuestalDetalle.presupuestoMensual"
      >
        Pres. Mensual
        <p-sortIcon field="cedulaPresupuestalDetalle.presupuestoMensual" />
      </th>
      <th style="width: 15%" scope="col">Gasto a realizar</th>
      <th style="width: 5%" scope="col" style="width: 5%">Guardar</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td class="p-column-title">
        <small>
          <input
            type="text"
            [(ngModel)]="item.cedulaPresupuestalDetalle.cuenta.descripcion"
            mode="currency"
            readonly
            class="form-control form-con"
          />
        </small>
      </td>
      <td class="p-column-title">
        <small>
          <input
            readonly
            [(ngModel)]="item.cedulaPresupuestalDetalle.presupuestoMensual"
            type="number"
            min="0"
            class="form-control form-control-sm"
          />
        </small>
      </td>
      <td class="">
        <input
          type="number"
          class="form-control formcontrol"
          [(ngModel)]="item.dineroUsado"
        />
      </td>
      <!-- Opciones -->
      <td class="p-column-title">
        <div class="d-flex justify-content-center">
          <button (click)="onSubmit(item)" class="btn btn-sm btn-outline-info">
            <i class="fa-thin fa-floppy-disk"></i>
          </button>
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="paginatorleft">
    <table-footer [data]="data" />
  </ng-template>
</p-table>
}
