<p-table
  *ngIf="data"
  [(selection)]="data"
  #dt
  styleClass="custom-table"
  [value]="data"
  [rows]="100"
  [paginator]="true"
  [rowHover]="true"
  currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[100, 150, 200]"
  [globalFilterFields]="['nombre', 'actividad', 'id']"
  [autoLayout]="true"
  sortField="inventoryCategory"
  sortMode="single"
  rowGroupMode="subheader"
  groupRowsBy="inventoryCategory"
  responsiveLayout="scroll"
>
  <ng-template pTemplate="caption">
    <div class="row">
      <div class="col-sm-3">
        <select
          ngbTooltip="Seleccionar Mes"
          placement="top"
          class="form-select"
          [(ngModel)]="month"
          (change)="selectMonth()"
        >
          <option [value]="item.value" *ngFor="let item of months">
            {{ item.label }}
          </option>
        </select>
      </div>
      <div class="col-sm-9">
        <app-table-header
          [viewNavigateButton]="false"
          (add)="
            showModalAddOrEdit({
              id: 0,
              task: 'create',
              title: 'Nuevo Registro',
              idMachinery: 0
            })
          "
          (showAdd)="
            authService.onValidateRoles([
              'Mantenimiento',
              'Residente',
              'SuperUsuario'
            ])
          "
          [dt]="dt"
        ></app-table-header>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="groupheader" let-item>
    <tr pRowGroupHeader>
      <td colspan="5">
        <span class="p-text-bold p-ml-2">{{ item.inventoryCategory }}</span>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="groupfooter" let-item>
    <tr class="p-rowgroup-footer">
      <td colspan="5" style="min-width: 80%" class="font-bold">
        <div style="text-align: right; width: 100%">
          Total Actividades:
          {{ calculateCustomerTotal(item.inventoryCategory) }}
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th scope="col" pSortableColumn="id">
        <p-sortIcon field="id">Id</p-sortIcon>
      </th>
      <th scope="col" pSortableColumn="nombre">
        <p-sortIcon field="nombre"></p-sortIcon>
      </th>
      <th scope="col" pSortableColumn="actividad">
        Actividad
        <p-sortIcon field="actividad"></p-sortIcon>
      </th>
      <th scope="col" pSortableColumn="provider">
        Proveedor
        <p-sortIcon field="provider"></p-sortIcon>
      </th>
      <th scope="col" pSortableColumn="recurrence">
        Recurrencia
        <p-sortIcon field="recurrence"></p-sortIcon>
      </th>
      <th scope="col" pSortableColumn="fechaServicioFiltro">
        Fecha
        <p-sortIcon field="fechaServicioFiltro"></p-sortIcon>
      </th>
      <th scope="col" pSortableColumn="precio">
        Costo
        <p-sortIcon field="precio"></p-sortIcon>
      </th>

      <th
        *ngIf="
          authService.onValidateRoles([
            'Mantenimiento',
            'Residente',
            'SuperUsuario'
          ])
        "
        scope="col"
        style="width: 10%"
      >
        Opciones
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-item>
    <tr>
      <td class="p-column-title">
        <small> {{ item.id }}</small>
      </td>
      <td class="p-column-title">
        <small> {{ item.nombre }}</small>
      </td>
      <td class="p-column-title">
        <div
          class="text-justify"
          [innerHTML]="item.actividad | sanitizeHtml"
        ></div>
      </td>
      <td class="p-column-title">
        <small>{{ item.provider }} </small>
      </td>
      <td class="p-column-title">
        <small>{{ item.recurrencia }} </small>
      </td>
      <td class="p-column-title">
        <small>{{ item.fechaServicio }} </small>
      </td>
      <td class="p-column-title">
        <small>{{ item.precio | CurrencyMexicoPipe }} </small>
      </td>
      <td
        class="p-column-title"
        *ngIf="
          authService.onValidateRoles([
            'Mantenimiento',
            'Residente',
            'SuperUsuario'
          ])
        "
      >
        <div class="d-flex justify-content-center">
          <custom-button-edit
            (edit)="
              showModalAddOrEdit({
                idnombre: item.id,
                id: item.id,
                task: 'edit',
                header: 'Editar regitro ' + item.id
              })
            "
          ></custom-button-edit>

          <custom-button
            [customClass]="'btn-sm btn-outline-dark'"
            ngbTooltip="Duplicar Servicio"
            placement="top"
            icon="fa-duotone fa-copy text-dark"
            (clicked)="
              showModalAddOrEdit({
                idnombre: item.id,
                id: item.id,
                task: 'copy',
                header: 'Duplicar servicio'
              })
            "
          ></custom-button>

          <!-- Duplicar Servicio -->

          <!-- Borrar -->
          <custom-button-delete
            (OnConfirm)="onDelete(item)"
          ></custom-button-delete>
          <!-- Borrar -->
        </div>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="paginatorleft">
    <div class="p-d-flex p-ai-center p-jc-between">
      En total hay
      {{ data ? data.length : 0 }} registros.
    </div>
  </ng-template>
</p-table>
