<div class="card p-2">
  @if (email !== '') {

  <div class="card p-2">
    <custom-button
      (clicked)="sendOnlyPasswordEmail()"
      customClass="btn-soft-primary w-100"
      [label]="'Enviar una nueva contraseña por correo electrónico ' + email"
    />
  </div>
  <div class="card p-2">
    <custom-button
      (clicked)="onGenerateUserNameAndPassword()"
      customClass="btn-soft-primary w-100"
      [label]="
        'Generar y enviar nuevo usuario y contraseña por correo electrónico ' +
        email
      "
    />
  </div>
  }
</div>
