<p-toast position="top-right" [baseZIndex]="99999"></p-toast>

<div class="card">
  <p-table
    #dt
    [value]="dataSignal()"
    [globalFilterFields]="['nameChat']"
    styleClass="custom-table"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <!-- styleClass="p-datatable-sm" -->
    <ng-template pTemplate="caption">
      <table-header
        title="Grupos"
        (add)="onModalAddOrEdit({ id: 0, title: 'Nuevo Registro' })"
        [dt]="dt"
      />
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th scope="col" style="width: 50%" pSortableColumn="nameChat">
          Nombre
          <p-sortIcon field="nameChat"></p-sortIcon>
        </th>
        <th scope="col" style="width: 30%">Solicitudes</th>
        <th scope="col" style="width: 20%" class="no-print">Opciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td class="p-column-title">
          <i
            (click)="
              onInfo({ description: item.description, title: 'Detalles' })
            "
            ngbTooltip="Detalles"
            class="fa-xl text-info fa-duotone fa-solid fa-square-info pointer me-2"
          ></i>
          {{ item.nameChat }}
          <p-tag
            *ngIf="item.isPublic"
            severity="success"
            value="Publico"
            class="p-2"
          />
          <p-tag
            *ngIf="!item.isPublic"
            severity="secondary"
            value="Privado"
            class="p-2"
          />
        </td>
        <td class="p-column-title">
          <div class="d-flex flex-wrap justify-content-center">
            <button
              ngbTooltip="Pendientes"
              placement="top"
              class="btn btn-outline-danger m-1 no-print"
              (click)="onNavigateMessage(item.id, 0, item.nameChat)"
            >
              <i class="fa-duotone fa-solid fa-folder-open"> </i>
              <span class="badge bg-light ms-1">{{ item.open }}</span>
            </button>

            <button
              ngbTooltip="En proceso"
              placement="top"
              class="btn btn-outline-warning m-1 no-print"
              (click)="onNavigateMessage(item.id, 1, item.nameChat)"
            >
              <i class="fa-duotone fa-solid fa-spinner-third"> </i>
              <span class="badge bg-light ms-1">{{ item.inProgress }}</span>
            </button>

            <button
              ngbTooltip="Reabierto"
              placement="top"
              class="btn btn-outline-dark m-1 no-print"
              (click)="onNavigateMessage(item.id, 3, item.nameChat)"
            >
              <i class="fa-sharp-duotone fa-solid fa-down"> </i>
              <span class="badge bg-light ms-1">{{ item.reopened }}</span>
            </button>

            <button
              ngbTooltip="Cerrado"
              placement="top"
              class="btn btn-outline-success m-1 no-print"
              (click)="onNavigateMessage(item.id, 2, item.nameChat)"
            >
              <i class="fa-duotone fa-solid fa-lock"> </i>
              <span class="badge bg-light ms-1">{{ item.closed }}</span>
            </button>
          </div>
        </td>
        <!-- Opciones -->
        <td class="p-column-title" class="no-print">
          <div class="d-flex flex-wrap justify-content-center">
            <c-btn-router-event
              *ngIf="item.active"
              (event)="onModalParticipants(item)"
              customNgClass=" btn-outline-primary me-1"
              ngbTooltip="Participantes"
              icon="fa-duotone fa-users"
              [labelNotification]="item.luxuryChatGroupParticipant"
            />
            <custom-button
              *ngIf="item.active"
              ngbTooltipCustom="Editar"
              icon="fa-lg fa-thin text-info fa-pen-nib"
              customClass=" btn-outline-info me-1"
              (clicked)="onModalAddOrEdit({ id: item.id, title: 'Editar' })"
            />
            <custom-button
              *ngIf="item.active"
              ngbTooltipCustom="Bloquear"
              icon="fa-lg fa-thin text-success fa-check-to-slot"
              customClass=" btn-outline-success me-1"
              (clicked)="onToggleStatus(item.id)"
            />
            <custom-button
              *ngIf="!item.active"
              ngbTooltipCustom="Activar"
              icon="fa-lg fa-thin text-danger fa-xmark-to-slot"
              customClass=" btn-outline-danger me-1"
              (clicked)="onToggleStatus(item.id)"
            />
            <custom-button
              ngbTooltipCustom="Eliminar grupo"
              icon="fa-lg fa-trash text-danger "
              customClass=" btn-outline-danger me-1"
              (clicked)="onDelete(item.id)"
            />
          </div>
        </td>
        <!-- Opciones -->
      </tr>
    </ng-template>
  </p-table>
</div>
