<div class="text-center">
  <h4 class="mb-0">Bienvenido!</h4>
  <p class="text-muted mt-2">Inicia sesión</p>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <custom-input-text
    [control]="form.get('email')"
    [horizontal]="false"
    formControlName="email"
    label="Usuario"
    placeholder="Usuario"
  ></custom-input-text>

  <custom-input-password
    [control]="form.get('password')"
    [horizontal]="false"
    formControlName="password"
    label="Contraseña"
    placeholder="Contraseña"
  ></custom-input-password>

  <custom-input-check
    [control]="form.get('remember')"
    [horizontal]="false"
    formControlName="remember"
    label="Recordarme"
  ></custom-input-check>

  <p class="pointer" (click)="onRecoveryPassword()">Recuperar contraseña</p>
  <div class="mt-3 d-grid">
    <custom-button
      customClass="btn-primary w-100"
      label="Iniciar sesión"
      type="submit"
    ></custom-button>
  </div>
</form>

<div class="mt-5 text-center">
  <p class="text-muted mb-0">
    ¿No tienes cuenta?, Solicitala con tu Administrador.
  </p>
</div>
