<div class="list-group">
  <p class="small list-group-item list-group-item-action active">
    Administración
  </p>
  <small>
    <div class="row">
      <div class="col-10">
        <div class="mb-2">
          <select [(ngModel)]="administrationparticipante" class="form-select">
            <option value="">Selecciona una opción</option>
            <option [value]="item.value" *ngFor="let item of cb_Administration">
              {{ item.label }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-2 mb-2">
        <button
          ngbTooltip="Guardar"
          placement="top"
          type="button"
          (click)="onSubmit()"
          class="btn btn-info float-end"
          [disabled]="administrationparticipante == ''"
        >
          <i class="fa-duotone fa-check-double"></i>
        </button>
      </div>
    </div>
  </small>
  <small
    *ngFor="let item of listaParticipantesAdministration"
    class="list-group-item list-group-item-action"
  >
    {{ item.cargo }} - {{ item.nombre }}

    <span
      (click)="onDelete(item.id)"
      ngbTooltip="Eliminar"
      placement="top"
      class="fa-duotone fa-trash-can text-danger float-end pointer"
    ></span>
  </small>
</div>
