<ng-container *ngIf="data && data.budgetDetailDto">
  <p-toast position="top-left" [baseZIndex]="99999"></p-toast>
  <div class="card">
    <p-table
      #dt
      [value]="data.budgetDetailDto"
      [globalFilterFields]="['accountNumber', 'accountName']"
      styleClass="custom-table p-datatable-sm"
    >
      <ng-template pTemplate="caption">
        <app-table-header
          [title]="'PRESUPUESTO ' + data.from + ' - ' + data.to"
          [showAdd]="true"
          (add)="onModalAdd(data)"
          [dt]="dt"
        ></app-table-header>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th scope="col" style="width: 30%" rowspan="3" colspan="2">
            PARTIDA PRESUPUESTAL
          </th>
          <th scope="col" style="width: 10%">MONTO ANTERIOR</th>
          <th scope="col" style="width: 10%">MENSUAL</th>
          <th scope="col" style="width: 10%">INCREMENTO</th>
          <th scope="col" style="width: 10%">TOTAL ANUAL</th>
          <th scope="col" style="width: 5%" rowspan="2"></th>
        </tr>
        <tr>
          <th scope="col">
            {{ data.totalMonthlyBudgetFormet }}
          </th>
          <th scope="col">{{ data.totalMonthlyBudget }}</th>
          <th scope="col">
            {{ data.totalPercentageIncrease }}
          </th>
          <th scope="col">
            {{ data.totalGeneralBudget }}
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-item let-editing="editing">
        <tr>
          <td class="p-column-title text-center">
            <i
              class="fa-duotone fa-square-question text-info pointer"
              ngbTooltip="Información"
              (click)="onModalInfoCuenta(item.accountId)"
            ></i>
          </td>
          <td class="p-column-title">
            <p>{{ item.accountNumber }} - {{ item.accountName }}</p>
          </td>
          <td class="p-column-title">
            <ngb-alert
              [dismissible]="false"
              role="alert"
              type="warning"
              class="alert show alert-warning fade p-1 m-0"
              style="color: black !important"
            >
              <i
                *ngIf="item.id !== 0"
                ngbTooltip="Historial de compras"
                (click)="
                  onModalOrdenesCompraCedula(
                    item.presupuestoAnteriorDetalleId,
                    item.presupuestoAnteriorId
                  )
                "
                class="fa-duotone fa-folder-open me-2 pointer"
              ></i>
              {{ item.monthlyBudgetFormet }}
            </ngb-alert>
          </td>

          <td
            class="p-column-title"
            [pEditableColumn]="item.monthlyBudget"
            pEditableColumnField="monthlyBudget"
          >
            <ngb-alert
              [dismissible]="false"
              role="alert"
              type="light"
              class="alert show alert-light fade p-1 m-0"
              style="color: black !important"
            >
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <div style="display: flex; align-items: center">
                    <input
                      class="form-control"
                      type="text"
                      [(ngModel)]="item.monthlyBudget"
                      required
                      (keydown.enter)="onEnterPressed(item)"
                    />
                  </div>
                </ng-template>
                <ng-template pTemplate="output">
                  {{ item.monthlyBudget }}
                </ng-template>
              </p-cellEditor>
            </ngb-alert>
          </td>
          <td
            class="p-column-title"
            [pEditableColumn]="item.percentageIncrease"
            pEditableColumnField="percentageIncrease"
          >
            <ngb-alert
              [dismissible]="false"
              role="alert"
              type="light"
              class="alert show alert-light fade p-1 m-0"
              style="color: black !important"
            >
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <div style="display: flex; align-items: center">
                    <input
                      class="form-control"
                      type="number"
                      min="0"
                      max="100"
                      [(ngModel)]="item.percentageIncrease"
                      required
                      (keydown.enter)="onEnterPressedPorcentaje(item)"
                    />
                  </div>
                </ng-template>
                <ng-template pTemplate="output">
                  {{ item.percentageIncrease }}
                </ng-template>
              </p-cellEditor>
            </ngb-alert>
          </td>
          <td class="p-column-title">
            <ngb-alert
              [dismissible]="false"
              role="alert"
              type="light"
              class="alert show alert-light fade p-1 m-0"
              style="color: black !important"
            >
              {{ item.totalBudget }}
            </ngb-alert>
          </td>

          <td>
            <div class="d-flex justify-content-center">
              <custom-button
                ngbTooltipCustom="Agregar documentos"
                [customClass]="'btn-outline-info btn-sm'"
                icon="fa-duotone fa-file-circle-plus text-info"
                (clicked)="onModalDocument(item.id)"
              ></custom-button>
              <custom-button
                ngbTooltipCustom="Historial"
                [customClass]="'btn-outline-primary btn-sm'"
                icon="fa-duotone fa-calendar-users text-primary"
                (clicked)="onGetHistorial(item.id)"
              ></custom-button>
              <custom-button
                ngbTooltipCustom="Servicios calendarizados"
                [customClass]="'btn-outline-success btn-sm'"
                icon="fa-duotone fa-calendar-lines-pen text-success"
                (clicked)="ServiciosMttoProgramados(item.accountId)"
              ></custom-button>

              <custom-button-delete
                (OnConfirm)="onDelete(item.id)"
              ></custom-button-delete>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</ng-container>
