<table class="table table-striped table-inverse table-responsive">
  <tbody>
    <tr *ngFor="let item of data">
      <td>
        <div class="row">
          <div class="col-2 text-left">
            <img
              src="assets/img/Administration/layout/logo_dark.png"
              style="width: 70px; height: 70px"
              alt=""
              (click)="onModalAddOrEdit()"
              srcset=""
            />
          </div>
          <div class="col-8 text-center">
            <h3>{{ item.razonSocial }}</h3>
          </div>
          <div class="col-2 text-right">
            <img
              [src]="base_urlImgLogo + item.logoCustomer"
              style="width: 70px; height: 70px"
              alt=""
              srcset=""
            />
          </div>
        </div>
        <div class="text-center">
          <h6 class="font-bold">ACTA ENTREGA – RECEPCIÓN</h6>
          <p class="text-justify">
            Siendo las {{ date | date : "shortTime" }} hrs. del día
            {{ date | date : "EEEE" }} {{ date | date : "dd" }} de
            {{ date | date : "MMMM" }} de {{ date | date : "yyyy" }} , se
            reúnen, Luxury Building Group, SA DE CV y {{ empresaReceptora }} ,
            ubicado en {{ item.direccion }}, con el objeto de realizar la
            entrega-recepción del equipo/Instalación siguiente:
          </p>
          <h6 class="font-bold">{{ item.equipo }}</h6>
          <div class="row">
            <div class="col-6">
              <img
                [src]="base_urlImg + item.fotoEquipo"
                alt="img"
                style="width: 400px; height: 600px"
              />
            </div>
            <div class="col-6">
              <p><strong>Marca: </strong>{{ item.marca }}</p>
              <p><strong>Modelo: </strong>{{ item.modelo }}</p>
              <p><strong>Serie: </strong>{{ item.serie }}</p>
              <p>
                <strong>Especificaciones: </strong>
              </p>
              <p
                class="small font-normal mb-0"
                [innerHTML]="item.especificaciones | sanitizeHtml"
              ></p>
            </div>

            <div class="col-12">
              <h6 class="h6">Observaciones:</h6>
              <p
                class="small font-normal mb-0"
                [innerHTML]="item.observaciones | sanitizeHtml"
              ></p>
              <br />
              <br />
              <br />
              <br />
            </div>
            <div class="col-6">
              <p class="d-flex justify-content-center">Entrega</p>
              <br />
              <br />
              <br />
              <p>__________________________________</p>
              <p class="d-flex justify-content-center">{{ entregadoPor }}</p>
            </div>
            <div class="col-6">
              <p class="d-flex justify-content-center">Recibe</p>
              <br />
              <br />
              <br />
              <p>__________________________________</p>
              <p class="d-flex justify-content-center">{{ recibidoPor }}</p>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
