<div class="row">
  <div class="col-12">
    <div
      class="page-title-box d-sm-flex align-items-center justify-content-between"
    >
      <h5 class="mb-sm-0 font-size-18">TICKETS PENDIENTES</h5>
      <a
        ngbTooltip="IMPRIMIR PENDIENTES TICKET"
        [routerLink]="'/operaciones/reporte/reporte-pendientes'"
        class="btn btn-soft-danger btn-sm w-xs waves-effect btn-label waves-light me-1"
      >
        <i class="fa-duotone fa-download label-icon fa-2x pointer"></i>PDF
      </a>
    </div>
  </div>
  <div class="col-sm-2 pointer mb-2" *ngFor="let item of data">
    <ngb-alert
      (click)="onLoadResumen(item.responsableId)"
      type="danger"
      [dismissible]="false"
      class="alert-dismissible fade show px-4 mb-0 text-center custom-alert pointer"
    >
      <div class="h1 text-dark d-block mt-2 mb-3">
        {{ item.total }}
      </div>
      <h5 class="text-danger">{{ item.responsable | uppercase }}</h5>
    </ngb-alert>
  </div>
</div>
