<p-toast position="top-left" [baseZIndex]="99999"></p-toast>

<ngb-alert [dismissible]="false" class="text-center" type="dark">
  <h3>RECORRIDO DIARIO</h3>
</ngb-alert>
@for (item of cb_departaments; track $index) {
<button
  class="btn mb-1 me-1 hide-print-mode"
  [ngClass]="{
    'btn-outline-dark': departamentId ===item.value,
    'btn-dark': departamentId !==item.value,
  }"
  (click)="onSelectDepartament(item.value)"
>
  {{ item.label }}
</button>
}
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th style="width: 20%">AMENIDAD</th>
      <th style="width: 25%">REVISIÓN</th>
      <th style="width: 5%">
        <div class="d-flex justify-content-center text-center">
          <i class="fa-lg fa-duotone fa-check-double text-success me-5"></i>
          <i class="fa-lg fa-duotone fa-xmark text-danger"></i>
        </div>
      </th>
      <th style="width: 40%">OBSERVACIONES</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let item of data">
      <tr>
        <td colspan="4" class="font-size-12">
          <em>
            <strong>
              {{ item.location }}
            </strong>
          </em>
        </td>
      </tr>
      <ng-container *ngFor="let amenity of item.amenities">
        <tr *ngFor="let inspection of amenity.inspections; let i = index">
          <ng-container *ngIf="i === 0">
            <td
              class="font-size-10"
              [attr.rowspan]="amenity.inspections.length"
            >
              {{ amenity.name }}
            </td>
          </ng-container>
          <!-- Iterar sobre cada elemento de inspection -->
          <td class="font-size-10">{{ inspection.description }}</td>
          <td></td>
          <td></td>
          <!-- Fin de la iteración sobre inspection -->
        </tr>
      </ng-container>
    </ng-container>
  </tbody>
</table>
<style>
  table {
    border-collapse: collapse; /* Para asegurar que los bordes se fusionen */
  }

  td,
  th {
    border: 1px solid black; /* Define un borde de 1px sólido negro para todas las celdas */
  }
</style>
