<p-toast position="top-right" [baseZIndex]="99999"></p-toast>
@if (data) {
<p-table
  [(selection)]="data"
  #dt
  styleClass="custom-table"
  [tableStyle]="{ 'min-width': '50rem' }"
  [value]="data"
  [rows]="15"
  [paginator]="true"
  [rowHover]="true"
  currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 20, 30, 40, 50, 75, 100]"
  [globalFilterFields]="[
    'nombreProducto',
    'category',
    'marca',
    'modelo',
    'nameUser'
  ]"
  [autoLayout]="true"
>
  <ng-template pTemplate="caption">
    <custom-table-caption
      [title]="'Productos'"
      (add)="showModalAddOrEdit({ id: 0, title: 'Nuevo Registro' })"
      [dt]="dt"
      [rolAuth]="
        authS.onValidateRoles([
          'Asistente',
          'JefeMantenimiento',
          'SuperUsuario',
          'Administrador'
        ])
      "
    />
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th scope="col" pSortableColumn="nombreProducto">
        Imagen
        <p-sortIcon field="nombreProducto"></p-sortIcon>
      </th>
      <th scope="col" pSortableColumn="nombreProducto">
        Nombre
        <p-sortIcon field="nombreProducto"></p-sortIcon>
      </th>
      <th scope="col" pSortableColumn="category">
        Categoria
        <p-sortIcon field="category"></p-sortIcon>
      </th>
      <th scope="col" pSortableColumn="marca">
        Marca
        <p-sortIcon field="marca"></p-sortIcon>
      </th>
      <th scope="col" pSortableColumn="modelo">
        Modelo
        <p-sortIcon field="modelo"></p-sortIcon>
      </th>
      @if ( authS.onValidateRoles([ 'Asistente', 'JefeMantenimiento',
      'SuperUsuario', 'Administrador' ]) ) {
      <th scope="col" style="width: 5%">Opciones</th>
      }
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td class="p-column-title text-center">
        <img
          [src]="urlBaseImg + item.urlImagen"
          alt="."
          width="80px"
          height="70px"
          class="img-fluid img-thumbnail"
        />
      </td>
      <td class="p-column-title">
        <small>
          {{ item.nombreProducto }}
        </small>
      </td>
      <td class="p-column-title">
        <small> {{ item.category }} </small>
      </td>
      <td class="p-column-title">
        <small> {{ item.marca }} </small>
      </td>
      <td class="p-column-title">
        <small> {{ item.modelo }} </small>
      </td>
      <td class="p-column-title">
        <div class="d-flex justify-content-center">
          @if ( authS.onValidateRoles([ 'SupervisionOperativa', 'SuperUsuario',
          'Administrador' ]) || item.userid === account_id ) {
          <btn-edit
            (edit)="showModalAddOrEdit({ id: item.id, title: 'Editar' })"
          />
          } @if (authS.onValidateRoles(['SuperUsuario'])) {
          <btn-delete (OnConfirm)="onDelete(item.id)" />
          }
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="paginatorleft">
    <div class="p-d-flex p-ai-center p-jc-between">
      En total hay
      {{ data ? data.length : 0 }} registros.
    </div>
  </ng-template>
</p-table>
}
