<p-toast position="top-left" [baseZIndex]="99999"></p-toast>
<!-- equipos -->
<p-table
  #dt
  *ngIf="data"
  [globalFilterFields]="['nameMachinery', 'ubication', 'equipoClasificacion']"
  [paginator]="false"
  [rowHover]="true"
  [rows]="200"
  [rowsPerPageOptions]="[200, 300]"
  [showCurrentPageReport]="true"
  [value]="data"
  currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
  dataKey="nameMachinery"
  styleClass="custom-table"
>
  <ng-template pTemplate="caption">
    <div class="row">
      <div class="col-sm-2">
        <custom-button-active-desactive
          (activo)="onSelectState(0)"
          (inactivo)="onSelectState(1)"
        ></custom-button-active-desactive>
      </div>
      <div class="col-sm-10">
        <app-table-header
          [title]="title"
          (add)="showModalAddoredit({ id: 0, title: 'Nuevo Registro' })"
          [dt]="dt"
          [rolAuth]="
            authService.onValidateRoles([
              'Mantenimiento',
              'Residente',
              'SuperUsuario'
            ])
          "
        ></app-table-header>
      </div>
    </div>

    <div
      style="height: 4px"
      class="mt-1"
      [ngClass]="{ 'bg-success': state == 0, 'bg-danger': state == 1 }"
    ></div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th scope="col" style="width: 3rem" class="hide-print-mode"></th>
      <th scope="col" style="width: 3rem">Img</th>
      <th scope="col" style="width: 25%" pSortableColumn="nameMachinery">
        Nombre <p-sortIcon field="nameMachinery"></p-sortIcon>
      </th>
      <th scope="col" style="width: 20%" pSortableColumn="equipoClasificacion">
        Sistema <p-sortIcon field="equipoClasificacion"></p-sortIcon>
      </th>

      <th scope="col" style="width: 20%" pSortableColumn="ubication">
        Ubicación <p-sortIcon field="ubication"></p-sortIcon>
      </th>

      <th
        *ngIf="this.mostrarPreventivos"
        scope="col"
        style="width: 20%"
        pSortableColumn="maintenanceCalendars"
      >
        Servicios
        <p-sortIcon field="maintenanceCalendars"></p-sortIcon>
      </th>
      <th scope="col" style="width: 10%" class="hide-print-mode">Opciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item let-expanded="expanded">
    <tr>
      <td class="hide-print-mode">
        <button type="button" [pRowToggler]="item" class="btn btn-light btn-sm">
          <i
            [class]="
              expanded
                ? 'fa-duotone fa-chevron-down'
                : 'fa-duotone fa-chevron-right'
            "
          ></i>
        </button>
      </td>
      <td style="width: 15%" class="p-column-title">
        <p-image
          [src]="base_urlImg + item.photoPath"
          alt="."
          width="70"
          class="shadow-4"
          [preview]="true"
        ></p-image>
      </td>
      <td style="width: 30%" class="p-column-title">
        {{ item.nameMachinery }}
      </td>
      <td style="width: 30%" class="p-column-title">
        {{ item.equipoClasificacion }}
      </td>

      <td style="width: 25%" class="p-column-title">
        {{ item.ubication }}
      </td>
      <td
        *ngIf="this.mostrarPreventivos"
        style="width: 10%"
        class="p-column-title text-center"
      >
        <span
          class="p-tag p-tag-info"
          [pRowToggler]="item"
          pTooltip="Explorar Servicios"
          >{{ item.maintenanceCalendars }}</span
        >
        <!-- (click)="showModalListOrderService(item.id)" -->
      </td>

      <td style="width: 10%" class="p-column-title hide-print-mode">
        <div class="d-flex justify-content-center">
          <!-- Documentos -->
          <custom-button
            ngbTooltip="Documentos"
            [customClass]="'btn-sm btn-outline-danger'"
            icon="fa-duotone fa-file-pdf"
            (clicked)="onDocumentos(item.id)"
          ></custom-button>

          <!-- Documentos -->
          <!-- Bitacora -->
          <custom-button
            ngbTooltip="Historico de servicios"
            [customClass]="'btn-sm btn-outline-primary'"
            icon="fa-duotone fa-swatchbook"
            (clicked)="onServiceHistory(item.id)"
          ></custom-button>
          <custom-button
            ngbTooltip="Bitacora"
            [customClass]="'btn-sm btn-outline-warning'"
            icon="fa-duotone fa-book-open"
            (clicked)="onBitacoraIndividual(item.id)"
          ></custom-button>

          <!-- Bitacora -->
          <!-- Ficha tecnica -->
          <custom-button
            ngbTooltip="Ficha técnica"
            [customClass]="'btn-sm btn-outline-primary'"
            icon="fa-duotone fa-book"
            (clicked)="showModalFichatecnica(item)"
          ></custom-button>

          <!-- Ficha Tecnica -->
          <!-- Editar Role -->

          <custom-button-edit
            *ngIf="
              authService.onValidateRoles([
                'Mantenimiento',
                'Residente',
                'SuperUsuario'
              ])
            "
            (edit)="
              showModalAddoredit({
                id: item.id,
                title: 'Editar regitro ' + item.id
              })
            "
          ></custom-button-edit>
          <!-- Editar Role -->

          <!-- Borrar -->
          <custom-button-delete
            *ngIf="
              authService.onValidateRoles([
                'Mantenimiento',
                'Residente',
                'SuperUsuario'
              ])
            "
            (OnConfirm)="onDelete(item)"
          ></custom-button-delete>
          <!-- Borrar -->
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="rowexpansion" let-item>
    <tr>
      <td colspan="7">
        <div class="p-3">
          <p-table [value]="item.maintenanceCalendar" dataKey="id">
            <ng-template pTemplate="header">
              <tr>
                <th colspan="7">
                  <custom-button
                    ngbTooltip="Agregar un nuevo servicio"
                    [customClass]="'btn-outline-info float-end'"
                    label="Agregar"
                    (clicked)="
                      showModalMaintenanceCalendar({
                        id: 0,
                        task: 'create',
                        machineryId: item.id
                      })
                    "
                  ></custom-button>
                </th>
              </tr>
              <tr>
                <th scope="col" pSortableColumn="activity">
                  Actividad
                  <p-sortIcon field="activity"></p-sortIcon>
                </th>
                <th scope="col" pSortableColumn="nameProvider">
                  Proveedor
                  <p-sortIcon field="nameProvider"></p-sortIcon>
                </th>
                <th scope="col" pSortableColumn="recurrence">
                  Recurrencia
                  <p-sortIcon field="recurrence"></p-sortIcon>
                </th>
                <th scope="col" pSortableColumn="month">
                  Mes
                  <p-sortIcon field="month"></p-sortIcon>
                </th>
                <th scope="col" pSortableColumn="anio">
                  Año
                  <p-sortIcon field="anio"></p-sortIcon>
                </th>
                <th scope="col" pSortableColumn="price">
                  Costo
                  <p-sortIcon field="price"></p-sortIcon>
                </th>

                <th
                  *ngIf="
                    authService.onValidateRoles([
                      'Mantenimiento',
                      'Residente',
                      'SuperUsuario'
                    ])
                  "
                  scope="col"
                  style="width: 10%"
                >
                  Opciones
                </th>
              </tr></ng-template
            >

            <ng-template pTemplate="body" let-order>
              <tr>
                <td class="p-column-title">
                  <p
                    class="mr-2 text-justify"
                    [innerHTML]="order.activity | sanitizeHtml"
                  ></p>
                </td>
                <td class="p-column-title">
                  {{ order.nameProvider }}
                </td>
                <td class="p-column-title">
                  {{ order.recurrence }}
                </td>
                <td class="p-column-title">
                  {{ order.month }}
                </td>
                <td class="p-column-title">
                  {{ order.anio }}
                </td>
                <td class="p-column-title">
                  {{ order.price | CurrencyMexicoPipe }}
                </td>
                <td
                  class="p-column-title"
                  *ngIf="
                    authService.onValidateRoles([
                      'Mantenimiento',
                      'Residente',
                      'SuperUsuario'
                    ])
                  "
                >
                  <div class="d-flex justify-content-center">
                    <!-- Duplicar Servicio -->
                    <custom-button
                      [customClass]="'btn-sm btn-outline-dark'"
                      ngbTooltip="Duplicar Servicio"
                      placement="top"
                      icon="fa-duotone fa-copy text-dark"
                      (clicked)="
                        showModalMaintenanceCalendar({
                          id: order.id,
                          task: 'copy',
                          machineryId: order.machineryId,
                          header: 'Duplicar Actividad'
                        })
                      "
                    ></custom-button>

                    <!-- Duplicar Servicio -->
                    <!-- Editar  -->
                    <custom-button-edit
                      (edit)="
                        showModalMaintenanceCalendar({
                          id: order.id,
                          task: 'edit',
                          machineryId: order.machineryId,
                          header: 'Editar Actividad'
                        })
                      "
                    ></custom-button-edit>
                    <!-- Duplicar Servicio -->

                    <!-- Borrar -->
                    <custom-button-delete
                      (OnConfirm)="onDeleteOrder(order)"
                    ></custom-button-delete>
                    <!-- Borrar -->
                  </div>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="6">Sin servicios de Mantenimiento.</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="paginatorleft">
    <div class="p-d-flex p-ai-center p-jc-between">
      En total hay
      {{ data ? data.length : 0 }} registros.
    </div>
  </ng-template>
</p-table>
