<!-- CREA FORMULARIO CON 3 INPUT -->
<form>
  <div class="form-group">
    <label for="description">Nombre</label>
    <input type="text" class="form-control" />
  </div>
  <div class="form-group">
    <label for="status">Area Responsable</label>
    <input type="text" class="form-control" />
  </div>
  <div class="form-group">
    <label for="status">Recurrencia</label>
    <input type="text" class="form-control" />
  </div>
  <button type="submit" class="mt-2 btn btn-primary">Guardar</button>
</form>
