<div class="row">
  <div class="col-sm-12">
    <ngb-alert [dismissible]="false" type="primary">
      <div class="row">
        <div class="col-6">
          <h4 class="mb-sm-0 font-size-18">Directorio de Proveedores</h4>
        </div>
        <div class="col-6">
          <custom-button
            ngbTooltip="Bloquear"
            customClass="float-end btn-primary"
            [label]="!mostrarBuscador ? 'Buscador' : 'Ver Listado'"
            (clicked)="mostrarBuscador = !mostrarBuscador"
          />
          <!-- href="assets/documents/glb-altaproveedor.docx" -->
          <a
            ngbTooltip="Formato para dar de alta a proveedor"
            class="btn btn-outline-info float-end me-1"
            [href]="filePath + 'glb-altaproveedor.docx'"
            target="_blank"
          >
            <i class="fa-light fa-file-word"></i>
          </a>
          <a
            ngbTooltip="Guia para cargar proveedor"
            class="btn btn-outline-danger float-end me-1"
            target="_blank"
            [href]="filePath + 'carga_proveedores.pdf'"
          >
            <i class="fa-light fa-file-pdf"></i>
          </a>
        </div>
      </div>
    </ngb-alert>
  </div>
</div>
@if (mostrarBuscador) {
<app-buscador-proveedor></app-buscador-proveedor>
} @if (!mostrarBuscador) {
<app-list-provider></app-list-provider>
}
