<div class="row">
  <div class="col-12 mb-2">
    <div class="h5">Selecciona las fechas para visualar plan de trabajo</div>
  </div>
  <div class="col-sm-6 p-fluid">
    <label>Desde</label>
    <input
      class="form-control flatpickr-input"
      type="text"
      monthSelectorType="dropdown"
      mwlFlatpickr
      [altInput]="true"
      [convertModelValue]="true"
      [(ngModel)]="fechaInicial"
    />
  </div>
  <div class="col-sm-6">
    <label>Hasta</label>
    <input
      class="form-control flatpickr-input"
      type="text"
      monthSelectorType="dropdown"
      mwlFlatpickr
      [altInput]="true"
      [convertModelValue]="true"
      [(ngModel)]="fechaFinal"
    />
  </div>

  <div class="mt-2">
    <button class="btn btn-info float-end" (click)="onFilterWorkplan()">
      Filtrar
    </button>
  </div>
</div>
