<form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="row">
    <!-- Fotos -->
    <div class="col-12 col-md-3 text-center">
      <!-- Img -->
      <label class="form-label">Foto del antes</label>
      <app-input-img
        [title]="'Foto del Antes'"
        (fileSelected)="uploadFileBefore($event)"
        [urlImgCurrent]="validarImagen(model?.photoPathBefore)"
        [contentHeight]="'150'"
        [contentWidth]="'250'"
      />
      <br />
      <!-- Img -->
      <!-- Img -->
      <label class="form-label">Foto del después</label>
      <app-input-img
        [title]="'Foto del después'"
        (fileSelected)="uploadFileAfter($event)"
        [urlImgCurrent]="validarImagen(model?.photoPathAfter)"
        [contentHeight]="'150'"
        [contentWidth]="'250'"
      />
      <!-- Img -->
    </div>
    <!-- Fotos -->
    <div class="col-12 col-md-9">
      <div class="row">
        <div class="col-12 col-md-6">
          <!-- Actividad -->
          <div class="mb-3">
            <custom-input-text-area
              [control]="form.get('activity')"
              formControlName="activity"
              label="Solicitud"
              placeholder="Solicitud"
              [horizontal]="false"
            />
          </div>
          <!-- Actividad -->
          <!-- Area Responsable -->
          <div class="mb-3">
            <custom-input-select
              [control]="form.get('departament')"
              formControlName="departament"
              label="Area Responsable"
              [horizontal]="false"
              [data]="cb_departments"
              [selectDefaulOption]="false"
            />
          </div>
          <!-- Area Responsable -->
          <!-- Responsable -->
          <div class="mb-3">
            <custom-input-datalist
              (propagar)="saveResponsableId($event)"
              [control]="form.get('applicationUserResponsable')"
              [data]="cb_user_customers"
              formControlName="applicationUserResponsable"
              label="Responsable"
              dataListId="applicationUserResponsableDatalistOptions"
              [horizontal]="false"
            />
          </div>

          <!-- Responsable -->
        </div>
        <!-- tercera columna  columna -->
        <div class="col-12 col-md-6">
          <!-- Status -->
          <div class="mb-3">
            <custom-input-select
              [control]="form.get('status')"
              formControlName="status"
              label="Estatus"
              [horizontal]="false"
              [data]="cb_status"
              [selectDefaulOption]="false"
            />
          </div>
          <!-- Status -->
          <!-- Fecha de Programación -->

          <!-- Prioridad -->
          <div class="mb-3">
            <custom-input-select
              [control]="form.get('priority')"
              formControlName="priority"
              label="Prioridad"
              [horizontal]="false"
              [data]="cb_priority"
              [selectDefaulOption]="false"
            />
            <!-- Prioridad -->
          </div>

          <div class="mb-3">
            <custom-input-date
              [control]="form.get('fechaProgamacion')"
              formControlName="fechaProgamacion"
              label="Fecha en que se realiza el trabajo"
              placeholder="fecha en que se realiza el trabajo"
              [horizontal]="false"
            />
            <!-- Fecha de Programación -->
          </div>
          <div class="mb-3">
            <custom-input-date
              [control]="form.get('dateFinished')"
              formControlName="dateFinished"
              label="Fecha de cierre"
              placeholder="fecha de cierre"
              [horizontal]="false"
            />
            <!-- Fecha de Programación -->
          </div>

          <!-- Observaciones -->
          <div class="mb-3">
            <custom-input-text-area
              [control]="form.get('observations')"
              formControlName="observations"
              label="Observaciones"
              placeholder="Observaciones"
              [horizontal]="false"
            />
          </div>
          <!-- Observaciones -->
        </div>
      </div>
    </div>
  </div>
  <btn-submit [disabled]="this.form.invalid || submitting" />
</form>
