<div class="card">
  <div class="card-body">
    <div class="row align-items-end">
      <div class="col">
        <div class="form-group">
          <label>Estatus</label>
          <select class="form-select form-select-lg" [(ngModel)]="status">
            <option [value]="0">Pendiente</option>
            <option [value]="1">Concluido</option>
            <option [value]="4">Cancelado</option>
          </select>
        </div>
      </div>
      <div class="col-auto">
        <button class="btn btn-primary btn-lg mt-2" (click)="onSubmit()">
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>
