@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
$blue: #2a2d45; // Azul noche
$yellow: #bfa64b; // Oro opaco
$gray-dark: #343a40; // Tu gris oscuro
$white: #f5f5f5; // Beige claro

@import "./theme-base";
