$blue: #007580; // Azul petróleo
$green: #a2b38b; // Verde oliva
$gray-dark: #343a40; // Gris oscuro
$white: #f8f9fa; // Blanco hueso
@import "./theme-base";
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
