$green: #264653; // Verde oscuro
$orange: #f4a261; // Terracota
$yellow: #e9c46a; // Arena
$gray-dark: #343a40; // Tu gris oscuro
@import "./theme-base";
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
