$teal: #1c1c1c; // Negro carbón
$green: #00ff88; // Verde neón
$cyan: #5bc0de; // Cian claro
$gray-dark: #343a40; // Gris oscuro
@import "./theme-base";
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
