<p-toast position="top-right" [baseZIndex]="99999"></p-toast>

<div class="container-fluid">
  <!-- Primera fila -->
  <div class="row">
    <div class="col-md-4 mb-1">
      <div class="card p-2">
        <app-dashboard-requests-to-legal />
      </div>
    </div>
    <div class="col-md-8 mb-3">
      <div class="card p-2">
        <app-dashboard-ticket-committee-meeting />
      </div>
    </div>
    <div class="col-md-12 mb-3">
      <div class="card p-2">
        <app-dashboard-preventive-maintenance />
      </div>
    </div>
    <div class="col-12 mb-3">
      <div class="card p-2">
        <app-dashboard-tickets />
      </div>
    </div>
  </div>
</div>
