<div class="card p-3">
  <div class="row">
    <div class="col-12">
      @if (tienePermiso) {
      <div class="card-title">Reclutamiento</div>
      <ul class="list-group">
        @if (!workPosition) {
        <li class="list-group-item text-danger">
          <em>
            Para solicitar baja o modificación de salario, este empleado debe
            estar cubriendo una vacante.
          </em>
        </li>
        }
        <!--  -->
        @if (!solicitudBajaStatus && workPosition) {
        <li class="list-group-item pointer" (click)="onModalSolicitudBaja()">
          <i class="fa-light fa-user-minus me-3"></i>
          Solicitar Baja
        </li>
        } @if (solicitudBajaStatus) {
        <li class="list-group-item">
          <i class="fa-light fa-user-minus me-3 text-danger"></i>
          <span class="text-danger">Solicitar Baja en proceso</span>
        </li>
        }
        <!--  -->
        @if (!solicitudModificacionSalarioStatus && workPosition) {
        <li
          class="list-group-item pointer"
          (click)="onModalSolicitudModificacionSalarion()"
        >
          <i class="fa-light fa-money-bill-1 me-3"></i>
          Solicitar modificación de salario
        </li>
        }
        <!--  -->
        @if (solicitudModificacionSalarioStatus) {
        <li class="list-group-item text-danger">
          <i class="fa-light fa-money-bill-1 me-3"></i>
          <span class="text-danger"
            >Solicitar modificación de salario en proceso</span
          >
        </li>
        }
      </ul>
      }
    </div>
  </div>
</div>
