<p-toast position="top-left" [baseZIndex]="99999"></p-toast>
<h4 class="mb-sm-0 font-size-18">Calendario General de Mantenimiento</h4>
<hr />
<div class="row">
  @for (item of data; track item; let i = $index) {
  <div class="col-sm-3">
    <ngb-alert [dismissible]="false" type="primary"
      >{{ item.mes }}
      @if (authService.onValidateRoles(['SuperUsuario'])) {
      <button
        type="button"
        ngbTooltip="Agregar"
        placement="top"
        (click)="onModalAddOrEdit(0, i)"
        class="btn btn-sm float-end"
      >
        <i class="fa-regular fa-plus"></i>
      </button>
      }
    </ngb-alert>
    <ul class="list-group">
      @for (evento of item.items; track evento; let i = $index) {
      <li class="pointer list-group-item mb-2">
        <div class="d-flex justify-content-start">
          @if (authService.onValidateRoles(['SuperUsuario'])) {
          <div class="btn-group me-3" role="group" ngbDropdown>
            <i
              id="btnGroupVerticalDrop1"
              type="button"
              class="btn btn-sm btn-ligth dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              ngbDropdownToggle
              class="fa-regular fa-bars"
            ></i>
            <div
              class="dropdown-menu"
              aria-labelledby="btnGroupVerticalDrop1"
              ngbDropdownMenu
            >
              <a class="dropdown-item">
                <custom-button-edit
                  (edit)="onModalAddOrEdit(evento.id, i)"
                ></custom-button-edit>
              </a>
              <a class="dropdown-item">
                <custom-button-delete
                  (OnConfirm)="onDelete(evento)"
                ></custom-button-delete>
              </a>
            </div>
          </div>
          }
          <div
            (click)="onDatosServicio(evento)"
            class="col-auto pointer"
            ngbTooltip="Detalles del servicio"
            placement="right"
          >
            {{ evento.nombreEquipo }}
          </div>
        </div>
      </li>
      }
    </ul>
  </div>
  }
</div>
