<custom-button
  (clicked)="HistorialAcceso('HistorialAcceso')"
  customClass="btn-outline-primary me-1 mb-1"
  label="HistorialAcceso"
>
</custom-button>
<custom-button
  (clicked)="CedulaPresupuestalDetalle('CedulaPresupuestalDetalle')"
  customClass="btn-outline-primary me-1 mb-1"
  label="CedulaPresupuestalDetalle"
>
</custom-button>
<custom-button
  (clicked)="MaintenanceCalendar('MaintenanceCalendar')"
  customClass="btn-outline-primary me-1 mb-1"
  label="MaintenanceCalendar"
>
</custom-button>
<custom-button
  (clicked)="Producto('Producto')"
  customClass="btn-outline-primary me-1 mb-1"
  label="Producto"
>
</custom-button>

<custom-button
  (clicked)="Provider('Provider')"
  customClass="btn-outline-primary me-1 mb-1"
  label="Provider"
>
</custom-button>
<custom-button
  (clicked)="QualificationProvider('QualificationProvider')"
  customClass="btn-outline-primary me-1 mb-1"
  label="QualificationProvider"
>
</custom-button>
<custom-button
  (clicked)="InventarioExtintor('InventarioExtintor')"
  customClass="btn-outline-primary me-1 mb-1"
  label="InventarioExtintor"
>
</custom-button>

<custom-button
  (clicked)="InventarioIluminacion('InventarioIluminacion')"
  customClass="btn-outline-primary me-1 mb-1"
  label="InventarioIluminacion"
>
</custom-button>
<custom-button
  (clicked)="InventarioLlave('InventarioLlave')"
  customClass="btn-outline-primary me-1 mb-1"
  label="InventarioLlave"
>
</custom-button>
<custom-button
  (clicked)="InventarioPintura('InventarioPintura')"
  customClass="btn-outline-primary me-1 mb-1"
  label="InventarioPintura"
>
</custom-button>
<custom-button
  (clicked)="InventarioProducto('InventarioProducto')"
  customClass="btn-outline-primary me-1 mb-1"
  label="InventarioProducto"
>
</custom-button>

<custom-button
  (clicked)="RadioComunicacion('RadioComunicacion')"
  customClass="btn-outline-primary me-1 mb-1"
  label="RadioComunicacion"
>
</custom-button>

<custom-button
  (clicked)="EntradaProducto('EntradaProducto')"
  customClass="btn-outline-primary me-1 mb-1"
  label="EntradaProducto"
>
</custom-button>

<custom-button
  (clicked)="SalidaProducto('SalidaProducto')"
  customClass="btn-outline-primary me-1 mb-1"
  label="SalidaProducto"
>
</custom-button>

<custom-button
  (clicked)="MeetingDetails('MeetingDetails')"
  customClass="btn-outline-primary me-1 mb-1"
  label="MeetingDetails"
>
</custom-button>

<custom-button
  (clicked)="BitacoraMantenimiento('BitacoraMantenimiento')"
  customClass="btn-outline-primary me-1 mb-1"
  label="BitacoraMantenimiento"
>
</custom-button>

<custom-button
  (clicked)="Machinery('Machinery')"
  customClass="btn-outline-primary me-1 mb-1"
  label="Machinery"
>
</custom-button>
<custom-button
  (clicked)="MedidorLectura('MedidorLectura')"
  customClass="btn-outline-primary me-1 mb-1"
  label="MedidorLectura"
>
</custom-button>
<custom-button
  (clicked)="CatalogoGastosFijos('CatalogoGastosFijos')"
  customClass="btn-outline-primary me-1 mb-1"
  label="CatalogoGastosFijos"
>
</custom-button>
<custom-button
  (clicked)="OrdenCompra('OrdenCompra')"
  customClass="btn-outline-primary me-1 mb-1"
  label="OrdenCompra"
>
</custom-button>
<custom-button
  (clicked)="OrdenCompraAuth('OrdenCompraAuth')"
  customClass="btn-outline-primary me-1 mb-1"
  label="OrdenCompraAuth"
>
</custom-button>
<custom-button
  (clicked)="SolicitudCompra('SolicitudCompra')"
  customClass="btn-outline-primary me-1 mb-1"
  label="SolicitudCompra"
>
</custom-button>
<custom-button
  (clicked)="SolicitudCompraDetalle('SolicitudCompraDetalle')"
  customClass="btn-outline-primary me-1 mb-1"
  label="SolicitudCompraDetalle"
>
</custom-button>
<custom-button
  (clicked)="AgendaSupervision('AgendaSupervision')"
  customClass="btn-outline-primary me-1 mb-1"
  label="AgendaSupervision"
>
</custom-button>
<custom-button
  (clicked)="BitacoraMantenimientoDelete('BitacoraMantenimientoDelete')"
  customClass="btn-outline-primary me-1 mb-1"
  label="BitacoraMantenimientoDelete"
>
</custom-button>
