<custom-button
  (clicked)="
    MigrateDataToCustomerDataCompany('MigrateDataToCustomerDataCompany')
  "
  customClass="btn-outline-primary me-1 mb-1"
  label="MigrateDataToCustomerDataCompany"
/>

<custom-button
  (clicked)="
    MigrateEmailPersonToApplicationUser('MigrateEmailPersonToApplicationUser')
  "
  customClass="btn-outline-primary me-1 mb-1"
  label="MigrateEmailPersonToApplicationUser"
/>
<custom-button
  (clicked)="
    CreateApplicationUserDesdePerson('CreateApplicationUserDesdePerson')
  "
  customClass="btn-outline-primary me-1 mb-1"
  label="CreateApplicationUserDesdePerson"
/>
<custom-button
  (clicked)="VerificarPersonasNoMigradas('VerificarPersonasNoMigradas')"
  customClass="btn-outline-primary me-1 mb-1"
  label="VerificarPersonasNoMigradas"
/>
<custom-button
  (clicked)="UltimasrelacionUserIdPersonId('UltimasrelacionUserIdPersonId')"
  customClass="btn-outline-primary me-1 mb-1"
  label="UltimasrelacionUserIdPersonId"
/>
<custom-button
  (clicked)="RemoveTicket('RemoveTicket')"
  customClass="btn-outline-primary me-1 mb-1"
  label="RemoveTicket"
/>

<custom-button
  (clicked)="OnUpdateWeeklyReport('OnUpdateWeeklyReport')"
  customClass="btn-outline-primary me-1 mb-1"
  label="OnUpdateWeeklyReport"
/>
<custom-button
  (clicked)="UpdateApplicationIdInEntities('UpdateApplicationIdInEntities')"
  customClass="btn-outline-primary me-1 mb-1"
  label="UpdateApplicationIdInEntities"
/>
<custom-button
  (clicked)="
    UpdateControlPrestamoHerramienta('UpdateControlPrestamoHerramienta')
  "
  customClass="btn-outline-primary me-1 mb-1"
  label="UpdateControlPrestamoHerramienta"
/>
<custom-button
  (clicked)="UpdateTypePerson('UpdateTypePerson')"
  customClass="btn-outline-primary me-1 mb-1"
  label="UpdateTypePersonPersonProvider"
/>
<custom-button
  (clicked)="UpdateEmployee('UpdateEmployee')"
  customClass="btn-outline-primary me-1 mb-1"
  label="UpdateEmployee"
/>
<custom-button
  (clicked)="UpdateAddress('UpdateAddress')"
  customClass="btn-outline-primary me-1 mb-1"
  label="UpdateAddress"
/>
<custom-button
  (clicked)="UpdateStateAppUserEmployee('UpdateStateAppUserEmployee')"
  customClass="btn-outline-primary me-1 mb-1"
  label="UpdateStateAppUserEmployee"
/>
<hr />
<custom-button
  (clicked)="UpdateAgendaSupervision('UpdateAgendaSupervision')"
  customClass="btn-outline-primary me-1 mb-1"
  label=" UpdateAgendaSupervision"
/>
<custom-button
  (clicked)="UpdateBitacoraMantenimiento('UpdateBitacoraMantenimiento')"
  customClass="btn-outline-primary me-1 mb-1"
  label=" UpdateBitacoraMantenimiento"
/>
<custom-button
  (clicked)="UpdateCatalogoGastosFijos('UpdateCatalogoGastosFijos')"
  customClass="btn-outline-primary me-1 mb-1"
  label=" UpdateCatalogoGastosFijos"
/>
<custom-button
  (clicked)="UpdateCedulaPresupuestalDetalle('UpdateCedulaPresupuestalDetalle')"
  customClass="btn-outline-primary me-1 mb-1"
  label=" UpdateCedulaPresupuestalDetalle"
/>
<custom-button
  (clicked)="UpdateDirectoryCondominium('UpdateDirectoryCondominium')"
  customClass="btn-outline-primary me-1 mb-1"
  label=" UpdateDirectoryCondominium"
/>
<custom-button
  (clicked)="UpdateEmployee('UpdateEmployee')"
  customClass="btn-outline-primary me-1 mb-1"
  label=" UpdateEmployee"
/>
<custom-button
  (clicked)="UpdateEntradaProducto('UpdateEntradaProducto')"
  customClass="btn-outline-primary me-1 mb-1"
  label=" UpdateEntradaProducto"
/>
<!-- <custom-button
  (clicked)="
    UpdateEntregaRecepcionDescripcion('UpdateEntregaRecepcionDescripcion')
  "
  customClass="btn-outline-primary me-1 mb-1"
  label=" UpdateEntregaRecepcionDescripcion"
/> -->
<custom-button
  (clicked)="UpdateEstadoFinanciero('UpdateEstadoFinanciero')"
  customClass="btn-outline-primary me-1 mb-1"
  label=" UpdateEstadoFinanciero"
/>
<custom-button
  (clicked)="UpdateHistorialAcceso('UpdateHistorialAcceso')"
  customClass="btn-outline-primary me-1 mb-1"
  label=" UpdateHistorialAcceso"
/>
<custom-button
  (clicked)="UpdateInventarioExtintor('UpdateInventarioExtintor')"
  customClass="btn-outline-primary me-1 mb-1"
  label=" UpdateInventarioExtintor"
/>
<custom-button
  (clicked)="UpdateInventarioIluminacion('UpdateInventarioIluminacion')"
  customClass="btn-outline-primary me-1 mb-1"
  label=" UpdateInventarioIluminacion"
/>
<custom-button
  (clicked)="UpdateInventarioLlave('UpdateInventarioLlave')"
  customClass="btn-outline-primary me-1 mb-1"
  label=" UpdateInventarioLlave"
/>
<custom-button
  (clicked)="UpdateInventarioPintura('UpdateInventarioPintura')"
  customClass="btn-outline-primary me-1 mb-1"
  label=" UpdateInventarioPintura"
/>
<custom-button
  (clicked)="UpdateInventarioProducto('UpdateInventarioProducto')"
  customClass="btn-outline-primary me-1 mb-1"
  label=" UpdateInventarioProducto"
/>
<custom-button
  (clicked)="UpdateListCondomino('UpdateListCondomino')"
  customClass="btn-outline-primary me-1 mb-1"
  label=" UpdateListCondomino"
/>
<custom-button
  (clicked)="UpdateMachinery('UpdateMachinery')"
  customClass="btn-outline-primary me-1 mb-1"
  label=" UpdateMachinery"
/>
<custom-button
  (clicked)="UpdateMaintenanceCalendar('UpdateMaintenanceCalendar')"
  customClass="btn-outline-primary me-1 mb-1"
  label=" UpdateMaintenanceCalendar"
/>
<custom-button
  (clicked)="UpdateMedidorLectura('UpdateMedidorLectura')"
  customClass="btn-outline-primary me-1 mb-1"
  label=" UpdateMedidorLectura"
/>
<custom-button
  (clicked)="UpdateMeeting('UpdateMeeting')"
  customClass="btn-outline-primary me-1 mb-1"
  label=" UpdateMeeting"
/>
<custom-button
  (clicked)="UpdateMeetingAdministracion('UpdateMeetingAdministracion')"
  customClass="btn-outline-primary me-1 mb-1"
  label=" UpdateMeetingAdministracion"
/>
<custom-button
  (clicked)="UpdateMeetingComite('UpdateMeetingComite')"
  customClass="btn-outline-primary me-1 mb-1"
  label=" UpdateMeetingComite"
/>
<custom-button
  (clicked)="
    UpdateMeetingDertailsSeguimiento('UpdateMeetingDertailsSeguimiento')
  "
  customClass="btn-outline-primary me-1 mb-1"
  label=" UpdateMeetingDertailsSeguimiento"
/>
<custom-button
  (clicked)="UpdateMeetingDetails('UpdateMeetingDetails')"
  customClass="btn-outline-primary me-1 mb-1"
  label=" UpdateMeetingDetails"
/>
<custom-button
  (clicked)="UpdateOrdenCompra('UpdateOrdenCompra')"
  customClass="btn-outline-primary me-1 mb-1"
  label=" UpdateOrdenCompra"
/>
<custom-button
  (clicked)="UpdateOrdenCompraAuth('UpdateOrdenCompraAuth')"
  customClass="btn-outline-primary me-1 mb-1"
  label=" UpdateOrdenCompraAuth"
/>
<custom-button
  (clicked)="UpdatePersonData('UpdatePersonData')"
  customClass="btn-outline-primary me-1 mb-1"
  label=" UpdatePersonData"
/>
<custom-button
  (clicked)="UpdatePersonProviderSupport('UpdatePersonProviderSupport')"
  customClass="btn-outline-primary me-1 mb-1"
  label=" UpdatePersonProviderSupport"
/>
<custom-button
  (clicked)="UpdatePiscina('UpdatePiscina')"
  customClass="btn-outline-primary me-1 mb-1"
  label=" UpdatePiscina"
/>
<custom-button
  (clicked)="UpdatePiscinaBitacora('UpdatePiscinaBitacora')"
  customClass="btn-outline-primary me-1 mb-1"
  label=" UpdatePiscinaBitacora"
/>
<custom-button
  (clicked)="UpdatePresentacionJuntaComite('UpdatePresentacionJuntaComite')"
  customClass="btn-outline-primary me-1 mb-1"
  label=" UpdatePresentacionJuntaComite"
/>
<custom-button
  (clicked)="UpdatePresupuestoDetalleEdicion('UpdatePresupuestoDetalleEdicion')"
  customClass="btn-outline-primary me-1 mb-1"
  label=" UpdatePresupuestoDetalleEdicion"
/>
<custom-button
  (clicked)="UpdateProducto('UpdateProducto')"
  customClass="btn-outline-primary me-1 mb-1"
  label=" UpdateProducto"
/>
<custom-button
  (clicked)="UpdateProviders('UpdateProviders')"
  customClass="btn-outline-primary me-1 mb-1"
  label=" UpdateProviders"
/>
<custom-button
  (clicked)="UpdateQualificationProvider('UpdateQualificationProvider')"
  customClass="btn-outline-primary me-1 mb-1"
  label=" UpdateQualificationProvider"
/>
<custom-button
  (clicked)="UpdateRadioComunicacion('UpdateRadioComunicacion')"
  customClass="btn-outline-primary me-1 mb-1"
  label=" UpdateRadioComunicacion"
/>
<custom-button
  (clicked)="UpdateRequestEmployeeRegister('UpdateRequestEmployeeRegister')"
  customClass="btn-outline-primary me-1 mb-1"
  label=" UpdateRequestEmployeeRegister"
/>
<custom-button
  (clicked)="UpdateSalidaProducto('UpdateSalidaProducto')"
  customClass="btn-outline-primary me-1 mb-1"
  label=" UpdateSalidaProducto"
/>
<custom-button
  (clicked)="UpdateSolicitudCompra('UpdateSolicitudCompra')"
  customClass="btn-outline-primary me-1 mb-1"
  label=" UpdateSolicitudCompra"
/>
<custom-button
  (clicked)="UpdateSolicitudCompraDetalle('UpdateSolicitudCompraDetalle')"
  customClass="btn-outline-primary me-1 mb-1"
  label=" UpdateSolicitudCompraDetalle"
/>
<custom-button
  (clicked)="UpdateTicket('UpdateTicket')"
  customClass="btn-outline-primary me-1 mb-1"
  label=" UpdateTicket"
/>
<custom-button
  (clicked)="UpdateTicketSeguimiento('UpdateTicketSeguimiento')"
  customClass="btn-outline-primary me-1 mb-1"
  label=" UpdateTicketSeguimiento"
/>
<custom-button
  (clicked)="UpdateTicketTracking('UpdateTicketTracking')"
  customClass="btn-outline-primary me-1 mb-1"
  label=" UpdateTicketTracking"
/>
<custom-button
  (clicked)="UpdateTool('UpdateTool')"
  customClass="btn-outline-primary me-1 mb-1"
  label=" UpdateTool"
/>
<custom-button
  (clicked)="UpdateWeeklyWorkPlanNew('UpdateWeeklyWorkPlanNew')"
  customClass="btn-outline-primary me-1 mb-1"
  label=" UpdateWeeklyWorkPlanNew"
/>
