<custom-button
  (clicked)="UpdateProfession()"
  customClass="btn-outline-primary me-1 mb-1"
  label="UpdateProfession"
>
</custom-button>
<custom-button
  (clicked)="onEmployeeUpdate()"
  customClass="btn-outline-primary me-1 mb-1"
  label="onEmployeeUpdate"
>
</custom-button>
<custom-button
  (clicked)="UpdateSalary()"
  customClass="btn-outline-primary me-1 mb-1"
  label="UpdateSalary"
>
</custom-button>
<custom-button
  (clicked)="UpdateDocumentCustomer()"
  customClass="btn-outline-primary me-1 mb-1"
  label="UpdateDocumentCustomer"
>
</custom-button>
<custom-button
  (clicked)="CreateAccounsFaltantes()"
  customClass="btn-outline-primary me-1 mb-1"
  label="CreateAccounsFaltantes"
>
</custom-button>
<custom-button
  (clicked)="UpdateEmployeeToAccountUser()"
  customClass="btn-outline-primary me-1 mb-1"
  label="UpdateEmployeeToAccountUser"
>
</custom-button>
<custom-button
  (clicked)="UpdatePerson()"
  customClass="btn-outline-primary me-1 mb-1"
  label="UpdatePerson"
>
</custom-button>
<custom-button
  (clicked)="WorkPosition()"
  customClass="btn-outline-primary me-1 mb-1"
  label="WorkPosition"
>
</custom-button>
<custom-button
  (clicked)="RemovePerson()"
  customClass="btn-outline-primary me-1 mb-1"
  label="RemovePerson"
>
</custom-button>
<custom-button
  (clicked)="UpdatePhoneNumberAccount()"
  customClass="btn-outline-primary me-1 mb-1"
  label="UpdatePhoneNumberAccount"
>
</custom-button>
<custom-button
  (clicked)="ActualizarProfessionEmpleado()"
  customClass="btn-outline-primary me-1 mb-1"
  label="ActualizarProfessionEmpleado"
>
</custom-button>
