<p-toast position="top-right" [baseZIndex]="99999" />
@if (authS.onValidateRoles(['SupervisionOperativa'])) { @for (item of
cb_departamento; track item) {
<custom-button
  [customClass]="' mb-1'"
  [label]="item.value"
  [customNgClass]="{
    'btn-soft-primary': item.value == this.departamento,
    'btn-soft-info': item.value != this.departamento
  }"
  (clicked)="onChangeDepartamento(item.value)"
/>
}
<hr />
}
<div class="card">
  <p-table
    #dt
    [value]="data"
    groupRowsBy="grupo"
    rowGroupMode="subheader"
    [globalFilterFields]="['descripcion']"
    styleClass="custom-table"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="caption">
      <custom-table-caption
        [title]="'ENTREGA RECEPCIÓN ' + departamento"
        (add)="onModalAddOrEdit({ id: 0, title: 'Nuevo Registro' })"
        [showAdd]="false"
        [dt]="dt"
      />
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4%" scope="col">ID</th>
        <th style="width: 6%" scope="col">ESTATUS</th>
        <th style="width: 30%" scope="col">DESCRIPCIÓN</th>
        <th style="width: 25%" scope="col">OBSERVACION</th>
        <th style="width: 9%" scope="col">ARCHIVO</th>
        <th style="width: 9%" scope="col">SUBIO</th>
        <th style="width: 9%" scope="col">SUPERVISO</th>
        <th style="width: 8%" scope="col">ACTUALIZAR</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="groupheader" let-customer>
      <tr pRowGroupHeader>
        <td colspan="5">
          <span class="font-bold ml-2">{{ customer.grupo }}</span>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
      <tr>
        <td class="p-column-title">
          <small>
            {{ item.folioId }}
          </small>
        </td>
        <td class="p-column-title text-center">
          <span
            class="badge p-1"
            [ngClass]="{
              'bg-danger': item.estatus === 0,
              'bg-success': item.estatus === 1
            }"
          >
            @if (item.estatus === 0) {
            <i class="fa-light fa-xmark"></i>
            } @if (item.estatus === 1) {
            <i class="fa-light fa-check-double"></i>
            }
          </span>
        </td>
        <td class="p-column-title">
          <small>
            {{ item.descripcion }}
          </small>
        </td>
        <td class="p-column-title">
          <small>
            {{ item.observaciones }}
          </small>
        </td>
        <td class="p-column-title">
          <div class="d-flex justify-content-center">
            @if (item.archivo) {
            <btn-download-file (clicked)="navigateToPdf(item.archivo)" />
            }
          </div>
        </td>
        <td class="p-column-title">
          <small class="text-truncate"> {{ item.cargo }} </small>
          <small> {{ item.fechaCarga }}</small>
        </td>
        <td class="p-column-title">
          <small class="text-truncate"> {{ item.superviso }} </small>
          <small> {{ item.fechaSupervision }}</small>
        </td>
        <td class="p-column-title">
          <div class="d-flex justify-content-center">
            <btn-edit
              (edit)="onModalAddOrEdit({ id: item.id, title: 'Editar' })"
            />
            @if (item.archivo && item.superviso === '') {
            <custom-button
              ngbTooltip="Validar Información"
              [customClass]="'btn-sm btn-outline-success'"
              icon="fa-light fa-check-double text-success"
              (clicked)="onValidarDocument(item.id)"
            />
            } @if (item.archivo && item.superviso !== '') {
            <custom-button
              ngbTooltip="Revocar Información"
              [customClass]="'btn-sm btn-outline-danger'"
              icon="fa-light fa-rotate-left text-danger"
              (clicked)="onInvalidarDocument(item.id)"
            />
            } @if (item.archivo !== '') {
            <btn-delete (OnConfirm)="onDeleteFile(item.id)" />
            }
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
