@if (applicationUserId !== '' && applicationUserId !== undefined) {
<div class="row">
  <div class="col-sm-4">
    <app-update-password-account [applicationUserId]="applicationUserId" />
  </div>
  @if (this.authS.onValidateRoles(['SuperUsuario'])) {
  <div class="col-sm-4">
    <app-update-role [applicationUserId]="applicationUserId" />
  </div>
  } @if (this.authS.onValidateRoles(['SuperUsuario'])) {
  <div class="col-sm-4">
    <app-access-customer [applicationUserId]="applicationUserId" />
  </div>
  }
</div>
}
