<p-toast position="top-left" [baseZIndex]="99999"></p-toast>

<div class="card">
  <p-table
    #dt
    [value]="data"
    [autoLayout]="true"
    [globalFilterFields]="[
      'folio',
      'nombreEmpleado',
      'status',
      'tipoSolicitud'
    ]"
    [paginator]="true"
    [rowHover]="true"
    [rows]="100"
    [rowsPerPageOptions]="[100, 200]"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    styleClass="custom-table"
  >
    <ng-template pTemplate="caption">
      <app-table-header
        title="Solicitudes"
        [showAdd]="false"
        [dt]="dt"
      ></app-table-header>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th scope="col" pSortableColumn="fechaSolicitud">
          FECHA DE SOLICITUD<p-sortIcon field="fechaSolicitud"></p-sortIcon>
        </th>
        <th scope="col" pSortableColumn="folio">
          FOLIO <p-sortIcon field="folio"></p-sortIcon>
        </th>
        <th scope="col" pSortableColumn="tipoSolicitud">
          SOLICITUD <p-sortIcon field="tipoSolicitud"></p-sortIcon>
        </th>
        <th scope="col" pSortableColumn="nombreEmpleado">
          NOMBRE
          <p-sortIcon field="nombreEmpleado"></p-sortIcon>
        </th>
        <th scope="col" pSortableColumn="status">
          ESTATUS
          <p-sortIcon field="status"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td class="p-column-title">
          {{ item.fechaSolicitud }}
        </td>
        <td class="p-column-title">
          {{ item.folio }}
        </td>
        <td class="p-column-title">
          {{ item.tipoSolicitud }}
        </td>
        <td class="p-column-title">
          {{ item.nombreEmpleado }}
        </td>
        <td class="p-column-title">
          <span
            [ngClass]="{
              'bg-success': item.status === 'Concluido',
              'bg-warning':
                item.status === 'Proceso' || item.status === 'Pendiente',
              'bg-danger': item.status === 'Cancelado'
            }"
            class="badge p-2 w-100"
            >{{ item.status }}</span
          >
        </td>
        <!-- Opciones -->
        <td>
          <div [ngSwitch]="item.tipoSolicitud">
            <div *ngSwitchCase="'Alta'" class="body-card">
              <!-- Contenido específico para el caso 'pesificacion' -->
              <custom-button-edit
                (edit)="
              onModalEditSolicitudAlta({
                id: item.id,
              })
            "
              ></custom-button-edit>
            </div>
            <div *ngSwitchCase="'Vacante'" class="body-card">
              <!-- Contenido específico para otro caso -->
              <custom-button-edit
                (edit)="
                onModalEditVacante({
                  id: item.id,
                })
              "
              ></custom-button-edit>
              <custom-button
                ngbTooltip="Ver candidatos"
                placement="top"
                customNgClass="btn-sm btn-outline-primary"
                icon="fa-duotone fa-users-viewfinder"
                (clicked)="onRouteEstatusSolicitud(item.id)"
              ></custom-button>
            </div>
            <div *ngSwitchCase="'Baja'" class="body-card">
              <!-- Contenido específico para otro caso -->
              <custom-button-edit
                (edit)="
                onModalEditSolicitudBaja({
              id: item.id,
            })
          "
              ></custom-button-edit>
            </div>
            <div *ngSwitchCase="'Modificacion'" class="body-card">
              <!-- Contenido específico para otro caso -->
              <custom-button-edit
                (edit)="
              onModalEditModificacionSalario({
                id: item.id,
              })
            "
              ></custom-button-edit>
            </div>
            <!-- Agrega más casos según tus necesidades -->
          </div>
        </td>
        <!-- Opciones -->
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <div class="p-d-flex p-ai-center p-jc-between hide-print-mode">
        En total hay
        {{ data ? data.length : 0 }} registros.
      </div>
    </ng-template>
  </p-table>
</div>
