<!-- <custom-button
  (clicked)="ImportTickets('ImportTickets')"
  customClass="btn-soft-primary me-1 mb-1"
  label="ImportTickets"
/>
<custom-button
  (clicked)="DeleteDuplicate('DeleteDuplicate')"
  customClass="btn-soft-primary me-1 mb-1"
  label="DeleteDuplicate"
/>
<custom-button
  (clicked)="GenerateFolio('GenerateFolio')"
  customClass="btn-soft-primary me-1 mb-1"
  label="GenerateFolio"
/>
<custom-button
  (clicked)="SendEmailPending('SendEmailPending')"
  customClass="btn-soft-primary me-1 mb-1"
  label="SendEmailPending"
/>
<custom-button
  (clicked)="UpdateTicketLegal('UpdateTicketLegal')"
  customClass="btn-soft-primary me-1 mb-1"
  label="UpdateTicketLegal"
/>
<custom-button
  (clicked)="SendLegalTicketReportToCustomer('Pending')"
  customClass="btn-soft-primary me-1 mb-1"
  label="SendLegalTicketReportToCustomer"
/> -->
<custom-button
  (clicked)="MigrateAmenities('MigrateAmenities')"
  customClass="btn-soft-primary me-1 mb-1"
  label="MigrateAmenities"
/>
