<p-toast position="top-left" [baseZIndex]="99999"></p-toast>
<div class="btn-group me-2" ngbDropdown>
  <button
    type="button"
    class="btn btn-primary dropdown-toggle dropdown-toggle-split"
    data-bs-toggle="dropdown"
    aria-expanded="false"
    autoClose="outside"
    ngbDropdownToggle
  >
    Departamentos <i class="ms-2 mdi mdi-chevron-down"></i>
  </button>
  <div class="dropdown-menu custom-dropdown" ngbDropdownMenu>
    <div class="form-group mb-2" *ngFor="let item of cb_responsible_area">
      <p-checkbox
        [binary]="true"
        [(ngModel)]="item.check"
        [label]="item.label"
        (onChange)="onSelectResponsibleArea(item)"
      ></p-checkbox>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 mt-2">
    <div class="btn-group me-2" ngbDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle dropdown-toggle-split"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        autoClose="outside"
        ngbDropdownToggle
      >
        Departamentos <i class="ms-2 mdi mdi-chevron-down"></i>
      </button>
      <div class="dropdown-menu custom-dropdown" ngbDropdownMenu>
        <div class="form-group mb-2" *ngFor="let item of cb_responsible_area">
          <p-checkbox
            [binary]="true"
            [(ngModel)]="item.check"
            [label]="item.label"
            (onChange)="onSelectResponsibleArea(item)"
          ></p-checkbox>
        </div>
      </div>
    </div>
    <div class="btn-group me-2" ngbDropdown>
      <button type="button" class="btn btn-primary">Estatus</button>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle dropdown-toggle-split"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        data-bs-auto-close="false"
        ngbDropdownToggle
      >
        <i class="mdi mdi-chevron-down"></i>
      </button>
      <div class="dropdown-menu" ngbDropdownMenu>
        <div class="form-group mb-2 pointer" *ngFor="let item of cb_status">
          <p-checkbox
            name="groupname"
            [value]="item.check"
            [label]="item.label"
            (onChange)="toggleItemSelection(item)"
          ></p-checkbox>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="card">
  <p-table
    #dt
    [value]="data"
    styleClass=" custom-small-table"
    [rows]="100"
    [paginator]="true"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[100]"
    [globalFilterFields]="[
      'activity',
      'observations',
      'request',
      'responsibleArea',
      'priority',
      'status',
      'responsableNombre',
      'employeeCargoReporteNombre'
    ]"
    [autoLayout]="true"
  >
    <ng-template pTemplate="caption">
      <div class="row">
        <div class="col-12">
          <app-table-header
            [title]="'Tickets'"
            [dt]="dt"
            [showAdd]="false"
          ></app-table-header>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th scope="col">REPORTE</th>

        <th scope="col" pSortableColumn="responsibleArea">
          ACTIVIDAD
          <p-sortIcon field="responsibleArea"></p-sortIcon>
        </th>
        <th scope="col" pSortableColumn="dateRequest">
          SOLICITUD
          <p-sortIcon field="dateRequest"></p-sortIcon>
        </th>
        <th scope="col" pSortableColumn="fechaProgamacionFiltro">
          INICIO
          <p-sortIcon field="fechaProgamacionFiltro"></p-sortIcon>
        </th>
        <th scope="col" pSortableColumn="fechaLimiteFiltro">
          LIMITE
          <p-sortIcon field="fechaLimiteFiltro"></p-sortIcon>
        </th>
        <th scope="col" pSortableColumn="employeeCargoReporteNombre">
          CREADO POR
          <p-sortIcon field="employeeCargoReporteNombre"></p-sortIcon>
        </th>
        <th scope="col" pSortableColumn="responsableNombre">
          RESPONSABLE
          <p-sortIcon field="responsableNombre"></p-sortIcon>
        </th>
        <th scope="col" style="width: 10%">ESTATUS</th>
        <th scope="col">FOTOS</th>
        <th scope="col"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td
          *ngIf="
            authService.onValidateRoles([
              'Asistente',
              'Residente',
              'SuperUsuario',
              'SupervisionOperativa',
              'Mantenimiento'
            ])
          "
          class="text-center"
        >
          <input
            style="padding: 25px"
            type="checkbox"
            [(ngModel)]="item.folioReporte"
            [checked]="item.folioReporte"
            (change)="onUpdateStateTicket(item)"
          />
        </td>
        <td>
          <i
            class="pointer fa-solid fa-thumbtack text-danger"
            *ngIf="item.priority == 0"
          ></i>
          <i
            class="pointer fa-solid fa-thumbtack fa-rotate-270 text-success"
            *ngIf="item.priority == 1"
          ></i>
          {{ item.activity }}
        </td>
        <td>
          {{ item.dateRequest }}
        </td>
        <td>
          {{ item.fechaProgamacion }}
        </td>
        <td>
          <div
            [ngClass]="{
              'text-danger card-title': item.folioAtrasado === true
            }"
          >
            {{ item.fechaLimite }}
          </div>
        </td>
        <td class="center">
          <img
            (click)="onCardEmployee(item.employeeCargoReporteId)"
            [src]="url + item.employeeCargoReporteImg"
            alt="."
            width="32"
            class="rounded avatar-md"
            style="cursor: pointer"
          />
        </td>
        <td>
          <img
            *ngIf="item.responsableId"
            (click)="onCardEmployee(item.responsableId)"
            [src]="url + item.responsablePhoto"
            alt="."
            width="32"
            style="cursor: pointer"
            class="rounded avatar-md"
          />
        </td>
        <td>
          <p
            class="badge border-0 p-2"
            [ngClass]="{
              'bg-danger': item.status === 'Pendiente',
              'bg-success': item.status === 'Concluido',
              'bg-secondary': item.status === 'Denegado'
            }"
          >
            <span>{{ item.status }} </span>
          </p>
        </td>
        <td class="text-center">
          <i class="fa-duotone fa-images pointer fa-2x"></i>
        </td>

        <td>
          <img
            *ngIf="item.responsableId"
            (click)="onCardEmployee(item.responsableId)"
            [src]="url + item.responsablePhoto"
            alt="."
            width="32"
            style="cursor: pointer"
            class="rounded avatar-md"
          />
        </td>

        <td>
          <div class="d-flex justify-content-center">
            <custom-button-edit
              (edit)="
                showModalAddOrEdit({
                  id: item.id,
                  title: 'Editar Registro'
                })
              "
            ></custom-button-edit>
            <custom-button-delete
              *ngIf="authService.onValidateRoles(['SupervisionOperativa'])"
            >
              (OnConfirm)="onDelete(item)" ></custom-button-delete
            >

            <button
              type="button"
              class="btn btn-sm btn-outline-warning position-relative me-1 pointer"
              ngbTooltip="Seguimiento"
              placement="top"
              (click)="onModalComentarios(item.id)"
            >
              <i class="fa-duotone fa-list text-warning"></i>
              <span
                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success"
                >{{ item.seguimientos }}
                <span class="visually-hidden">unread messages</span></span
              >
            </button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div> -->

<style>
  .custom-dropdown {
    max-height: 200px; /* Ajusta la altura máxima según tus necesidades */
    overflow-y: auto;
  }
</style>
