<p-toast position="top-right" [baseZIndex]="99999"></p-toast>
<div class="card">
  <p-table
    #dt
    [value]="data"
    sortMode="single"
    rowGroupMode="subheader"
    [globalFilterFields]="[
      'correoPersonal',
      'fullName',
      'celularPersonal',
      'profession'
    ]"
    styleClass="custom-table"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="caption">
      <div class="row">
        <div class="col-sm-10">
          <custom-table-caption
            [title]="'DIRECTORIO DE PERSONAL EXTERNO'"
            (add)="onModalAddOrEdit({ id: 0, title: 'Nuevo Registro' })"
            [dt]="dt"
          />
        </div>
        <div class="col-sm-2">
          <btn-active-desactive
            (activo)="onSelectActive($event)"
            (inactivo)="onSelectActive($event)"
          />
        </div>
        <div class="col">
          <div class="p-d-flex p-ai-center p-jc-between">
            En total hay
            {{ data ? data.length : 0 }} colaboradores.
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th scope="col" style="width: 5%">N°</th>
        <th
          colspan="2"
          scope="col"
          style="width: 30%"
          pSortableColumn="fullName"
        >
          COLABORADOR
          <p-sortIcon field="fullName"></p-sortIcon>
        </th>
        <th scope="col" style="width: 20%" pSortableColumn="workPositionFolio">
          PUESTO DE TRABAJO
          <p-sortIcon field="workPositionFolio"></p-sortIcon>
        </th>
        <th
          scope="col"
          style="width: 10%"
          pSortableColumn="userName"
          class="no-print"
        >
          USUARIO APP
          <p-sortIcon field="userName"></p-sortIcon>
        </th>

        <th
          scope="col"
          style="width: 30%"
          pSortableColumn="celularPersonal"
          class="no-print"
        >
          TÉLEFONO
          <p-sortIcon field="celularPersonal"></p-sortIcon>
        </th>
        <th scope="col" style="width: 30%" pSortableColumn="email">
          EMAIL
          <p-sortIcon field="email"></p-sortIcon>
        </th>

        <th scope="col" style="width: 5%"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
      <tr>
        <td class="p-column-title no-print">
          {{ rowIndex + 1 }}
        </td>
        <td class="p-column-title text-center">
          <img
            [src]="url + item.photoPath"
            alt=""
            class="rounded avatar-md pointer"
            (click)="onCardEmployee(item.applicationUserId)"
          />
        </td>
        <td>
          {{ item.fullName }}
        </td>
        <td>
          <p class="mb-0 small">
            {{ item.workPositionFolio }}
          </p>
          <b
            ><i>{{ item.workPositionName }}</i></b
          >
        </td>
        <td>
          {{ item.userName }}
        </td>
        <td>
          {{ item.celularPersonal }}
        </td>
        <td>
          {{ item.correoPersonal }}
        </td>
        <td>
          <div class="d-flex justify-content-center">
            <btn-edit
              (edit)="
                onShowModalEditEmpleado(
                  item.applicationUserId,
                  item.employeeId,
                  item.fullName
                )
              "
            />
            <btn-delete (OnConfirm)="onDelete(item.id)" />
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        En total hay {{ data ? data.length : 0 }} colaboradores.
      </div>
    </ng-template>
  </p-table>
</div>
