<ng-container
  *ngIf="applicationUserId !== '' && applicationUserId !== undefined"
>
  <div class="row">
    <div class="col-sm-6">
      <app-update-account
        [applicationUserId]="applicationUserId"
      ></app-update-account>
    </div>
    <div class="col-sm-6">
      <app-update-password-account
        [applicationUserId]="applicationUserId"
      ></app-update-password-account>
    </div>

    <div
      class="col-sm-6"
      *ngIf="this.authService.onValidateRoles(['SuperUsuario'])"
    >
      <app-update-role
        [applicationUserId]="applicationUserId"
      ></app-update-role>
    </div>
    <div
      class="col-sm-6"
      *ngIf="this.authService.onValidateRoles(['SuperUsuario'])"
    >
      <app-access-customer
        [applicationUserId]="applicationUserId"
      ></app-access-customer>
    </div>
  </div>
</ng-container>
