@if(!submitting){ @if (userName) {
<div class="card p-2">
  <div class="card-header">
    <div class="h3">Usuario: {{ userName }}</div>
    <div>
      @if (applicationUserState) {
      <custom-button
        (clicked)="onToBlockAccount()"
        [customClass]="'btn-outline-success '"
        icon="fa-light fa-user-lock text-success me-3"
        label="Desactivar Usuario"
      />
      } @if (!applicationUserState) {
      <custom-button
        (clicked)="onToUnlockAccount()"
        [customClass]="'btn-outline-danger '"
        icon="fa-light fa-user-check text-danger me-3"
        label="Activar Usuario"
      />
      }
    </div>
  </div>
  @if (email !== '') {

  <div class="card p-2">
    <custom-button
      (clicked)="sendOnlyPasswordEmail()"
      customClass="btn-soft-primary w-100"
      [label]="'Enviar una nueva contraseña por correo electrónico ' + email"
    />
  </div>
  <div class="card p-2">
    <custom-button
      (clicked)="onGenerateUserNameAndPassword()"
      customClass="btn-soft-primary w-100"
      [label]="
        'Generar y enviar nuevo usuario y contraseña por correo electrónico ' +
        email
      "
    />
  </div>
  }
</div>

} @else{

<div class="h5">
  Este usuario no cuenta con Usuario para ingresar a la plataforma.
</div>

@if (email !== '') {
<div class="card p-2">
  <custom-button
    (clicked)="onGenerateUserNameAndPassword()"
    customClass="btn-soft-primary w-100"
    [label]="'Generar y enviar datos de acceso por correo electrónico ' + email"
  />
</div>
} }}
<div class="card p-2">
  <ngb-alert [dismissible]="false" type="primary">Permisos</ngb-alert>
  <ul class="list-group">
    <li
      *ngFor="let item of roles"
      class="list-group-item pointer"
      [class.active]="item.isSelected"
      (click)="selectRole(item)"
    >
      <!-- {{ item.roleName | uppercase }} -->
      <input
        class="form-check-input me-2"
        type="checkbox"
        [checked]="item.isSelected"
        [id]="item.roleId"
      />
      <label class="form-check-label pointer" [for]="item.roleId">
        {{ item.roleName }}
      </label>
    </li>
  </ul>

  @if(submitting) {

  <div class="card">
    <div class="card-body text-center">
      <div>
        <div class="spinner-border text-primary m-1" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
    <!-- end card-body -->
  </div>
  <!-- end card -->

  }
  <style>
    .pointer {
      cursor: pointer;
    }

    .list-group-item {
      margin-top: 2px; /* Reduce el margen superior */
      margin-bottom: 2px; /* Reduce el margen inferior */
      padding: 0.5rem; /* Ajusta el relleno si es necesario */
    }

    .list-group-item.active {
      background-color: #0d3b66; /* Color de fondo activo */
      color: white; /* Color del texto activo */
      font-weight: bold;
    }

    .form-check {
      margin-top: 2px; /* Reduce el margen entre los checkboxes */
      margin-bottom: 2px;
    }

    .form-check-label {
      margin-left: 5px; /* Espaciado entre el checkbox y el texto */
    }
  </style>
</div>
