<div class="card">
  <p-table
    #dt
    [value]="dataEmergencyContact"
    [globalFilterFields]="['nameContact']"
    styleClass="custom-table"
  >
    <!-- styleClass="p-datatable-sm" -->
    <ng-template pTemplate="caption">
      <custom-table-caption
        [title]="'Contactos de emergencia'"
        (add)="
          onModalAddOrEdit({
            id: '',
            title: 'Nuevo Registro',
            contacOfBeneficiary: 0,
            employeeId: employeeId
          })
        "
        [showSearch]="dataEmergencyContact.length > 0"
        [dt]="dt"
      />
    </ng-template>
    @if (dataEmergencyContact.length !== 0) {
    <ng-template pTemplate="header">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Parentesco</th>
        <th scope="col">Télefono</th>
        <th scope="col" style="width: 5%" class="no-print"></th>
      </tr>
    </ng-template>
    }

    <ng-template pTemplate="body" let-item>
      <tr>
        <td class="p-column-title">
          {{ item.nameContact }}
        </td>
        <td class="p-column-title">
          {{ item.relation }}
        </td>

        <td class="p-column-title">
          {{ item.phoneNumber }}
        </td>

        <!-- Opciones -->
        <td class="p-column-title" class="no-print">
          <div class="d-flex justify-content-center">
            <btn-edit
              (edit)="
                onModalAddOrEdit({
                  id: item.id,
                  title: 'Editar',
                  contacOfBeneficiary: 0,
                  employeeId: employeeId
                })
              "
            />
            <btn-delete (OnConfirm)="onDelete(item.id, 0)" />
          </div>
        </td>
        <!-- Opciones -->
      </tr>
    </ng-template>
    @if (dataEmergencyContact.length === 0) {

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4">No hay beneficiarios.</td>
      </tr>
    </ng-template>
    }
  </p-table>
</div>
<hr />
<div class="card">
  <p-table
    #dt
    [value]="dataBeneficiary"
    [globalFilterFields]="['fullName']"
    styleClass="custom-table"
  >
    <!-- styleClass="p-datatable-sm" -->
    <ng-template pTemplate="caption">
      <custom-table-caption
        [title]="'BENEFICIARIOS'"
        (add)="
          onModalAddOrEdit({
            id: '',
            title: 'Nuevo Registro',
            contacOfBeneficiary: 1,
            employeeId: employeeId
          })
        "
        [showSearch]="dataBeneficiary.length > 0"
        [dt]="dt"
      />
    </ng-template>

    @if (dataBeneficiary.length !== 0) {

    <ng-template pTemplate="header">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Parentesco</th>
        <th scope="col">Télefono</th>
        <th scope="col" style="width: 5%" class="no-print"></th>
      </tr>
    </ng-template>
    }

    <ng-template pTemplate="body" let-item>
      <tr>
        <td class="p-column-title">
          {{ item.nameContact }}
        </td>
        <td class="p-column-title">
          {{ item.relation }}
        </td>

        <td class="p-column-title">
          {{ item.phoneNumber }}
        </td>

        <!-- Opciones -->
        <td class="p-column-title" class="no-print">
          <div class="d-flex justify-content-center">
            <btn-edit
              (edit)="
                onModalAddOrEdit({
                  id: item.id,
                  title: 'Editar',
                  contacOfBeneficiary: 1,
                  employeeId: employeeId
                })
              "
            />
            <btn-delete (OnConfirm)="onDelete(item.id, 1)" />
          </div>
        </td>
        <!-- Opciones -->
      </tr>
    </ng-template>
    @if (dataBeneficiary.length === 0) {

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4">No hay beneficiarios</td>
      </tr>
    </ng-template>
    }
  </p-table>
</div>
<hr />
