<div class="card">
  <div class="card-body">
    <form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="form">
      <custom-input-text
        [control]="form.get('id')"
        formControlName="id"
        label="Id"
        [readonly]="true"
      />
      <custom-input-text
        [control]="form.get('name')"
        formControlName="name"
        label="Nombre"
        placeholder="Nombre"
      />

      <custom-input-text
        [control]="form.get('description')"
        formControlName="description"
        label="Descripcion"
        placeholder="descripción"
      />
      <custom-input-select
        [control]="form.get('departamentId')"
        formControlName="departamentId"
        label="Area"
        [data]="cb_departament"
      />

      <btn-submit [disabled]="this.form.invalid || submitting" />
    </form>
  </div>
</div>
