<div class="card">
  <div class="card-body">
    <form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="form">
      <custom-input-text
        [control]="form.get('id')"
        formControlName="id"
        label="Id"
        [readonly]="true"
      />

      <custom-input-text
        [control]="form.get('city')"
        formControlName="city"
        label="Ciudad"
        placeholder="ciudad"
      />
      <custom-input-text
        [control]="form.get('country')"
        formControlName="country"
        label="País"
        placeholder="País"
      />
      <custom-input-text
        [control]="form.get('longitud')"
        formControlName="longitud"
        label="Longitud"
        placeholder="longitud"
      />
      <custom-input-text
        [control]="form.get('latitud')"
        formControlName="latitud"
        label="Latitud"
        placeholder="latitud"
      />
      <custom-input-text
        [control]="form.get('number')"
        formControlName="number"
        label="Número "
        placeholder="número "
      />
      <custom-input-text
        [control]="form.get('unitNumber')"
        formControlName="unitNumber"
        label="Número interior"
        placeholder="número interior"
      />
      <custom-input-text
        [control]="form.get('postalCode')"
        formControlName="postalCode"
        label="Código postal"
        placeholder="Código postal"
      />
      <custom-input-text
        [control]="form.get('street')"
        formControlName="street"
        label="Calle"
        placeholder="Calle"
      />
      <custom-input-text
        [control]="form.get('district')"
        formControlName="district"
        label="Colonia"
        placeholder="colonia"
      />
      <custom-input-text
        [control]="form.get('townHall')"
        formControlName="townHall"
        label="Alcaldía"
        placeholder="Alcaldía"
      />
      <custom-input-text-area
        [control]="form.get('additionalDetails')"
        formControlName="additionalDetails"
        label="Información adicional"
        placeholder="información adicional"
      />
      <btn-submit [disabled]="this.form.invalid || submitting" />
    </form>
  </div>
</div>
